{% extends "priority_action_areas/base.html" %}
{% block paa_name %}Voting Rights{% endblock %}
{% block paa_description %}
Every American should feel safe, secure, and knowledgeable about the voting&nbsp;process.
{% endblock %}
{% block paa_icon_path %}{{ asset_url_for("images/icon_paa_voting.png") }}{% endblock %}
{% block paa_about %}
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>About this Priority Action Area</h2>
    </div>

    <div class="width-seven-twelfths">
      <p>It’s 2020 and the year of a major presidential election. There is renewed energy and organizing to ensure people feel safe and secure in the voting process, and understand who they are voting for.</p>
    </div>
  </div>
{% endblock %}

{% block paa_projects %}
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>Projects</h2>
    </div>

    <div class="width-seven-twelfths">
      <p>Projects currently exist to give people helpful information about the voting process like Open Oakland’s <a href="https://www.opendisclosure.io/" target="_blank">Open Disclosure</a> and Open Maine’s <a href="https://maineballot.org/vote/" target="_blank">Maine Ballot</a>.  These projects focus on access to information in the areas of campaign finance and ballot initiatives, and we’d like to deepen our impact in the space by looking into ways to intersect voting information with our work in record clearance. </p>

      <p>Are you working on (or looking to work on) a project in the Voting Rights area? Let other Brigade leaders know by <a href="https://discourse.codeforamerica.org/t/priority-action-area-voting-rights/728" target="_blank">posting about it on the Brigade Network Discourse</a>.</p>
    </div>
  </div>
{% endblock %}
