- @page_title='Campaign for Civic Coding'
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    .row
      %a{:href => "/pages/codeacross"}
        %img{:align => "center", :src => "http://gallery.mailchimp.com/d9acf2a4c694efbd76a48936f/images/race_for_reuse_banner_wrap_V2.png", :width => "1000px"}/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
      / HEADLINE
      %h2 "Build better software, together" - Github
      %h2 "Build better civic software, together" - Code for America
      .span12
        / LEGACY STYLES
        .top-section
          .top-section-form
            / MAP (right)
            / EMBED GOES HERE
            .top-section-form-inner.primary{:style => "height: 480px;"}
              .pledge-form-content{:style => "margin-bottom: 30px;"}
                %div
                <div id="wufoo-k7p2w3">
                Fill out my <a href="http://codeforamerica.wufoo.com/forms/k7p2w3">online form</a>.
                </div>
                <script type="text/javascript">var k7p2w3;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'codeforamerica', 
                'formHash':'k7p2w3', 
                'autoResize':true,
                'height':'528',
                'async':true,
                'header':'show', 
                'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { k7p2w3 = new WufooForm();k7p2w3.initialize(options);k7p2w3.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>
                %br
        / TOP-LEFT CONTENT
        %p.view-pages-med
          At Code for America we publish and contribute to hundreds of open source, civic repos on Github. The same can be said of civic innovators across the country.

        %p.view-pages-med
          Building better software together doesn’t happen by accident. It takes discipline, teamwork, and practice. That’s why we are dedicating a campaign to social coding.
        %p.view-pages-med
          May 6 to July 31, 2013, join us!

      / START OF MAIN BODY CONTENT
    .content-wrap
      %h1#section-cities.section-header

        %a{:title => "last year", :href => "https://twitter.com/search?q=%23cfabrigade"} #cfabrigade
        %a{:title => "last year", :href => "https://twitter.com/search?q=%23hackforchange"} #hackforchange