- @page_title="Campaign for Civic Coding"
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "https://github.com/assets/github-d5919c2c85462b6c3d5b24d94361e0cfe7c6d3c1.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    .row{:style => "margin:5px"}
      %center
        %a{:href => "civic-coding"}
          %img{:align => "center", :src => "/assets/tgach-ndoch/banner.png", :style => "margin:-20px;"}/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:10px;"}
      / HEADLINE
      %a{:name => "inputs"}
      %h2{:style => "padding-left:20px;padding-top:20px;"} Join us for a three-month campaign to make our favorite open source, civic apps better.
      .span12
        %table
          %tr
            %td{:style => "text-align:justify;vertical-align:top;width:45%"}
              %p.small
                Civic innovation everywhere depends on open-source, civic software that is easy to adopt and improve.
              %p.small
                Join us for the Great American Civic Hack: a three month campaign to take our favorite open source, civic repos to the next level; to clean them up, close issues, reach milestones and generally make them fork and merge ready. <span class="mini-icon  mini-icon-public-fork"></span> <span class="mini-icon  mini-icon-pull-request"></span>
              %p.large
              %h2{:style => "padding-left:10px;"} We want you!
              %ul.small{:style => "padding-left:10px;"}
                %li
                  Repo Managers: Submit repos with well-documented code, organized issues, clear milestones and deadlines!
                %li
                  Brigade Members + Civic Hackers:  Vote for the repos you'd like to see featured. June 1, join us to start hacking!
              %p.small
                Let's rally together this summer and whip our collective repos into shape! Let's empty our issues lists, submit and merge some pull requests and make it so anyone anywhere can re-use our code. Let's see what we can code together.
            %td{:style => "vertical-align:top;width:55%"}
              / LEGACY STYLES
              .top-section
                .top-section-form-inner.primary{:style => "height: 540px;width:460px"}
                  %div
                    %h2{:style => "margin-top:-20px;"} Nominate Github Repos Here
                    %table
                      %tr
                        %th{:style => "padding-bottom:10px;"}
                          National Campaign
                        %th{:style => "padding-bottom:10px;"}
                          Local Campaign
                      %tr
                        %td{:style => "padding-right:5px;"}
                          <iframe allowTransparency="true" src="http://cfabrigade.ideascale.com/a/widget/super/campaign/46694" frameborder="0" scrolling="auto" style="width: 228px; height: 508px;"></iframe>
                        %td{:style => "padding-left:5px;"}
                          <iframe allowTransparency="true" src="http://cfabrigade.ideascale.com/a/widget/super/campaign/46695" frameborder="0" scrolling="auto" style="width: 228px; height: 508px;"></iframe>
        %center
          %img{:src => "/assets/tgach-ndoch/github-commits.png"}
        %p.large
        %h2{:style => "padding-left:10px;"} How it works
        %p.small
          The Great American Civic Hack is a three month campaign with two stages:
        %ul.small{:style => "padding-left:10px;"}
          %li
            Stage 1 (May 2013): Repo nomination and voting
          %li
            Stage 2 (June 1, 2013 to July 31, 2013): Coding
        %p.small{:style => "padding-top: 20px;"}
          The Great American Civic Hack will be tracked on GitHub. All repos that close the issues identified at the beginning of the campaign will receive a Silver Fork Award: Code for America's recognition for civic hacking. Other Silver Fork Awards will be given for:
        %ul.small{:style => "padding-left:10px;"}
          %li
            Most merged pull requests
          %li
            Most issues closed
        %p.small
          %img{:width => "40%", :src => "http://hackforchange.org/profiles/opencivic/themes/hackathon/logo.png"}
        %p.small
          June 1 is
          %a{:href => "http://hackforchange.org/"} National Day of Civic Hacking.
          Thousands of civic hackers in 80 locations around the country will be "hacking for change". We're honored to be a national organizing partner and we encourage everyone to join up. It's a great day to whip your repos into shape with a group.
        %p.small
          Even better, since NDoCH is
          %a{:href => "http://www.whitehouse.gov/blog/2013/01/22/roll-your-sleeves-get-involved-and-get-civic-hacking", :target => "top"} sponsored by The White House
          it's an opportunity for your contributions to The Great American Civic Hack to be recognized on a national stage.
      %h2{:style => "padding-left:20px;padding-top:20px"}
        Timeline
      %img{:src => "/assets/tgach-ndoch/TGAC-timeline.png", :style => "padding:0px;"}
      %p.small
        %a{:href => "mailto:brigade-info@codeforamerica.org?subject=Civic Coding"} Email for questions, comments or help
      %h2
        Introducing the Silver Fork Awards
      %p.small
        The Silver Fork Awards are Code for America Brigade's recognitions for civic hacking. We're going to track Brigade's extended network of civic hackers this summer and make leader boards for stuff like "Merged pull requests", "Issues closed"  and "Members Added". <span class="mini-icon  mini-icon-merge"></span><span class="mini-icon  mini-icon-issue-closed"></span> <span class="mini-icon  mini-icon-member-added"></span> There will be winning repos, repo managers and contributors.
      %h2#section-cities.section-header
        %a{:title => "last year", :href => "https://twitter.com/search?q=%23cfabrigade"} #cfabrigade
        %a{:title => "last year", :href => "https://twitter.com/search?q=%23hackforchange"} #hackforchange