- @page_title="Campaign for Civic Coding"
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "https://github.com/assets/github-d5919c2c85462b6c3d5b24d94361e0cfe7c6d3c1.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    %center
      %a{:href => "civic-coding"}
        %img{:align => "center", :src => "/assets/tgach-ndoch/banner.png"}/
    / HEADLINE
    %h1{:style => "padding-top:20px;padding-bottom:20px;"} And the repos are...
    %table{:width => ""}
      %tr
        %td
          %img{:src => "/assets/tgach-ndoch/Councilmatic.png", :width => "128"}
        %td
          %img{:src => "http://www.dobt.co/img/logo-250.png", :width => "128", :height => "128"}
        %td
          %img{:src => "/assets/tgach-ndoch/whitehouse-white-bg.jpeg", :width => "128", :height => "128"}
        %td
          %img{:src => "/assets/tgach-ndoch/okfn.png", :width => "128", :height => "128"}
        %td
          %img{:src => "/assets/tgach-ndoch/azavea.jpeg", :width => "128", :height => "128" }
        %td
          %img{:src => "/assets/tgach-ndoch/localwiki.jpeg", :width => "128", :height => "128"}
        %td
          %img{:src => "/assets/tumblr_glasses.png", :width => "128", :height => "128"}
      %tr
        %td{:style => "text-align:center;font-size:22px;"}
          %a{:href => "https://github.com/codeforamerica/councilmatic"}
            Councilmatic
        %td{:style => "text-align:center;font-size:22px;"}
          %a{:href => "https://github.com/dobtco/procure-io"}
            Procure.io
        %td{:style => "text-align:center;font-size:22px;"}
          %a{:href => "https://github.com/WhiteHouse/petitions"}
            Petitions
        %td{:style => "text-align:center;font-size:22px;"}
          %a{:href => "https://github.com/okfn/ckan"}
            CKAN
        %td{:style => "text-align:center;font-size:22px;"}
          %a{:href => "https://github.com/azavea/OpenTreeMap"}
            Open Tree Map
        %td{:style => "text-align:center;font-size:22px;"}
          %a{:href => "https://github.com/localwiki/localwiki"}
            LocalWiki
        %td{:style => "text-align:center;font-size:22px;"}
          %a{:href => "https://github.com/codeforamerica/brigade"}
            Brigade
    %br
    %br
    %table{:style => "width:1120px;"}
      %tr
        %td{:style => "text-align:justify;vertical-align:top;", :width => "80%"}
          %p.small
            This summer we are going to make better open source, civic software together. Empty issues lists. Submit and merge pull requests. Make code easier to re-use and re-deploy.
          %img{:src => "/assets/tgach-ndoch/github-commits.png"}
          %h2 How it works
          %p.small
            All repos that close the issues identified at the beginning of the campaign will receive a Silver Fork Award: Code for America's recognition for civic hacking. Other Silver Fork Awards will be given for:
          %ul.small{:style => "padding-left:10px;"}
            %li
              Most merged pull requests
            %li
              Most issues closed
            %li
              Most contributors
            %li
              and others
          %h2 Calling Brigade
          %p.medium
            %a{:href => "https://docs.google.com/document/d/1QcUrUcAHu8eYXdLT7VeX0uLBlkKdCRKwWKYnoyN63qY/edit?usp=sharing"}Learn about the featured repos.
            %br
            Fork 'em.
            %br
            Close issues.
            %br
            Issue pulls.
            %br
            %img{:src => "http://i0.kym-cdn.com/photos/images/newsfeed/000/162/317/2vA1a.png?1313349760", :width => "100", :height => "300"}
        %td{:style => "text-align:justify;vertical-align:top;", :width => "20%"}
          / LEGACY STYLES
          .top-section
            .top-section-form-inner.primary{:style => "height:860px;width:260px"}
              %center
                %h3{:style => "margin-top:0px;"} What else are you hacking on this summer?
                %p.small
                  We're interested in learning about all your open source, civic projects so we can cheer them on, learn about them and report on what we learn. Add your brigade's repos here:
                %br
                <iframe allowTransparency="true" src="http://cfabrigade.ideascale.com/a/widget/super/campaign/46695" frameborder="0" scrolling="auto" style="width: 248px; height: 600px;"></iframe>
    %hr
    %p.small
      %img{:width => "40%", :src => "http://hackforchange.org/profiles/opencivic/themes/hackathon/logo.png"}
      %p.small
        June 1 was
        %a{:href => "http://hackforchange.org/"} National Day of Civic Hacking.
        Don't let it end there. Add your repos to the local campaign and make a commitment to keep calm and hack on.
      %p.small
        Even better, since Hack for Change is
        %a{:href => "http://www.whitehouse.gov/blog/2013/01/22/roll-your-sleeves-get-involved-and-get-civic-hacking", :target => "top"} sponsored by The White House
        this an opportunity for your contributions to The Great American Civic Hack to be recognized on a national stage.
    %h2{:style => "padding-top:20px"}
      Timeline
    %img{:src => "/assets/tgach-ndoch/TGAC-timeline.png", :style => "padding:0px;"}
    %p.small
      %a{:href => "mailto:brigade-info@codeforamerica.org?subject=Civic Coding"} Email for questions, comments or help
    %h2
      Introducing the Silver Fork Awards
    %p.small
      The Silver Fork Awards are Code for America Brigade's recognitions for civic hacking. We're going to track Brigade's extended network of civic hackers this summer and make leader boards for stuff like "Merged pull requests", "Issues closed"  and "Members Added". <span class="mini-icon  mini-icon-merge"></span><span class="mini-icon  mini-icon-issue-closed"></span> <span class="mini-icon  mini-icon-member-added"></span> There will be winning repos, repo managers and contributors.
    %h2#section-cities.section-header
      %a{:title => "last year", :href => "https://twitter.com/search?q=%23cfabrigade"} #cfabrigade
      %a{:title => "last year", :href => "https://twitter.com/search?q=%23hackforchange"} #hackforchange