<% @page_title='Race 4 Reuse' %>
<LINK REL=StyleSheet HREF="/assets/r2r/style.css" TYPE="text/css">
<html lang="en">
    <!-- TOP HEADER TITLE / Race 4 Reuse LOGO -->
    <div class="row">
            <a href="/pages/race-for-reuse"><img src="http://gallery.mailchimp.com/d9acf2a4c694efbd76a48936f/images/race_for_reuse_banner_wrap_V2.png" width="1000px" align="center"></a>
    </div>

    <!-- TOP CONTENT (left) / PLEDGE (right) -->
    <div class="row" style="margin-top:20px;">
<h2>We just wrapped a 60 day campaign for online civic engagement and the results are in.</h2>
        <div class="span12">
            <div class="pledge">
                <div class="pledge-form">
                    <!-- MAIN PLEDGE CONTENT -->
                    <div class="pledge-form-inner primary" style="height: 350px;">
                        <div class="pledge-form-content" style="margin-bottom: 30px;">
                          <div>
                            <iframe width="460" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msid=211836600249959492431.0004cd3a8a295c254cbdd&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=38.548165,-110.742187&amp;spn=90.611936,158.203125&amp;z=2&amp;output=embed"></iframe><br />
                          </div>
                        </div>
                    </div>
                    <!-- PLEDGE FORM "LEARN MORE" CONTENT -->
                </div>
            </div>
            <!-- TOP-LEFT CONTENT -->
            <div class="pledge-menu">
                <p class="ocall">The Race for Reuse campaign <a title="stage 1" href="race-for-reuse-stage-1.html">launched in October</a> with a stage one sprint to stand up civic engagement apps in cities across the country. In November, <a title="stage 2" href="race-for-reuse-stage-2.html">stage two kicked in</a> to promote civic engagement through these new apps.</p>
               <p class="ocall">
                 Here are the highlights of what we did
                 <ul>
                   <li>31 apps in 28 cities</li>
                   <li>15 LocalWiki, 12 Adopt-a, 2 Shareabouts, 1 Textizen</li>
                   <li>2009 new LocalWiki pages by 416 new contributors</li>
                   <li>142 fire hydrants adopted in Anchorage, AK</li>
                   <li>26 shelters adopted in Raleigh, NC</li>
                 </ul>
              </p>
            </div>
        </div>
        <img title="graph" src="http://gallery.mailchimp.com/d9acf2a4c694efbd76a48936f/images/LW_Graph.png">
    </div>


    <!-- START OF MAIN BODY CONTENT -->
    <div class="content-wrap">

      <h1 class="section-header" id="section-cities">
          Cities where you participated
          <a href="#" class="back-to-top">&uarr; Back to top</a>
      </h1>
      <section class="rounded resources">
          <div class="section-inner">
  <table class="r4r-cities">

             <tbody>

               <tr>

                 <td>

  <h4>Anchorage, AK</h4>

  <a href="http://hydrants.opendata.muni.org/">Adopt-a-Hydrant</a></br>

  <small>

    <a title="connect to this engagement" href="mailto:becky.sue.boone@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Anchorage">Contact</a>

</small>

<br/>

<br/>

<h4>Ann Arbor, MI</h4>

<a href="http://arborwiki.org/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:edward.vielmetti@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Ann Arbor">Contact</a>

</small>

<br/>

<br/>

<h4>Atlanta, GA</h4>

<a href="http://wiki.openatlanta.net/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:jk@openatlanta.net?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Atlanta">Contact</a>

</small>

<br/>

<br/>

<h4>Baltimore, MD</h4>

<a href="http://www.bmorepipeline.org/">LocalWiki</a></br>

<a title="reg" href="http://www.meetup.com/EdTechLink/events/91728732/">REGISTER</a><br/>

<small>

  <a title="connect to this engagement" href="mailto:andrew@digitalharborfoundation.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Baltimore">Contact</a>

 </small>

 <br/>

 <br/>

 <h4>Banff, AB, CA</h4>

 <a href="http://adopt-a-hydrant-banff.herokuapp.com/">Adopt-a-Hydrant</a></br>

 <small>

   <a title="connect to this engagement" href="mailto:steve.nelson@banff.ca?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Banff">Contact</a>

</small>

<br/>

<br/>

<h4>Boston, MA</h4>

<a href="http://adoptahydrant.com/">Adopt-a-Hydrant</a></br>

<small>

  <a title="connect to this engagement" href="mailto:harlan@codeforamerica.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Boston">Contact</a>

</small>

<br/>

<br/>

<h4>Burlington, VT</h4>

<a href="http://burlingtonwiki.org/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:brian.fullerton@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Burlington">Contact</a>

</small>

<br/>

<br/>

<h4>Champaign-Urbana, IL</h4>

<a href="http://cuwiki.net/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:bzelip@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Champaign-Urbana">Contact</a>

 </small>

 <br/>

 <br/>

 <h4>Chicago, IL</h4>

 <a href="http://adopt.chicagoshovels.org/">Adopt-a-Sidewalk</a></br>

 <small>

   <a title="connect to this engagement" href="mailto:cwhitaker@codeforamerica.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Chicago">Contact</a>

 </small>

 <br/>

 <br/>

  <h4>Conway, AR</h4>

 <a href="https://conway.localwiki.org/">LocalWiki</a></br>

 <small>

   <a title="connect to this engagement" href="mailto:shawn@laluchaspace.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Conway">Contact</a>

</small>

<br/>

<br/>


</td>

<td>


<h4>Detroit, MI</h4>

<a href="http://detroitwiki.org/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:mevans@codeforamerica.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Detroit">Contact</a>

</small>

<br/>

<br/>

<h4>Grand Rapids, MI</h4>

<a href="http://198.74.52.32/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:jpichot@codeforamerica.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Grand Rapids">Contact</a>

</small>

<br/>

<br/>

<h4>Honolulu, HI</h4>

<a href="http://sirens.honolulu.gov/">Adopt-a-Siren</a></br>

<a href="http://hawaii.localwiki.org/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:bytemarks@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Honolulu">Contact</a>

</small>

<br/>

<br/>

<h4>Kansas City, MO</h4>

<a href="http://www.wikikc.com/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:andy@formzapper.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Kansas City">Contact</a>

</small>

<br/>

<br/>

<h4>Madison, WI</h4>

<a href="http://hydrants.hackingmadison.org/">Adopt-a-Hydrant</a></br>

<a href="http://libraries.hackingmadison.org/">Shareabouts</a></br>

<small>

  <a title="connect to this engagement" href="mailto:gtracy@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Madison">Contact</a>

</small>

<br/>

<br/>

<h4>Miami, FL</h4>

<a href="http://miamiwiki.org/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:e@erniehsiung.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Miami">Contact</a>

</small>

<br/>

<br/>

<h4>Minneapolis-St. Paul, MN</h4>

<a href="http://adoptahydrant.opentwincities.org/">Adopt-a-Hydrant</a></br>

<small>

  <a title="connect to this engagement" href="mailto:opentwincities@zzolo.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Minneapolis-St. Paul">Contact</a>

</small>

<br/>

<br/>

<h4>Oakland, CA</h4>

<a href="http://adopt-a-drain.herokuapp.com/">Adopt-a-Drain</a></br>

<a href="http://oaklandwiki.org/">LocalWiki</a></br>

<a title="reg" href="http://citycampoak.org/register/">REGISTER</a><br/>

<small>

  <a title="connect to this engagement" href="mailto:openoakland@googlegroups.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Oakland">Contact</a>

 </small>

 <br/>

 <br/>

 <h4>Olympia, WA</h4>

 <a href="http://www.olywiki.org/">LocalWiki</a></br>

 <small>

   <a title="connect to this engagement" href="mailto:admin@olywiki.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Olympia">Contact</a>

 </small>

 <br/>

 <br/>

</td>


      <td>

<h4>Providence, RI</h4>

<a href="http://adopt-a-hydrant-providence.herokuapp.com/">Adopt-a-Hydrant</a></br>

<small>

  <a title="connect to this engagement" href="mailto:Tshepherd@providenceri.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Providence">Contact</a>

</small>

<br/>

<br/>

<h4>San Luis Obispo, CA</h4>

<a href="http://wikislo.org/">LocalWiki</a></br>

<a title="reg" href="https://www.facebook.com/events/100996980065719/?fref=ts">REGISTER</a><br/>

<small>

  <a title="connect to this engagement" href="mailto:rory@wikislo.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in San Luis Obispo">Contact</a>


</small>

<br/>

<br/>

<h4>Raleigh, NC</h4>

<a href="http://adoptashelter.raleighnc.gov/">Adopt-a-Shelter</a></br>

<a title="reg" href="http://www.eventbrite.com/event/4808312793#">REGISTER</a><br/>


<small>

  <a title="connect to this engagement" href="mailto:jhibbets@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Raleigh">Contact</a>

</small>

<br/>

<br/>

<h4>Salt Lake City, UT</h4>

<a href="http://saltlakewiki.org/">LocalWiki</a></br>

<small>

  <a title="connect to this engagement" href="mailto:licyeus@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Salt Lake City">Contact</a>

</small>

<br/>

<br/>

<h4>San Diego, CA</h4>

<a title="adopt-a" href="http://adoptadrain.opensandiego.org/">Adopt-a-Drain</a><br/>

<small>

  <a title="connect to this engagement" href="mailto:opensandiego@googlegroups.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in San Diego">Contact</a>

</small>

<br/>

<br/>

<h4>Seattle, WA</h4>

<a href="http://seattlewiki.net/">LocalWiki</a></br>

<a title="reg" href="https://www.facebook.com/events/443039179094312/">REGISTER</a><br/>

<small>

  <a title="connect to this engagement" href="mailto:sethvincent@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in  Seattle">Contact</a>

</small>

<br/>

<br/>

<h4>Syracuse, NY</h4>

<a href="http://adopt-a-hydrant-syracuse.herokuapp.com/">Adopt-a-Hydrant</a></br>

<small>

  <a title="connect to this engagement" href="mailto:risa.hiser@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Syracuse ">Contact</a>

 </small>

 <br/>

 <br/>

 <h4>Toledo, OH</h4>

 <a href="http://toledowiki.net/">LocalWiki</a></br>

<a title="reg" href="http://toledowiki.net/Learn_%26_Launch">ATTEND</a><br/>

 <small>

   <a title="connect to this engagement" href="mailto:bzelip@gmail.com?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in Toledo">Contact</a>

</small>

<br/>

<br/>

<h4>Washington, DC</h4>

<a href="http://hydrants.codefordc.org/">Adopt-a-Hydrant</a></br>

<small>

  <a title="connect to this engagement" href="mailto:moncef@codeforamerica.org?cc=brigade-info@codeforamerica.org&amp;subject=I want to Race for Reuse in D.C.">Contact</a>

</small>

<br/>

<br/>

</td>

</tr>

</tbody>

</table>
          </div>
      </section>
      <p>Don't see your city in the list? <a title="email Brigade Concierge" href="mailto:brigade-info@codeforamerica.org?subject=Race for Reuse City">Let us know.</a></p>
    