*~
*.sqlite3
*.dat
config/settings.yml
.config
.directory
.elc
.redcar
.yardoc
/.emacs.desktop
/.emacs.desktop.lock
Desktop.ini
Gemfile.lock
Icon?
InstalledFiles
Session.vim
Thumbs.db
\#*\#
_yardoc
auto-save-list
coverage
doc/
lib/bundler/man
pkg
pkg/*
rdoc
spec/reports
test/tmp
test/version_tmp
tmp/*
tmtags
tramp
*.log
.DS_Store
public/system/*
.sass-cache/

# Ignore bundler config
/.bundle
/bundler_stubs
/bin

#Ignore my local installation of solr
solr/

