language: python
install: pip install -r requirements.txt
script:  python manage.py runtests
env:
  - BRIGADE_SIGNUP_SECRET=tiwa GITHUB_CLIENT_ID=fantastic GITHUB_CLIENT_SECRET=planet
notifications:
  webhooks: http://project-monitor.codeforamerica.org/projects/brigade-2015/status
