<p>Thanks for signing up to organize in your community. Currently, we are hosting a Brigade Organizers hangout outlining your next steps. We hope you will join.</p> 

<h2>RSVP for more information on how to join:</h2>
<ul>
  <li>Thursday, February 6, 2014 from 10:00 AM to 11:00 AM PST  <a href="https://www.eventbrite.com/e/cfa-brigade-organizers-introduction-february-2014-tickets-10285254473">https://www.eventbrite.com/e/cfa-brigade-organizers-introduction-february-2014-tickets-10285254473</a></li>
</ul>
<p>In the meantime, we have put together some materials for you to start looking through. These are the essential steps in getting started in your area: </p>

<p><a href="http://brigade.codeforamerica.org/tools">http://brigade.codeforamerica.org/tools</a></p>

<p>Thanks again and see you soon.<br /><br />

Hannah, Kevin, Noel, and Catherine<br />
Brigade Support Team<br />
Brigade-Info@codeforamerica.org</p>
