<p>Thanks for signing up for <%= @brigade.name %>. Your local leader will be in touch soon.</p>

<p>In the meantime, join <%= @brigade.name %>’s Meetup and check out their upcoming events:</p>

<%= auto_link @brigade.meetup_url %>
<%= auto_link @brigade.group_url %>

<p>Thanks again and see you soon.</p>

<p>Hannah, Kevin, Noel, and Catherine<br/>
Brigade Support Team</p>
