Welcome to Code for America Brigade!

We’re glad you decided to join a strong, growing network of civic minded, volunteers who want to help municipal governments and community organizations use the web and information technology to communicate, deliver services, and engage citizens.

Thank you!

We will include you in the Brigade forum using the email address you provided here.
https://groups.google.com/a/codeforamerica.org/forum/?hl=en&fromgroups#!forum/brigade

There are local forums and Meetups across the country. Visit our Connections and Events pages for links:

http://brigade.codeforamerica.org/pages/connect
http://brigade.codeforamerica.org/pages/events

Please reply to this email and tell us:
1) Where you live
2) Which of our 5 activities interests you most and why:
http://brigade.codeforamerica.org/pages/activities

Please tell your friends about Brigade!

We are counting on you to seize the initiative and code for America in your city. Consider us a concierge service ready to assist you. Together we can build a civic web that works for everyone.

Best Regards,
Kevin & Hannah
Brigade Support Team
brigade@codeforamerica.org