<p>Thanks for signing up to organize in your community. Currently, we are hosting a Brigade Organizers hangout outlining your next steps. We hope you will join.</p> 

<h2>RSVP for more information on how to join:</h2>
<ul>
  <li>Monday,  April 7, from 9:00 AM to 10:00 AM PDT  <a href="http://www.eventbrite.com/e/code-for-america-brigade-organizers-orientation-april-2014-tickets-10933218551">RSVP</a></li>
  </ul>

<p>If you are writing us from abroad and can't make this time please contact our International Programs Manager at <a href="mailto:lynn@codeforamerica.org">lynn@codeforamerica.org</a>.</p> 
<p>In the meantime, we have put together some materials for you to start looking through. These are the essential steps in getting started in your area: </p>

<p><a href="http://brigade.codeforamerica.org/tools">http://brigade.codeforamerica.org/tools</a></p>

<p>Thanks again and see you soon.<br /><br />

Brigade Support Team<br />
brigade-info@codeforamerica.org</p>
