<p>Thanks for signing up for <%= @brigade.name %>.</p>

<p>You should join <%= @brigade.name %>’s Meetup and check out their upcoming events:</p>

<%= auto_link @brigade.meetup_url %>
<%= auto_link @brigade.group_url %>

<p>Thanks again and see you soon.</p>

<p>Brigade Support Team</p>
