%h2
  Welcome to Code for America Brigade!

%p
  We’re glad you decided to join our strong, growing network of civic minded, volunteers who contribute our skills toward using the web as a platform for local government and community service.
%p
  Here is your profile:
  = user_url(@user)
%p
  Thank you!

%p
  We will include you in the <a title="Brigade Google Group" href="https://groups.google.com/a/codeforamerica.org/forum/?hl=en&fromgroups#!forum/brigade">Brigade forum</a> using the email address you provided here. There are local forums and Meetups across the country. Visit our <a title="Brigade Connections page" href="http://brigade.codeforamerica.org/pages/connect">Connections</a> and <a title="Brigade Events page" href="http://brigade.codeforamerica.org/pages/events">Events</a> pages for links.

%p
  Please tell your friends about Brigade!

%p
  We are counting on you to seize the initiative and code for America in your city. Consider us a concierge service ready to assist you. Together we can build a civic web that works for everyone.

%p
  Best Regards,
  %br/
  Kevin & Hannah
  %br/
  Brigade Support Team
  %br/
  brigade-info@codeforamerica.org