<p>Thanks for signing up to organize in your community. Currently, we are hosting a Brigade Organizers hangout outlining your next steps. We hope you will join.</p> 

<h2>RSVP for more information on how to join:</h2>
<ul>
  <li>Thursday, 7 November 2013 from 8:00 PM to 9:00 PM, EST / 5:00 PM to 6:00 PM PST.  <a href="http://cfabrigadeorgfollowup.eventbrite.com">http://cfabrigadeorgfollowup.eventbrite.com</a></li>
</ul>
<p>In the meantime, we have put together some materials for you to start looking through. These are the essential steps in getting started in your area: </p>

<p><a href="http://brigade.codeforamerica.org/tools">http://brigade.codeforamerica.org/tools</a></p>

<p>Thanks again and see you soon.<br /><br />

Hannah, Kevin, Noel, and Catherine<br />
Brigade Support Team<br />
Brigade-Info@codeforamerica.org</p>
