<h2>Welcome! Thanks for signing up.</h2>

<p><b>Thanks for signing up to organize in your community.</b></p>
<p>Currently, we are hosting a Brigade Organizers hangout outlining your next steps. We hope you will join.</p>
<p>Tuesday, August 26th, from 10:30 PM to 11:30 AM PDT<a href='
https://www.eventbrite.com/e/august-26-2014-how-to-start-a-code-for-america-brigade-1030am-pst-tickets-12153121313'>RSVP</a></p>

<p>If you are writing us from abroad and can't make this time please contact us.</p>
<p>In the meantime, we have put together some materials for you to start looking through.</p>
<p><a href='http://codeforamerica.org/brigade/tools'>http://codeforamerica.org/brigade/tools</a></p>
<p>Thanks again and see you soon.</p>
<br>
<p><i>Brielle Plump - Communities Coordinator</i></p>
<p><a href='mailto:brielle@codeforamerica.org'>brielle@codeforamerica.org</a></p>