%h2
  Welcome to Code for America Brigade!

%p
  We’re glad you decided to join a strong, growing network of civic minded, volunteers who want to help municipal governments and community organizations use the web and information technology to communicate, deliver services, and engage citizens.

%p
  Thank you!

%p
  Here are two things that we will do next:
%ol
  %li
    We will include you in the brigade@codeforamerica.org forum using the email address you provided here.
  %li
    We will attempt to match you with a local Brigade leader or send you information on how to start a Brigade if there is not one in your area.

%p
  Here are three things you can do next:
  %ol
    %li
      Reply ALL to this email and tell us about yourself:
      %ul
        %li Where are you? (ex., Virginia Beach, VA)
        %li What is your primary interest in CfA Brigade?
        %li Deploying and maintaining civic apps
        %li Advocating for open government where you live
        %li Committing code to open source, civic software
        %li Opening civic data
        %li Captaining a Brigade
    %li
      Get to know more about the <a title="activities page" href="http://brigade.codeforamerica.org/pages/activities">5 Brigade Activities</a>, find one that you like, and get started.
    %li
      Tell your friends about Brigade

%p
  There is a Brigade Support Team ready to assist you, but we are counting on you to seize the initiative and code for America in your city. Together we can build a civic web that works for everyone.

%p
  Best Regards,
  %br/
  Kevin & Jack
  %br/
  Brigade Support Team
  %br/
  brigade-info@codeforamerica.org