<p>Thanks for signing up to organize in your community. We are hosting three online training sessions to outline next steps for organizers around the world. We hope you will join. </p>

<h2>RSVP for more information on how to join:</h2>
<ul>
  <li>Thursday, 3 October - 7:00 PM, Central European Time (UTC +1) - RSVP at <a href="http://CfABrigadeOrganizer1.eventbrite.com">http://CfABrigadeOrganizer1.eventbrite.com</a></li>
  <li>Tuesday, 8 October - 7:00 PM, Indochina Time (UTC +7) - RSVP at <a href="http://CfABrigadeOrganizer2.eventbrite.com">http://CfABrigadeOrganizer2.eventbrite.com</a></li>
  <li>Thursday, 10 October - 9:00 PM, Eastern Time (UTC -4) / 6:00 PM, Pacific - RSVP at <a href="http://CfABrigadeOrganizer3.eventbrite.com">http://CfABrigadeOrganizer3.eventbrite.com</a> </li>
</ul>
<p><em>Note:</em> Content in all three Hangouts will be the same. We’re having three sessions to accommodate all time zones.</p>

<p>In the meantime, we've put together some materials for you to start looking through. These are the essential steps in getting started in your area: </p>

<p><a href="http://brigade.codeforamerica.org/tools">http://brigade.codeforamerica.org/tools</a></p>

<p>Thanks again and see you soon.<br /><br />

Hannah, Kevin, and Noel<br />
Brigade Support Team</p>


