Welcome to Code for America Brigade!

We’re glad you decided to join a strong, growing network of civic minded, volunteers who want to help municipal governments and community organizations use the web and information technology to communicate, deliver services, and engage citizens.

Thank you!

Here are two things that we will do next:
We will include you in the brigade@codeforamerica.org forum using the email address you provided here.
We will attempt to match you with a local Brigade leader or send you information on how to start a Brigade if there is not one in your area.

Here are two things you can do next:
Reply ALL to this email and tell us about yourself:

Where are you? (ex., Virginia Beach, VA)
What is your primary interest in CfA Brigade?
Deploying and maintaining civic apps
Advocating for open government where you live
Committing code to open source, civic software
Opening civic data
Captaining a Brigade

Get to know more about the 5 Brigade Activities, find one that you like, and get started.

There is a Brigade Support Team ready to assist you, but we are counting on you to seize the initiative and code for America in your city. Together we can build a civic web that works for everyone.

Best Regards,
Kevin & Jack
Brigade Support Team
brigade-info@codeforamerica.org