Welcome to Code for America Brigade!

We’re glad you decided to join our strong, growing network of civic minded, volunteers who contribute our skills toward using the web as a platform for local government and community service.

Thank you!

We will include you in the Brigade forum using the email address you provided here.
https://groups.google.com/a/codeforamerica.org/forum/?hl=en&fromgroups#!forum/brigade

There are local forums and Meetups across the country. Visit our Connections and Events pages for links:

http://brigade.codeforamerica.org/pages/connect
http://brigade.codeforamerica.org/pages/events

Please tell your friends about Brigade!

We are counting on you to seize the initiative and code for America in your city. Consider us a concierge service ready to assist you. Together we can build a civic web that works for everyone.

Best Regards,
Brigade Support Team
brigade-info@codeforamerica.org
