Welcome to the Open Impact Campaign!  

As a civic leader, you’ve committed to bringing open government to your city. By joining the Open Impact campaign, you’ve become a member of the Code for America Brigade - a strong, growing network of civic minded volunteers who want to help local government work better for its citizens with the power of technology and the web.
 
Thanks for joining!

Here are two things we will do for you:
Include you in the openimpact@codeforamerica.org forum using the email address you provided here. 
Match you with a local Brigade leader or send you information on how to start a local Brigade focused on advocating for open government.

Here are three simple things you should do next:
Reply to this email and tell us about yourself. Why do you want open government in your city? What work have you already done?
Get to know more about the 6 steps you can take to start an open government movement in your city.
Pick an activity and get started!

There is an Open Impact Support Team ready to assist you, but we are counting on you to seize the initiative in your city. Together we can build local governments that work for everyone.

Best Regards, 

Rob, Hannah, Anne & Ariel
Open Impact Campaign Managers
openimpact@codeforamerica.org

Kevin & Jack 
Brigade Support Team 
brigade-info@codeforamerica.org