Welcome to the Open Impact Campaign!

As a civic leader, you’ve committed to bringing open government to your city. By joining the Open Impact campaign (http://openimpact.us), you’ve become a member of the Code for America Brigade - a strong, growing network of civic minded volunteers who want to help local government work better for its citizens with the power of technology and the web.

Thanks for joining!

Here are two things we will do for you:
1. Include you in the brigade@codeforamerica.org forum using the email address you provided here.
2. Match you with a local Brigade leader OR send you information on how to start a local Brigade focused on advocating for open government.

Here are three simple things you should do next:
1. Hit reply & tell us about yourself. Why do you want open government in your city? What work have you already done?
2. Find out how you can advocate for open government: http://bit.ly/LIOK7n
3. Pick an activity and get started!

There is an Open Impact Support Team ready to assist you, but we are counting on you to seize the initiative in your city. Together we can build local governments that work for everyone.

Best Regards,

Kevin & Hannah
Brigade Support Team
brigade-info@codeforamerica.org