---
http_interactions:
- request:
    method: get
    uri: http://civiccommons.org/api/v1/node/14133.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Thu, 16 Feb 2012 04:35:08 +0000
      Etag:
      - ! '"1329366908"'
      X-Pantheon-Edge-Server:
      - 50.57.148.219
    body:
      encoding: UTF-8
      string: ! '{"vid":"14656","uid":"73","title":"Shareabouts","log":"","status":"1","comment":"1","promote":"0","sticky":"0","vuuid":"4f841414-b856-6c14-b940-a5b0e2523f9b","nid":"14133","type":"application","language":"und","created":"1327886575","changed":"1329154386","tnid":"0","translate":"0","uuid":"b6bc9b64-49a2-1db4-719c-4f3753c27787","revision_timestamp":"1329154386","revision_uid":"226","field_application_sdesc":{"und":[{"value":"Shareabouts
        is a mapping app for crowd sourcing.","format":null,"safe_value":"Shareabouts
        is a mapping app for crowd sourcing."}]},"field_application_logo":{"und":[{"fid":"853","alt":"screen
        capture of mobile app","title":"Shareabouts","width":"200","height":"300","uid":"73","filename":"mobile-200x300.png","uri":"public://content/applications/logos/mobile-200x300.png","filemime":"image/png","filesize":"95423","status":"1","timestamp":"1327886575","type":"image","uuid":"81938238-816c-9604-3935-6115e6cee48c","rdf_mapping":[]}]},"field_application_rlss":[],"field_application_relapps":{"und":[{"nid":"9087"},{"nid":"14155"}]},"field_application_featurs":[],"field_application_type":{"und":[{"tid":"33"},{"tid":"35"},{"tid":"36"}]},"field_application_creator":{"und":[{"nid":"13370"}]},"field_application_vendors":{"und":[{"nid":"13370"}]},"field_application_hostname":{"und":[{"value":"Github","format":null,"safe_value":"Github"}]},"field_application_hosturl":{"und":[{"url":"http://github.com/openplans/shareabouts/","title":"Github","attributes":[]}]},"field_application_demourl":[],"field_application_license":[],"field_application_rating":{"und":[{"rating":null,"target":null}]},"field_application_description":{"und":[{"value":"Shareabouts
        has a simple, fun interface that makes it easy to add your voice to the map:
        suggest a location, add a comment, support other suggestions and share locations
        with your friends and neighbors. Shareabouts gets out of the way, letting
        you focus on getting points on the map. Behind the scenes, it\u2019s a Rails
        app running on PostGIS spatial database, with a nice mapping front end.","format":"filtered_html","safe_value":"<p>Shareabouts
        has a simple, fun interface that makes it easy to add your voice to the map:
        suggest a location, add a comment, support other suggestions and share locations
        with your friends and neighbors. Shareabouts gets out of the way, letting
        you focus on getting points on the map. Behind the scenes, it\u2019s a Rails
        app running on PostGIS spatial database, with a nice mapping front end.</p>\n"}]},"field_application_reqs":{"und":[{"tid":"9"}]},"field_application_deliverymeth":[],"field_application_civfunction":[],"field_application_softfunction":{"und":[{"tid":"172"}]},"field_application_projects":[],"field_application_interactions":[],"field_application_screenshots":{"und":[{"fid":"852","alt":"","title":"","width":"891","height":"672","uid":"73","filename":"shareabouts.png","uri":"public://content/applications/images/shareabouts.png","filemime":"image/png","filesize":"636330","status":"1","timestamp":"1327886575","type":"image","uuid":"4385fb8f-f922-e674-f9db-062c946643ef","rdf_mapping":[]}]},"field_application_tutors":[],"field_application_homepage":{"und":[{"url":"http://openplans.org/projects/shareabouts/","title":null,"attributes":[]}]},"field_project_resulted":[],"field_application_stds":[],"field_application_tags":{"und":[{"tid":"349"},{"tid":"358"}]},"rdf_mapping":{"rdftype":["sioc:Item","foaf:Document"],"title":{"predicates":["dc:title"]},"created":{"predicates":["dc:date","dc:created"],"datatype":"xsd:dateTime","callback":"date_iso8601"},"changed":{"predicates":["dc:modified"],"datatype":"xsd:dateTime","callback":"date_iso8601"},"body":{"predicates":["content:encoded"]},"uid":{"predicates":["sioc:has_creator"],"type":"rel"},"name":{"predicates":["foaf:name"]},"comment_count":{"predicates":["sioc:num_replies"],"datatype":"xsd:integer"},"last_activity":{"predicates":["sioc:last_activity_date"],"datatype":"xsd:dateTime","callback":"date_iso8601"}},"cid":"0","last_comment_timestamp":"1327886575","last_comment_name":null,"last_comment_uid":"73","comment_count":"0","disqus":{"domain":"civiccommons","status":true,"url":"http://civiccommons.org/apps/shareabouts","title":"Shareabouts","identifier":"node/14133"},"name":"nickgrossman","picture":"0","data":"a:1:{s:7:\"overlay\";i:1;}","path":"http://civiccommons.org/apps/shareabouts"}'
  recorded_at: Tue, 10 Apr 2012 05:59:45 GMT
- request:
    method: get
    uri: http://civiccommons.org/api/v1/node/13370.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Thu, 16 Feb 2012 04:35:09 +0000
      Etag:
      - ! '"1329366909"'
      X-Pantheon-Edge-Server:
      - 50.57.148.219
    body:
      encoding: UTF-8
      string: ! '{"vid":"13371","uid":"1","title":"OpenPlans","log":"","status":"1","comment":"1","promote":"0","sticky":"0","vuuid":"7aef2fe6-9166-fae4-4113-ac671dda3f6c","nid":"13370","type":"organization","language":"und","created":"1318054943","changed":"1327962141","tnid":"0","translate":"0","uuid":"4662731d-2700-f864-b99b-96b1b375066e","revision_timestamp":"1327962141","revision_uid":"233","field_organization_decs":{"und":[{"value":"OpenPlans
        is a 501(c)3 using technology to change the way that cities and citizens interact.
        We believe open source, open data, and sustainable mobility options can improve
        millions of lives.","format":null}]},"field_organization_type":{"und":[{"tid":"125"}]},"field_organization_address":{"und":[{"country":"US","administrative_area":"NY","sub_administrative_area":"New
        York","locality":"New York","dependent_locality":null,"postal_code":"10013","thoroughfare":"148
        Lafayette Street","premise":"","sub_premise":null,"organisation_name":null,"name_line":null,"first_name":null,"last_name":null,"data":null}]},"field_organization_logo":{"und":[{"fid":"212","alt":"","title":"","width":"290","height":"80","uid":"1","filename":"openplans-logo.png","uri":"public://content/organizations/logos/openplans-logo.png","filemime":"image/png","filesize":"29974","status":"1","timestamp":"1318054943","type":"image","uuid":"628687b3-47c0-d744-610f-39699293bdce","rdf_mapping":[]}]},"field_organization_link":{"und":[{"url":"http://openplans.org","title":"OpenPlans.org","attributes":[]}]},"field_organization_abbr":[],"field_organization_wiki":{"und":[{"url":"http://en.wikipedia.org/wiki/OpenPlans","title":"OpenPlans","attributes":[]}]},"field_organization_abudget":[],"field_organization_employees":{"und":[{"value":"50"}]},"field_organization_pbudget":[],"field_organization_interactions":{"und":[{"nid":"13375"},{"nid":"13495"},{"nid":"13498"},{"nid":"13702"},{"nid":"14154"},{"nid":"14156"},{"nid":"14157"}]},"field_organization_services":{"und":[{"tid":"134"},{"tid":"133"},{"tid":"136"},{"tid":"135"}]},"field_organization":[],"field_organization_members":{"und":[{"uid":"107"}]},"field_organization_branch":[],"field_organization_phone":[],"field_organization_coords":{"und":[{"wkt":"POINT
        (-73.9995476 40.7195403)","geo_type":"point","lat":"40.7195","lon":"-73.9995","left":"-73.9995","top":"40.7195","right":"-73.9995","bottom":"40.7195","srid":null,"accuracy":null,"source":null}]},"field_organization_apps_created":{"und":[{"nid":"13491"},{"nid":"13373"},{"nid":"14133"},{"nid":"14148"},{"nid":"14152"},{"nid":"14155"}]},"field_vending_apps":{"und":[{"nid":"13373"},{"nid":"13491"},{"nid":"14133"},{"nid":"14148"},{"nid":"14152"},{"nid":"14155"}]},"rdf_mapping":{"rdftype":["sioc:Item","foaf:Document"],"title":{"predicates":["dc:title"]},"created":{"predicates":["dc:date","dc:created"],"datatype":"xsd:dateTime","callback":"date_iso8601"},"changed":{"predicates":["dc:modified"],"datatype":"xsd:dateTime","callback":"date_iso8601"},"body":{"predicates":["content:encoded"]},"uid":{"predicates":["sioc:has_creator"],"type":"rel"},"name":{"predicates":["foaf:name"]},"comment_count":{"predicates":["sioc:num_replies"],"datatype":"xsd:integer"},"last_activity":{"predicates":["sioc:last_activity_date"],"datatype":"xsd:dateTime","callback":"date_iso8601"}},"cid":"0","last_comment_timestamp":"1318054943","last_comment_name":null,"last_comment_uid":"1","comment_count":"0","name":"admin","picture":"0","data":"a:1:{s:7:\"overlay\";i:1;}","path":"http://civiccommons.org/organizations/openplans"}'
  recorded_at: Tue, 10 Apr 2012 05:59:45 GMT
- request:
    method: get
    uri: http://civiccommons.org/api/v1/taxonomy_term/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/yaml
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Thu, 16 Feb 2012 21:36:43 +0000
      Etag:
      - ! '"1329428203"'
      X-Pantheon-Edge-Server:
      - 50.57.148.219
    body:
      encoding: UTF-8
      string: ! '---

'
  recorded_at: Tue, 10 Apr 2012 05:59:45 GMT
[...]
- request:
    method: get
    uri: http://civiccommons.org/api/v1/node/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/yaml
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Thu, 16 Feb 2012 21:59:33 +0000
      Etag:
      - ! '"1329429573"'
      X-Pantheon-Edge-Server:
      - 50.57.148.219
    body:
      encoding: UTF-8
      string: ! '---

'
  recorded_at: Tue, 10 Apr 2012 05:59:45 GMT
- request:
    method: get
    uri: http://civiccommons.org/api/v1/taxonomy_term/89.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Thu, 16 Feb 2012 22:00:41 +0000
      Etag:
      - ! '"1329429641"'
      X-Pantheon-Edge-Server:
      - 50.57.158.205
    body:
      encoding: UTF-8
      string: ! '{"tid":"89","vid":"7","name":"GPL","description":"","format":"filtered_html","weight":"2","uuid":"09c37d23-3cc6-55a4-99fa-1cfce59e8547","vocabulary_machine_name":"software_licenses","rdf_mapping":{"rdftype":["skos:Concept"],"name":{"predicates":["rdfs:label","skos:prefLabel"]},"description":{"predicates":["skos:definition"]},"vid":{"predicates":["skos:inScheme"],"type":"rel"},"parent":{"predicates":["skos:broader"],"type":"rel"}}}'
  recorded_at: Tue, 10 Apr 2012 05:59:45 GMT
[...]
- request:
    method: get
    uri: http://civiccommons.org/api/v1/node/13802.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Thu, 16 Feb 2012 22:02:13 +0000
      Etag:
      - ! '"1329429733"'
      X-Pantheon-Edge-Server:
      - 50.57.148.219
    body:
      encoding: UTF-8
      string: ! '{"vid":"13813","uid":"144","title":"Open City","log":"","status":"1","comment":"1","promote":"0","sticky":"0","vuuid":"e576f6cf-8cab-91e4-3594-695ecaba5258","nid":"13802","type":"organization","language":"und","created":"1324418313","changed":"1327359291","tnid":"0","translate":"0","uuid":"53abcc88-a9f1-66b4-ddee-682a155d793e","revision_timestamp":"1327359291","revision_uid":"144","field_organization_decs":{"und":[{"value":"Open
        City is a new civic startup. We build open gov and open source apps to make
        cities work better. \r\n\r\nAll our projects are open source and on GitHub:
        https://github.com/open-city","format":"filtered_html","safe_value":"<p>Open
        City is a new civic startup. We build open gov and open source apps to make
        cities work better. </p>\n<p>All our projects are open source and on GitHub:
        <a href=\"https://github.com/open-city\">https://github.com/open-city</a></p>\n"}]},"field_organization_type":{"und":[{"tid":"125"}]},"field_organization_address":{"und":[{"country":"US","administrative_area":"IL","sub_administrative_area":"United
    [...]
[...]
- request:
    method: get
    uri: http://civiccommons.org/api/v1/taxonomy_term/90.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Tue, 26 Jun 2012 14:05:52 +0000
      Etag:
      - ! '"1340719552"'
      X-Pantheon-Edge-Server:
      - 50.57.148.219
    body:
      encoding: US-ASCII
      string: ! '{"tid":"90","vid":"7","name":"MIT","description":"","format":"filtered_html","weight":"3","uuid":"7a7ea731-2ab3-ee34-f9c2-47267e34400d","vocabulary_machine_name":"software_licenses","rdf_mapping":{"rdftype":["skos:Concept"],"name":{"predicates":["rdfs:label","skos:prefLabel"]},"description":{"predicates":["skos:definition"]},"vid":{"predicates":["skos:inScheme"],"type":"rel"},"parent":{"predicates":["skos:broader"],"type":"rel"}}}'
  recorded_at: Tue, 26 Jun 2012 14:05:54 GMT
recorded_with: VCR 2.1.1
