---
http_interactions:
- request:
    method: get
    uri: http://commons.codeforamerica.org/api/v1/taxonomy_term/91.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Drupal-Cache:
      - MISS
      Last-Modified:
      - Thu, 16 Feb 2012 17:10:59 +0000
      Etag:
      - ! '"1329412259"'
      X-Pantheon-Edge-Server:
      - 50.57.158.205
    body:
      encoding: UTF-8
      string: ! '{"tid":"91","vid":"7","name":"BSD","description":"","format":"filtered_html","weight":"1","uuid":"e6fecd32-ef31-9784-e956-ef8bbfc11155","vocabulary_machine_name":"software_licenses","rdf_mapping":{"rdftype":["skos:Concept"],"name":{"predicates":["rdfs:label","skos:prefLabel"]},"description":{"predicates":["skos:definition"]},"vid":{"predicates":["skos:inScheme"],"type":"rel"},"parent":{"predicates":["skos:broader"],"type":"rel"}}}'
  recorded_at: Tue, 10 Apr 2012 05:59:45 GMT
recorded_with: VCR 2.1.1
