---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Norfolk,%20VA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"Norfolk\",\n               \"short_name\"
        : \"Norfolk\",\n               \"types\" : [ \"locality\", \"political\" ]\n
        \           },\n            {\n               \"long_name\" : \"Norfolk\",\n
        \              \"short_name\" : \"Norfolk\",\n               \"types\" : [
        \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Virginia\",\n               \"short_name\"
        : \"VA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Norfolk, VA, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 36.96945450,\n
        \                 \"lng\" : -76.17690490\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 36.8207570,\n                  \"lng\" :
        -76.3455690\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 36.85076890,\n               \"lng\" : -76.28587259999999\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 36.92216450,\n
        \                 \"lng\" : -76.15781319999999\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 36.77930650,\n                  \"lng\" :
        -76.4139320\n               }\n            }\n         },\n         \"types\"
        : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Tue, 27 Mar 2012 17:46:20 GMT
recorded_with: VCR 2.1.1
