<header class="page-id">
  <h1>
    Brigades
  </h1>

</header>

<% if @brigades.empty? %>
  <h3> There aren't any brigades that match that criteria! </h3>
<% else %>

  <table class="all-cities" cellpadding="4" id="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @brigades.each do |brigade| %>
        <tr id="<%="brigade_#{brigade.id}"%>" class="<%= cycle "odd", "even" %>">
          <td><%= brigade.name %></td>
          <td><%= link_to 'Show', brigade%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<%end%>
