<div class="container-fluid">
  <div class="row-fluid">
    <!-- main -->
    <div id="leftcolumn" class="span8">
      <hgroup class="app-title">
        <h2><%= @brigade.name %><h2>
        <h5></h5>
        <div class="clear"></div>
      </hgroup>

      <h6>Deployed Applications</h6>
      <table class='table-striped full'>
        <%= render @brigade.deployed_applications %>
      </table>
    </div>

    <div id="sidebar" class="span4">
      <div class="app-info">
        <h3>Members</h3>
        <%= @brigade.decorated_members %>
      </div>
    </div>
  </div>
</div>

