<div class='hidden' id='repository_participation'><%= application.repository_participation %></div>
<table class='small-stats'>
  <tr>
    <%= application.repository_sparkline %>
    <td class='deploy-count'><%= application.number_of_deploys %></td>
  </tr>
  <tr class='labels'>
    <td><%= application.repository_sparkline_label %></td>
    <td>Deploys</td>
  </tr>
</table>
