<h2>Applications</h2>
<table class='table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Short Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><strong><%= app.name %></strong></td>
        <td><%= app.short_description %></td>
        <td><%= link_to 'Show App', application_path(app), title: app.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
