<header class="page-id">
  <h1>
    <% if @apps.any? %><%= @apps.count.to_s() %><%end%> Applications You Can Deploy. Now.
  </h1>
</header>
<p>
Across the country, civic hackers are building amazing applications at hackathons and through app contests. You can leverage their efforts to redeploy those applications in your city. We've selected a few of the most easily reused and promising apps to feature on the Brigade, and added step-by-step instructions on how to get them running. Pick an app below and then recruit your friends to make it happen.
</p>
<table class="all-apps" cellpadding="4">
  <% app_count = 0 %>
  <% @apps.each do |application| %>
    <%= render partial: 'application', object: application %>
    <% app_count += application.deployed_applications.count %>
  <% end %>
</table>
<h1><%= app_count %> apps deployed</h1>
