@import '../core/variables';
@import '../core/mixins';

//
// Global Header
//

.global-header {
  margin-bottom : 0px;
  width: 100%;
}

//
// overrides for the v3 style's .global-header class
//

.global-header--above {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 1.5em;
  padding-top: 1.5em;

  @include media($tablet-up) {
    padding-bottom: .5em;
    padding-top: .5em;
  }

  > a:hover,
  > a:active,
  > a:focus {
    border-bottom: none;
    text-decoration: none;
  }
}

.global-header__above-underline {
  border-bottom: 1px solid $color-primary;
}

@media (max-width: 40em) {

  .global-header {
    position: static;
  }

}

