@import '../core/variables';
@import '../core/mixins';

//
// Page Header
//

.page-header {
  .button,
  a.button:link {
    display: block;
    height: 40px;
    line-height: 40px;
  }

  @include media($mobile-up) {
    .button,
    a.button:link {
      display: inline-block;
      height: inherit;
      line-height: inherit;
    }
  }
}
