@import '../core/variables';
@import '../core/mixins';

//
// Page: Home
//

#map {
  height: 100%;
  min-height: 300px;
  min-height: 80vh;
  position: relative;
  z-index: 0;

  input {
    margin: 0;
    min-height: 0;
  }

  .leaflet-marker-icon {
    cursor: pointer !important;
  }

  .leaflet-popup-close-button {
    display: none;
  }
}
