@import '../core/variables';
@import '../core/mixins';

//
// Page: Home
//

body#home {

  .home-hero {
    min-height: 300px;
  }

  .home-hero__content {
    padding: 20px;
  }

  .home-hero__map {
    border-bottom: solid 1px $color-border-dark;
    .panel__body { padding: 0; }
  }

  #map {
    height: 100%;
    min-height: 300px;
    min-height: 80vh;

    input { min-height: 0; }

    .leaflet-marker-icon { cursor: pointer !important; }

    .leaflet-popup-close-button { display: none; }
  }

  // Styling for wider screens
  @include media($tablet-up) {
    .home-hero {
      display: flex;
      flex-direction: row;
    }

    .home-hero__content { flex: 1; }

    .home-hero__map {
      display: flex;
      flex: 2;
      flex-direction: column;

      .panel__body { flex: 1; }

      .panel__footer {
        flex: 0;
        text-align: right;
      }
    }
  }
}
