@import '../core/variables';
@import '../core/mixins';

//
// Page: Home
//

.home-hero {
  min-height: 300px;

  @include media($tablet-up) {
    display: flex;
    flex-direction: row;
  }
}

.home-hero__content {
  padding: 20px;

  @include media($tablet-up) {
    flex: 1;
  }
}

.home-hero__map {
  border-bottom: solid 1px $color-border-dark;

  @include media($tablet-up) {
    display: flex;
    flex: 2;
    flex-direction: column;
  }

  .panel__body {
    padding: 0;

    @include media($tablet-up) {
      flex: 1;
    }
  }

  .panel__footer {
    @include media($tablet-up) {
      flex: 0;
      text-align: right;
    }
  }

  #map {
    height: 100%;
    min-height: 300px;
    min-height: 80vh;

    input {
      min-height: 0;
    }

    .leaflet-marker-icon {
      cursor: pointer !important;
    }

    .leaflet-popup-close-button {
      display: none;
    }
  }
}
