<div class='form-wrapper span4 offset4'>
  <%= content_tag :h2, "Deploy an app with #{@brigade}" %>

  <%= render 'deployed_applications/form', url: brigade_deployed_applications_path(@brigade), deployed_application: @deployed_application %>
</div>
