@import '../core/variables';

//
// Base
//

body {
  color: $color-text-dark;
}

main {
  box-sizing: content-box;
  padding: 0 $site-margins;
}

section {
  clear: none;
  float: none;
  width: auto;
}

hr {
  margin: 32px 0;
}
