@import '../core/variables';

//
// Utilities
//

// No-wrap
.no-wrap {
  white-space: nowrap;
}

// Text alignment
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
