//
// Utilities
//

// Inline-block
.inline-block {
  display: inline-block;
}

// Text alignment
.text-center {
  text-align: center;
}

// Padding
.padding-none { padding: 0; }
.padding-top-none { padding-top: 0; }
.padding-right-none { padding-right: 0; }
.padding-bottom-none { padding-bottom: 0; }
.padding-left-none { padding-left: 0; }