// 
// Variables
//

// Colors

$color-black: #5a5a5a;
$color-white: #fff;

$color-gray: #999;
$color-gray-light: #e5e5e5;

$color-primary: #cf1b41; /* CfA Red */
$color-primary-light: #d5305e;
$color-primary-dark: #bd1b3c;

$color-secondary: #399ed2; /* CfA Blue */
$color-secondary-light: #57acd9;
$color-secondary-dark: #3591c0;

$color-text-dark: $color-black;
$color-text-light: $color-white;

$color-border-dark: $color-gray;
$color-border-light: $color-gray-light;
