@import '~@codeforamerica/style/_sass/core/_variables.scss';

//
// Variables
//

// Colors
$color-black: #000;
$color-gray-dark: #5a5a5a;
$color-white: #fff;

$color-gray: #999;
$color-gray-light: #e5e5e5;

$color-primary: $color-red;
$color-primary-light: $color-light-red;
$color-primary-dark: $color-dark-red;

$color-secondary: $color-blue;
$color-secondary-light: $color-light-blue;
$color-secondary-dark: $color-dark-blue;

$color-text-dark: $color-gray-dark;
$color-text-light: $color-white;

$color-border-dark: $color-gray;
$color-border-light: $color-gray-light;

// Mobile Nav
$mobile-nav-background-color: $color-red;

// Hero
$hero-color: $color-red;

// Breakpoints
$mobile-up:     481px;
$tablet-up:     768px;
$midscreen-up:  960px;
$widescreen-up: 1201px;

// Style guide variable overrides / Magic numbers
$alert-background-color: darken($hero-color, 8%);
$alert-text-color: $color-white;
$alert-border: none;
$site-margins: 20px;
$site-max-width: 1140px;
$global-header-logo-width: 200px;
$global-header-logo-width-mobile: 150px;
