// 
// Variables
//

// Colors
$color-black: #000;
$color-gray-dark: #5a5a5a;
$color-white: #fff;

$color-gray: #999;
$color-gray-light: #e5e5e5;

$color-primary: #cf1b41; /* CfA Red */
$color-primary-light: #d5305e;
$color-primary-dark: #bd1b3c;

$color-secondary: #399ed2; /* CfA Blue */
$color-secondary-light: #57acd9;
$color-secondary-dark: #3591c0;

$color-text-dark: $color-gray-dark;
$color-text-light: $color-white;

$color-border-dark: $color-gray;
$color-border-light: $color-gray-light;

// Breakpoints
$mobile-up:     481px;
$tablet-up:     768px;
$midscreen-up:  960px;
$widescreen-up: 1201px;

// Magic numbers
$site-margins: 20px;
$site-max-width: 1140px;
