.calendar-item {
  /*border-bottom: 1px #5a5a5a solid;*/
  padding: 5px;
  min-height: 450px;
}

body {
  color: #5a5a5a;
}

#banner {
	text-align: center;
	padding-top:5px;
}

header, .layout-breve{
  padding-top: 0px;
  padding-bottom: 0px;
}

.data {
  padding-top: 51px;
}

.global-header {
  margin-bottom : 0px;
}

#logo {
  margin-top: 25px;
}

#map .leaflet-marker-icon
{
  cursor: pointer !important;
}


#brigadeList a {
  margin-left: 20px;
}

#brigadeList h4 {
  margin-top: 200px;
  font-size: 25px;
  font-weight: 400;
  margin-left: 14px;
}

h2 {
  font-weight: bold;
}

#current-projects {
  padding-bottom: 25px;
}

/* SIGN UP FORM*/
#signup {
  margin: 30px 0;
}

#signup-response {
  margin: 30px 0;
  display: none;
}

.inline {
  display: inline-block;
}

/* Desktop view*/
@media (min-width: 40em) {

  #map {
    width: 100%;
    height: 691px;
  }

  #overlay{
    background-color:rgba(204,39,62,0.85);
    position:absolute;
    top:90px;
    left:0;
    width:30%;
    min-width: 333px;
    padding: 0 25px;
    overflow: auto;
    height: 691px;
    margin-bottom: 10px;
  }
}

.center {
  text-align: center;
}

/* MOBILE VIEW*/
@media (max-width: 40em) {

  main {
    margin-top: 50px;
  }

  #map {
    display: none;
  }

  #overlay p {
    padding: 5px 10px;
  }

  #overlay {
    margin-bottom: 25px;
  }

}

@media screen and (min-width: 640px) {
  #brigadeListButton {
    display: none;
  }
}

input[type="text"],input[type="email"],input[type="password"],input[type="search"] {
  width: 85%;
}

/* Brigade page*/

.no-padding {
  padding: 0px;
}

#title {
  color: white;
  margin: 0px;
}

#project-stage-buttons a {
  width : 230px;
}

#Featured, .featured {
  background-color: #e87d2b !important;
}

#Official, .Official {
  background-color: #00a175 !important;
}

#Beta, .Beta {
  background-color: #004b6a !important;
}

#Alpha, .Alpha {
  background-color: #7ab5d6 !important;
}

#Experiment, .Experiment {
  background-color: #69579C !important;
}

/* Project Monitor */
#monitor {
  min-height: 700px;
}

#monitor a:link, #monitor a:visited, #monitor a:hover, #monitor a:focus, #monitor a:active {
  color: #5a5a5a;
}

.alert-success, .alert-failure {
  border: 0px;
}

.project {
  padding: 15px;
}

#more-projects {
  margin : 30px 0;
}
