{% extends "base.html" %}

{% block content %}
<section class="slab-teal">

  <div class="layout-semibreve">

    <h1>Brigade Organizer's Calendar</h1>

    <p>This calendar highlights days of action, workshops, and monthly themes to help Brigades focus their activities throughout the year.</p> 
  </div>

</section>

<section>

  <div class="layout-semibreve">

    <ul class="list-no-bullets">

      <li>
        <p><b>NOVEMBER 2015</b>: Work with your core team to ID partners, strategy, and fundraising opportunities for 2016.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2015-november-12-strategic-plan-q-a/309/1">Nov 12: Strategic Planning Workshop</a></li>
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2015-november-17-fundraising-workshop-1/307/1">Nov 17: Fundraising Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>DECEMBER 2015</b>: Continue to revise your strategic plan and start fundraising.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2015-december-3-fundraising-workshop-2/308/1">Dec 3: Fundraising Workshop</a></li>
          <li class="icon-calendar"><a href="#">Dec 12: CodeAcross Organizer's Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>JANUARY 2016:</b> Cultivate government and community partnerships and invite them to a user needs workshop in February.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Jan X: Fundraising Workshop</a></li>
          <li class="icon-calendar"><a href="#">Jan X: CodeAcross Organizer's Workshop</a></li>
          <li class="icon-calendar"><a href="#">Jan X: Gov 101 Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>FEBRUARY 2016:</b> Host a workshop to help government and community partners ID user needs for your Brigade to protype at CodeAcross.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Feb X: UX 101 Workshop</a></li>
          <li class="icon-calendar"><a href="#">Feb X: CodeAcross Organizer's Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>MARCH 2016:</b> At CodeAcross 2016, prototype the problem statements you and your partners identified.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Mar 5: CODEACROSS 2016</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>APRIL 2016:</b> Continue to work with partners and build and test your protypes.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Apr X: National Day of Civic Hacking Organizer's Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>MAY 2016:</b> Continue to work with partners and build and test your protypes.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">May X: National Day of Civic Hacking Organizer's Workshop</a></li>
          <li class="icon-calendar"><a href="#">Tuesday Office Hours</a>
          <p><b>JUNE 2016:</b> National Day of Civic Hacking</p></li>
          <li class="icon-calendar"><a href="#">Jun 4: National Day of Civic Hacking</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>JULY 2016:</b> Continue to work with partners and build and test your protypes.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Workshop TBD</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>AUGUST 2016:</b> Continue to work with partners and build and test your protypes.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Workshop TBD</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>SEPTEMBER 2016:</b> Launching and Marketing</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Workshop TBD</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>OCTOBER 2016:</b> CityCamp</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Workshop TBD</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>NOVEMBER 2016:</b> Code for America Summit. Work with your core team to ID partners, strategy, and fundraising opportunities for 2016.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Workshop TBD</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>DECEMBER 2016:</b> Continue to revise your strategic plan and start fundraising.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="#">Workshop TBD</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a></li>
        </ul>
      </li>

    </ul>

  </div>

</section>


{% endblock %}
