{% extends "base.html" %}

{% block content %}
<section id="checklist">

  <div class="layout-semibreve">
    <h2>Organizer's Checklist</h2>
    <p>You can join the Brigade Network by organizing a civic hack night or an Official Brigade.</p>
    <p><b>A civic hack night</b> is a good place for new organizers to start. A civic hack night is a regular event that brings government, community partners, and residents together to work quickly and creatively on projects.</p>
    <p><b>An Official Brigade</b> takes a bit more work. An Official Brigade is a sustainable, civic hacking group that develops partnerships with government and community partners to provide strategic support with ongoing projects and events.</p>
    <p>Code for America has a few requirements for groups joining the Brigade network, which are listed in the checklist below. If you run into blockers, sign up for <a href="https://cfa.typeform.com/to/XcfQ8H">Office Hours</a> or join us for a <a href="http://www.codeforamerica.org/brigade/organize/calendar">workshop</a>.</p>
    <p><a href="https://cfa.typeform.com/to/n0AZet" class="button button-l">Let us know</a> when you have everything in place and we'll help you access Code for America resources.</p>


    <table>
      <thead>
        <tr>
          <td></td>
          <th>Civic Hack Night</th>
          <th>Official Brigade</th>
        </tr>
      </thead>
      <tbody>
        <tr class="grey">
          <th>REQUIREMENTS</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.i0zqlxd516hk">Core Team</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.jeuedkfo9mi6">Strategic Plan</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.o91zkk5ioexr">Code of Conduct</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.8a5w8e7jriz9">Community Partner</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.5loldkzhmzpp">Government Partner</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>

        <tr class="grey">
          <th>CFA PROVIDES</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><a href="http://www.codeforamerica.org/brigade/organize/playbook">Playbook</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="http://www.codeforamerica.org/brigade/organize/calendar">Calendar</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Weekly Network Updates</th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Meetup.com</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>MoU</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Slack Network</th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://cfa.typeform.com/to/XcfQ8H">Office Hours</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.duw4ydbuijxa">Financial Infrastructure</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://www.codeforamerica.org/brigade/attendance">Attendance Tool</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://www.codeforamerica.org/geeks/civicissues">Civic Issue Finder</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://www.codeforamerica.org/brigade/projects">Project Search</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://github.com/codeforamerica/cfapi">CfAPI</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.35vrp9mfwfd9">Brand and Media Guidelines</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="http://www.codeforamerica.org/brigade/tools/">In-kind Donations</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>

      </tbody>
    </table>

  </div>

</section>

{% endblock %}
