- @page_title='Race 4 Reuse'
%LINK{:HREF => "/assets/ndoch.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    .row
      %a{:href => "http://hackforchange.org"}
        %img{:align => "center", :src => "http://hackforchange.org/profiles/opencivic/themes/hackathon/logo.png", :width => "900px"}/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
      / HEADLINE
      %p.view-pages
        WHEW! WHAT A WEEKEND!
      %p.ndoch-big
        Here's what you did:
      %h2 More #hackforchange in social media:
      %ul
        %li.ndoch-medium
          %a{:href => "http://www.flickr.com/search/?q=hackforchange"}Flickr
        %li.ndoch-medium
          %a{:href => "http://www.youtube.com/results?search_query=hackforchange"}YouTube
        %li.ndoch-medium
          %a{:href => "http://www.tumblr.com/tagged/hackforchange"}Tumblr
        %li.ndoch-medium
          %a{:href => "https://storify.com/search?q=hackforchange"}Storify
        %li.ndoch-medium
          %a{:href => "https://vimeo.com/search?q=hackforchange"}Vimeo
      %p.ndoch-big
        %a{:href => "http://hackforchange.org/submit"} Share
        your project at hackforchange.org
      %p.ndoch-big
        %a{:href => "http://codeforamerica.tumblr.com"} Tumbl
        pictures and videos.
      %p.ndoch-big
        Please promote this
        %a{:href => "http://c4a.me/hack"} post-event survey.
      %p.ndoch-big
        Organizers, here's a
        %a{:href => "https://docs.google.com/document/d/1sY5osRNgk_0kjnJUSQ0t8Eo_rKfTwuULgHejpYbjcbc/edit?usp=sharing"} Press Release
        template.
      %p.ndoch-big
        Get ready to feel the awesome. It's time to
        %a{:href => "http://hackforchange.org"} Hack for Change.
      %h2 Tools
      %ul.ndoch-medium
        %li
          %a{:target => "top", :href => "https://drive.google.com/folderview?id=0B_WC8QOgiwjzS295MmQySnZrbWs&usp=sharing"} WeTheData Persona
          profiles
      