- @page_title='Race 4 Reuse'
%LINK{:HREF => "/assets/ndoch.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    .row
      %a{:href => "http://hackforchange.org"}
        %img{:align => "center", :src => "http://codeforamerica.org/wp-content/uploads/2013/03/ndoch_banner_2m.png", :width => "900px"}/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
      / HEADLINE
      %p.ndoch-big
        As 
        %a{:href => "/brigades"} a Brigade 
        you participate in civic hacking almost every day.
      %p.ndoch-big
        Seize the moment to showcase and celebrate your brigade's good work and we'll make sure it gets noticed.
      %p.ndoch-big
        %a{:href => "http://hackforchange.org/events?tid=140&state="} Locations
        ,
        %a{:href => "http://hackforchange.org/challenges"} Challenges
        ,
        %a{:href => "http://hackforchange.org/datasets"} Data Sets
      %p.ndoch-big
        %a{:href => "mailto:hello@hackforchange.org?subject=Brigade"} Need Help?
      %p.ndoch-big
        %a{:href => "https://twitter.com/search?q=hackforchange"}#hackforchange 
        %a{:href => "https://twitter.com/search?q=civichacking"}#civichacking
      
      