- @page_title='Race 4 Reuse'
%LINK{:HREF => "/assets/ndoch.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    .row
      %a{:href => "/pages/codeacross"}
        %img{:align => "center", :src => "http://codeforamerica.org/wp-content/uploads/2013/03/ndoch_banner_2m.png", :width => "900px"}/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
      / HEADLINE
      %p.ndoch-big
        As 
        %a{:href => "/brigades"} a Brigade 
        you participate in civic hacking almost every day.
      %p.ndoch-big
        Take a moment to showcase and celebrate your good work and we'll make sure it gets noticed.
      %p.ndoch-big
        Visit the Hack for Change web site for 
        %a{:href => "http://hackforchange.org/events?tid=140&state="} locations of Brigade events.
      %p.ndoch-big
        Don't see yours? Add it.
      / START OF MAIN BODY CONTENT
      %p.ndoch-big
        \#hackforchange #civichacking
      %p.ndoch-med
      
      