{% extends "base.html" %}

{% block content %}

<div class="layout-semibreve layout-centered">
    <h2>What are Brigades?</h2>
    <p>Code for America Brigades are volunteer groups that collaborate with local government and community partners to build new tools that help with local civic issues. Code for America supports Brigade chapters with resources, tools, and access to the wider civic technology movement. </p>
</div>

<section class="slab-gray">
    <div class="layout-semibreve layout-centered">
        <h2>Hear from Brigade leaders</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/PinRhW8Psn4" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<section class="slab-teal">
    <div class="layout-semibreve layout-centered">
        <h2>Code of Conduct</h2>
        <p>Code for America has a Code of Conduct that applies to our activities, events, and digital forums. We do not tolerate discrimiation or harrassment of any kind.</p>
        <a class="button" href="https://github.com/codeforamerica/codeofconduct">Check out our full Code of Conduct</a>
    </div>
</section>

<div class="layout-semibreve layout-centered">
    <h4>Funders</h4>
    <ul class="list-no-bullets layout-grid">
        <li><a href="https://www.rallydev.com/about/rally-for-impact"><img src="{{url_for('static', filename='images/CAlogo.png')}}" height="100px"></a></li>
    </ul>
</div>

{% endblock %}
