{% extends "base.html" %}

{% block content %}

<div class="layout-semibreve layout-centered">
    <h2>What are Brigades</h2>
    <p>Code for America Brigades are volunteer groups that collaborate with local government and community partners to build new tools that help with local civic issues. Code for America supports Brigade chapters with resources, tools, and access to the wider civic technology movement. </p>
</div>

<section class="slab-gray">
    <div class="layout-semibreve layout-centered">
        <h2>Hear from Brigade Leaders</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/PinRhW8Psn4" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<section class="slab-red">
    <div class="layout-semibreve layout-centered">
        <h2>How to Get Involved</h2>
        <p>A group can participate in the Code for America Brigade network as a <i>Brigade Network Member</i> or as an <i>Official Brigade Chapter.</i> All Brigades organize people around civic outcomes, participate in Code for America communication channels, and recieve support from the Code for America network.  You can visit our <font color="=black"><a href="/brigade">interactive Brigade map</a></font> to locate a chapter near you and join in on the fun!</p>
        <br>
        Don't see a Brigade in your city?<br>
        <a class="button" href="/brigade/organize">Learn how to organize and grow a Brigade in your city!</a>
    </div>
</section>

<section class="slab-teal">
    <div class="layout-semibreve layout-centered">
        <h2>We Need Everyone to Participate</h2>
        <p>Brigades offer positive and safe environments for all members of their city. In order to help build an ecosystem that values free and open technologies and processes, everyone in the community must get involved. Therefore, Code for America developed a Code of Conduct to further support Brigades as they fulfill their mission in a way that is inclusive and participatory of all people. We do not tolerate discrimiation or harrassment of any kind!</p>
        <a class="button" href="https://github.com/codeforamerica/codeofconduct">Check out our full Code of Conduct</a>
    </div>
</section>

<section class="slab-blue">
    <div class="layout-semibreve layout-centered">
        <h2>Four Common Activities of Brigades</h2>
        <p><strong>Leading & Organizing:</strong> Brigades build teams and provide a space for residents to voice and act on their ideas.</p>
        <p><strong>Opening civic data:</strong> Brigades use open data, user research, and other metrics to visualize trends and support their city.</p>
        <p><strong>Deploying & hacking civic apps:</strong> Brigades offer new ways for cities to use the web and mobile software in government operations and community outreach.</p>
        <p><strong>Advocating for open government:</strong> Brigades teach local governments the benefits of transparency, collaboration, and engagement so cities can grow for, and by the people.</p>
    </div>
</section>

<div class="layout-semibreve layout-centered">
    <h4>Funders</h4>
    <ul class="list-no-bullets layout-grid">
        <li class="layout-minim"><a href="https://www.rallydev.com/about/rally-for-impact"><img src="{{url_for('static', filename='images/rally.jpg')}}" height="100px"></a></li>
    </ul>
</div>

{% endblock %}
