{% extends "base.html" %}

{% block subhero_title %}Find your local Brigade{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">Explore the {{ brigades_total }} official Code for America brigades across the US.</p>
{% endblock %}
{% block description %}
Explore the {{ brigades_total }} official Code for America brigades across the US.
{% endblock %}

{% block page_id %}brigade-list{% endblock %}

{% block content %}
<div class="slab slab--compact">
  <div class="grid-box">
    <div class="width-two-thirds">
      <div class="message">
        <div class="message__icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="message__content">
          No brigade near you? <strong>Start a new brigade!</strong><br>
          <a href="https://cfa.typeform.com/to/uxPQH6" target="_blank">Tell us about yourself and we'll help you get started.</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% for state in brigades_by_state|sort %}
<section id="{{ brigades_by_state[state]['name'] }}" class="brigade-list slab slab--compact">
  <div class="grid-box">
    <div class="width-one-fourth">
      <h3 class="brigade-list__state slab__heading">{{ state }}</h3>
    </div>
    <div class="width-one-half">
      <ul class="list">
      {% for brigade in brigades_by_state[state] %}
        <li>
          <a href="{{ url_for('brigade.brigade', brigadeid=brigade['id']) }}">{{ brigade['name'] }}</a><br>
          <small>{{ brigade['city'] }}</small>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endfor %}

{% endblock %}
