{% extends "base.html" %}
{% block subhero_title %}
Code of Conduct
{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
Code for America believes that anyone attending a Code for America event or participating in our online community should feel safe and be free from harassment.
</p>
<p class="lead-in-text">As such, we expect all attendees to adhere to the Code of Conduct at every Code for America or Code for America Brigade event.
</p>
{% endblock %}
{% block hero_right %}
<div class="message">
  <div class="message__icon">
    <i class="fas fa-info-circle"></i>
  </div>
  <div class="message__content">
    <strong>If you are being harassed, or witness someone else being made uncomfortable, <a href="#reporting">please report a Code of Conduct concern</a>.</strong>
  </div>
</div>
{% endblock %}
{% block in_page_nav %}
<nav>
  <strong>On this page:</strong>
  <a href="#code-of-conduct" class="in-page-nav__link">Code of Conduct</a>
  <a href="#anti-harassment" class="in-page-nav__link">Anti-Harassment Policy</a>
  <a href="#reporting" class="in-page-nav__link">Reporting</a>
  <a href="#slack" class="in-page-nav__link">Slack Policy</a>
</nav>
{% endblock %}

{% block content %}
<section class="slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h2 id="code-of-conduct">Code for America's Code of Conduct</h2>

      <p>The Code for America community expects that Code for America network activities, events, and digital forums:</p>

      <ol>
        <li>Are a safe and respectful environment for all participants.</li>
        <li>Are a place where people are free to fully express their identities.</li>
        <li>Presume the value of others. Everyone’s ideas, skills, and contributions have value.</li>
        <li>Don’t assume everyone has the same context, and encourage questions.</li>
        <li>Find a way for people to be productive with their skills (technical and not) and energy. Use language such as “yes/and”, not “no/but.”</li>
        <li>Encourage members and participants to listen as much as they speak.</li>
        <li>Strive to build tools that are open and free technology for public use. Activities that aim to foster public use, not private gain, are prioritized.</li>
        <li>Prioritize access for and input from those who are traditionally excluded from the civic process.</li>
        <li>Work to ensure that the community is well-represented in the planning, design, and implementation of civic tech. This includes encouraging participation from women, minorities, and traditionally marginalized groups.</li>
        <li>Actively involve community groups and those with subject matter expertise in the decision-making process.</li>
        <li>Ensure that the relationships and conversations between community members, the local government staff and community partners remain respectful, participatory, and productive.</li>
        <li>Provide an environment where people are free from discrimination or harassment.</li>
      </ol>

      <p>Code for America reserves the right to ask anyone in violation of these policies not to participate in Code for America network activities, events, and digital forums.</p>
    </div>
  </div>

  <div class="grid-box">
    <div class="width-seven-twelfths">
      <p>
        <em>
          This policy is based on several other policies, including the Ohio LinuxFest anti-harassment policy, written by Esther Filderman and Beth Lynn Eicher, and the Con Anti-Harassment Project. Mary Gardiner, Valerie Aurora, Sarah Smith, and Donna Benjamin generalized the policies and added supporting material. Many members of LinuxChix, Geek Feminism and other groups contributed to this work.
        </em>
      </p>
    </div>

    <div class="width-one-third shift-one-twelfth">
      <div class="message">
        <div class="message__icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="message__content">
          <strong>Looking to adopt the Code of Conduct for your Brigade?</strong>
          <a href="https://docs.google.com/document/d/1Zg2FDt7awgfCmdcbzMwKHMb1A7KDOhs_z7ibCb3TLLQ/edit" target="_blank">Consult this how-to guide</a>.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slab border-top-slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h2 id="anti-harassment">Code for America's Anti-Harassment Policy</h2>

      <p><em>All Code for America Network activities, events, and digital forums and their staff, presenters, and participants are held to an anti-harassment policy, included below.</em></p>
      <p><em>In addition to governing our own events by this policy, Code for America will only lend our brand and support groups that offer an anti-harassment policy to their attendees.</em></p>

      <p>Code for America is dedicated to providing a harassment-free experience for everyone regardless of gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, or religion. We do not tolerate harassment of staff, presenters, and participants in any form. Sexual language and imagery is not appropriate for any Code for America event or network activity, including talks. Anyone in violation of these policies may expelled from Code for America network activities, events, and digital forums, at the discretion of the event organizer or forum administrator.</p>
      <p>Harassment includes but is not limited to:</p>
      <ul>
        <li>offensive verbal or written comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, religion</li>
        <li>sexual images in public spaces</li>
        <li>deliberate intimidation</li>
        <li>stalking</li>
        <li>following</li>
        <li>harassing photography or recording</li>
        <li>sustained disruption of talks or other events</li>
        <li>inappropriate physical contact</li>
        <li>unwelcome sexual attention</li>
        <li>unwarranted exclusion</li>
        <li>patronizing language or action.</li>
      </ul>
      </p>
      <p>If a participant engages in harassing behavior, the organizers may take any action they deem appropriate, including warning the offender or expulsion from Code for America network activities, events, and digital forums.</p>
      <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the event staff or forum administrator immediately. You can contact them at <a href="mailto:safespace@codeforamerica.org">safespace@codeforamerica.org</a>. Event staff or forum administrators will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event.</p>
      <p>If you cannot reach an event organizer or forum administrator and/or it is an emergency, please call 911 and/or remove yourself from the situation.</p>
      <p>When contacting Code for America about harassment, feel free to use <a href="#reporting">the email template below</a>. Code for America staff acknowledge that we are not always in a position to evaluate a given situation due to the number of events and the fact that our team is not always present. However, we are hopeful that by providing these guidelines we are establishing a community that jointly adheres to these values and can provide an environment that is welcoming to all.</p>
      <p>We value your attendance and hope that by communicating these expectations widely we can all enjoy a harassment-free environment.</p>

      <p>&nbsp;</p>

      <p>
        <em>
          This anti-harassment policy is based on <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy" target="_blank">the example policy</a> from the Geek Feminism wiki, created by the Ada Initiative and other volunteers.
        </em>
      </p>
    </div>
  </div>
</section>

<section class="slab border-top-slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h3 id="reporting">Reporting a Code of Conduct concern</h3>
      <p>Please don’t hesitate to contact us if you have a Code of Conduct concern. You can report a Code of Conduct concern in the following ways:</p>

      <ul>
        <li>Email <a href="mailto:safespace@codeforamerica.org">safespace@codeforamerica.org</a></li>
        <li>Contact <a href="mailto:christopher@codeforamerica.org">Christopher Whitaker</a>, <a href="mailto:veronica@codeforamerica.org">Veronica Young</a>, or <a href="mailto:jmaser@codeforamerica.org">Joselyn Maser</a> by email or on Slack</li>
        <li>DM us on twitter at <a href="https://twitter.com/codeforamerica">@codeforamerica</a></li>
      </ul>
    </div>
  </div>

  <div class="grid-box">
    <div class="width-seven-twelfths">
      <p>Here is an email template you can use:</p>

      <ul>
        <li><strong>To:</strong> <a href="safespace@codeforamerica.org">safespace@codeforamerica.org</a></li>
        <li><strong>Subject:</strong> Safe space alert at (event name)</li>
        <li><strong>Body:</strong> I am writing because of harassment at a Code for America event:<br>
          (NAME, PLACE, DATE OF EVENT).<br>
          You can reach me at (CONTACT INFO). Thank you.
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="slab border-top-slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h2 id="slack">Slack Policy</h2>
      <p>Code for America enforces its Code of Conduct on Slack and all other forums as well.</p>
      <a href="https://docs.google.com/document/d/1xYEfMV7IyKUOly1bOKpeWQCws-5M2kmE2nPc29v9IcI/edit#heading=h.l4wed8ft07kd" target="_blank" class="button button-outline button-linkout">View our Slack policy</a>
    </div>
  </div>
</section>

{% endblock %}
