{% extends "base.html" %}
{% block description %}Events happening across the Code for America Brigade Network{% endblock %}

{% block page_id %}events{% endblock %}

{% block content %}

<header id="intro" class="page-header slab slab-dark-blue">
  <div class="grid-box">
    <h1 class="title">National Events</h1>
    <div class="subtitle">Events happening across the Network</div>
  </div>
</header>

<section class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-half">
      <p class="alert">
        <i class="fas fa-info-circle"></i> <strong>Looking for a brigade event?</strong> <a href="/">Use the map</a> to find your local brigade.
      </p>
    </div>
  </div>
</section>

<section id="key-dates" class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-half">
      <h2 class="section__title">Key Dates</h2>
      <p class="section__subtitle">In 2018, brigades have an opportunity to participate in days of action and to come together at shared events.</p>
      <ul class="list list--no-bullets list--expanded">
        <li>
          <h3>
            <small>March 3, 2018</small> <br>
            <a href="http://opendataday.org/" target="_blank"><strong>Open Data Day</strong> <i class="fas fa-external-link-alt fa-xs"></i></a>
          </h3>
          <p>Many brigades are participating in Open Data Day, an annual celebration of open data all over the world.</p>
          <p><small><strong>Organizer resource:</strong> <a href="https://medium.com/code-for-america/open-data-day-planning-workshop-38ad9f82cab" target="_blank">Getting Ready for Open Data Day 2018</a></small></p>
        </li>
        <li>
          <h3>
            <small>May 30—June 1, 2018</small> <br>
            <a href="https://www.codeforamerica.org/summit" target="_blank"><strong>Code for America Summit</strong> <i class="fas fa-external-link-alt fa-xs"></i></a>
          </h3>
          <p>
            Join us in Oakland, California for three catalytic days with public servants, technologists, entrepreneurs and vendors at the 7<sup>th</sup> Code for America Summit.
          </p>
        </li>
        <li>
          <h3><small>August 11, 2018</small> <br><strong>National Day of Civic Hacking</strong></h3>
          <p>
            This annual event brings together public servants, people with technology skills, and community organizers, to show that government can work in the 21st century if we all build it together.
          </p>
        </li>
        <li>
          <h3><small>October, 2018</small> <br><strong>Brigade Congress</strong></h3>
          <p>
            Brigade Congress is an annual unconference where brigade participants share stories on what has worked, what hasn't, and how we can apply to those lessons to future wins. <br>(More details coming soon!)
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}