{% extends "base.html" %}
{% block title %}Events Calendar{% endblock %}
{% block description %}Events happening across the Code for America Brigade Network{% endblock %}

{% block page_id %}events{% endblock %}

{% block content %}

<header id="intro" class="page-header slab slab-dark-blue">
  <div class="grid-box">
    <h1 class="title">Events</h1>
    <div class="subtitle">Events happening across the Network</div>
  </div>
</header>

<section class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-half">
      <div class="alert">
        <div class="alert__icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="alert__content">
          <strong>Looking for a brigade event?</strong> <a href="/">Use the map</a> to find your local brigade.
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-dates" class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-half">
      <h2 class="section__title">Key Dates</h2>
      <p class="section__subtitle">In 2018, brigades have an opportunity to participate in days of action and to come together at shared events. Check out the upcoming events and add them to your calendars.</p>
      <ul class="list list--no-bullets list--expanded">
        <!-- <li>
          <h3>
            <small>March 3, 2018</small> <br>
            <a href="http://opendataday.org/" target="_blank"><strong>Open Data Day</strong> <i class="fas fa-external-link-alt fa-xs"></i></a>
          </h3>
          <p>Many brigades are participating in Open Data Day, an annual celebration of open data all over the world. It is an opportunity to showcase the benefits of civic technology and encourage the adoption of open data policies in government, business and civil society.</p>
          <p><small><strong>Organizer resource:</strong> <a href="https://medium.com/code-for-america/open-data-day-planning-workshop-38ad9f82cab" target="_blank">Getting Ready for Open Data Day 2018</a></small></p>
        </li> -->
        <li>
          <h3>
            <small>May 30—June 1, 2018</small> <br>
            <a href="https://www.codeforamerica.org/summit" target="_blank"><strong>Code for America Summit</strong> <i class="fas fa-external-link-alt fa-xs"></i></a>
          </h3>
          <p>
            Come with your passion for building 21<sup>st</sup> century government. Leave with the strategies and tactics you need to do it. Join us in Oakland, California for three catalytic days with public servants, technologists, entrepreneurs and vendors at the 7<sup>th</sup> Code for America Summit. 
          </p>
        </li>
        <li>
          <h3><small>August 11, 2018</small> <br><strong>National Day of Civic Hacking</strong></h3>
          <p>
            This annual event brings together public servants, people with technology skills, and community organizers, to show that government can work in the 21<sup>st</sup> century if we all build it together.
          </p>
        </li>
        <li>
          <h3><small>October, 2018</small> <br><strong>Brigade Congress</strong></h3>
          <p>
            This annual event brings together public servants, people with technology skills, and community organizers, to show that government can work in the 21<sup>st</sup> century if we all build it together. (More details coming soon!)

          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}