{% extends "base.html" %}
{% block subhero_title %}
Free Software for Brigades
{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
Code for America is excited to offer the software linked below to help with project development and brigade management.
</p>
{% endblock %}

{% block content %}

<section class="slab slab--compact">
{% if self.software() %}
  <div class="grid-box">
    <div class="width-seven-twelfths">
      {% block software %}{% endblock %}
    </div>

    <div class="width-one-third">
      <p><a href="{{ url_for('.free_software_index') }}">&larr; Back to Free Software</a></p>

      {% block logo %}{% endblock %}
    </div>
  </div>
{% else %}
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>What CfA Offers and how you can access</h2>

      <p>Together, we are more than the sum of our parts. By joining forces with leading tech companies, we can build products with our communities faster, cheaper, and better.</p>

      <p>Code for America is excited to offer the software linked below to help with project development and brigade management.</p>

      <p>Whether it’s getting a quick prototype up for your first user test or releasing an application to thousands of residents, we hope that these tools will help you build better products. If you have any questions, reach out to <a href="mailto:inkinds@codeforamerica.org">inkinds@codeforamerica.org</a>.</p>

      <p>Thanks for everything you do - happy building!</p>
    </div>
  </div>
</section>
<section class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>Cloud Hosting</h2>
    </div>

    <div class="span-four grid-item">
      <a class="card link-card" href="{{ url_for(".free_software_show", software="heroku") }}">
        <div class="card-image-container">
          <img src="{{ asset_url_for('images/software_heroku.png') }}" width="102px" alt="" />
        </div>
        <div class="card-content">
          <p>Heroku is a simple, easy-to-use cloud hosting service which is perfect for small to medium projects.</p>
          <span class="card-link">Learn more</span>
        </div>
      </a>
    </div>

    <div class="span-four grid-item">
      <a class="card link-card" href="{{ url_for(".free_software_show", software="twilio") }}">
        <div class="card-image-container">
          <img src="{{ asset_url_for('images/software_twilio.png') }}" width="200px" />
        </div>
        <div class="card-content">
          <p>Twilio is the easiest way to send SMS messages or handle phone calls for your project.</p>
          <span class="card-link">Learn more</span>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>Communications</h2>

      <div class="span-four grid-item">
        <a class="card link-card" href="{{ url_for(".free_software_show", software="meetup") }}">
          <div class="card-image-container">
            <img src="{{ asset_url_for('images/software_meetup.png') }}" width="200px" />
          </div>
          <div class="card-content">
            <p>Meetup is an online platform for people to find groups like your Brigade.</p>
            <span class="card-link">Learn more</span>
          </div>
        </a>
      </div>

      <div class="span-four grid-item">
        <a class="card link-card" href="{{ url_for(".free_software_show", software="slack") }}">
          <div class="card-image-container">
            <img src="{{ asset_url_for('images/software_slack.png') }}" width="200px" />
          </div>
          <div class="card-content">
            <p>Slack is a group communication tool built around chat.</p>
            <span class="card-link">Learn more</span>
          </div>
        </a>
      </div>

      <div class="span-four grid-item">
        <a class="card link-card" href="{{ url_for(".free_software_show", software="gsuite") }}">
          <div class="card-image-container">
            <img src="{{ asset_url_for('images/software_gsuite.svg') }}" width="200px" />
          </div>
          <div class="card-content">
            <p>G Suite is Google's hosted product featuring Gmail, Google Drive, Groups, and more.</p>
            <span class="card-link">Learn more</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>Mapping Software</h2>

      <div class="span-four grid-item">
        <a class="card link-card" href="{{ url_for(".free_software_show", software="mapbox") }}">
          <div class="card-image-container">
            <img src="{{ asset_url_for('images/software_mapbox.png') }}" width="200px" />
          </div>
          <div class="card-content">
            <p>Mapbox provides easy-to-use, powerful, and customizable mapping products.</p>
            <span class="card-link">Learn more</span>
          </div>
        </a>
      </div>

      <div class="span-four grid-item">
        <a class="card link-card" href="{{ url_for(".free_software_show", software="carto") }}">
          <div class="card-image-container">
            <img src="{{ asset_url_for('images/software_carto.png') }}" width="200px" />
          </div>
          <div class="card-content">
            <p>CARTO helps you easily work with and visualize geospatial data.</p>
            <span class="card-link">Learn more</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="slab slab--compact">
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>Other</h2>

      <div class="span-four grid-item">
        <a class="card link-card" href="{{ url_for(".free_software_show", software="github") }}">
          <div class="card-image-container">
            <img src="{{ asset_url_for('images/software_github.png') }}" width="200px" />
          </div>
          <div class="card-content">
            <p>GitHub offers code hosting and project management tools for open source projects.</p>
            <span class="card-link">Learn more</span>
          </div>
        </a>
      </div>

      <div class="span-four grid-item">
        <a class="card link-card" href="{{ url_for(".free_software_show", software="stae") }}">
          <div class="card-image-container">
            <img src="{{ asset_url_for('images/software_stae.svg') }}" width="200px" />
          </div>
          <div class="card-content">
            <p>Stae is a universal tool for data management and collaboration featuring local data sources in accessible formats.</p>

            <span class="card-link">Learn more</span>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endif %}
</section>

{% endblock %}
