{% extends "base.html" %}

{% block content %}

<section>
  <div class="layout-semibreve">
    {% if self.software() %}
      <a href="/brigade/free-software">&larr; Back to Free Software</a>

      <div class="free-software__logo">
      {% block logo %}{% endblock %}
      </div>

      {% block software %}{% endblock %}
    {% else %}
    <h1>Free Software for Brigades</h1>

    <h2>What CfA Offers and how you can access</h2>

    <p>Changing the world is a community effort, and we’re here to help! Some of the most cutting-edge tech companies have made their products and services available for your Brigade to use for free. These software donations enable you quickly and easily produce innovative apps.</p>

    <p>Below, you’ll find a list of what’s available to your Brigade!</p>

    <ul>
      <li><strong>If you require a code</strong>, email inkinds@codeforamerica.org to request one.</li>
      <li><strong>If you’re a Brigade member</strong>, please also CC your Brigade captain on any email to inkinds@codeforamerica.org.</li>
      <li><strong>If you have any questions</strong>, <a href="mailto:inkinds@codeforamerica.org">send us an email</a> or <a href="http://slack.codeforamerica.org" target="_blank">ping us on Slack</a> (@brigade-info).
      </li>

    <p>Thanks for everything you do - happy building!</p>

    <h2>Cloud Hosting</h2>

    <div class="inkind-card-list">
      <a class="inkind-card" href="/brigade/free-software/heroku">
        <div class="inkind-card__logo">
          <img src="/static/images/software_heroku.png" width="102px" />
        </div>
        <p>Heroku is a simple, easy-to-use cloud hosting service which is perfect for small to medium projects.</p>
        <div class="button">Learn more</div>
      </a>

      <a class="inkind-card" href="/brigade/free-software/aws">
        <div class="inkind-card__logo">
          <img src="/static/images/software_aws.png" width="192px" />
        </div>
        <p>Amazon Web Services offers server hosting and high-powered services to deploy and scale a successful project.</p>
        <div class="button">Learn more</div>
      </a>

      <a class="inkind-card" href="/brigade/free-software/bizspark">
        <div class="inkind-card__logo">
          <img src="/static/images/software_bizspark.jpg" width="200px" />
        </div>
        <p>Microsoft's Bizspark program offers free Microsoft software and credits for their cloud platform, Azure.</p>
        <div class="button">Learn more</div>
      </a>

      <a class="inkind-card" href="/brigade/free-software/twilio">
        <div class="inkind-card__logo">
          <img src="/static/images/software_twilio.png" width="200px" />
        </div>
        <p>Twilio is the easiest way to send SMS messages or handle phone calls for your project.</p>
        <div class="button">Learn more</div>
      </a>
    </div>


    <h2>Communications</h2>

    <div class="inkind-card-list">
      <a class="inkind-card" href="/brigade/free-software/gsuite">
        <div class="inkind-card__logo">
          <img src="/static/images/software_gsuite.svg" width="200px" />
        </div>
        <p>G Suite is Google's hosted product featuring Gmail, Google Drive, Groups, and more.</p>
        <div class="button">Learn more</div>
      </a>

      <a class="inkind-card" href="/brigade/free-software/slack">
        <div class="inkind-card__logo">
          <img src="/static/images/software_slack.png" width="200px" />
        </div>
        <p>Slack is a group communication tool built around chat.</p>
        <div class="button">Learn more</div>
      </a>
    </div>

    <h2>Mapping Software</h2>

    <div class="inkind-card-list">
      <a class="inkind-card" href="/brigade/free-software/carto">
        <div class="inkind-card__logo">
          <img src="/static/images/software_carto.png" width="200px" />
        </div>
        <p>CARTO helps you easily work with and visualize geospatial data.</p>
        <div class="button">Learn more</div>
      </a>
    </div>


    <h2>Other</h2>

    <div class="inkind-card-list">
      <a class="inkind-card" href="/brigade/free-software/github">
        <div class="inkind-card__logo">
          <img src="/static/images/software_github.png" width="200px" />
        </div>
        <p>GitHub offers code hosting and project management tools for open source projects.</p>
        <div class="button">Learn more</div>
      </a>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}
