{% extends "base.html" %}
{% block description %}The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local 
communities.{% endblock %}

{% block page_id %}home{% endblock %}

{% block content %}
  
  <section id="overview">
    <div class="panel panel--red" id="intro-panel">
      <div class="panel__header">
        <img id="logo" src="{{ url_for('static', filename='images/the_brigade.png') }}" />
      </div>
      <div class="panel__body padding-top-none">
        The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21st century, if we all help.
      </div>
    </div>
    <div class="panel" id="map-panel">
      <div class="panel__body">
        <div id="map"></div>
      </div>
      <div class="panel__footer">
        Looking for an organization outside the US? <a href="https://codeforall.org/" target="_blank" class="one-line">Check out the <strong>Code for All</strong> Network</a>
      </div>
    </div>
  </section>
  
  <section id="sponsors">
    <div class="panel">
      <div class="panel__body layout-centered">
        <h4>Funders</h4>
        <ul class="list--inline">
          <li><a href="https://www.rallydev.com/about/rally-for-impact"><img src="{{ url_for('static', filename='images/CAlogo.png') }}" height="60px"></a></li>
          <li><a href="https://knightfoundation.org/" target="_blank"><img src="{{ url_for('static', filename='images/logo_knightfoundation.png') }}" height="60px"></a></li>
        </ul>
      </div>
    </div>    
  </section>

{% endblock %}

{% block js %}
{{ super() }}
<script src='https://api.tiles.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

<script>
  window.Brigade.initializeMap({{ brigades | safe }});
</script>
{% endblock %}
