<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Code for America | Brigade</title>

  <link rel="shortcut icon" type="image/x-icon" href="{{ asset_url_for("images/favicon.ico") }}">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_url_for("images/flag-red.png") }}"/>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <style type="text/css">
    body { margin: 0; }
  </style>
</head>

<body>

  <div id="map"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Turf.js/5.1.5/turf.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />

  <script>
    if ($(window).width() > 480){
      $('#map').css("height", $(window).height() - $(".global-header").height() - 1);
      $('#overlay').css("height", ($(window).height() - $(".global-header").height()));
    }


      // Provide your access token
      L.mapbox.accessToken = 'pk.eyJ1IjoiY29kZWZvcmFtZXJpY2EiLCJhIjoiSTZlTTZTcyJ9.3aSlHLNzvsTwK-CYfZsG_Q';

      // Create a map in the div #map
      var map = L.mapbox.map('map', 'codeforamerica.map-hhckoiuj');

      map.zoomControl.setPosition('topright');

      var latlon = [27, -85], zoom = 2;

      map.setView(latlon, zoom);
      map.featureLayer.setGeoJSON({{ brigades | safe }});

      map.featureLayer.on('click', function(e) {
        var brigadeId = e.layer.feature.properties.name.replace(/\s+/g, '-');
        window.open(brigadeId, "_blank");
      });


      // This uses the HTML5 geolocation API, which is available on
      // most mobile browsers and modern browsers, but not in Internet Explorer
      //
      // See this chart of compatibility for details:
      // http://caniuse.com/#feat=geolocation
      if (!navigator.geolocation) {
        geolocate.innerHTML = 'Geolocation is not available';
      } else {
        geolocate.onclick = function (e) {
          $("#geolocate").addClass("button-progress").text("Finding your local Brigade");
          e.preventDefault();
          e.stopPropagation();
          map.locate();
        };
      }

      // Once we've got a position, zoom and center the map
      // on it, and add a single marker.
      map.on('locationfound', function(e) {
        var my_lnglat = [e.latlng.lng, e.latlng.lat]
        var point = turf.point(my_lnglat);
        var against = turf.featurecollection(brigade_points);
        var nearest = turf.nearest(point,against);
        var distance = turf.distance(point, nearest, "miles");
        if (distance > 200) {
          $("#geolocate").removeClass("button-progress").addClass("button-disabled");
          $(".alert-success").show();
        }
        var brigadeId = nearest.properties.name.replace(/\s+/g, '-');
        window.open(brigadeId, "_self");
      });

      // If the user chooses not to allow their location
      // to be shared, display an error message.
      map.on('locationerror', function() {
        geolocate.innerHTML = 'Position could not be found';
      });

      var brigades = {{ brigades | safe }};
      var brigade_points = []
      $.each(brigades, function(i,brigade){
        brigade_point = turf.point(brigade.geometry.coordinates, brigade.properties);
        brigade_points.push(brigade_point);
      });

    </script>
  </body>
  </html>
