{% extends "base.html" %}

{% block content %}

<div class="slab-red">
  <div class="center">
    <p class="banner">This page is an <a href="https://www.codeforamerica.org/brigade/projects/stages#alpha">Alpha</a>. Help improve it by <a href="https://github.com/codeforamerica/brigade/issues">submitting an issue</a>.</p>
  </div>
</div>

<section>
  <div id="monitor" class="layout-breve layout-centered">

    {% if org_name %}
    <h1>{{org_name}}'s Project Monitor</h1>
    {% else %}
    <h1>The Civic Tech Movement Project Monitor</h1>
    {% endif %}

    <ul id="projects">
      {% for project_row in projects | batch(3) %}
        <div class="row" style="display:flex;">
        {% for project in project_row %}
          <li class="alert-{{project.commit_status}} layout-centered layout-crotchet project">
            <h2> <a href="{{ project.code_url }}">{{ project.name }}</a> </h2>
            <hr />
            {% if project.commit_status == "success" %}
              <span class="icon-thumbs-up">
            {% else %}
              <span class="icon-thumbs-down">
            {% endif %}
               Built {{ project.last_updated | timesince }}</span>
          </li>
        {% endfor %}
        </div>
      {% endfor %}
    </ul>

    <p><a href="https://github.com/codeforamerica/brigade/blob/master/README-Monitor.md">More info</a></p>
  </div>

</section>

{% endblock %}
