{% extends "base.html" %}

{% block content %}

  <section>

    <div class="layout-breve">
      <a name="numbers"></a>
      <h1>Civic Tech Movement Numbers</h1>
    </div>

    <div class="layout-breve">

      <div class="layout-minim">

        <ul class="bricks bricks-4">

          <h2>Organizations</h2>

          <li class="brick">
            <a href="https://www.codeforamerica.org/brigade">
              <h3 class="text-feature">{{ brigades_total }}</h3>
              <p class="text-whisper">Total Brigades</p>
            </a>
          </li>

          <li class="brick">
            <a href="https://www.codeforamerica.org/brigade">
              <h3 class="text-feature">{{ official_brigades_total }}</h3>
              <p class="text-whisper">Official Brigades</p>
            </a>
          </li>

          <li class="brick">
            <a href="http://www.codeforall.org">
              <h3 class="text-feature">{{ cfall_total }}</h3>
              <p class="text-whisper">Code for All Organizations</p>
            </a>
          </li>

      </ul>

    </div>

    <div class="layout-minim">

      <ul class="bricks bricks-3">

        <h2>People</h2>

          <li class="brick">
            <h3 class="text-feature">{{ member_count }}</h3>
            <p class="text-whisper">Total Meetup.com Members</p>
          </li>

          <li class="brick">
            <a href="https://www.codeforamerica.org/brigade/rsvps">
              <h3 class="text-feature">{{ rsvps }}</h3>
              <p class="text-whisper">Total Meetup.com RSVPs</p>
            </a>
          </li>

          <li class="brick">
            <a href="https://www.codeforamerica.org/brigade/attendance">
              <h3 class="text-feature">{{ attendance }}</h3>
              <p class="text-whisper">Event Attendance</p>
            </a>
          </li>

      </ul>

    </div>


  </div>

  <div class="layout-breve">

    <div class="layout-minim">

      <ul class="bricks bricks-4">

        <h2>Projects</h2>

        <li class="brick">
          <a href="https://www.codeforamerica.org/brigade/projects">
            <h3 class="text-feature">{{ projects_total }}</h3>
            <p class="text-whisper">Total Projects</p>
          </a>
        </li>

        <li class="brick">
          <a href="https://www.codeforamerica.org/brigade/projects?type=Brigade">
            <h3 class="text-feature">{{ brigade_projects_total }}</h3>
            <p class="text-whisper">Total Brigade Projects</p>
          </a>
        </li>

        <li class="brick">
          <a href="https://www.codeforamerica.org/brigade/projects?type=Code+for+All">
            <h3 class="text-feature">{{ cfall_projects_total }}</h3>
            <p class="text-whisper">Total Code for All Projects</p>
          </a>
        </li>

        <li class="brick">
          <a href="https://www.codeforamerica.org/brigade/projects?type=Government">
            <h3 class="text-feature">{{ gov_projects_total }}</h3>
            <p class="text-whisper">Total Government Projects</p>
          </a>
        </li>

      </ul>

    </div>

    <div class="layout-minim">

      <ul class="bricks bricks-3">

        <h2>Issues</h2>

        <li class="brick">
          <h3 class="text-feature">{{ issues_total }}</h3>
          <p class="text-whisper">Total Issues</p>
        </li>

        <li class="brick">
          <a href="https://www.codeforamerica.org/geeks/civicissues">
            <h3 class="text-feature">{{ help_wanted_total }}</h3>
            <p class="text-whisper">Total Help Wanted Issues</p>
          </a>
        </li>

        <li class="brick">
          <a href="https://www.codeforamerica.org/geeks/civicissues/analytics">
            <h3 class="text-feature">{{ total_issue_clicks }}</h3>
            <p class="text-whisper">Total Civic Issue Finder Clicks</p>
          </a>
        </li>

      </ul>

    </div>

  </div>

  </section>
{% endblock %}

{% block js %}
  
  <script>
    $("#signupformdiv").hide();
  </script>

{% endblock %}
