{% extends "base.html" %}
{% block title %}Priority Action Areas{% endblock %}
{% block description %}The Brigade Network's Priority Action Areas are areas where we feel we can have outsized impact in 2020 and beyond.{% endblock %}
{% block subhero_title %}Priority Action Areas{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
Brigades across the country will work collectively in these areas to build shared projects, create common resources, and support each other.
</p>
{% endblock %}
{% block hero_right %}
<div class="message">
  <div class="message__icon">
    <i class="fab fa-github"></i>
  </div>
  <div class="message__content">
    <strong>Looking for the Civic Tech Github Project Search?</strong>
    <a href="{{url_for('brigade.projects')}}">Find it here!</a>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="slab">
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>What are Priority Action Areas?</h2>
    </div>

    <div class="width-one-half">
      <p>Priority Action Areas are four project areas where the Network feels we can have outsized impact in 2020. It is where we will focus shared projects and resources via our distributed Brigades across the country, making it possible for projects to impact several places at once. Resources like toolkits, workshops, and project management assistance will be provided to Brigades by the Network Team to support collective work in these four prioritized areas.</p>
    </div>

    <div class="width-one-half" style="text-align:center">
      <p>
        <img src="{{ asset_url_for('images/icon_priority_action_areas.png') }}" style="width: 80px; margin-bottom: 10px;">
      </p>
    </div>
  </div>

  <div class="grid-box">
    <div class="width-one-whole">
      <div class="card-row">
        <a href="{{ url_for("brigade.paa_rapid_response") }}" class="card link-card">
          <div class="card-content">
            <img src="{{ asset_url_for("images/icon_paa_rapid_response.png") }}" class="card-icon" alt="">
            <h4>Rapid Response</h4>
            <p>When disaster strikes, Brigade members spring into action.</p>
            <span class="card-button button button-primary button-small">Get involved</span>
          </div>
        </a>

        <a href="{{ url_for("brigade.paa_record_clearance") }}" class="card link-card">
          <div class="card-content">
            <img src="{{ asset_url_for("images/icon_paa_record_clearance.png") }}" class="card-icon" alt="">
            <h4>Creating Pathways to Record Clearance</h4>
            <p>A criminal record shouldn’t be a life sentence to poverty.</p>
            <span class="card-button button button-primary button-small">Get involved</span>
          </div>
        </a>

        <a href="{{ url_for("brigade.paa_voting_rights") }}" class="card link-card">
          <div class="card-content">
            <img src="{{ asset_url_for("images/icon_paa_voting.png") }}" class="card-icon" alt="">
            <h4>Voting Rights</h4>
            <p>How might we ensure people feel safe and secure in the 2020 election process?</p>
            <span class="card-button button button-primary button-small">Get involved</span>
          </div>
        </a>

        <a href="{{ url_for("brigade.paa_court_notifications") }}" class="card link-card">
          <div class="card-content">
            <img src="{{ asset_url_for("images/icon_paa_court_notifications.png") }}" class="card-icon" alt="">
            <h4>Court Notifications</h4>
            <p>Everyone who interacts with the justice system deserves a fair and modern experience.</p>
            <span class="card-button button button-primary button-small">Get involved</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="slab gray-bg-slab">
  <div class="grid-box">
    <div class="width-seven-twelfths shift-one-third">
      <h2>How were the Priority Action Areas selected?</h2>
    </div>

    <div class="width-one-third" style="text-align:center">
      <p>
        <img src="{{ asset_url_for('images/icon_priority_action_area_decisionmaking.png') }}" style="width: 200px; margin-bottom: 10px;">
      </p>
    </div>

    <div class="width-seven-twelfths">
      <p>Priority Action Areas were created in response to Brigade members and leaders asking for more project support, ideas and tools for projects that have impact, and more cross-brigade collaboration on projects. They were chosen in a process where the Network voiced their feedback on what areas they were most excited to tackle in 2020 via surveys, Discourse, workshops, and conversations. The National Advisory Council then narrowed down this feedback into the top three most popular, and viable topics. After finalizing our selections, the NAC then decided to add Rapid Response as a Priority Action Area to meet the needs of the COVID-19 pandemic and the evident energy around that topic within the Network.</p>

      <p>
        <a href="https://docs.google.com/document/d/1DaJdssXA-rhICRnVDI9K58WGdlnjqQn45PeIYSnwB6U/edit#" target="_blank">
        Through this collaborative process</a>, the four Priority Action Areas that we chose are: Voting Rights, Creating Pathways to Record Clearance, Rapid Response, and Court Notifications.</p>
    </div>
  </div>
</section>

<section class="slab">
  <div class="grid-box">
    <div class="width-one-whole">
      <h2>Get Involved</h2>
    </div>
    <div class="width-seven-twelfths">
      <p>Do you want to get involved? The best place to start is <a href="https://c4a.me/slack">by joining Code for America's Slack workspace</a> and collaborating with the project leaders and partners of each Priority Action Area.</p>
    </div>
  </div>
</section>
{% endblock %}
