{% extends "base.html" %}

{% block content %}


<div class="slab-red">
  <div class="center">
    <p class="banner">This page is an <a href="https://www.codeforamerica.org/brigade/projects/stages#alpha">Alpha</a>. Help improve it by <a href="https://github.com/codeforamerica/brigade/milestones/project%20search">submitting an issue</a>.</p>
  </div>
</div>

  <section id="project-search-section">

    <div class="layout-semibreve">

      {% if brigade %}
        <h1>{{brigade.name}}'s Projects</h1>
      {% elif request.args.get("organization_type", None) %}
        <h1>{{ request.args["organization_type"] }} Projects</h1>
      {% else %}
        <h1>Civic Tech Project Search</h1>
      {% endif %}

      <form id="project-search" action="{{ request.path }}" method="get">
        <p class="field">
          <input id="project-search-bar" type="search" name="q" {% if request.args.get('q') %} value="{{ request.args.get('q') }}" {% endif %} role="search" placeholder="Schools javascript" /><button type="submit" class="button"><i class="icon-search"></i></button>
        </p>
      </form>

      <ul class="list-inline list-no-bullets">
        <h3>Project Stages</h3>
        <li><a href="?q=Official" id="Official" class="button">Official</a></li>
        <li><a href="?q=Beta" id="Beta" class="button">Beta</a></li>
        <li><a href="?q=Alpha" id="Alpha" class="button">Alpha</a></li>
        <li><a href="?q=Experiment" id="Experiment" class="button">Experiment</a></li>
        <small><a href="/brigade/projects/stages">What are these?</a></small>
      </ul>

      <!-- PROJECTS HERE -->
      <div id="projects"></div>

      {% if not projects %}
        <h2>Nothing here yet ... </h2>
      {% else %}
        <p style="float:right;"><a id="more-projects" href="{{next}}{% if request.args.get('q') %}&q={{ request.args.get('q') }}{% endif %}" class="button">More Projects</a></p>
      {% endif %}

    </div> <!-- layout-breve -->
  </section>
{% endblock %}

{% block js %}
<script type="text/babel">

var Projects = React.createClass({
  getInitialState: function(){
    return {
      projects : {{projects | safe}}
    }
  },
  render: function() {
    return (
      <p>
      {this.state.projects.map(function(project){
        return <Project project={project} />;
      })}
      </p>
    )
  }
});


var Project = React.createClass({
  render: function() {
    return(
      <li className="project card">

        <div className="card-head">
        </div>

        <div className="card-body">

          <h3>{this.props.project.name}</h3>
          <p>{this.props.project.description}</p>

          {this.props.project.link_url ? (
              <a href={this.props.project.link_url} className="button-bold">View the project</a>
            ) : null}

          {this.props.project.code_url ? (
              <a href={this.props.project.code_url} className="button-bold">Contribute on Github</a>
            ) : null}

        </div>
      </li>
    );
  }
});

// Do the thing
ReactDOM.render(
  <Projects />,
  document.getElementById('projects')
);

</script>

<script>
  {% if request.args.get('q') %}
  ga('send', 'event', 'Project Search', 'search', "{{ request.args.get('q') }}", 1 );
  {% endif %}
</script>

{% endblock %}
