{% extends "base.html" %}

{% block content %}

<div class="slab-red">
  <div class="center">
    <p class="banner">This page is an <a href="https://www.codeforamerica.org/brigade/projects/stages#alpha">Alpha</a>. Help improve it by <a href="https://github.com/codeforamerica/brigade/milestones/project%20search">submitting an issue</a>.</p>
  </div>
</div>

  <div class="layout-semibreve">

    <h1 id="project-search-h1">Civic Tech Project Search</h1>
    <p>Search across thousands of Brigade and Code for All projects.</p>

    <iframe id="widget" src="/brigade/projects/embed" height="3000px" width="100%" frameborder="0" onLoad="resize()"></iframe>

  </div>
  </section>
{% endblock %}

{% block js %}
<script>
    // Resize iframe to fit content
    function resize()
    {
        var widget_iframe = document.getElementById('widget'),
        issues_document = widget_iframe.contentWindow.document;

        if(issues_document)
        {
            widget_iframe.height = issues_document.body.scrollHeight + "px";
        }
    }
</script>
{% endblock %}