{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block description %}
  {% if brigade %}
    {{ brigade.name }} is currently working on {{ projects | length }} projects including {{ projects[0:3] | map(attribute='name') | join_list }}
  {% else %}
    The Code for America Brigade network is currently working on {{ projects | length }} projects.
  {% endif %}
{% endblock %}


{% block content %}

  <section id="project-search-section">

    <div class="layout-semibreve">

      {% if brigade %}
        <h1>{{brigade.name}}'s Projects</h1>
      {% else %}
        <h1 id="project-search-h1">Civic Tech Project Search</h1>
        <p>Search across thousands of civic technology projects.</p>
      {% endif %}

      <form id="project-search" action="{{ request.path }}" method="get">
        <p class="field">
          <input id="project-search-bar" type="search" name="q" {% if request.args.get('q') %} value="{{ request.args.get('q') }}" {% endif %} role="search" placeholder="Schools javascript" /><button type="submit" class="button"><i class="icon-search"></i></button>
        </p>

      </form>

      <ul id="projects" class="list-no-bullets">
      {% for project in projects %}
        <li class="project card">

          <div class="card-head">
          </div>

          <div class="card-body">

            <h3>{{project.name}}</h3>

            {% if project.description %}
              <p>{{project.description}}</p>
            {% endif %}

            {% if not brigade %}
              <p><small>Used by </small><a href="/brigade/{{ project.organization.id }}/projects">{{ project.organization.name }}</a></p>
            {% endif %}

            {% if project.github_details %}
              {% if project.github_details.contributors %}
                {% for i in range(5) %}
                  {% if project.github_details.contributors[i] %}
                    <a href="{{ project.github_details.contributors[i].html_url }}">
                      <img height="40" width="40" src="{{ project.github_details.contributors[i].avatar_url }}&s=40" style="border-radius: 5px;"/>
                    </a>
                  {% endif %}
                {% endfor %}

                {% set contributors_count = project.github_details.contributors | length %}
                {% if contributors_count > 5 %}
                  <small> and {{ contributors_count - 5 }} more</small>
                {% endif %}

              {% endif %}
            {% endif %}

            <p>
            {% if project.link_url %}
              <a href="{{project.link_url}}" class="button-bold">View the project</a>
            {% endif %}
            {% if project.code_url %}
              <a href="{{project.code_url}}" class="button-bold">Contribute on Github</a>
            {% endif %}
            </p>

            <small>

            <p>
            {% if project.languages %}
            {% set comma = joiner(",") %}
              Written in
              {% for lang in project.languages %}{{ comma() }} <a href="projects?q={{ lang }}">{{ lang }}</a>{% endfor %}
            </p>
            {% endif %}

            {% if project.tags %}
            {% set comma = joiner(",") %}
            <p>
              Tagged with
              {% for tag in project.tags %}{{ comma() }} <a href="projects?q={{ tag }}">{{ tag }}</a>{% endfor %}
            {% endif %}
            </p>

            {% if project.last_updated %}
              <p>Updated {{project.last_updated | timesince}}</p>
            {% endif %}

            </small>

          </div> <!-- card-body -->

        </li> <!-- project card -->

      {% endfor %}

      </ul> <!-- projects -->

      {% if not projects %}
        <h2>Nothing here yet ... </h2>
      {% else %}
        <p style="float:right;"><a id="more-projects" href="{{next}}{% if request.args.get('status') %}&status={{ request.args.get('status') }}{% endif %}{% if request.args.get('q') %}&q={{ request.args.get('q') }}{% endif %}" class="button">More Projects</a></p>
      {% endif %}

    </div> <!-- layout-breve -->
  </section>
{% endblock %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

  <script>
    window.Brigade.initializeProjects('#projects',
      {{ request.args.get('q') | tojson }},
      {{ request.args.get('status') | tojson }}
    );
  </script>
{% endblock %}
