{% extends "base.html" %}

{% block content %}

<div class="slab-red">
  <div class="center">
    <p class="banner">This page is an <a href="https://www.codeforamerica.org/brigade/projects/stages#experiment">Experiment</a>. Help improve it by <a href="https://github.com/codeforamerica/brigade/">submitting an issue</a>.</p>
  </div>
</div>

<section>
  <div id="monitor" name="monitor" class="layout-breve layout-centered">

    {% if org_name %}
    <h1>{{org_name}}'s Project Monitor</h1>
    {% else %}
    <h1>The Civic Tech Movement Project Monitor</h1>
    {% endif %}

    <p>Using shame to encourage volunteers write passing tests. Put this up on a big screen during your hack nights.</p>

    <ul id="projects">
    </ul>

  </div>
</section>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

<script>

$( document ).ready(function() {

  function getProject(project){

    if (project.code_url) {

      if (project.code_url.indexOf('github.com') > -1) {

        repo = project.code_url.replace("https://github.com/","").replace("http://github.com/","");

        status_url = 'https://api.github.com/repos/' + repo + '/commits/master/statuses'

        $.getJSON(status_url+'?access_token={{access_token}}', function(response){

            if (response[0]) {
              status = response[0].state
              if (response[0].target_url) {
                project.travis_url = response[0].target_url
              } else {
                project.travis_url = null
              }

              project.when = moment(new Date(project.last_updated)).fromNow()

              if (status === 'success'){
                project.state = "alert-success"
              } else if (status === 'failure') {
                project.state = "alert-failure"
              } else {
                project.state = "alert-failure"
              }

              html = '<li class="'+project.state+' layout-centered layout-crotchet"> \
                <div class="project"> \
                  <h2> <a href="'+project.code_url+'">'+project.name+'</a> </h2> \
                  <hr />'
              if (project.travis_url) {
                html += '<a class="icon-tools" href="'+project.travis_url+'"> Built '+project.when+'</a>'
              }
              html += '</div> \
                    </li>'

              $("#projects").append(html);

            }

        }).fail(function(){
          console.log("No tests found for " + project.name);
        });

      }

    }

  }


  var projects = {{ projects | tojson }};

  $.each(projects, function(i, project){

    getProject(project);

  });

});

</script>

{% endblock %}
