{% extends "base.html" %}
{% block title %}Organize a Brigade{% endblock %}
{% block description %}These resources will help you build a sustainable civic hacking group in your community.{% endblock %}
{% block hero_title %}Resources{% endblock %}
{% block hero_description %}Organizing a Brigade? We've got you covered.{% endblock %}

{% block content %}
<section class="slab">
  <div class="grid-box">
    <div class="width-one-whole">
      <p>Over the past five years, our community has learned a lot about what works when organizing a Brigade. We’re excited to help you build a sustainable civic hacking group in your community.</p>
      <p>Here are some resources to help you get started:</p>
    </div>
  </div>

  <div class="grid-box">
    <div class="width-one-whole">
      <div class="span-four grid-item">
        <a href="https://docs.google.com/document/d/1G_v53fGyHqdZNmXkDxqhqkzT7q2TBZ9Xmh9JkWtFQ8Y/edit" class="card link-card" target="_blank" title="Playbook Google Doc view">
          <div class="card-image--icon">
            <i class="fas fa-tasks"></i>
          </div>
          <div class="card-content">
            <h4>Organizer’s Playbook</h4>
            <p>The Playbook gives practical advice and real examples on starting and running a sustainable Brigade.</p>
            <p><small>It includes: guidance on hosting hack nights, building a core team, and practicing user-centered design.</small></p>

            <div class="card-link">View Playbook <i class="fas fa-external-link-alt"></i></div>
          </div>
        </a>
      </div>

      <div class="span-four grid-item">
        <a href="https://docs.google.com/document/d/16CL9TdmWV0hDY6c85PwtzUcu1VjeSeiDFD2CbtLKf7s/edit?usp=sharing" class="card link-card" target="_blank" title="Handbook Google Doc view">
          <div class="card-image--icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="card-content">
            <h4>Organizer’s Handbook</h4>
            <p>The Handbook points to the resources that CfA offers Brigades and how to take advantage of them.</p>
            <p><small>It includes: how to get set up on Meetup, how to use Expensify, and information about the National Advisory Council (NAC).</small></p>
            <div class="card-link">View Handbook <i class="fas fa-external-link-alt"></i></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="grid-box">
    <div class="width-one-whole">
      <div class="span-four grid-item">
        <a href="{{ url_for('.free_software_index') }}" class="card link-card">
          <div class="card-image--icon">
            <i class="fas fa-laptop"></i>
          </div>
          <div class="card-content">
            <h4>Software for Brigades</h4>
            <p>Learn about the software that vendors have donated for Brigades to use.</p>
            <div class="card-link">Explore Software</div>
          </div>
        </a>
      </div>

      <div class="span-four grid-item">
        <a href="http://c4a.me/brigades" class="card link-card" target="_blank">
          <div class="card-image--icon">
            <i class="far fa-address-book"></i>
          </div>
          <div class="card-content">
            <h4>Brigade Contact Directory</h4>
            <p>Want to reach out to a particular Brigade? Use the Brigade Directory to find their contact details.</p>
            <div class="card-link">View Directory <i class="fas fa-external-link-alt"></i></div>
          </div>
        </a>
      </div>

      <div class="span-four grid-item">
        <a href="{{ url_for('.resources_videos') }}" class="card link-card">
          <div class="card-image--icon">
            <i class="fas fa-video"></i>
          </div>
          <div class="card-content">
            <h4>Workshop and Event Videos</h4>
            <p>Watch recordings from events and workshops to learn from other brigade members.</p>
            <div class="card-link">Watch Videos</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="grid-box">
    <div class="width-one-whole">
      <p>Notice a resource that's missing? Let us know at <a href="maitlo:brigade-info@codeforamerica.org">brigade-info@codeforamerica.org</a></p>
      <p>New to organizing? <a href="https://cfa.typeform.com/to/uxPQH6" target="_blank" title="New-to-organizing form">Tell us about yourself</a> and we'll get in touch to help you get started.</p>
    </div>
  </div>

</section>

{% endblock %}
