{% extends "base.html" %}

{% block content %}

<section>
  <div class="layout-semibreve">
    <h1>Website Style Guide</h1>
  </div>
</section>

<section>
  <div class="layout-semibreve">
    <h2>Typography</h2>

    <h1>Heading Level 1</h1>
    <h2>Heading Level 2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Heading Level 5</h5>
  </div>

  <div class="layout-semibreve">
    <h2>Cards</h2>
  </div>

  <div class="layout-semibreve">
    <h3>Card</h3>
    <div class="layout-minim">
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-semibreve">
    <h3>Card with action</h3>
    <div class="layout-minim">
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
        <div class="card__action">
          <a href="#" class="button">Card Action Button</a>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-semibreve">
    <h3>Card with header</h3>
    <div class="layout-minim">
      <div class="card">
        <div class="card__header">
          Header text
        </div>
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-semibreve">
    <h3>Card with footer</h3>
    <div class="layout-minim">
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
        <div class="card__footer">
          Footer text
        </div>
      </div>
    </div>
  </div>

  <div class="layout-semibreve">
    <h3>Card with icon</h3>
    <div class="layout-minim">
      <div class="card">
        <div class="card__icon">
          <i class="fas fa-laptop"></i>
        </div>
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-semibreve">
    <h3>Variant: card--horizontal</h3>
    
    <div class="layout-breve">
      <div class="card card--horizontal">
        <div class="card__header">
          Header text
        </div>
        <div class="card__body">
          <div class="card__aside">
            <div class="card__icon">
              <i class="fas fa-laptop"></i>
            </div>
          </div>
          <div class="card__content">
            <h2 class="card__title">Card title</h2>
            <p>
              The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
            </p>
            <div class="card__action">
              <a href="#" class="button">Card action</a>
            </div>
          </div>
        </div>
        <div class="card__footer">
          Footer text
        </div>
      </div>
    </div>

    <div class="layout-breve">
      <div class="card card--horizontal">
        <div class="card__header">
          Header text
        </div>
        <div class="card__body">
          <div class="card__content">
            <h2 class="card__title">Card title</h2>
            <p>
              The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
            </p>
            <div class="card__action">
              <a href="#" class="button">Card action</a>
            </div>
          </div>
          <div class="card__aside">
            <img src="{{ asset_url_for('images/8062-TS-0005.jpg') }}">
          </div>
        </div>
        <div class="card__footer">
          Footer text
        </div>
      </div>
    </div>

    <h3>Variant: card--multimedia</h3>
    <p>Multimedia cards prominently feature a picture or video above the Card's title.</p>

    <div class="layout-breve">
      <div class="grid-box">
        <div class="width-one-third">
          <div class="card card--multimedia">
            <iframe width="100%" height="240" src="https://www.youtube-nocookie.com/embed/qid8YLqayIM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>

            <div class="card__body">
              <h2 class="card--multimedia__title">
                <a href="#">Media title</a>
              </h2>
              <p class="card--multimedia__metadata">May 14, 2018</p>
              <p></p>

            </div>
            <div class="card__footer">
              Footer text
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="layout-semibreve">
    <h2>Card row</h2>
  </div>

  <div class="layout-semibreve">
    <div class="card-row">
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
        <div class="card__action">
          <a href="#" class="button">Card Action Button</a>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. 
          </p>
        </div>
        <div class="card__action">
          <a href="#" class="button">Card Action Button</a>
        </div>
      </div>
      <div class="card">
        <div class="card__body">
          <h2 class="card__title">Card title</h2>
          <p>
            The Code for America Brigade Network is a national alliance of community organizers, developers, and designers that are putting technology to work in service of our local communities. We believe that government can work, for the people, by the people, in the 21<sup>st</sup> century, if we all help. 
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
</section>

{% endblock %}
