{% extends "base.html" %}

{% block content %}

<section>
  <div class="layout-semibreve">
    <h1>Code for America's In-Kind Donations</h1>

    <h2>What CfA Offers and how you can access</h2>

    <p>Welcome to the largest national volunteer alliance of community organizers, developers, and designers working together to change our world! We’re so excited that you’ve chosen to be part of this volunteer network and we’re here to help.</p>

    <p>Changing the world is a community effort, and we’re excited to be able to offer support! Some of the most cutting-edge tech companies have made their products and services available for your Brigade to use for free. These in-kind contributors enable you quickly and easily produce innovative apps. These sponsors are excited about the potential for use by you - a high-profile, high-volume user group - and for their tech to be introduced to cities as we shape the future of the government IT industry.</p>

    <p>Below, you’ll find a list of what’s available to your Brigade! If you require a code, email inkinds@codeforamerica.org to request one. If you’re a Brigade member, please also CC Christopher Whitaker on that email. If you’ve got any questions about anything at any time, shoot us an email or ping us on Slack.</p>

    <p>Thanks for everything you do - happy building!</p>

    <h3>Cloud Hosting</h3>

    <p><b>Heroku</b></p>
    <p>Heroku is a simple, easy-to-use cloud hosting service! We’re delighted to be able to offer access to our Brigades for giving access on a case by case basis for non-staff members! How to access? Please email us at inkinds@codeforamerica.org to get yourself up and running.</p>

    <p><b>Microsoft Bizspark / Azure</b></p>
    <p>Through Azure, your Brigade will get 12 months of the following products: BizSpark, Microsoft Office, Microsoft Developer Network, and Microsoft PowerBI. How to access? Request the code from inkinds@codeforamerica.org and follow these <a href="https://drive.google.com/file/d/0B3PbZqwhK6atRnBLMUJCWDBkb1hKVVVmOFJibXZ6VzJ0alk0/view">instructions!</a></p>

    <h3>Communications</h3>
    <p><b>Slack</b></p>
    <p>Got questions about Slack? Please ping/email Christopher Whitaker! If you need to invite somebody to Slack, have them fill out this <a href="https://cfa.typeform.com/to/RfZuFF">form.</a></p>

    <h3>Mapping Software</h3>
    <p><b>CARTO</b></p>
    <p>Carto helps you visualize and work with GIS data! When you sign up, you get 250MB of space. With an upgraded account, your data is private and your space increases. How to access? Send an email to Tyler Bird (tbird@carto.com) and CC inkinds@codeforamerica.org  requesting an increase in your MB/GB usage, with a description of the project(s) you’re working on and which CfA brigade you belong to.  If you don’t get a response within 48hrs, ping Chi Offomah and Christopher Whitaker.</p>

    <h3>Other</h3>
    <p><b>GitHub</b></p>
    <p>CfA has access to unlimited private repositories for staff. We can create a private repository for any brigade member who requests it.How to access? Email us (inkinds@codeforamerica.org).</p>

  </div>



</section>

{% endblock %}
