<div class="row">
  <div class="span12">

    <h2>Signing up to a join a Brigade!</h2>
    <p>Tell us a little bit about yourself and we'll get you connected with your local brigade</p>
  </div>
</div>
