<div class="row">
  <div class="span12">

    <h2>Awesome, thanks for telling us you're interested in a Brigade in your area.</h2>
    <p>Tell us a little bit about yourself and your location, and when there is more activity in your area we will notify you</p>
  </div>
</div>
