<div class="row">
  <div class="span10">
    <h1>Get started by organizing a Brigade</h1>

    <p>Around the world, local volunteers like you are organizing groups of civic-minded technologists, designers, policy wonks, data scientists, and interested citizens to code for their communities. These local Brigade chapters, in collaboration with their local governments, are using technology to help their communities work better.</p>

    <p>As an organizer, you will be responsible for:</p>
    <ul class="pages">
      <li>Organizing a hack night that meets at least once a month</li>
      <li>Fostering a relationship with a local government partner</li>
    </ul>


    <p>And you won’t be going it alone! We’ve created the <a href="/tools">Brigade Toolkit</a> to help you get started. It includes guides such as “How to Organize a Hack Night” and “How to Collaborate with Government.”</p>

    <p>You’ll also have access to targeted trainings from Code for America and  join an international network where you can share stories and learn from other organizers.</p>
  </div>
</div>
