{% extends "base.html" %}
{% block subhero_title %}
Meet the Candidates for the 2019 National Advisory Council
{% endblock %}
{% block subhero_description %}
<p class="lead-in-text">
Voting for five at-large seats on the National Advisory Council begins on
<strong>Monday, February 11, 2019</strong>
</p>
{% endblock %}

{% block content %}
<div class="slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h2>Overview</h2>
    </div>
  </div>
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <p>This year for the <a href="{{ url_for('.national_advisory_council') }}">National Advisory Council</a> election, Brigade members will vote on five at-large candidates for a two year term on the National Advisory Council.</p>

      <p>The National Advisory Council helps guide Code for America’s volunteer program. All candidates were asked to answer four free-response questions. Learn about the people running for NAC through their answers below.</p>
    </div>
    
    <div class="width-one-third shift-one-twelfth">
      <div class="message">
        <div class="message__icon"><i class="fas fa-info-circle"></i></div>
        <div class="message__content">
          <a href="https://codeforamerica.zoom.us/webinar/register/WN_Q-WokwXuSgSljkcmGmnNzA" target="_blank">
            <strong>Register now for the Candidate Forum</strong></a>
            to meet the candidates.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="slab">
  <div class="grid-box">
    <div class="width-seven-twelfths" id="candidates">
      <h2>Candidates for National Advisory Council</h2>

      <ul>
      {% for candidate in candidates %}
      <li><strong><a href="#{{ candidate['Website Slug'] }}">{{ candidate['Name'] }}</a></strong> — {{ candidate['Which Brigade are you a part of?'] }}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% for candidate in candidates %}
<div class="slab">
  <div class="grid-box">
    <div class="width-seven-twelfths">
      <h3 id="{{ candidate['Website Slug'] }}">{{ candidate['Name'] }}</h3>
      <p>{{ candidate['Which Brigade are you a part of?'] }}</p>
      <p>
        {{ candidate['Bio'] }}
      </p>

      <h5>The civic tech community is growing up, and I'll help it continue to mature by...</h5>
      <p >{{ candidate["The civic tech community is growing up, and I'll help it continue to mature by..."] }}</p>

      <h5>What do you see as a key problem that the NAC should help the Network solve in the next year?</h5>
      <p>{{ candidate['What do you see as a key problem that the NAC should help the Network solve in the next year?'] }}</p>

      <h5>How will you balance your work with your local Brigade with serving on the National Advisory Council?</h5>
      <p>{{ candidate['How will you balance your work with your local Brigade with serving on the National Advisory Council? '] }}</p>

      <h5>How can the NAC and the Network team support your efforts to make your brigade more diverse and inclusive? Can you speak to what work you've already done in this area?</h5>
      <p>{{ candidate['How can the NAC and the Network team support your efforts to make your brigade more diverse and inclusive? Can you speak to what work you\'ve already done in this area?'] }}</p>
    </div>

    <div class="width-one-third shift-one-twelfth">
      <a href="#candidates" class="button button-primary">Back to top <i class="fas fa-arrow-up"></i></a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
