<footer>
  <div class="content">
    <p>
      Copyright &copy; <%= Date.today.year %> Code for America |
      <%= mail_to "brigade-info@codeforamerica.org", "Contact Us" %>
    </p>
    <% if can? :create, Challenge %>
      <div id='challenge_content'>
      </div>
    <% end %>
  </div>
</footer>
