<footer>
  <div class="content">
    <p>Copyright &copy; 2012 Code for America</p>
    <div id='challenge_content'>
      Can't find what you are looking for?
      <%= link_to 'Submit a challenge', new_challenge_path  %>
    </div>
  </div>
</footer>
