<footer>
  <div class="content">
    <p>Copyright &copy; <%= Date.today.year %> Code for America</p>
    <% if can? :create, Challenge %>
      <div id='challenge_content'>
        Can't find what you are looking for?
        <%= link_to 'Submit a challenge', new_challenge_path  %>
      </div>
    <% end %>
  </div>
</footer>
