<div class='modal fade span5', id='add_location_container'>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h2>Add Location</h2>

    <%= simple_form_for @location, remote: true do |location_form| %>
      <%= location_form.input :name %>
      <%= location_form.button :submit %>
    <% end %>
  </div>
</div>
