<header id="top-deck">
  <div class="content">
    <div class="logo"></div>
    <nav class="primary">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Applications', applications_path %></li>
        <li><%= link_to 'Cities', deployed_applications_path(filter_by: 'locations') %></li>
        <li>People</li>
        <li>About</li>
      </ul>
    </nav>
    <nav class="admin">
      <ul>
        <%= display_session_links %>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</header>
