<header id="top-deck">
  <div class="content">
    <div class="logo"></div>
    <nav class="primary">
      <ul>
        <li>Home</li>
        <li>Applications</li>
        <li>Cities</li>
        <li>People</li>
        <li>About</li>
      </ul>
    </nav>
    <nav class="admin">
      <ul>
        <li>Sign In</li>
        <li>Sign Up</li>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</header>