<div id="hacking-form">
  <%= form_tag find_locations_path, id: 'hacking_form' do %>
    <h1>Let's make
        <span class="wordbox">
          <%= text_field_tag :location, nil, id: 'location', placeholder: 'Norfolk, VA', autocomplete: 'off', data: { autocomplete_source: Location.names } %>
      </span> even  better.
    </h1>
  <%end%>

  <!--<div class="stars">
    ***
  </div>-->

  <h3><span class="stars">*</span>  The Brigade helps you connect with your community to make your city even better with awesome civic apps.  <span class="stars">*</span></h3>

</div>


