<div id="map">
  <h3>Sign up to start a local</br> brigade in your city.</h3>
  <h1>Hack your city!</h1>
  <%= image_tag('map.png') %>
</div>

<div class="sidebar">
  <h3>Sign up to start a local</br> brigade in your city.</h3>
  <h1>Don't see your city?</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <form action="index_submit" method="get" accept-charset="utf-8">
    <label for="name">Full Name</label>
    <input type="text" name="name" placeholder="Your Name">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Your Email">
    <input type="submit" value="Get Started">
    <div class="clear"></div>
  </form>
</div>
