<%= form_tag find_locations_path, id: 'hacking_form' do %>
  <%= text_field_tag :location, nil, placeholder: 'I want to start hacking in:', autocomplete: 'off', data: { autocomplete_source: Location.names } %>
  <%= submit_tag 'Let\'s go!' %>
<%end%>

<div id="map">
  <h3>Sign up to start a local</br> brigade in your city.</h3>
  <h1>Hack your city!</h1>
  <%= image_tag('map.png') %>
</div>

<div class="sidebar">
  <h3>Sign up to start a local</br> brigade in your city.</h3>
  <h1>Don't see your city?</h1>

  <form action="index_submit" method="get" accept-charset="utf-8">
    <label for="name">Full Name</label>
    <input type="text" name="name" placeholder="Your Name">
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Your Email">
    <input type="submit" value="Get Started">
    <div class="clear"></div>
  </form>
</div>
