<section>
  <div class="content homepage">
    <h2><em>Code a difference.</em> Use civic tech to make your community better.</h2>
  </div>
  <div class="map-container">
    <h2 >Join us in a city near you!</h2>
    <div id="map" class="homepage"></div>
    <div class="start-your-own">
      <h2>Don't see your city?</h2>
      <a href="/organize"><div class="btn btn-primary">Organize your own group</div></a><br />
      <a href="/notify"> No thanks, but keep me in the loop.</a> 
    </div>
  </div>

</section>
<section>
  <div class="content">

    <h2>The Brigade is one of the programs that Code for America offers.
    <br/>Check out more at <a href="http://codeforamerica.org">codeforamerica.org</a></h2>
  </div>
</section>
<%= javascript_include_tag 'map' %>
