<div id="hacking-form">
  <%= form_tag find_locations_path, id: 'hacking_form' do %>
    <h1>I want to start hacking in
        <span class="wordbox">
          <%= text_field_tag :location, nil, id: 'location', placeholder: 'Norfolk, VA', autocomplete: 'off', data: { autocomplete_source: Location.names } %>
      </span>.
    </h1>
  <%end%>

  <div class="stars">
    ***
  </div>

  <h3>Code <span class="amp">for</span> America Brigades organize civic hackers to deploy useful, open-source apps in their very own communities. Whether you join a brigade or start your own, help on an existing app or deploy a new one—you're helping to change your community for the better through software. Start now.</h3>

</div>


