<section>
  <div class="content homepage">
    <h2>The Code for America Brigade is how local residents and cities are working together. Using technology to make their cities better and more connected.</h2>
  </div>
  <div class="map-container">
    <h2 >Join us in a city near you!</h2>
    <div id="map" class="homepage"></div>
    <div class="start-your-own">
      <h2>Don't see your city?</h2>
      <a href="/organize"><div class="btn btn-primary">Organize your own group</div></a>
      <a href="/notify"><div class="btn btn-primary">Notify me of local activity</div></a>
    </div>
  </div>

</section>
<section>
  <div class="content">

    <h2>The Brigade is one of the progams that Code for America offers.
    <br/>Check out more at <a href="http://codeforamerica.org">codeforamerica.org</a></h2>
  </div>
</section>
<%= javascript_include_tag 'map' %>
