<div id="hacking-form">
  <%= form_tag find_locations_path, id: 'hacking_form' do %>
    <h1>Let's make
      <span class="wordbox">
          <%= text_field_tag :location, nil, id: 'location', placeholder: 'Norfolk, VA', autocomplete: 'off', data: { autocomplete_source: Location.names } %>
      </span>
      even better.
    <span class ="go_button">
      <%= submit_tag 'GO', :class => 'button-go'%>
      </span>
    </h1>
  <%end%>

<!--
  <div class="stars">
    ***
  </div>
-->
  <div class="tagline">
    <h3><span class="stars">*</span>The Brigade helps you connect with your community to make your city even better with awesome civic apps.<span class="stars">*</span></h3>
  </div>
</div>

<!-- homepage map -->
<div class='map', id='map' style="width: 920px; height: 300px; padding:10px;"></div>
<div class='hidden' id='locations'><%= Location.all.each(&:geocode).uniq.map {|l| {icon_link: location_deployed_applications_url(l)}.merge(l.attributes.select{|k,v| ['latitude', 'longitude', 'name'].include?(k)}).to_json } %></div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAU73pt7g1lj1KfSffmFgWfKHcbn_xJQyE&sensor=true"></script>
<script type='text/javascript'>
  var map;
  var markers = [];
  var latlons = [];

  function initialize_map() {
    var myOptions = {
      center: new google.maps.LatLng(39.5, -98.35),
      zoom: 4,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
  }


  initialize_map();

  var locations = $.parseJSON($('#locations').text())
  $.each(locations, function(index, value){
    value = $.parseJSON(value)
    latlons[index] = new google.maps.LatLng(value.latitude, value.longitude);
    markers[index] = new google.maps.Marker({ position: latlons[index], title: value.name, url: value.icon_link });
    google.maps.event.addListener(markers[index], 'click', function() {
        window.location.href = markers[index].url;
    });
    markers[index].setMap(map)
  })

  var latlngbounds = new google.maps.LatLngBounds( );
  for ( var i = 0; i < latlons.length; i++ )
  {
      latlngbounds.extend( latlons[ i ] );
  }
  map.fitBounds( latlngbounds );
</script>




