<h2>Welcome new Brigade member!</h2>

<p>Thanks for signing up for [Brigade Name]. Your local leader will be in touch soon.</p>

<p>In the meantime, join [Brigade Name]’s Meetup and check out their upcoming events:</p>

<ul>
  <li>[Meetup link]</li>
  <li>[Group URL]</li>
</ul>

<p>Thanks again and see you soon.</p>

