<h2>Welcome! Thanks for signing up.</h2>


<p>Thanks for signing up to organize in your community. We're hosting a Google Hangout on [DATE] to outline next steps for organizers around the world. We hope you will join. </p>

<p>RSVP for more information on how to join: [LINK]</p>

<p>In the meantime, we've put together some materials for you to start looking through. These are the essential steps in getting started in your area: </p>

<p>[LINK> to materials for organizers]</p>

<p>Thanks again and see you soon.</p>
