<h2>Welcome! Thanks for signing up.</h2>

<p>Thanks for signing up to organize in your community. We are hosting three online training sessions to outline next steps for organizers around the world. We hope you will join. </p>

<h3>RSVP for more information on how to join:</h3>
<ul>
  <li>Tuesday, 10 Decmeber 2013 from 1:00 PM to 2:00 PM, EST / 10:00 AM to 11:00 AM PST.  <a href="https://www.eventbrite.com/e/cfa-brigade-organizers-introduction-tickets-9213779663">RSVP</a></li>
</ul>

<p><em>Note:</em> Content in all three Hangouts will be the same. We’re having three sessions to accommodate all time zones.</p>

<p>In the meantime, we have put together some materials for you to start looking through. These are the essential steps in getting started in your area: </p>

<p><b><a href="http://brigade.codeforamerica.org/tools">http://brigade.codeforamerica.org/tools</a></b></p>

<p>Thanks again and see you soon.</p>

