<h2>Welcome!</h2>


<p>Okay, we'll keep you posted and let you know if things start picking up in your area. </p>

<p>In the meantime, we’ll keep in touch about opportunities to participate in activities at the national level.</p>

<p>Remember, if you change your mind, you can always come back to sign up to be an organizer and take a more proactive role. <b><a href="http://brigade.codeforamerica.org/tools">See the toolkit</a></b></p>

<p>Good luck and we'll be in touch ASAP.</p>
