<p><b>Thanks for your interest in a Code for America Brigade in your community.</b></p>
<p>In the meantime, we’ll keep in touch about opportunities to participate in activities at the national level.</p>
<p>Remember, if you change your mind, you can always come back to sign up to be an organizer and take a more proactive role.</p>
<p>Good luck and we'll be in touch.</p>
<br>
<p><i>Brielle Plump - Communities Coordinator</i></p>
<p><a href='mailto:brielle@codeforamerica.org'>brielle@codeforamerica.org</a></p>