<tr class="<%= cycle "odd", "even" %>", id="<%= "deployed_application_#{deployed_application.id}" %>">
  <td>
    <% unless deployed_application.deployed_url.nil? %>
      <%= link_to deployed_application.name, deployed_application.deployed_url %>
    <% else %>
      <%= deployed_application.name %>
    <% end %>
  </td>
  <td class="status">
    <% if deployed_application.deployed %>
      Deployed
    <% else %>
      In Progress
    <% end %>
  </td>
</tr>
