<%= content_tag_for(:tr, deployed_application) do %>
  <td><%= deployed_application.name %></td>
  <td><%= deployed_application.location_name %></td>
  <td><%= deployed_application.brigade_name %></td>
  <td>Show App</td>
<% end %>
