<%= simple_form_for @deployed_application, url: url do |form| %>
  <%= render partial: 'shared/location_select', locals: { f: form } %>
  <div class='control-group select required'>
    <label class='select required' for='deployed_application_brigade_id'>* Brigade</label>
    <div class='controls'>
      <%= form.select 'brigade_id', unsorted_grouped_options_for_select({'Existing Brigades' => Brigade.all.map{|b| [b.name, b.id]}, 'Add your own' => ['Add Brigade']}, nil, 'Choose or create a brigade'), {}, {class: 'select required brigade-selector'} %>
    </div>
  </div>
  <%= form.button :submit, 'Deploy This Application!', class: 'btn-large btn-primary' %>
<%end%>