<div class="modal fade" id="share">
  <div class="modal-header">
    <a class="close" data-dismiss="modal"></a>
    <h3>Share this deploy</h3>
  </div>

  <div class="modal-body">
    <p><a class='btn' href="http://www.facebook.com/dialog/feed?app_id=<%= SOCIAL_NETWORKS['facebook_app_id']%>&redirect_uri=http://www.facebook.com&display=popup" id="fb-control">Share with facebook</a></p>
    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="cfa" data-size="large">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Done</a>
  </div>
</div>

<script type='text/javascript'>
  $('#fb-control').click(function(event){
      event.preventDefault();
      popup = window.open($(this).attr('href'), '', 'height=200,width=500')
      if (window.focus) {popup.focus()}
  })
</script>
