<!--<%= render partial: "#{@filter_type}/deployed_applications_search_form" %>-->

<% if @deployed_applications.present? %>
  <table class="all-cities" cellpadding="4" id="sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Brigade Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <%= render @deployed_applications %>
  </table>
<%else%>
  <%= content_tag :h2, "There are no apps currently deployed" %>
<% end %>
