<a class="btn" data-toggle="modal" href="#share">Share</a>
<%= render 'deployed_applications/social_network_modal' %>
<%= @deployed_application.name %>
<%= @deployed_application.location.name %>
<%= @deployed_application.brigade.name %>
