@import '../core/variables';

//
// Card
//

.card {
  font-weight: inherit;

  display: flex;
  flex-direction: row;

  margin: 15px 0;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  flex-wrap: wrap;

  /* Make the parts of each card full-width by default */
  & > * {
    flex: 100% 1;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  /* Make sure the first element in each part of the card doesn't have a top margin */
  & > * > :first-child {
    margin-top: 0;
  }

  /* Make sure the last element in each part of the card doesn't have a bottom margin */
  & > * > :last-child {
    margin-bottom: 0;
  }

  /* Temporary fix to make paragraph margins less agressive in cards */
  p { margin: 0 0 10px 0; } // TODO: Address paragraph margins globally

}

a.card {
  color: inherit;
  /* Remove any hover border if the card is a link */
  &:hover {
    border: 0;
  }
}

.card__header {
  font-size: small;

  padding: 10px;

  border-bottom: solid $color-border-light 1px;
}

.card__body {
  padding: 15px;
}

.card__title {
  font-size: 28px;
  line-height: 1.2;

  text-align: center;
}

/* This is an area for a main card action, like a button or a link */
.card__action {
  text-align: center;

  /* Make card action buttons full-width */
  .button,
  .button:link {
    width: 100%;
  }
}

.card__footer {
  font-size: small;
  line-height: 1.2;

  padding: 15px;

  border-top: solid $color-border-light 1px;
}

.card__icon {
  font-size: 52px;

  padding: 15px;

  text-align: center;
  img {
    max-height: 52px;
  }
}

.card--horizontal {
  @media (min-width: 40em) {
    .card__aside {
      display: flex;

      text-align: center;

      border-right: solid $color-border-light 1px;

      flex: 1 auto;
      justify-content: center;
      align-items: center;
    }
    .card__body {
      display: flex;
      flex-direction: column;

      flex: 3 0;
    }
    .card__title {
      text-align: left;
    }
    .card__action {
      margin-top: auto;
    }
  }
}
