@import '../core/variables';
@import '../core/mixins';

//
// Card
//

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: inherit;
  margin: 15px 0;

  /* Make the parts of each card full-width by default */
  & > * {
    flex: 100% 1;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  /* Make sure the first element in each part of the card doesn't have a top margin */
  & > * > :first-child {
    margin-top: 0;
  }

  /* Make sure the last element in each part of the card doesn't have a bottom margin */
  & > * > :last-child {
    margin-bottom: 0;
  }

  /* Temporary fix to make paragraph margins less agressive in cards */
  p {
    margin: 0 0 10px 0; // TODO: Address paragraph margins globally
  } 
}

a.card {
  color: inherit;
  
  /* Remove any hover border if the card is a link */
  &:hover {
    border: 0;
  }
}

.card__header {
  border-bottom: solid $color-border-light 1px;
  font-size: small;
  padding: 10px;
}

.card__body {
  flex: 100%;
  padding: 15px;
}

.card__title {
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

/* This is an area for a main card action, like a button or a link */
.card__action {
  padding: 0 15px 15px 15px;
  text-align: center;

  /* Make card action buttons full-width */
  .button,
  .button:link {
    width: 100%;
  }
}

.card__aside {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 150px;
  position: relative;
  text-align: center;

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.card__footer {
  border-top: solid $color-border-light 1px;
  font-size: small;
  line-height: 1.2;
  padding: 15px;
}

.card__icon {
  font-size: 52px;
  padding: 15px;
  text-align: center;

  img {
    max-height: 52px;
  }
}

.card--horizontal {

  .card__body {
    padding: 0;
  }

  .card__content {
    padding: 15px;
  }

  @include media($tablet-up) {
    .card__body {
      display: flex;
      flex-direction: row;
    }

    .card__content {
      flex: 2;
    }

    .card__aside {
      flex: 1;
      flex-shrink: 0;
    }

    .card__title {
      text-align: left;
    }
  }
}
