@import '../core/variables';

//
// Inkind-card
//

/**

  TODO:
  - Consolidate this with the Card component, so we only have one Card type component, with variants based on it.

 */


.inkind-card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

a.inkind-card {
  border-radius: 10px;
  border: 3px solid #5a5a5a;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #5a5a5a; /* TODO: extract this as a text color variable */
  flex-shrink: 0;
  font-weight: initial;
  margin: 0 20px 20px 0;
  padding: 10px;
  text-align: center;
  width: 274px;
}

a.inkind-card:hover {
  border-color: $color-primary;
  border-bottom-width: 3px; /* override default hover style */
  color: #5a5a5a; /* TODO: extract this as a text color variable */
  cursor: pointer;
}

a.inkind-card:hover .button {
  background-color: $color-primary;
}

.inkind-card .button {
  width: auto;
  text-transform: uppercase;
}

.inkind-card__logo {
  /* Vertically align the logo in a 230px block */
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 230px;
}

@media (max-width: 40em) {
  .inkind-card-list {
    flex-direction: column;
  }

  a.inkind-card {
    width: auto;
  }

  .inkind-card__logo {
    margin: 20px 0;
    min-height: 0;
  }
}
