@import '../core/variables';

//
// Message
//

.message {
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  display: flex;
  flex-direction: row;
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: .75em;

  a {
    color: $color-blue;
  }
}

.message__content {
  flex: 1;
}

.message__icon {
  flex: 0 0 auto;
  font-size: 1.5em;
  line-height: 1;
  opacity: .7;
  padding-right: .5em;
}
