@import '../core/variables';

//
// Message
//

.message {
  background-color: $color-gray-light;
  border: 0;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 1.5em;
  padding: 1em;
}

.message__content {
  flex: 1;
}

.message__icon {
  flex: 0 0 auto;
  font-size: 1.5em;
  line-height: 1;
  opacity: .7;
  padding-right: .5em;
}

.message--reverse {
  background: none;
  border: solid 1px $color-white;
  color: $color-white;
}
