@import '../core/variables';
@import '../core/mixins';

//
// Slab
//

.slab__title {
  margin-top: 0;
}

.slab--compact {
  padding: 1em $site-margins;
}

.slab--full-bleed {
  padding-left: 0;
  padding-right: 0;
}
