%h2 Code for America Brigade is an organizing force for local civic engagement - a national network of civic-minded volunteers who contribute their skills toward using the web as a platform for local government and community service.

%header.page-id

%h1 About the Brigade


%ul.pages
  %li
    %a{:href => "#goals"} Goals
  %li
    %a{:href => "#mission"} Mission
  %li
    %a{:href => "#purpose"} Purpose
  %li
    %a{:href => "#faq"} FAQ
  %li
    %a{:href => "#contact"} Contact
  %li
    %a{:href => "#license"} License

%a{:name => "goals"}
%h2.pages Goals
%ol.pages
  %li Governments leveraging technology more effectively
  %li Citizens and community groups solving civic issues
  %li Cities collaborating to work better
  %li Civic apps built on linked, open data

%a{:name => "mission"}
%h2.pages Mission
%p The mission of any local CfA Brigade is to deploy, maintain, and sustain civic technology and open data infrastructure for a place.
%ul.pages
  %li We want to make it easy for people to code for America.
  %li We want to make it easy for places to adopt modern civic technology.
  %li We want to make it easy for places to adopt open data infrastructure.
  %li We want to innovate in ways that improve the sustainability of civic technology and infrastructure.
  %li We want to fulfill the overall Code for America mission to “improve the way governments work better for everyone using the people and the power of the web.”

%a{:name => "purpose"}
%h2.pages Purpose
%p The purpose of Brigade is to build local communities who sustain Code for America's goals and strategic outcomes

%a{:name => "faq"}
%h2.pages FAQ

%h3 How can I participate if I’m not a coder or designer?
%p You don’t have to be a coder or a designer to participate in a CfA Brigade. Here’s a sample list of other Brigade activities in which you can participate:

%ul.pages
  %li Draft and publish open data strategy for your city
  %li Source challenges by conducting interviews, creating and publishing challenge briefs
  %li Curate apps and organizations in the Civic Commons Marketplace
  %li Liberate public data from closed systems
  %li Raise funds for an app or a Brigade

%a{:name => "contact"}
%h2.pages Contact
%p Code for America’s Brigade support team is ready to help you determine the best approach for your city. <a href="mailto:brigade-info@codeforamerica.org">Contact us for assistance.</a>

%a{:name => "license"}
%h2.pages License
%p Brigade is licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons, Attribution, Non-Commercial, No-Derivs.</a>
