%h2 Code for America Brigade is an organizing force for local civic engagement - a national network of "civic hackers" who contribute their skills toward using the web as a platform for local government and community service.

%header.page-id

%h1 About the Brigade


%ul.pages
  %li
    %a{:href => "#goals"} Goals
  %li
    %a{:href => "#mission"} Mission
  %li
    %a{:href => "#local"} Local Identity
  %li
    %a{:href => "#faq"} FAQ
  %li
    %a{:href => "#github"} "Fork me on GitHub"
  %li
    %a{:href => "#contact"} Contact

%a{:name => "Goals"}
%h2.pages Goals
%ol.pages
  %li Governments leveraging technology more effectively
  %li Citizens and community groups solving civic issues
  %li Cities collaborating to work better
  %li Civic apps built on linked, open data

%a{:name => "mission"}
%h2.pages Mission
%p The mission of any local CfA Brigade is to deploy, maintain, and sustain civic technology and open data infrastructure for a place.
%ul.pages
  %li We want to make it easy for people to code for America.
  %li We want to make it easy for places to adopt modern civic technology.
  %li We want to make it easy for places to adopt open data infrastructure.
  %li We want to innovate in ways that improve the sustainability of civic technology and infrastructure.
  %li We want to fulfill the overall Code for America mission to “improve the way governments work better for everyone using the people and the power of the web.”

%a{:name => "local"}
%h2.pages Local Identity
%p We think your local identity is important and we want you to maintain and celebrate it. At the same time, we recognize the power of a strong brand that is linked to a strong national network. Feel free to call your local brigade whatever you want. You’ll make links to our platform, use our tag lines, and other resources that will identify your affiliation as a CfA Brigade.

%p To keep things simple and establish a pattern, we default new Brigades to "Code for [LOCATION] Brigade" where [LOCATION] is a city, region, town, state or whatever else makes sense to the local organizers

%p There are a bunch of other groups that are also Brigades that follow the "Open [LOCATION]" pattern. That's cool, too.

%h3 “Powered by Brigade”
%p We want to support local communities of practice who want to be “Powered by Brigade.” This tag line symbolizes your affiliation and commitment to our mission and goals. Local communities of practices that are “Powered by Brigade” enjoy the following benefits:
%ul.pages
  %li Affiliation with a strong, reputable brand for civic technology
  %li Connection to a strong, national network for civic technology
  %li Features on one or more of our web properties
  %li Assistance from our support team
  %li Resources for events
  %li Resources for hosting
  %li Invitation to our annual summit

%a{:name => "faq"}
%h2.pages FAQ

%h3 How can I participate if I’m not a coder or designer?
%p You don’t have to be a coder or a designer to participate in a CfA Brigade. Here’s a sample list of other Brigade activities in which you can participate:

%ul.pages
  %li Draft and publish open data strategy for your city
  %li Source challenges by conducting interviews, creating and publishing challenge briefs
  %li Curate apps and organizations in the Civic Commons Marketplace
  %li Liberate public data from closed systems
  %li Raise funds for an app or a Brigade

%a{:name => "github"}
%h2.pages Fork me on Github!
%p We don't just like GitHub at Code for America, we live on it. We also live the open source way.
%p That's why the source code for this platform is available on Github - <a href="https://github.com/codeforamerica/brigade">https://github.com/codeforamerica/brigade</a>
%p You can contribute to this platform by forking the code, making changes, and submitting pull requests. This is your platform. Hack it better.

%a{:name => "contact"}
%h2.pages Contact
%p Code for America’s Brigade support team is ready to help you determine the best approach for your city. <a href="mailto:brigade-info@codeforamerica.org">Contact us for assistance.</a>
