%h1 Brigade Activities
%h2 New forms of citizen engagement for the digital age.
%p Brigade volunteers are ready to contribute their talents toward improving the way their local governments and community organizations use the web. Brigade is about action and you're here because you are someone who takes action.
%h4 Not a coder? Don't walk away.
%p You don't have to be a coder to <a title="captains' page" href="captain">captain a brigade</a>, <a title="open data page" href="opendata">curate open government data</a>, or <a title="advocate page" href="ogi">advocate for open government</a>.
%h2 Here's what you can do <strong>right now</strong>:

%table{:id => "activities-table"}
  %tbody
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/captain"}
          %img{:alt => "captain icon", :src => "/assets/captain.png"}
      %td{:class => "activities-right"}
        %h3 Lead and Organize
        %p Organize civic-minded technologists where you live around Brigade activities and campaigns. <a title="captain page" href="captain">Learn How</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/opendata"}
          %img{:alt => "open data icon", :src => "/assets/data.png"}
      %td{:class => "activities-right"}
        %h3 Open Civic Data
        %p Build digital libraries in your community. Help publish and curate open civic data. <a title="open data page" href="opendata">Learn How</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/apps"}
          %img{:alt => "deploy icon", :src => "/assets/launch.png"}
        %td{:class => "activities-right"}
          %h3 Deploy and Maintain Civic Software
          %p Bring civic apps to your city. Change the way your city uses web and mobile software to operate. <a title="applications page" href="/pages/apps">Learn How</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/ogi"}
          %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
      %td{:class => "activities-right"}
        %h3 Advocate for Open Government
        %p Teach your city about the benefits of open civic data, open source software. <a title="ogi page" href="ogi">Learn How</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/opensource"}
          %img{:alt => "github icon", :src => "/assets/octocat.png"}
      %td{:class => "activities-right"}
        %h3 Contribute to Open Source, Civic Software
        %p Collaborate and contribute to open source, civic software. <a title="open source page" href="opensource">Learn How</a>