%h1 Brigade Activities
%p <i>We're not going to fix government until we fix citizenship</i>
%p - Jennifer Pahlka, Founder & Executive Director of Code for America
%br
%p Brigade is a new form of citizen engagement. Brigade volunteers are ready to contribute their talents toward improving the way their local governments and community organizations use the web. Brigade is about action and you're here because you are someone who takes action.
%h4 Not a coder? Don't walk away.
%p You don't have to be a coder to <a href="captain">captain a brigade</a>, <a href="opendata">curate open government data</a>, or <a href="ogi">advocate for open government</a>.
%h2 Here's what you can do <strong>right now</strong>:

%h3 Captain a Brigade
%p Are you a current or future leader of the civic hacker movement, ready to stand up, be counted, recruit new members, and work together with other leaders? <a href="captain">We want you!</a>

%h3 Open Civic Data
%p Geeky about data? Do you collect and curate data so you and others can make useful things with it? Us, too. <a href="opendata">Liberate it!</a>

%h3 Deploy and Maintain Civic Software
%p Have you ever come across a killer civic app that another city is using and think to yourself, “I want my city to have that app!”? <a href="http://civiccommons.org/civic-function/brigade">Make it happen!</a>

%h3 Advocate for Open Government
%p Are you ready to stand up before you city council and make the case for open government as policy? <a href="ogi">Stand up and speak out!</a>

%h3 Commit to an Open Source Civic App
%p Is coding is what you like to do more than anything and is coding with purpose important to you? <a href="opensource">Fork, commit, push!</a>

%h4 FAQ

%p Q: What if I'm not a coder?
%p A: There's plenty you can do. You don't have to be a coder to captain a brigade, curate open government data, or advocate for open government.

%p Q: What do you mean? <i>I am a coder!</i> I thought this was <i>Code</i> for America!
%p A: There are definitely opportunities to write code. You can <b>commit</b> to any of <a href="https://github.com/codeforamerica">our open source civic apps</a>, or to any open source civic app. You can <a href=""../applications><b>deploy and maintain</b> civic apps</a>. You can liberate civic data.