%h1 Brigade Activities
%h2 Get civic in the digital age. Here's what you can do <strong>right now</strong>:

%table{:id => "activities-table"}
  %tbody
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/pages/captain"}
          %img{:alt => "captain icon", :src => "/assets/captain.png"}
      %td.view-pages-right
        %p.view-pages-big
        %a.view-pages{:href => "captain"}Organize!
        %p.view-pages-med lead Brigade projects
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/pages/opendata"}
          %img{:alt => "open data icon", :src => "/assets/data.png"}
      %td.view-pages-right
        %p.view-pages-big
        %a.view-pages{:href => "opendata"}Open Civic Data!
        %p.view-pages-med publish and curate data for others to use
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/pages/apps"}
          %img{:alt => "deploy icon", :src => "/assets/launch.png"}
        %td.view-pages-right
          %p.view-pages-big
          %a.view-pages{:href => "apps"} Share Civic Tech!
          %p.view-pages-med bring open source, civic tech to your city
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/pages/ogi"}
          %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
      %td.view-pages-right
        %p.view-pages-big
        %a.view-pages{:href => "ogi"}Help Government Get Open!
        %p.view-pages-med shape policy and inform the public
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/pages/opensource"}
          %img{:alt => "github icon", :src => "/assets/octocat.png"}
      %td.view-pages-right
        %p.view-pages-big
        %a.view-pages{:href => "opensource"} Code!
        %p.view-pages-med for America