%h1 Brigade Activities
%p
<center>
%img{:alt => "quote", :src => "/assets/quote.png"}
</center>
%h3 Brigade is a new form of citizen engagement.
%p Brigade volunteers are ready to contribute their talents toward improving the way their local governments and community organizations use the web. Brigade is about action and you're here because you are someone who takes action.
%h4 Not a coder? Don't walk away.
%p You don't have to be a coder to <a title="captains' page" href="captain">captain a brigade</a>, <a title="open data page" href="opendata">curate open government data</a>, or <a title="advocate page" href="ogi">advocate for open government</a>.
%h2 Here's what you can do <strong>right now</strong>:

%table{:id => "activities-table"}
  %tbody
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/captain"}
          %img{:alt => "captain icon", :src => "/assets/captain.png"}
      %td{:class => "activities-right"}
        %h3 Captain a Brigade
        %p Are you a current or future leader of the civic hacker movement, ready to stand up, be counted, recruit new members, and work together with other leaders? <a title="captain page" href="captain">We want you!</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/opendata"}
          %img{:alt => "open data icon", :src => "/assets/data.png"}
      %td{:class => "activities-right"}
        %h3 Open Civic Data
        %p Geeky about data? Do you collect and curate data so you and others can make useful things with it? Us, too. <a title="open data page" href="opendata">Liberate it!</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/apps"}
          %img{:alt => "deploy icon", :src => "/assets/launch.png"}
        %td{:class => "activities-right"}
          %h3 Deploy and Maintain Civic Software
          %p Have you ever come across a killer civic app that another city is using and think to yourself, “I want my city to have that app!”? <a title="applications page" href="/pages/apps">Make it happen!</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/ogi"}
          %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
      %td{:class => "activities-right"}
        %h3 Advocate for Open Government
        %p Are you ready to stand up before your city council and make the case for open government as policy? <a title="ogi page" href="ogi">Stand up and speak out!</a>
    %tr
      %td{:class => "activities-left"}
        %a{:href => "/pages/opensource"}
          %img{:alt => "github icon", :src => "/assets/octocat.png"}
      %td{:class => "activities-right"}
        %h3 Commit to an Open Source Civic App
        %p Is coding what you like to do more than anything and is coding with purpose important to you? <a title="open source page" href="opensource">Fork, commit, push!</a>