%table
  %tr
    %td
      %img{:alt => "launch icon", :src => "/assets/launch.png"}
    %td
      %h1 Launch civic apps where you live
%p
%p Here’s how you can deploy civic apps where you live:
%ol
  %li Browse the applications we've listed here: <a title="brigade apps page" href="http://brigade.codeforamerica.org/applications">http://brigade.codeforamerica.org/applications</a>
  %li When you find the app want to deploy, send us a quick note to <a title="email brigade-info, subject: Let's Deploy This" href="mailto:brigade-info@codeforamerica.org?subject=Let's Deploy This">brigade-info@codeforamerica.org</a> to let us know which one. We'll use the information to help you get started and to report back to the community which apps people care about maintaining.
  %li Host a launch-a-thon to get your app off the ground. Use <a title="our meetup everywhere page" href="http://meetup.com/cfabrigade">our MeetUp Everywhere</a>.

%h2 Resources & Help

%h3 Event Planning
%ul
  %li
    %a{:title => "Learn about meetups, unconferences, skillshares, hackathons, and contests", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit"} Code for America Event Guide
