%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
    %td
      %h1 Campaigns & National Events
%h2 2013
%ul{:style => "list-style-type: none;"}
  %li
    %a{:href => "/civic-coding"}
      %img{:src => "/assets/tgach-ndoch/badge.png", :height => "200px", :width => "200px"}
  %li
    %a{:href => "/hackforchange"}
      %img{:src => "/assets/tgach-ndoch/ndoch-logo.png", :width => "50%"}
  %li
    %a{:href => "/codeacross"}
      %img{:src => "/assets/code_across/badge.png"}
%h2 2012
%ul{:style => "list-style-type: none;"}
  %li
    %a{:href => "/race-for-reuse"}
      %img{:src => "/assets/r2r/badge.png"}
    %li
      %a{:href => "/openimpact"}
        %img{:src => "/assets/openimpact/OpenImpact_Horiz.png", :width => "50%"}