%table
  %tr
    %td
      %img{:alt => "captain icon", :src => "/assets/captain.png"}
    %td
      %h1 Are you ready to captain a brigade?
%p We’re looking for the leaders of the civic hacker movement to stand up, be counted, and work together. We want to recognize and support your volunteer efforts to make disruptive, transformative changes to the way our cities use the web. We’re recruiting the inaugural class of Brigade Captains for one year of volunteer service to their cities.
%h2 What it takes
%p We’re asking you to join us in pursuing <a href="about">our goals</a> and let everyone know what you’re up to on a regular basis.

%h3 What we ask
%ol
  %li Develop a year-long strategic plan for your city based on one or more of <a href="/pages/activities">our core activities</a>
  %li Rally local participation in Brigade forums, meetings, and activities, about once per month
  %li Share the stories of your local activities with the Brigade community as often as possible
  %li Recruit new members to CfA Brigade

%h3 What we offer
%ul
  %li Invitation to CfA Summit
  %li Training materials from the Code for America Institute
  %li Features in Code for America publications
  %li Free cloud resources for your Brigade's projects
  %li Free books for your Brigade's library
  %li @codeforamerica.org account
  %li Code for America track jacket
  %li Brigade Captain’s patch & web site badge

%h3 Also...
%p The most well-organized, effective cities may be eligible for activities budgets, stipends, and other operational resources.

%h1 <a href="https://codeforamerica.wufoo.com/forms/s7p7r3/">CLICK TO APPLY</a>
%p
%h4 FAQ

%p Q: “What if my city already has an open gov group, leadership structure, or I belong to another open government group?"

%p A: That's awesome -- ideal really. We want to support and celebrate your efforts however possible. We want to link together our civic hacking communities. For the sake of communication though we'd like for one individual to apply to become a Captain. You can also rotate the responsibility throughout the year and share responsibilities.