%h1 Are you ready to captain a brigade?
%p We’re looking for the leaders of the civic hacker movement to stand up, be counted, and work together. We want to recognize and support your volunteer efforts to make disruptive, transformative changes to the way our cities use the web. We’re recruiting the inaugural class of Brigade Captains for one year of volunteer service to their cities.
%h2 What it takes
%p You’re probably doing what it takes already. In fact, we’re counting on the fact that you aren’t new to this space. (If you are new then we have several <a href="activities">other opportunities for you!</a>) All we’re asking is that you join us in pursuing <a href="about">our goals</a> and let everyone know what you’re up to on a regular basis.

%h3 What we ask
%ol
  %li Develop a year-long strategic plan for your city based on one or more goals
  %li Rally local participation in Brigade forums, meetings, and activities, about once per month
  %li Share the stories of your local activities with the Brigade community as often as possible

%h3 What we offer
%ul
  %li CfA Summit invitation
  %li CfA Institute materials
  %li Networking with Code for America
  %li Features in prominent communications
  %li Free cloud resources for your Brigade
  %li Code for America track jacket
  %li Brigade Captain’s patch & web site badge

%h3 Also...
%p The most well-organized, effective cities may be eligible for activities budgets, stipends, and connections to CfA fundraising’s network.

%p CLICK TO APPLY

%h4 FAQ

%p Q: “How much time does it take?”

%p A: We’re hoping that this is something you are kinda doing already and that you can link & synch your activities with us. Minimally we’re asking you to commit to some kind of monthly meeting or event and to share at least one story about what you are doing.

%p Q: “What if my city already has an open gov group, leadership structure, or I belong to another open group?"

%p A: That's awesome -- ideal really. We want to support and celebrate your efforts however possible. For the sake of communication though we'd like for one individual to apply to become a Captain. Of course, you're welcome to rotate that throughout the year or share responsibilities.