%table
  %tr
    %td{:valign => "top", :width => "10%"}
      %img{:alt => "captain icon", :src => "/assets/community.png"}
    %td
      %h1{:style => "padding-left:10px"} Want to learn how to start a local brigade?
      %p.medium
        Start by getting familiar with our Captains' program:
        %a{:href => "https://docs.google.com/presentation/d/1VDzF-5TuQ7YLFGMc9cKKqLEGXyhcu-Fke6G7HcPryXs/edit?usp=sharing"} Slide Deck
      %p.medium
        Join the
        %a{:href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/brigade-organizers"}Brigade Organizers
        group & introduce yourself on the
        %a{:href => "https://groups.google.com/a/codeforamerica.org/d/msg/brigade-organizers/10bM95ObCN0/0Mdxl6HvHWQJ"} Introductions thread.
      %p.medium
        Get involved with one of
        %a{:href => "campaigns"}our national campaigns or events

%table
  %tr
    %td{:valign => "top", :width => "10%"}
      %img{:alt => "captain icon", :src => "/assets/captain.png"}
    %td
      %h1{:style => "padding-left:10px"} Are you ready to captain a brigade?
      %p.medium
        We need leaders who will stand up, be counted, and work together.
      %p.small{:style => "padding-left:10px"}
        The Captains' program has annual classes that start in August. Applications to the program are open from March 1 - May 31 each year.
      %h2{:style => "padding-left:10px"} What it takes
      %p.small{:style => "padding-left:10px"} We’re asking you to join us in pursuing <a href="about">our goals</a> and actively share what you learn along the way.
      %h2{:style => "padding-left:10px"} What we ask
      %ol
        %li.small Form a partnership with your city based on <a href="/pages/activities">our core activities</a>
        %li.small Host a recurring <a href="http://code-for-america-brigade.meetup.com/">Brigade Meetup</a>, at least monthly
        %li.small Participate in Brigade events & campaigns a couple of times a year
        %li.small Participate in hangouts and facilitated sessions with other captains
        %li.small Share the stories of your local activities with the Brigade community
        %li.small Recruit new members to CfA Brigade
        %li.small One year commitment
      %h2{:style => "padding-left:10px"} What we offer
      %ul
        %li.small Small budget for hosting meetups, events and organizing campaigns
        %li.small Invitation to CfA Summit
        %li.small Training from the Code for America Academy
        %li.small Connections to Code for America networks
        %li.small Hosted & facilitated networking with other Brigade members
        %li.small Features in Code for America publications
        %li.small Free cloud resources for your Brigade's projects
        %li.small Free books for your Brigade's library
        %li.small @codeforamerica.org account
        %li.small Code for America track jacket & gear