%table
  %tr
    %td{:valign => "top", :width => "10%"}
      %img{:alt => "captain icon", :src => "/assets/captain.png"}
    %td{:width => "60%"}
      %h1{:style => "padding-left:10px"} Are you ready to captain a brigade?
      %p.view-pages We’re looking for leaders to stand up, be counted, and work together.
      %h2 What it takes
      %p
      %text.view-pages We’re asking you to join us in pursuing <a href="about">our goals</a> and actively share what you learn along the way.
      %h2 What we ask
      %ol
        %li.view-pages Form a partnership with your city based on <a href="/pages/activities">our core activities</a>
        %li.view-pages Host a recurring <a href="http://code-for-america-brigade.meetup.com/">Brigade Meetup</a>, at least monthly
        %li.view-pages Participate in Brigade events & campaigns a couple of times a year
        %li.view-pages Participate in hangouts and facilitated sessions with other captains
        %li.view-pages Share the stories of your local activities with the Brigade community
        %li.view-pages Recruit new members to CfA Brigade
        %li.view-pages One year commitment
      
      %h2 What we offer
      %ul
        %li.view-pages Small budget for hosting meetups, events and organizing campaigns
        %li.view-pages Invitation to CfA Summit
        %li.view-pages Training from the Code for America Academy
        %li.view-pages Connections to Code for America networks
        %li.view-pages Hosted & facilitated networking with other Brigade members
        %li.view-pages Features in Code for America publications
        %li.view-pages Free cloud resources for your Brigade's projects
        %li.view-pages Free books for your Brigade's library
        %li.view-pages @codeforamerica.org account
        %li.view-pages Code for America track jacket & gear
    %td{:valign => "top", :width => "30%", :style => "padding-top:240px"}
      %a{:class => "button-big", :href => "https://codeforamerica.wufoo.com/forms/s7p7r3/", :target => "top"}Apply Now
      %br
      %br
      %p.view-pages
        %a{:href => "https://docs.google.com/presentation/d/1VDzF-5TuQ7YLFGMc9cKKqLEGXyhcu-Fke6G7HcPryXs/edit?usp=sharing"} Slide Deck
%table
  %tr
    %td{:valign => "top"}
      %img{:alt => "captain icon", :src => "/assets/captain.png"}
    %td
      %h1{:style => "padding-left:10px"} Want to lead & organize?
      %p.view-pages
        Join the
        %a{:href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/brigade-organizers"}Brigade Organizers
        group & introduce yourself on the
        %a{:href => "https://groups.google.com/a/codeforamerica.org/d/msg/brigade-organizers/10bM95ObCN0/0Mdxl6HvHWQJ"} Introductions thread.