- @page_title='Race 4 Reuse'
%LINK{:HREF => "/assets/r2r/style.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    .row
      %a{:href => "/pages/codeacross"}
        %img{:align => "center", :src => "http://gallery.mailchimp.com/d9acf2a4c694efbd76a48936f/images/race_for_reuse_banner_wrap_V2.png", :width => "1000px"}/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
      / HEADLINE
      %h2 Feb 22-24: Code for America Where You Live
      .span12
        / LEGACY STYLES
        .pledge
          .pledge-form
            / MAP (right)
            / EMBED GOES HERE
            .pledge-form-inner.primary{:style => "height: 350px;"}
              .pledge-form-content{:style => "margin-bottom: 30px;"}
                %div
                 
                  %br/
        / TOP-LEFT CONTENT
        / LEGACY STYLES
        .pledge-menu
          %p.ocall
            Code Across America is a distributed event when everyone in the national Code for America network contributes to the "Code for America Effect" at (roughly) the same time.
          %p.ocall
            Code Across America is an event that any municipality can join, big or small, beginner or expert.
          %p.ocall
            Events will be hosted in Fellowship and Brigade cities across the U.S. between 22-24 February. February 23rd is also 
            %a{:title => "International Open Data Day", :href => "http://opendataday.org"} International Open Data Day.
            Join Code Across America and International Open Data Day by connecting to or hosting an event where you. 
          %p.ocall
            Interested in hosting a Code Across America event where you live?
          %p.ocall
          CLICK HERE [BUTTON/LINK]
      / START OF MAIN BODY CONTENT
    %h2#section-cities.section-header Event Types
    %table{:style => "width:1000px;font-size:16px;align:justify"}
      %tr
        %td{:width => "150px;", :height => "70px;"}
          %h3 Brigade Meetup
        %td{:width => "700px;", :height => "70px;"}
          Use
          %a{:title => "Brigade Meetup site", :href => "http://meetup.com/cfabrigade"}Brigade Meetup
          or
          %a{:title => "Brigade Meetup site", :href => "http://code-for-america.meetup.com"} tag your Meetup with "Code for America"
          to host a Brigade meeting in your local community
        %td{:width => "150px;", :height => "70px;", :align => "center"}
          %img{:title => "Meetup logo", :src => "/assets/meetup-logo.gif", :width => "100", :height => "50"}
      %tr
        %td{:width => "150px;", :height => "70px;"}
          %h3 CityCamp
        %td{:width => "700px;", :height => "70px;"}
          Use this 
          %a{:title => "Since the inaugural event in Jan 2010, 32 CityCamps have been independently organized in 25 cities across 8 countries and 5 continents.", :href => "http://citycamp.govfresh.com/start-a-camp/"} community-powered, open source, Creative Commons unconference model
          to bring diverse groups together around topics in municipal innovation.
        %td{:width => "150px;", :height => "70px;", :align => "center"}
          %img{:title => "Meetup logo", :src => "https://twimg0-a.akamaihd.net/profile_images/1100231425/icon-cc.png", :width => "100", :height => "50"}
      %tr
        %td{:width => "150px;", :height => "70px;"}
          %h3 Hackathon
        %td{:width => "700px;", :height => "70px;"}
          Round up some local government data. Invite subject matter experts to share challenges & insights. Pick open source, civic apps to redeploy. Break into teams to tackle challenges throughout the event.
      %tr
        %td{:width => "150px;", :height => "70px;"}
          %h3 Salon
        %td{:width => "700px;", :height => "70px;"}
          Invite a guest speaker or a panel to speak for an hour on a topic that matters in your community. Facilitate a questions and answers segment. Offer light hors d' oeuvres and beverages
        %td{:width => "150px;", :height => "70px;", :align => "center"}
          %img{:title => "Meetup logo", :src => "http://codeforamerica.org/wp-content/uploads/2012/04/CfA_Salon1.png", :width => "150", :height => "100"}
      %tr
        %td{:width => "150px;", :height => "70px;"}
          %h3 Focus Group
        %td{:width => "700px;", :height => "70px;"}
          Get a small group of stakeholders in a room together for a facilitated session of inquiry and discussion around a core topic
      %tr
        %td{:width => "150px;", :height => "70px;"}
          %h3 Skill Share
        %td{:width => "700px;", :height => "70px;"}
          Expose, teach and train others how to use modern tools and techniques. Increase the civic digital literacy of your community.
      %tr
        %td{:width => "150px;", :height => "70px;"}
        %td{:width => "700px;", :height => "70px;"}
          %a{:title => "Google doc event guide", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit"} Code for America Event Guide
    .content-wrap
      %h1#section-cities.section-header
        Connect in these places:
        %a.back-to-top{:href => "#"} &uarr; Back to top
      <iframe src="http://www.meetup.com/everywhere/widget3/cfabrigade?width=800&amp;bg=light" width="800" height="475" frameborder="0" border="0" allowtransparency="true" scrolling="no"></iframe>
      %h2
        %a{:title => "Open Data Day Wiki", :href => "http://wiki.opendataday.org/2013/City_Events#United_States"} Click here for Open Data Day U.S. Locations
      %p
        Don't see your city in the list?
        %a{:href => "mailto:brigade-info@codeforamerica.org?subject=Code Across City", :title => "email Brigade Concierge"} Let us know.
      %p.ocall
        Code Across 2012 
        %a{:title => "last year", :href => "http://codeforamerica.org/code-across-america"} #codeacross