- @page_title='Code Across America'
// LEGACY STYLE
%LINK{:HREF => "/assets/r2r/style.css", :REL => "StyleSheet", :TYPE => "text/css"}
// CAMPAIGNS TEMPLATE STYLE
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "/assets/campaigns.js", :TYPE => "text/javascript"}
  %html{:lang => "en"}
    .row
      %a{:href => "codeacross"}
        %img{:id => "banner", :align => "center", :src => "/assets/code_across/code_across_banner.png", :width => "1000px"}
    .row
    %h2 Feb 22-24: Code for America Where You Live
    %p{:style => "font-size:18px;"}
      Connect with citizens throughout the country who are passionate about technology and their communities. Together with our friends, colleagues and neighbors, we’ll Code Across America in service to the places where we live.
    %p{:style => "font-size:18px;"}
      Code Across America is a multi-day event that any municipality or community can join, big or small, beginner or expert. Individuals and groups can Code Across America through virtual and in-person activities around the country.
    %p{:style => "font-size:18px;"}
      February 23rd is
      %a{:title => "International Open Data Day", :href => "http://opendataday.org", :target => "top"} International Open Data Day.
    / BANNER
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
    / JOIN & HOST
    %center
      %hr
      %a{:href => "#join-section", :class => "menu", :value => "Join"}Join
      %a{:href => "#host-section", :class => "menu", :value => "Host"}Host
      %a{:href => "#share", :class => "menu", :value => "Share"}Share
      %a{:href => "#contribute", :class => "menu", :value => "Give"}Give
      %hr
    .row{:style => "margin-top:10px;"}
      / HEADLINE
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#join-section Join in these places
      %table
        %tr
          %td{:width => "60%"}
            .map
              .map-box
                / MAP (right)
                / EMBED GOES HERE
                .map-box-inner.primary{:style => "height: 380px;"}
                  %div{:id => "map"}
                  <iframe width="420" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211836600249959492431.0004d44e7935be28cbabb&amp;ie=UTF8&amp;t=m&amp;ll=43.580391,-101.777344&amp;spn=44.379717,80.859375&amp;z=3&amp;output=embed"></iframe><br />
                  %table
                    %tr
                      %td.legend
                        %a.blue
                      %td.legend-text
                        Code Across
                      %td.legend
                        %a.red
                      %td.legend-text
                        Open Data Day
                      %td.legend
                        %a.purple
                      %td.legend-text
                        All The Things!
          %td{:width => "40%", :align => "center", :style => "font-size:16px;"}
            %table{:align => "right"}
              %tr.cities
                %td{:align => "center"}
                  %a{:title => "Austin, TX registration page", :href => "http://www.open-austin.org/article/137", :target => "top"}Austin, TX
              %tr.cities
                %td{:align => "center"}
                  %a{:title => "Cary, NC Eventbrite", :href => "http://caryopendataday.eventbrite.com/", :target => "top"}Cary, NC
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://www.meetup.com/cfabrigade/Grand-Rapids-MI/859432/"}Grand Rapids, MI
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://phcfh-eorg.eventbrite.com/"}Houston, TX
              %tr.cities
                %td{:align => "center"}
                  Kansas City, KS & MO
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://www.vegashack.com/"}Las Vegas, NV
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://codeacross-louisville.eventbrite.com/"}Louisville, KY
              %tr
                %td{:align => "center"}
                  %a{:href => "http://www.meetup.com/MKEData/events/102101232/"}Milwaukee, WI
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://www.meetup.com/cfabrigade/Twin-Cities/871962/"}Minneapolis-Saint Paul, MN
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://www.meetup.com/openny/events/103151862/"}New York, NY
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://www.startacademy.co/"}Norfolk, VA
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://opendatadayoakland.eventbrite.com"}Oakland, CA
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://www.meetup.com/Code-for-America-Philly/events/104327762/"}Philadelphia, PA
              %tr.cities
                %td{:align => "center"}
                  %a{:title => "Sacramento, CA Meetup", :href => "http://www.meetup.com/cfabrigade/Sacramento-CA/857112/", :target => "top"}Sacramento, CA
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://codeacross-sandiego.eventbrite.com/"}San Diego, CA
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://sf_hackyourcity.eventbrite.com/"}San Francisco, CA
              %tr.cities
                %td{:align => "center"}
                  San Mateo County, CA
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://www.meetup.com/Code-for-Seattle/events/103791052/"}Seattle, WA
              %tr.cities
                %td{:align => "center"}
                  %a{:href => "http://codeacross-southbend.eventbrite.com/"}South Bend, IN
              %tr.cities
                %td{:align => "center"}
                  Summit County, OH
              %tr.cities
                %td{:align => "center"}
                  %a{:title => "Washington, D.C. Eventbrite", :href => "http://opendataday2013dc.eventbrite.com/", :target => "top"}Washington, D.C.
      / START OF MAIN BODY CONTENT
      / JOIN SECTION
    %br
    .content-wrap
      %p{:style => "font-size:18px;"}
        %a{:title => "Open Data Day Wiki", :href => "http://wiki.opendataday.org/2013/City_Events#United_States", :target => "top"} Click here
        for a cross-listing of Open Data Day U.S. Locations.
        // ACTIVITIES
      %p{:style => "font-size:18px;"}
        Not seeing an event near you?
        %a{:title => "share form", :href => "https://codeforamerica.wufoo.com/forms/share-a-code-across-or-open-data-day-event/", :target => "top"} Share one
        or
        %a{:title => "host form", :href => "https://codeforamerica.wufoo.com/forms/host-a-code-across-america-event/", :target => "top"} apply to host
        one.

      %p{:style => "font-size:24px;"}
        %a{:title => "Code Across Activities on Github", :href => "https://github.com/codeforamerica/brigade/wiki/Code-Across-America-2013", :target => "top"} Find Activities on GitHub
      %p{:style => "font-size:18px;"}
        What activities interest you?
        %a{:title => "interest form", :href => "https://codeforamerica.wufoo.com/forms/code-across-america-activities-events/", :target => "top"} Take this 3 question survey.

      // HOST
      %hr
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#host-section Host an Event
      %table{:style => "width:1000px;font-size:16px;align:justify"}
        %tr
          %td{:width => "700px;", :height => "100px;"}
            %h3.campaign-header Brigade Meetup
            Use
            %a{:title => "Brigade Meetup site", :href => "http://meetup.com/cfabrigade", :target => "top"}Brigade Meetup
            or
            %a{:title => "Brigade Meetup site", :href => "http://code-for-america.meetup.com", :target => "top"} tag your Meetup with "Code for America"
            to host a Brigade meeting in your local community.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "Meetup logo", :src => "/assets/meetup-logo.gif", :width => "100", :height => "50"}
        %tr
          %td{:width => "700px;", :height => "100px;"}
            %h3 CityCamp
            Use this
            %a{:title => "Since the inaugural event in Jan 2010, 32 CityCamps have been independently organized in 25 cities across 8 countries and 5 continents.", :href => "http://citycamp.govfresh.com/start-a-camp/", :target => "top"} community-powered unconference model
            to bring diverse groups together around topics in municipal innovation.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "Meetup logo", :src => "https://twimg0-a.akamaihd.net/profile_images/1100231425/icon-cc.png", :width => "90px", :height => "40px"}
        %tr
          %td{:width => "700px;", :height => "100px;"}
            %h3 Hackathon
            Invite subject matter experts from local gov to share civic challenges. Curate challenges. Invite communities to learn about challenges & prototype solutions over a day or weekend.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            /%img{:title => "RHoK logo", :src => "https://www.google.com/a/cpanel/rhok.org/images/logo.gif", :width => "100", :height => "50"}
        %tr
          %td{:width => "700px;", :height => "100px;"}
            %h3 Write-a-thon
            If your city, town or neighborhood has a
            %a{:title => "Localwiki.org", :href => "http://localwiki.org", :target => "top"} LocalWiki
            you can contribute to it. If you don't have a LocalWiki where you live
            %a{:title => "localwiki how to", :href => "http://localwiki.org/install/", :target => "top"}you can launch one.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "LocalWiki logo", :src => "/assets/r2r/localwiki.png", :width => "100px", :height => "40px"}
        %tr
          %td{:width => "700px;", :height => "100px;"}
            %h3 Salon
            Invite a guest speaker or a panel to speak for an hour on a topic that matters in your community. Facilitate a questions and answers segment. Stream and record the event to share online.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "Meetup logo", :src => "http://codeforamerica.org/wp-content/uploads/2012/04/CfA_Salon1.png", :width => "150px", :height => "100px"}
        %tr
          %td{:width => "700px;", :height => "100px;"}
            %h3 Focus Group
            Get a small group of stakeholders in a room together for a facilitated session of inquiry and discussion around a core topic. Record, document and share segments online.
        %tr
          %td{:width => "700px;", :height => "100px;"}
            %h3 Skill Share
            Expose, teach and train others how to use modern tools and techniques. Increase the civic digital literacy of your community. Record, document and share segments online.
      %p{:style => "font-size:18px;font-weight:bold;"}
        %a{:href => "codeacross-tools", :target => "top"}Tools
        for Organizers
      %p{:style => "font-size:18px;font-weight:bold;"}
        Want to host?
        %a{:title => "host form", :href => "https://codeforamerica.wufoo.com/forms/host-a-code-across-america-event/", :target => "top"} Click Here!
      %p{:style => "font-size:18px;font-weight:bold;"}
        Checkout
        %a{:title => "last year", :href => "http://codeforamerica.org/code-across-america", :target => "top"}Code Across 2012
      // SHARE
      %hr
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#share Share Code Across America Online
      %table
        %tr{:width => "100%;"}
          %td{:valign => "top", :width => "60%"}
            // SOCIAL MEDIA
            %ol
              %li
                %p{:style => "font-size:18px;"}
                  Create a new location for your event in Foursquare. Check in to your event using Path, Foursquare and Facebook. Set your location to the event and add '#codeacross' to your status.
              %li
                %p{:style => "font-size:18px;"}
                  Use
                  %span{:style => "color:#399fd3;"} #codeacross
                  on social media and content sharing platforms.
            %center
              %p{:style => "font-size:28px;color:#cf1b41;font-weight:bold"}
                \#codeacross
              %table
                %tr
                  %td.social
                    %a.twitter{:href => "http://twitter.com/search/%23codeacross", :target => "top"}
                    %br
                    Twitter
                  %td.social
                    %a.tumblr{:href => "http://www.tumblr.com/tagged/codeacross", :target => "top"}
                    %br
                    Tumblr
                  %td.social
                    %a.facebook{:href => "https://www.facebook.com/search/results.php?q=%23codeacross", :target => "top"}
                    %br
                    Facebook
                  %td.social
                    %a.flickr{:href => "http://www.flickr.com/search/?q=%23codeacross", :target => "top"}
                    %br
                    Flickr
                %tr
                  %td.social
                    %a.youtube{:href => "www.youtube.com/results?search_query=%23codeacross", :target => "top"}
                    %br
                    YouTube
                  %td.social
                    %a.vimeo{:href => "http://vimeo.com/search?q=%23codeacross", :target => "top"}
                    %br
                    Vimeo
                  %td.social
                    %a.foursquare{:href => "https://foursquare.com/explore?&q=%23codeacross", :target => "top"}
                    %br
                    Foursquare
                  %td.social
                    %a.kippt{:href => "https://kippt.com/search/%23codeacross", :target => "top"}
                    %br
                    Kippt
          %td{:width => "40%"}
            // TWITTER
            <div style="width: 284px;float:right;padding-left:10px;">
            <script charset="utf-8" type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script type="text/javascript">
            // <![CDATA[
            new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'codeforamerica OR cfa2013 OR codeacross',
            interval: 45000,
            title: 'Code Across America',
            subject: 'Meet the Movement',
            width: 280,
            height: 350,
            theme: {
            shell: {
            background: '#d15a5a',
            color: '#ffffff'
            },
            tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
            }
            },
            features: {
            scrollbar: true,
            loop: true,
            live: true,
            behavior: 'default'
            }
            }).render().start();
            // ]]></script></div>
            </div>
    %hr
    %a.back-to-top{:href => "#"} &uarr; Back to top
    %h1#contribute Contribute to Code Across America
    %p
      CfA appreciates the forward-thinking individuals who support civic innovation.
      %p{:style => "font-size:22px;font-weight:bold;"}
        %a{:class => "button-race", :title => "CfA donation page", :href => "https://secure.codeforamerica.org/page/contribute/annual-campaign", :target => "top"}Donate Now
    %div{:width => "800px;"}