- @page_title='Race 4 Reuse'
// LEGACY STYLE
%LINK{:HREF => "/assets/r2r/style.css", :REL => "StyleSheet", :TYPE => "text/css"}
// CAMPAIGNS TEMPLATE STYLE
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "/assets/campaigns.js", :TYPE => "text/javascript"}
  %html{:lang => "en"}
    .row
    %h2 Feb 22-24: Code for America Where You Live
    %p.ocall
      Between Feb 22-24, connect with hundreds of passionate citizens from across the country who will be coding for America where they live and work.
    %p.ocall
      Code Across America is a distributed network event that any municipality can join, big or small, beginner or expert. Individuals and groups can Code Across America through virtual an in-person activities around the country.
    %p.ocall
      February 23rd is also 
      %a{:title => "International Open Data Day", :href => "http://opendataday.org", :target => "top"} International Open Data Day.
      Link Code Across America and International Open Data Day by joining or hosting an event where you live. 
    %p.ocall
    / BANNER
    .row
      %a{:href => "/pages/codeacross"}
        /*%img{:id => "banner", :align => "center", :src => "http://gallery.mailchimp.com/d9acf2a4c694efbd76a48936f/images/race_for_reuse_banner_wrap_V2.png", :width => "1000px"}/*/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
    / JOIN & HOST
    %center
      %hr
      %a{:href => "#connect-map", :class => "menu", :value => "Join"}Join
      %a{:href => "#host-section", :class => "menu", :value => "Host"}Host
      %a{:href => "#share", :class => "menu", :value => "Share"}Share
      %a{:href => "#contribute", :class => "menu", :value => "Give"}Give
      %hr
    .row{:style => "margin-top:10px;"}
      / HEADLINE
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1.join-section Join in these places
      .map
        .map-box
          / MAP (right)
          / EMBED GOES HERE
          .map-box-inner.primary{:style => "height: 350px;"}
            %div{:id => "map"}
            <iframe width="420" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211836600249959492431.0004d44e7935be28cbabb&amp;ie=UTF8&amp;t=m&amp;ll=43.580391,-101.777344&amp;spn=44.379717,80.859375&amp;z=3&amp;output=embed"></iframe><br />
            %br
            Legend:
            %span{:style => "color:#4372AA;"} Code Across Event
            \#
            %span{:style => "color:#CD5555;"} Open Data Day Event
            \#
            %span{:style => "color:#694489;"} All The Things!
      %iframe{:src => "https://docs.google.com/spreadsheet/ccc?key=0AvWC8QOgiwjzdGU5b1ZPTEhwdExlcENyeUpGR3VZM2c&output=html&gid=0&single=true&gridlines=false", :width => "450px;", :height => "396px;", :style => "float:right;padding-left:20px;border:0"}
          
      / START OF MAIN BODY CONTENT
      / JOIN SECTION
    %br
    .content-wrap
      %p{:style => "font-size:18px;"}
        %a{:title => "Open Data Day Wiki", :href => "http://wiki.opendataday.org/2013/City_Events#United_States", :target => "top"} Click here
        for a cross-listing of Open Data Day U.S. Locations
        // ACTIVITIES
      %p{:style => "font-size:18px;"}
        Not seeing an event near you?
        %a{:title => "share form", :href => "https://codeforamerica.wufoo.com/forms/share-a-code-across-or-open-data-day-event/", :target => "top"} Share one
        or
        %a{:title => "host form", :href => "https://codeforamerica.wufoo.com/forms/host-a-code-across-america-event/", :target => "top"} apply to host one

      %p{:style => "font-size:18px;"}
        %a{:title => "Code Across Activities on Github", :href => "https://github.com/codeforamerica/brigade/wiki/Code-Across-America-2013"} Find Activities on GitHub
      %p{:style => "font-size:18px;"}
        What activities interest you?
        %a{:title => "interest form", :href => "https://codeforamerica.wufoo.com/forms/code-across-america-activities-events/", :target => "top"} Take this 3 question survey.

      // HOST
      %hr
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#host-section Host an Event
      %table{:style => "width:1000px;font-size:16px;align:justify"}
        %tr
          %td{:width => "150px;", :height => "70px;"}
            %h3 Brigade Meetup
          %td{:width => "700px;", :height => "70px;"}
            Use
            %a{:title => "Brigade Meetup site", :href => "http://meetup.com/cfabrigade", :target => "top"}Brigade Meetup
            or
            %a{:title => "Brigade Meetup site", :href => "http://code-for-america.meetup.com", :target => "top"} tag your Meetup with "Code for America"
            to host a Brigade meeting in your local community
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "Meetup logo", :src => "/assets/meetup-logo.gif", :width => "100", :height => "50"}
        %tr
          %td{:width => "150px;", :height => "70px;"}
            %h3 CityCamp
          %td{:width => "700px;", :height => "70px;"}
            Use this 
            %a{:title => "Since the inaugural event in Jan 2010, 32 CityCamps have been independently organized in 25 cities across 8 countries and 5 continents.", :href => "http://citycamp.govfresh.com/start-a-camp/", :target => "top"} community-powered unconference model
            to bring diverse groups together around topics in municipal innovation.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "Meetup logo", :src => "https://twimg0-a.akamaihd.net/profile_images/1100231425/icon-cc.png", :width => "90", :height => "40"}
        %tr
          %td{:width => "150px;", :height => "70px;"}
            %h3 Hackathon
          %td{:width => "700px;", :height => "70px;"}
            Invite subject matter experts from local gov to share civic challenges. 
            Curate challenges through the 
            %a{:title => "RHoK challenges", :href => "http://www.rhok.org/problems", :target => "top"} Random Hacks of Kindness platform. 
            Invite communities to learn about challenges and prototype solutions over a day or a weekend.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "RHoK logo", :src => "https://www.google.com/a/cpanel/rhok.org/images/logo.gif", :width => "100", :height => "50"}
        %tr
          %td{:width => "150px;", :height => "70px;"}
            %h3 Write-a-thon
          %td{:width => "700px;", :height => "70px;"}
            If your city, town or neighborhood has a 
            %a{:title => "Localwiki.org", :href => "http://localwiki.org", :target => "top"} LocalWiki 
            you can contribute to it. If you don't have a LocalWiki where you live
            %a{:title => "localwiki how to", :href => "http://localwiki.org/install/", :target => "top"}you can launch one.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "LocalWiki logo", :src => "/assets/r2r/localwiki.png", :width => "100", :height => "50"}
        %tr
          %td{:width => "150px;", :height => "70px;"}
            %h3 Salon
          %td{:width => "700px;", :height => "70px;"}
            Invite a guest speaker or a panel to speak for an hour on a topic that matters in your community. Facilitate a questions and answers segment. Stream and record the event to share online.
          %td{:width => "150px;", :height => "70px;", :align => "center"}
            %img{:title => "Meetup logo", :src => "http://codeforamerica.org/wp-content/uploads/2012/04/CfA_Salon1.png", :width => "150", :height => "100"}
        %tr
          %td{:width => "150px;", :height => "70px;"}
            %h3 Focus Group
          %td{:width => "700px;", :height => "70px;"}
            Get a small group of stakeholders in a room together for a facilitated session of inquiry and discussion around a core topic. Record, document and share segments online.
        %tr
          %td{:width => "150px;", :height => "70px;"}
            %h3 Skill Share
          %td{:width => "700px;", :height => "70px;"}
            Expose, teach and train others how to use modern tools and techniques. Increase the civic digital literacy of your community. Record, document and share segments online.
      %p{:style => "font-size:18px;font-weight:bold;"}
        %a{:href => "codeacross-tools"}Tools 
        for Organizers
      %p{:style => "font-size:18px;font-weight:bold;"}
        Want to host?
        %a{:title => "host form", :href => "#wufoo-p7p5m7"} Click Here!
      %p{:style => "font-size:18px;font-weight:bold;"}
        Checkout 
        %a{:title => "last year", :href => "http://codeforamerica.org/code-across-america", :target => "top"}Code Across 2012
      // SHARE
      %hr
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#share Share Code Across America Online
      %table
        %tr{:width => "100%;"}
          %td{:valign => "top", :width => "60%"}
            // SOCIAL MEDIA
            %ol
              %li
                %p{:style => "font-size:18px;"}
                  Create a new location for your event in Foursquare. Check in to your event using Path, Foursquare and Facebook. Set your location to the event and add '#codeacross' to your status.
              %li
                %p{:style => "font-size:18px;"}
                  Use
                  %span{:style => "color:blue;"} #codeacross
                  on social media and content sharing platforms.
            
          %td{:width => "40%"}
            // TWITTER
            <div style="width: 284px;float:right;padding-left:10px;">
            <script charset="utf-8" type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script type="text/javascript">
            // <![CDATA[
            new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'codeforamerica OR cfa2013 OR codeacross',
            interval: 45000,
            title: 'Code Across America',
            subject: 'Meet the Movement',
            width: 280,
            height: 350,
            theme: {
            shell: {
            background: '#d15a5a',
            color: '#ffffff'
            },
            tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
            }
            },
            features: {
            scrollbar: true,
            loop: true,
            live: true,
            behavior: 'default'
            }
            }).render().start();
            // ]]></script></div>
            </div>
      %hr
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#contribute Contribute to Code Across America
      %p
        CfA appreciates the forward-thinking individuals who support civic innovation.
        %p{:style => "font-size:22px;font-weight:bold;"}
          %a{:class => "button-race", :title => "CfA donation page", :href => "http://codeforamerica.org/donate", :target => "top"}Donate Now
      %h3 Grantmakers
      %p
        If you are a grantmaker who is interested in supporting our mission to bring talented technologists and designers together with committed public servants to make government work better for everyone, please contact Hadley Dynak from the CfA team at
        %a{:title => "email Hadley, subject Code Across Support", :href => "mailto:hadley@codeforamerica.org?subject=Code Across Support"}hadley@codeforamerica.org.

      %h3 Corporate Sponsors
      %p
        Code Across America is a great chance to connect with talented developers, local government leaders, and the civic innovation community. If your company is interested in a sponsored partnership for this event (either nationally or in one of the 30+ cities nationwide where events will be taking place), please contact Ashley Meyers from the CfA team at 
        %a{:title => "email Ashley, subject Code Across Support", :href => "mailto:ashley@codeforamerica.org?subject=Code Across Support"}ashley@codeforamerica.org.
    <script type="text/javascript">
    var f = function(id)
    {
    document.getElementById(id).style.display = "none";
    };
    var g = function()
    {
    f("header");
    f("footer");
    }
    window.onload = g();
    </script>