- @page_title='Code Across America'
// LEGACY STYLE
%LINK{:HREF => "/assets/r2r/style.css", :REL => "StyleSheet", :TYPE => "text/css"}
// CAMPAIGNS TEMPLATE STYLE
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "/assets/campaigns.js", :TYPE => "text/javascript"}
  %html{:lang => "en"}
    .row
      %a{:href => "codeacross"}
        %img{:id => "banner", :align => "center", :src => "/assets/code_across/code_across_banner.png", :width => "1000px"}
    .row
    %hr
    %center
      %h1 Live Communications
    %hr
    %table{:width => "100%"}
      %tr
        %td{:style => "font-size:24px;height:50px;font-family:'Avenir Light', Helvetica, Arial, sans-serif;"}
          IRC on freenode
        %td{:style => "font-size:24px;color:#cf1b41;height:50px;font-family:'Avenir Light', Helvetica, Arial, sans-serif;"}
          \#codeforamerica & #codeacross
      %tr
        %td{:style => "font-size:24px;height:50px;font-family:'Avenir Light', Helvetica, Arial, sans-serif;"}
          Hangout
        %td{:style => "font-size:24px;color:#cf1b41;height:50px;font-family:'Avenir Light', Helvetica, Arial, sans-serif;"}
          Chicago Brigade "Ask Me Anything"
          %a{:href => "https://www.google.com/calendar/embed?src=codeforamerica.org_svq8pao6907bhbpoa02bqlhf6g@group.calendar.google.com", :target => "top"} 2PM Central Time
      %tr
        %td{:style => "font-size:24px;height:50px;font-family:'Avenir Light', Helvetica, Arial, sans-serif;"}
          Hashtag
        %td{:style => "font-size:24px;color:#cf1b41;height:50px;font-family:'Avenir Light', Helvetica, Arial, sans-serif;"}
          \#codeacross
    .content-wrap
      // ACTIVITIES
      %p{:style => "font-size:28px;"}
        %a{:title => "Code Across Activities on Github", :href => "https://github.com/codeforamerica/brigade/wiki/Code-Across-America-2013", :target => "top"} Find Activities on GitHub
      // SHARE
      %hr
      %table
        %tr{:width => "100%;"}
          %td{:valign => "top", :width => "60%"}
            // SOCIAL MEDIA
            %p{:style => "font-size:18px;"}
              Use
              %span{:style => "color:#399fd3;"} #codeacross
              on social media and content sharing platforms. 
            %center
              %p{:style => "font-size:28px;color:#cf1b41;font-weight:bold"}
                \#codeacross
              %table
                %tr
                  %td.social
                    %a.twitter{:href => "http://twitter.com/search/%23codeacross", :target => "top"}
                    %br
                    Twitter
                  %td.social
                    %a.tumblr{:href => "http://www.tumblr.com/tagged/codeacross", :target => "top"}
                    %br
                    Tumblr
                  %td.social
                    %a.facebook{:href => "https://www.facebook.com/search/results.php?q=%23codeacross", :target => "top"}
                    %br
                    Facebook
                  %td.social
                    %a.flickr{:href => "http://www.flickr.com/search/?q=%23codeacross", :target => "top"}
                    %br
                    Flickr
                %tr
                  %td.social
                    %a.youtube{:href => "www.youtube.com/results?search_query=%23codeacross", :target => "top"}
                    %br
                    YouTube
                  %td.social
                    %a.vimeo{:href => "http://vimeo.com/search?q=%23codeacross", :target => "top"}
                    %br
                    Vimeo
                  %td.social
                    %a.foursquare{:href => "https://foursquare.com/explore?&q=%23codeacross", :target => "top"}
                    %br
                    Foursquare
                  %td.social
                    %a.kippt{:href => "https://kippt.com/search/%23codeacross", :target => "top"}
                    %br
                    Kippt
          %td{:width => "40%"}
            // TWITTER
            <div style="width: 284px;float:right;padding-left:10px;">
            <script charset="utf-8" type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script type="text/javascript">
            // <![CDATA[
            new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'codeacross',
            interval: 45000,
            title: 'Code Across America',
            subject: 'Meet the Movement',
            width: 280,
            height: 350,
            theme: {
            shell: {
            background: '#d15a5a',
            color: '#ffffff'
            },
            tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
            }
            },
            features: {
            scrollbar: true,
            loop: true,
            live: true,
            behavior: 'default'
            }
            }).render().start();
            // ]]></script></div>
            </div>