- @page_title='Code Across America'
// LEGACY STYLE
%LINK{:HREF => "/assets/r2r/style.css", :REL => "StyleSheet", :TYPE => "text/css"}
// CAMPAIGNS TEMPLATE STYLE
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
%LINK{:HREF => "/assets/campaigns.js", :TYPE => "text/javascript"}
  %html{:lang => "en"}
    .row
      %a{:href => "codeacross"}
        %img{:id => "banner", :align => "center", :src => "/assets/code_across/code_across_banner.png", :width => "1000px"}
    .row
    %h2 We're Coding Across America Right Now!
    %table
      %tr
        %td.above-scroll{:width => "42%"}
          %p{:style => "font-size:18px;"}
          February 22-24, citizens passionate about technology and their communities are coding across America in service to the places where we live.
          %p{:style => "font-size:18px;"}
          Code Across America is a multi-day event that any municipality or community can join, big or small, beginner or expert. Individuals and groups can Code Across America through virtual and in-person activities around the country.
          %p{:style => "font-size:18px;"}
          February 23rd is
          %a{:title => "International Open Data Day", :href => "http://opendataday.org", :target => "top"} International Open Data Day.
        %td.above-scroll{:width => "58%"}
          .map
            .map-box
            <div>
            <iframe src="http://player.vimeo.com/video/60114574" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </div>
    / BANNER
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
    / JOIN & HOST
    %center
      %hr
      %a{:href => "#join-section", :class => "menu", :value => "Join"}Join
      %a{:href => "#share", :class => "menu", :value => "Share"}Share
      %a{:href => "#contribute", :class => "menu", :value => "Give"}Give
      %hr
    .row{:style => "margin-top:10px;"}
      / HEADLINE
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#join-section Join in these places
      %p{:style => "font-size:24px;color:#cf1b41;font-weight:bold;padding-left:30px;"}
        IRC
        \#codeforamerica
        on freenode
      %p{:style => "font-size:24px;padding-left:30px;"}
        Chicago Brigade Hosts "Ask Me Anything"
        %a{:href => "https://www.google.com/calendar/embed?src=codeforamerica.org_svq8pao6907bhbpoa02bqlhf6g@group.calendar.google.com", :target => "top"}2PM Central Time
      %table.cities
        %tr
          %td{:width => "60%"}
            .map
              .map-box
                / MAP (right)
                / EMBED GOES HERE
                .map-box-inner.primary{:style => "height: 380px; width: 460px;"}
                  %div{:id => "map"}
                  <iframe width="460" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=211836600249959492431.0004d44e7935be28cbabb&amp;ie=UTF8&amp;t=m&amp;ll=42.032974,-112.851562&amp;spn=87.656688,121.71875&amp;z=2&amp;output=embed"></iframe><br />
                  %table
                    %tr
                      %td.legend
                        %a.blue
                      %td.legend-text
                        Code Across
                      %td.legend
                        %a.red
                      %td.legend-text
                        Open Data Day
                      %td.legend
                        %a.purple
                      %td.legend-text
                        All The Things!
          %td{:width => "40%", :style => "font-size:16px;padding:10px;"}
            %table{:width => "100%"}
              %tr.cities
                %td.cities
                  %a{:title => "Austin, TX registration page", :href => "http://www.open-austin.org/article/137", :target => "top"}Austin, TX
                %td.cities
                  %a{:title => "Cary, NC Eventbrite", :href => "http://caryopendataday.eventbrite.com/", :target => "top"}Cary, NC
              %tr.cities
                %td.cities
                  %a{:href => "http://www.meetup.com/cfabrigade/Grand-Rapids-MI/859432/", :target => "top"}Grand Rapids, MI
                %td.cities
                  %a{:href => "http://myhonolulu.eventbrite.com", :target => "top"}Honolulu, HI
              %tr.cities
                %td.cities
                  %a{:href => "http://phcfh-eorg.eventbrite.com/", :target => "top"}Houston, TX
                %td.cities
                  %a{:href => "http://codeacrosskc.eventbrite.com/", :target => "top"}
                    %i Kansas City, KS & MO
              %tr.cities
                %td.cities
                  %a{:href => "http://www.vegashack.com/", :target => "top"}
                    %i Las Vegas, NV
                %td.cities
                  %a{:href => "http://codeacross-louisville.eventbrite.com/", :target => "top"}
                    %i Louisville, KY
              %tr.cities
                %td.cities
                  %a{:href => "http://www.meetup.com/MKEData/events/102101232/", :target => "top"}Milwaukee, WI
                %td.cities
                  %a{:href => "http://www.meetup.com/cfabrigade/Twin-Cities/871962/", :target => "top"}Minneapolis, MN
              %tr.cities
                %td.cities
                  %a{:href => "http://www.meetup.com/openny/events/103151862/", :target => "top"}
                    %i New York, NY
                %td.cities
                  %a{:href => "http://www.startacademy.co/", :target => "top"}Norfolk, VA
              %tr.cities
                %td.cities
                  %a{:href => "http://opendatadayoakland.eventbrite.com", :target => "top"}
                    %i Oakland, CA
                %td.cities
                  %a{:href => "http://www.meetup.com/Code-for-America-Philly/events/104327762/", :target => "top"}Philadelphia, PA
              %tr.cities
                %td.cities
                  %a{:title => "Sacramento, CA Meetup", :href => "http://www.meetup.com/cfabrigade/Sacramento-CA/857112/", :target => "top"}Sacramento, CA
                %td.cities
                  %a{:href => "http://www.meetup.com/cfabrigade/San-Diego-CA/878642/", :target => "top"}San Diego, CA
              %tr.cities
                %td.cities
                  %a{:href => "http://sf_hackyourcity.eventbrite.com/", :target => "top"}
                    %i San Francisco, CA
                %td.cities
                  %a{:href => "http://hackhunger.eventbrite.com/", :target => "top"}
                    %i San Mateo County, CA
              %tr.cities
                %td.cities
                  %a{:href => "http://www.meetup.com/Code-for-Seattle/events/103791052/", :target => "top"}Seattle, WA
                %td.cities
                  %a{:href => "http://codeacross-southbend.eventbrite.com/", :target => "top"}
                    %i South Bend, IN
              %tr.cities
                %td.cities
                  %a{:href => "http://highlightsummit.eventbrite.com/", :target => "top"}
                    %i Summit County, OH
                %td.cities
                  %a{:title => "Washington, D.C. Eventbrite", :href => "http://opendataday2013dc.eventbrite.com/", :target => "top"}Washington, D.C.
            %hr
            %p
            %i 2013 Fellowship Cities
      / START OF MAIN BODY CONTENT
      / JOIN SECTION
    .content-wrap
      // ACTIVITIES
      %p{:style => "font-size:28px;"}
        %a{:title => "Code Across Activities on Github", :href => "https://github.com/codeforamerica/brigade/wiki/Code-Across-America-2013", :target => "top"} Find Activities on GitHub
      %p{:style => "font-size:18px;"}
        What activities interest you?
        %a{:title => "interest form", :href => "https://codeforamerica.wufoo.com/forms/code-across-america-activities-events/", :target => "top"} Take this 3 question survey.
      %p{:style => "font-size:18px;"}
        %a{:title => "Open Data Day Wiki", :href => "http://wiki.opendataday.org/2013/City_Events#United_States", :target => "top"} Click here
        for a cross-listing of Open Data Day U.S. Locations.
      // SHARE
      %hr
      %a.back-to-top{:href => "#"} &uarr; Back to top
      %h1#share Share Code Across America Online
      %table
        %tr{:width => "100%;"}
          %td{:valign => "top", :width => "60%"}
            // SOCIAL MEDIA
            %ol
              %li
                %p{:style => "font-size:18px;"}
                  Create a new location for your event in Foursquare. Check in to your event using Path, Foursquare and Facebook. Set your location to the event and add '#codeacross' to your status.
              %li
                %p{:style => "font-size:18px;"}
                  Use
                  %span{:style => "color:#399fd3;"} #codeacross
                  on social media and content sharing platforms.
            %center
              %p{:style => "font-size:28px;color:#cf1b41;font-weight:bold"}
                \#codeacross
              %table
                %tr
                  %td.social
                    %a.twitter{:href => "http://twitter.com/search/%23codeacross", :target => "top"}
                    %br
                    Twitter
                  %td.social
                    %a.tumblr{:href => "http://www.tumblr.com/tagged/codeacross", :target => "top"}
                    %br
                    Tumblr
                  %td.social
                    %a.facebook{:href => "https://www.facebook.com/search/results.php?q=%23codeacross", :target => "top"}
                    %br
                    Facebook
                  %td.social
                    %a.flickr{:href => "http://www.flickr.com/search/?q=%23codeacross", :target => "top"}
                    %br
                    Flickr
                %tr
                  %td.social
                    %a.youtube{:href => "www.youtube.com/results?search_query=%23codeacross", :target => "top"}
                    %br
                    YouTube
                  %td.social
                    %a.vimeo{:href => "http://vimeo.com/search?q=%23codeacross", :target => "top"}
                    %br
                    Vimeo
                  %td.social
                    %a.foursquare{:href => "https://foursquare.com/explore?&q=%23codeacross", :target => "top"}
                    %br
                    Foursquare
                  %td.social
                    %a.kippt{:href => "https://kippt.com/search/%23codeacross", :target => "top"}
                    %br
                    Kippt
              %p{:style => "font-size:28px;color:#cf1b41;font-weight:bold"}
                IRC
                \#codeforamerica
                on freenode
          %td{:width => "40%"}
            // TWITTER
            <div style="width: 284px;float:right;padding-left:10px;">
            <script charset="utf-8" type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
            <script type="text/javascript">
            // <![CDATA[
            new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'codeforamerica OR cfa2013 OR codeacross',
            interval: 45000,
            title: 'Code Across America',
            subject: 'Meet the Movement',
            width: 280,
            height: 350,
            theme: {
            shell: {
            background: '#d15a5a',
            color: '#ffffff'
            },
            tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
            }
            },
            features: {
            scrollbar: true,
            loop: true,
            live: true,
            behavior: 'default'
            }
            }).render().start();
            // ]]></script></div>
            </div>
    %hr
    %a.back-to-top{:href => "#"} &uarr; Back to top
    %h1#contribute Contribute to Code Across America
    %p{:style => "font-size:18px;"}
      CfA appreciates the forward-thinking individuals who support civic innovation.
      %p{:style => "font-size:22px;font-weight:bold;"}
        %a{:class => "button-race", :title => "CfA donation page", :href => "https://secure.codeforamerica.org/page/contribute/annual-campaign", :target => "top"}Donate Now