%table
  %tr
    %td{:width => "100px;"}
      %img{:alt => "tools icon", :src => "/assets/noun_tools_400.png", :style => "width: 80px; height: 80px;"}
    %td{:width => "400px;"}
      %h1 Tools for Your Event
%p{:style => "font-size: 24px;"}
  %a{:title => "Code Across Organizer's Toolkit", :href => "https://docs.google.com/document/d/1_2QOqlBpzO1sQ1xt8uccXjek0N6SZpDRAsXk4bO-tps/edit"} Code Across Organizer's  Toolkit
%h2 Templates
%p
  %a{:title => "Local press release", :href => "https://docs.google.com/a/codeforamerica.org/document/d/1AY_rCeblXuLPkabZOWyIpurH2d8hBPol-qJYjx62vhc/edit"} Local Press Release
%p
  %a{:title => "2.5 in sticker template", :href => "https://www.dropbox.com/s/q5hxs1g7s3456ia/2.5inch_round_template_5294-brigadestickers.pdf"} Made by Brigade 2.5" Sticker
%p
  %a{:title => "Event sign", :href => "https://docs.google.com/file/d/0B_WC8QOgiwjzT05IdVdwSk5TX0E/edit"} Event Sign
%h2 Materials
%p
  %a{:title => "Google doc event guide", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit"}Code for America Event Guide
%p
  %a{:title => "Civic App Marketing Guide", :href => "https://docs.google.com/document/d/1T5Zj4OifMxKL9VBj10sTAmk9_e78EX1PiE3p1PjNHEM/edit"} Civic App Marketing Guide
%p
  %a{:title => "Open Source Way", :href => "http://www.theopensourceway.org/book/The_Open_Source_Way-How_to_loosely_organize_a_community.html"} Open Source Way: How to loosely organize a community

%h2 Brigade Graphics
%p
  %img{:title => "png version", :src => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png", :style => "width: 270px; height: 102px;"}
%p
  %a{:title => "png version", :href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png"} CfA_Brigade_logo.png
%p
  %a{:title => "jpg version", :href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.jpg"} CfA_Brigade_logo.jpg
%p
  %a{:title => "Code for America logos", :href => "http://codeforamerica.org/logos/"} Code for America logos