%table
  %tr
    %td
      %img{:alt => "community icon", :src => "/assets/community.png"}
    %td
      %h1 Connect with other civic hackers.
%p
%h2 Brigade support team
%h3 A concierge service for civic hackers
%p Brigade is a network of civic hacking and open government communities supported by a team from Code for America. CfA's Brigade support team is like a concierge service for civic hackers who want help navigating the network to find civic hacking projects and other civic hackers. Throughout this site are links to formatted emails you can send to the concierge service to get specific assistance.
%a{:style => "font-size: 16px", :title => "email the civic hackers' concierge", :href => "mailto:brigade-info@codeforamerica.org"} brigade-info@codeforamerica.org
%h2 Brigade national network
%p Brigade has forum that reaches every member:
%a{:style => "font-size: 16px", :title => "email the civic hackers' concierge", :href => "mailto:brigade@codeforamerica.org"} brigade@codeforamerica.org
%p Membership is moderated. Discussions are public.
%h2 Community forums
%p While the support team is here to provide general assistance, your participation in local forums will help you get the most out of your Brigade experience. Local forums are where teams work together on specific activities. Here are the forums we follow.
%br
%table
  %tr{:valign => "top"}
    %td{:class => "connect-table"}
      %h3 Local forums
      %ol
        %li
          %a{:title => "Austin, TX", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/atxhack"} ATXHack
        %li
          %a{:title => "Fargo-Moorhead, ND", :href => "https://groups.google.com/forum/#!forum/cfafm"} CfA Fargo-Moorehead
        %li
          %a{:title => "Raleigh, NC", :href => "https://groups.google.com/forum/#!forum/citycampraleigh"} CityCamp Raleigh
        %li
          %a{:title => "Boston, MA", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/code-for-boston"} Code for Boston
        %li
          %a{:title => "Hampton Roads, VA", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/hrva-brigade"} Code for Hampton Roads
        %li
          %a{:title => "Hawaii", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/hawaii-brigade"} Code for Hawaii
        %li
          %a{:title => "Maine", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/maine-brigade"} Code for Maine
        %li
          %a{:title => "Northern Virginia", :href => "https://groups.google.com/forum/#!forum/nova-brigade"} Code for Northern Virginia
        %li
          %a{:title => "Philadelphia, PA", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/philly-brigade"} Code for Philadelphia
        %li
          %a{:title => "Pittsburgh, PA", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/pittsburgh-brigade"} Code for Pittsburgh
        %li
          %a{:title => "San Francisco, CA", :href => "https://groups.google.com/forum/#!forum/sfbrigade"} Code for San Francisco
        %li
          %a{:title => "Seattle, WA", :href => "https://groups.google.com/d/forum/seattle-brigade-cfa"} Code for Seattle
        %li
          %a{:title => "Colorado", :href => "https://groups.google.com/forum/#!forum/colorado-code-for-communities"} Colorado Code for Communities
        %li
          %a{:title => "Grand Rapids, MI", :href => "https://groups.google.com/forum/#!forum/friendly-code"} Friendly Code (Grand Rapids, MI)
        %li
          %a{:title => "Madison, WI", :href => "https://groups.google.com/forum/#!forum/hackingmadison"} Hacking Madison (Wisconsin)
        %li
          %a{:title => "Asheville, NC", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/open-asheville"} Open Asheville
        %li
          %a{:title => "Austin, TX", :href => "https://groups.google.com/forum/#!forum/openaustin"} Open Austin
        %li
          %a{:title => "Chattanooga, TN", :href => "https://groups.google.com/forum/#!forum/openchattanooga"} Open Chattanooga
        %li
          %a{:title => "Colorado", :href => "https://groups.google.com/forum/#!forum/opencolorado"} Open Colorado
        %li
          %a{:title => "Chicago, IL", :href => "https://groups.google.com/forum/#!forum/OpenGovChicago"} Open Government Chicago-land
        %li
          %a{:title => "Lexington, KY", :href => "https://groups.google.com/forum/#!forum/openlexington"} Open Lexington
        %li
          %a{:title => "New York City, NY", :href => "http://www.meetup.com/openny/"} Open NY Forum
        %li
          %a{:title => "Oakland, CA", :href => "https://groups.google.com/forum/#!forum/openoakland"} Open Oakland
        %li
          %a{:title => "Salt Lake City, UT", :href => "http://groups.google.com/d/forum/openslc"} Open Salt Lake City
        %li
          %a{:title => "San Diego, CA", :href => "https://groups.google.com/forum/#!forum/opensandiego"} Open San Diego
        %li
          %a{:title => "Tucson, AZ", :href => "https://groups.google.com/forum/#!forum/open-tucson"} Open Tucson
        %li
          %a{:title => "Twin Cities", :href => "https://groups.google.com/forum/?fromgroups#!forum/twin-cities-brigade"} Open Twin Cities
    %td
      %h3 App forums
      %ol
        %li
          %a{:title => "Forum for users and implementers of Adopt-a, including Adopt-a-Hydrant & derivatives", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/adopta"} Adopt-a
        %li
          %a{:title => "Forum for users and implementers of OKFN's open data portal software", :href => "http://lists.okfn.org/mailman/listinfo/ckan-discuss"} CKAN Discussion
        %li
          %a{:title => "Forum for users of Councilmatic", :href => "https://groups.google.com/forum/?fromgroups#!topic/councilmatic/"} Councilmatic
        %li
          %a{:title => "Forum for LocalWiki organizers", :href => "https://groups.google.com/forum/#!forum/localwiki-organizers"} LocalWiki Organizers
        %li
          %a{:title => "Forum for users & implementers of Azavea's open data catalog software", :href => "https://groups.google.com/forum/#!forum/opendatacatalog-user"} Open Data Catalog Users
        %li
          %a{:title => "Forum for Shareabouts developers", :href => "https://groups.google.com/forum/?fromgroups=#!forum/shareabouts-dev"} Shareabouts Developers
        %li
          %a{:title => "Forum for users & implementers of Socrata's open data platform service", :href => "http://support.socrata.com/forums/344875-developers-forum"} Socrata Developers
        %li
          %a{:title => "Inbox for Textizen Customer Support", :href => "mailto:textizen@codeforamerica.org?subject=Code for America Brigade Referral"} Textizen Help Desk
    %td
      %h3 Expert forums
      %ol
        %li
          %a{:title => "aka Hacking Education forum", :href => "https://groups.google.com/forum/#!forum/developers-helping-schools"} Developers Helping Schools
        %li
          %a{:title => "Open 311 forum", :href => "https://groups.google.com/forum/#!forum/open311"} Open 311
        %li
          %a{:title => "Forum for open government law, policy & process", :href => "https://groups.google.com/forum/#!forum/opengovinitiative"} Open Government Initiative
        %li
          %a{:title => "The first civic hacker forum?", :href => "https://groups.google.com/forum/?fromgroups#!forum/sunlightlabs"} Sunlight Labs
      %h3 Freenode IRC Channels
      %ol
        %li #codeforamerica
        %li #localwiki
        %li #openplans