%h1 Communicate with other civic hackers.

%h2 Brigade community support team: a concierge service
Brigade is a network of civic hacking and open government communities supported by a team from Code for America. CfA's Brigade support team is like a concierge service for civic hackers who want help navigating the network to find civic hacking projects and other civic hackers. Throughout this site are links to formatted emails you can send to the concierge service to get specific assistance.

%h2 While the support team is here to provide general assistance, your participation in local forums will make the most out of your Brigade experience. Local forums are where teams work together on specific activities. Here are the forums we follow.

%h3 Brigade forums
%ol
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/808-digital-cfa"} 808 Digital CfA
  %li
    %a{:title => "", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/atxhack"} ATXHack
  %li
    %a{:title => "", :href => "https://groups.google.com/a/codeforamerica.org/forum/#!forum/brigade-hrva"} Brigade-HRVA
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/brigade-nova"} Brigade-NOVA
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/cfafm"} CfA Fargo-Moorehead
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/citycampraleigh"} CityCamp Raleigh
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/code-for-america-brooklyn-brigade"} Code for America Brooklyn Brigade
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/codefortulsa"} Code for Tulsa
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/colorado-code-for-communities"} Colorado Code for Communities
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/hackingmadison"} Hacking Madison
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/openaustin"} Open Austin
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/opensandiego"} Open San Diego
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/openchattanooga"} Open Chattanooga
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/openlexington"} Open Lexington
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/openoakland"} Open Oakland
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/open-tucson"} Open Tucson
  %li
    %a{:title => "", :href => "https://groups.google.com/d/forum/seattle-brigade-cfa"} Seattle Brigade CfA
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/sfbrigade"} SF Brigade

%h3 App forums
%ol
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/localwiki-organizers"} LocalWiki Organizers
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/opendatacatalog-user"} Open Data Catalog Users

%h3 Expert forums
%ol
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/#!forum/opengovinitiative"} Open Government Initiative
  %li
    %a{:title => "", :href => "https://groups.google.com/forum/?fromgroups#!forum/sunlightlabs"} Sunlight Labs