%h1 The Brigade Network

%table{:id => "activities-table"}
  %tbody
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/members?query=Captain"}
          %img{:alt => "captain icon", :src => "/assets/captain.png"}
      %td.view-pages-center
        %p.view-pages
        %a.view-pages{:href => "/members?query=Captain"}Captains
        %p.view-pages local leaders making measurable differences where they live
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "forums"}
          %img{:alt => "open data icon", :src => "/assets/data.png"}
      %td.view-pages-center
        %p.view-pages
        %a.view-pages{:href => "forums"}Forums
        %p.view-pages where our network talks online
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/brigades"}
          %img{:alt => "deploy icon", :src => "/assets/launch.png"}
      %td.view-pages-center
        %p.view-pages
        %a.view-pages{:href => "/brigades"}Brigades
        %p.view-pages local centers of gravity lead by Captains
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/members"}
          %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
      %td.view-pages-center
        %p.view-pages
        %a.view-pages{:href => "/members"}Members
        %p.view-pages who we are
    %tr
      %td.view-pages-left
        %a.view-pages{:href => "/locations"}
          %img{:alt => "github icon", :src => "/assets/octocat.png"}
      %td.view-pages-center
        %p.view-pages
        %a.view-pages{:href => "/locations"}Locations
        %p.view-pages where we are