%table
  %tr
    %td
      %img{:alt => "events icon", :src => "/assets/calendar.png"}
    %td
      %h1 Civic hacking events around the country
%p
#gcal
  %table
    %tr
      %td{:width => "30%"}
        <iframe src="https://www.google.com/calendar/embed?title=Civic%20hacking%20events%20around%20the%20country&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=codeforamerica.org_svq8pao6907bhbpoa02bqlhf6g%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="300" height="600" frameborder="0" scrolling="no"></iframe>
      %td{:width => "70%"}
        <center>
        %h1 Tag your events
        %h1 with
        %h1 #civichacking or "civic hacking"
        %h2 If you use an event service with an API we can aggregate.
        %h3 If you aren't sure if your service has an API but you have an event web page,
        %h3 email the URL to: <a title="email brigade info" href="mailto:brigade-info@codeforamericai.org?subject=Civic Hacking Event"> brigade-info, subject: Civic Hacking Event</a>
        </center>

#meetup-cities
  <iframe src="http://www.meetup.com/everywhere/widget3/cfabrigade?width=300&amp;bg=light" width="300" height="600" frameborder="0" border="0" allowtransparency="true" scrolling="no"></iframe>

