%table
  %tr
    %td
      %img{:alt => "events icon", :src => "/assets/calendar.png"}
    %td
      %h1 Civic hacking events around the country
%p
#gcal
  %table
    %tr
      %td{:width => "30%", :valign => "top", :style => "font-family:Enriqueta; font-size:26px;"}
        Calendar
        %p
        <iframe src="https://www.google.com/calendar/embed?title=Civic%20hacking%20events%20around%20the%20country&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=codeforamerica.org_svq8pao6907bhbpoa02bqlhf6g%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="300" height="600" frameborder="0" scrolling="no"></iframe>
      %td{:width => "70%", :valign => "top", :style => "font-family:Enriqueta; font-size:26px;"}
        Meetup Everywhere
        <iframe src="http://www.meetup.com/cfabrigade/embeds/largest_event_list?css=&amp;w=660&amp;bg=light" width="660" height="580" frameborder="0" border="0" allowtransparency="true" scrolling="no"></iframe>



