%table
  %tr
    %td{:width => "100px;"}
      %img{:alt => "events icon", :src => "/assets/calendar.png"}
    %td{:width => "600px;"}
      %h1 Events for Civic Hackers
%p
#gcal
  %table
    %tr
      %td
        %a.view-pages{:title => "Civic Hacking & Open Gov Events", :href => "http://www.google.com/calendar/embed?src=codeforamerica.org_svq8pao6907bhbpoa02bqlhf6g%40group.calendar.google.com&ctz=America/New_York"} Calendar
      %td
        %p.medium{:style => "padding-left:50px;"} Brigade Meetups on Meetup.com
    %tr
      %td{:valign => "top"}
        %p We're tracking civic hacking & open government events all over the country:
        %p
        <iframe src="https://www.google.com/calendar/embed?title=Civic%20hacking%20events%20around%20the%20country&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23cccccc&amp;src=codeforamerica.org_svq8pao6907bhbpoa02bqlhf6g%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="300" height="1020" frameborder="0" scrolling="no"></iframe>
      %td
        %p
        <script type="text/javascript" src="http://www.meetup.com/embed/largest/code-for-america-brigade/"></script>
        %p.medium{:style => "padding-left:50px;"} Brigade Meetups on Meetup Everywhere
        %p
        <iframe style="padding-left:10px;" src="http://www.meetup.com/cfabrigade/embeds/soonest_event_list?css=&amp;w=660&amp;bg=light" width="660" height="580" frameborder="0" border="0" allowtransparency="true" scrolling="no"></iframe>
        %p
          %a{:href => "http://www.meetup.com/cfabrigade/?see_all=1"}More Brigade Meetups on Meetup Everywhere
        %p
          %a{:href => "http://code-for-america.meetup.com/"}More Code for America Meetups on Meetup.com
%p
%a{:title => "Code for America Events Guide", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit"}Code for America Events Guide



