%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
    %td
      %h1 Newsletters
%h2 2013
%ol
  %li
    %a{:href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=03e21188af&e=5cc66b1648"} February
  %li
    %a{:title => "January", :href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=0045a4ddfd&e=5cc66b1648"} January
%h2 2012
%ol
  %li
    %a{:title => "December", :href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=d493985c5a&e="}December
  %li
    %a{:title => "November", :href => "http://us2.campaign-archive1.com/?u=d9acf2a4c694efbd76a48936f&id=3f3f21e036&e=7d638ffc39"}November
  %li
    %a{:title => "October", :href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=fa44c69bb2&e=5cc66b1648"}October
  %li
    %a{:title => "September", :href => "http://us2.campaign-archive1.com/?u=d9acf2a4c694efbd76a48936f&id=9f2a59625d&e=5cc66b1648"}September