%h2 Help us build a better Brigade. This brief survey about our communications will take less that five minutes to complete.

<div id="wufoo-k7p2p5">
Fill out my <a href="http://codeforamerica.wufoo.com/forms/k7p2p5">online form</a>.
</div>
<script type="text/javascript">var k7p2p5;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'codeforamerica', 
'formHash':'k7p2p5', 
'autoResize':true,
'height':'1972',
'async':true,
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { k7p2p5 = new WufooForm();k7p2p5.initialize(options);k7p2p5.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
%br
%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
    %td
      %h1 Newsletters
%h2 2013
%ol
  %li
    %a{:href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=03e21188af&e=5cc66b1648"} February
  %li
    %a{:title => "January", :href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=0045a4ddfd&e=5cc66b1648"} January
%h2 2012
%ol
  %li
    %a{:title => "December", :href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=d493985c5a&e="}December
  %li
    %a{:title => "November", :href => "http://us2.campaign-archive1.com/?u=d9acf2a4c694efbd76a48936f&id=3f3f21e036&e=7d638ffc39"}November
  %li
    %a{:title => "October", :href => "http://us2.campaign-archive2.com/?u=d9acf2a4c694efbd76a48936f&id=fa44c69bb2&e=5cc66b1648"}October
  %li
    %a{:title => "September", :href => "http://us2.campaign-archive1.com/?u=d9acf2a4c694efbd76a48936f&id=9f2a59625d&e=5cc66b1648"}September