%h1 Make open government happen where you live
%p Are you an policy wonk? A process hacker? Are you someone who will stand before council and go on record in support of open government on the web? We can help you bring open government changes to your city. 
%p Here’s how you can start an open government initiative where you live:
%ol
  %li Find the “<a href="http://brigade.codeforamerica.org/applications/29">Open Government Initiative app</a>” and click "Start a Deployment". You’ll be asked to assign the activity to a Brigade or to start a new Brigade.
  %li Use the social media buttons to let everyone know right away about your deployment. We’ll also get an alert through <a href="mailto:brigade-info@codeforamerica.org">brigade-info@codeforamerica.org</a> so that each month we can share all the new activities with the Brigade community and through our newsletter.
  %li Get your friends to join your Brigade to show their support for your activity. Be sure to ask them to also using the social media buttons.
  %li Plan an event for your activity. Use our MeetUp or whichever service you prefer. Just be sure to let us know about it so we can spread the word.

%h2 Clone and Fork
%p Chances are, you’re city doesn’t have an open government directive or a policy for open data and open source. But other cities do have them. Don’t start from scratch. Take policies that have worked and bring them before your local government.

%h2 Resources
<a href="http://opengovernmentinitiative.org/directive/v1/">Open Government Directive</a>
<a href="http://wiki.civiccommons.org/Open_Data_Policy">Open Data Policy</a>
<a href="http://wiki.civiccommons.org/Open_Source_Policy">Open Source Policy</a>