%LINK{:HREF => "/assets/pages.css", :REL => "StyleSheet", :TYPE => "text/css"}
%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
    %td
      %h1 Help your local government get open:
%table{:id => "activities-table"}
  %tbody
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:href => "#speak"}Speak Before Council
        %section#speak.detail
          %p.large
            Every city council provides open time for citizens to speak. Prepare a statement and let your council know about Code for America. 
            %a{:href => "mailto:brigade-info@codeforamerica.org?subject=Id like to find out how to speak to my city council"}Contact us to find out more!
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:href => "#inform"}Inform Strategy, Policy & Resolutions
        %section#inform.detail
          %p.large
            Innovative governments welcome civic-minded citizens to engage in the process of shaping the digital cities and communities in which they live.
            %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=Im interested in open gov policy"}Contact us to find out more!
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:href => "#vol"}Start or Join a City Volunteer Program
        %section#vol.detail
          %p.large
            Some cities are opening new channels for citizens to participate in recognized volunteer programs for civic tech.
            %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=How do I start or join a city volunteer program?"}Contact us find out more!
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:href => "#anchor"}Anchor an Open Data Portal
        %section#anchor.detail
          %p.large
            More local governments each day are investing in technology infrastructure for open data but they need help from people who understand how data are used. 
            %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=Im interested in anchoring open data where I live"}Contact us to find out more!
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:href => "#help-open"}Help Gov Go Open Source
        %section#help-open.detail
          %p.large
            More local governments each day are moving to open source software but they need help from people who already understand the dynamics of open source to get them where they need to be.
            %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=How do I help my gov go open source?"}Contact us to find out more!
%h2 Resources & Help
%ul
  %li
    %a{:title => "Open Government Guidelines on Civic Commons Wiki", :href => "http://wiki.civiccommons.org/Open_Government_Guidelines"} Open Government Guidelines on Civic Commons Wiki
  %li
    %a{:title => "Open Government Policy on Civic Commons Wiki", :href => "http://wiki.civiccommons.org/Open_Government_Policy"} Open Government Policy on Civic Commons Wiki
  %li
    %a{:title => "Open Government Initiative", :href => "http://opengovernmentinitiative.org/"} Open Government Initiative