%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
    %td
      %h1 Help your local government get open:
%table{:id => "activities-table"}
  %tbody
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=Id like to find out how to speak to my city council"}Speak Before Council
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=Im interested in open gov policy"}Inform Strategy, Policy & Resolutions
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=How do I start or join a city volunteer program?"}Start or Join a City Volunteer Program
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=Im interested in anchoring open data where I live"}Anchor an Open Data Portal
    %tr
      %td{:class => "activities-left"}
      %td{:class => "activities-right"}
        %h1.activities
          %a{:title => "email brigade-info", :href => "mailto:brigade-info@codeforamerica.org?subject=How do I help my gov go open source?"}Help Gov Go Open Source
%h2 Resources & Help
%ul
  %li
    %a{:title => "Open Government Guidelines on Civic Commons Wiki", :href => "http://wiki.civiccommons.org/Open_Government_Guidelines"} Open Government Guidelines on Civic Commons Wiki
  %li
    %a{:title => "Open Government Policy on Civic Commons Wiki", :href => "http://wiki.civiccommons.org/Open_Government_Policy"} Open Government Policy on Civic Commons Wiki
  %li
    %a{:title => "Open Government Initiative", :href => "http://opengovernmentinitiative.org/"} Open Government Initiative