%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
    %td
      %h1 Make open government happen where you live
%p Are you an policy wonk? A process hacker? Are you someone who will stand before council and go on record in support of open government on the web? Then you are ready to help bring open government changes to your city.
%p Here’s how you can start an open government initiative where you live:
%ol
  %li Find out if your city has any <strong>ordinances, resolutions, directives, or policies</strong> about open government, including open source, open data, open planning...open anything. If you find open government send email to <a title="email brigade-info, subject: I Found Open Government!" href="mailto:brigade-info@codeforamerica.org?subject=I Found Open Government!">brigade-info@codeforamerica.org</a> and let us know what you found. If you don't find open government then we need to make it happen. <a title="email brigade-info, subject: We Need Open Government Here!" href="mailto:brigade-info@codeforamerica.org?subject=We Need Open Government Here!">Let us know if that's the case</a>, instead. We'll use the information to report back to the community where open government is and where it's needed.
  %li Get your friends to join Brigade and show their support for your activity.
  %li Plan an event for your activity. Use our <a title="our meetup everywhere page" href="http://www.meetup.com/cfabrigade">MeetUp Everywhere</a>.
%h2 Clone and Fork
%p Chances are, you’re city doesn’t have an open government directive or a policy for open data and open source. But other cities do have them. Don’t start from scratch. Take policies that have worked and bring them before your local government.

%h2 Resources & Help
%h3 Document Examples & Templates
%ul
  %li <a href="http://codeforamerica.org/open-impact/">CfA Open Impact Campaign</a>
  %li <a href="http://opengovernmentinitiative.org/directive/v1/">Open Government Directive</a>
  %li <a href="http://wiki.civiccommons.org/Open_Data_Policy">Open Data Policy</a>
  %li <a href="http://wiki.civiccommons.org/Open_Source_Policy">Open Source Policy</a>