%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/advocate.png"}
    %td
      %h1 Make open government happen where you live
%p Are you an policy wonk? A process hacker? Are you someone who will stand before council and go on record in support of open government on the web? Then you are ready to help bring open government changes to your city.
%p Here’s how you can start an open government initiative where you live:
%ol
  %li <a title="email brigade-info, subject: We Need Open Government Here!" href="mailto:brigade-info@codeforamerica.org?subject=We Need Open Government Here!">Send us this email</a> to let us know you are ready to stand up and speak out for open government.
  %li Visit the <a title="Open Impact Toolkit" href="http://brigade.codeforamerica.org/pages/openimpact-citizen">Open Impact Citizen Toolkit</a>. Use the tools to contact your city and local media. Follow the tips for using social media to spread the word.
  %li Get your friends to join Brigade and show their support for your activity.
  %li Plan an event for your activity. Use our <a title="our meetup everywhere page" href="http://www.meetup.com/cfabrigade">MeetUp Everywhere</a>.

%h2 Resources & Help
%h3 Document Examples & Templates
%ul
  %li <a title="Open Gov Directive home" href="http://opengovernmentinitiative.org/directive/v1/">Open Government Directive</a>
  %li <a title="Open Data Policy on CfA Commons" href="http://wiki.civiccommons.org/Open_Data_Policy">Open Data Policy</a>
  %li <a title="Open Source Policy on CfA Commons" href="http://wiki.civiccommons.org/Open_Source_Policy">Open Source Policy</a>