%table
  %tr
    %td
      %img{:alt => "open data icon", :src => "/assets/data.png"}
    %td
      %h1 Liberate civic data and build civic digital libraries!
%p Open government data increases trust in government, reduces friction in processes, and leads to economic development through new technologies and companies.
%p Civic data does not free itself. It needs you to liberate it.
%h2 Here’s how you can join us in opening civic data where you live:
%ol
  %li Send us <a title="email brigade-info, subject: I'm interested in open civic data!" href="mailto:brigade-info@codeforamerica.org?subject=I'm interested in open civic data!&body=We need an open data portal in [YOUR CITY HERE]. I want to help make it happen.">this email</a> to let us know you are interested in open civic data. We'll:
  %ul
    %li Find out whether or not there is an open data portal where you live using the links below. If there isn't an open data portal where you live, then we'll show you how to <a title="deploy civic software activity" href="/applications">deploy an open data portal</a> or <a title="start an open gov initiative activity" href="pages/ogi">start an open government initiative</a>
    %li If there is an open data portal then <a title="email brigade-info, subject: I Need Help Liberating Civic Data!?body=I live in [YOUR CITY HERE]." href="mailto:brigade-info@codeforamerica.org?subject=I Need Help Liberating Civic Data!">we'll show you how to get data into it</a>. Check out our resources below, too.
  %li Get your friends to join Brigade and show their support for your activity.
  %li Plan an event for your activity. Use our <a title="our meetup everywhere page" href="http://www.meetup.com/cfabrigade">MeetUp Everywhere</a>.
%p Civic data informs important things like your commute, where you buy a house, how your city spends money, and what's happening in your city. But most civic data is consistently inaccessible to the public online without added cost. And the public now includes developers who want to use civic data to deliver software that improves interfaces to government.
%h2 Resources & Help
%h3 Sites, Guides, Publications
%ul
  %li
    %a{:title => "Eight Principles of Open Data", :href => "http://www.opengovdata.org/home/8principles"} "Eight Principles of Open Data"
  %li
    %a{:title => "Open Data Handbook", :href => "http://opendatahandbook.org/"} Open Data Handbook
  %li
    %a{:title => "OpenGovData.io", :href => "http://opengovdata.io"} <i>Open Government Data</i>
%h3 Open Data Portals
%ul
  %li
    %a{:title => "Public Dataset Catalogs Faceted Browser", :href => "http://datos.fundacionctic.org/sandbox/catalog/faceted/"} Public Dataset Catalogs Faceted Browser
  %li
    %a{:title => "Socrata Cities", :href => "https://opendata.socrata.com/dataset/Socrata-Customer-Spotlights-Cities-Map/ivbs-benj"} Socrata Cities
  %li
    %a{:title => "datacatalogs.org list of catalogs", :href => "http://datacatalogs.org/dataset"} datacatalogs.org list of catalogs
%h3 Event Planning
%ul
  %li
    %a{:title => "Learn about meetups, unconferences, skillshares, hackathons, and contests", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit"} Code for America Event Guide