<div class="row">
    <div class="span12">
        <h1>WHAT OPEN<span class="orange">.GOVERNMENT</span> CAN DO FOR YOU</h1>
    </div>
</div>

<div class="row" style="margin-top:30px;">
    <div class="span12">
        <div class="pledge">
            <div class="pledge-form">
                <div class="pledge-form-inner primary">
                    <div class="pledge-form-content">
                        <h2>Join the Open Impact Campaign!</h2>
                        <a href="#" id="pledge-form-learn-more-primary">Learn more.</a>
                    </div>
                    <div id="wufoo-m7x3r3">
                    Fill out my <a href="http://arielcharney.wufoo.com/forms/m7x3r3">online form</a>.
                    </div>
                    <script type="text/javascript">var m7x3r3;(function(d, t) {
                    var s = d.createElement(t), options = {
                    'userName':'arielcharney', 
                    'formHash':'m7x3r3', 
                    'autoResize':true,
                    'height':'340',
                    'async':true,
                    'header':'hide'};
                    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                    s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { m7x3r3 = new WufooForm();m7x3r3.initialize(options);m7x3r3.display(); } catch (e) {}};
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                    })(document, 'script');</script>
                </div>
                <div class="pledge-form-inner secondary hide">
                    <div class="pledge-form-content">
                        <a href="#" id="pledge-form-learn-more-secondary">&larr; Back to the signup form</a>
                        <br /><br />
                        Open government is a global movement to bring government into the digital age by making public data open by default and creating new opportunities for civic engagement using the web as a platform.

                        I pledge to support the following principles of open government:

                        <h3>Transparency:</h3> Open governments ensure accountability and informed civic participation by conducting their operations and making decisions more openly, and publishing their information for the public to see.

                        <h3>Participation:</h3> Open governments leverage technology to make public information accessible and create innovative tools to engage citizens in government decision-making. Open governments promote collaboration by encouraging city departments to share information and engage citizens.

                        <h3>Accessibility:</h3> Open governments not only make sure public information is shared, but that anyone can find, access and use it.

                        <h3>Efficiency:</h3> Open governments enable programmers, journalists, non-profits, and community activists to develop valuable civic tools powered by public data which help government better serve the public.
                    </div>
                </div>
            </div>
        </div>

        <div class="pledge-menu">
            <p class="ocall">It's time to redefine citizenship.</p>
            <p class="ocall">Lets face it our local governments are struggling to meet our needs. Budget
            cuts and bureaucracy aren't helping. With the combined power of the web,
            technology, and our voices, the tools for change are in our hands.</p>
            <p class="ocall">Open Impact is calling on you to lead the charge for revolutionizing the
            way our city governments deliver services and interact with citizens.</p>
            <p class="ocall">Learn about why open government is important - and then start a movement
            in your city. Whether you're a seasoned open government advocate or joining
            the movement for the first time, you have the power to be a true game changer.</p>

            <h2>Take action!</h2>

            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">Learn more about open government <span style="float:right;">&darr;</span></a></li>
                <li><a href="#">Section 1 <span style="float:right;">&darr;</span></a></li>
                <li><a href="#">Section 2 <span style="float:right;">&darr;</span></a></li>
                <li><a href="#">Section 3 <span style="float:right;">&darr;</span></a></li>
                <li><a href="#">Section 4 <span style="float:right;">&darr;</span></a></li>
            </ul>

        </div>
    </div>
</div>

<h1 class="content-header" data-toggle="collapse" data-target="#step">
    <span class="orange">&bull;</span>Step up and make an Open Impact</h1>
<div id="step" class="collapse in drop-content">
    <h3 class="impact">Be Heard</h3>
    <p>Open governments use innovative tools to engage citizens in decision-making
        and city planning. Tools like these
        <a href="http://civiccommons.org/stories/engaging-omaha"
        target="_blank">MindMixer</a>and
        <a href="http://civiccommons.org/apps/textizen" target="_blank">Textizen</a>.</p>
    <h3 class="impact">Make Life Easier</h3>
    <p>Open governments encourage developers to create simple, beautiful apps
        that help citizens in their day-to-day lives. Apps like these:
        <a href="http://civiccommons.org/apps/onebusaway"
        target="_blank">One Bus Away</a>and
        <a href="http://civiccommons.org/apps/oakland-crimespotting" target="_blank">Crimespotting </a>.</p>
    <h3 class="impact">Improve Your Community</h3>
    <p>Open governments embrace creative and cooperative problem-solving among
        agencies, citizens, non-profits, and the private sector. Problem-solving
        like this:
        <a href="http://civiccommons.org/apps/seeclickfix" target="_blank">SeeClickFix</a>and
        <a href="http://civiccommons.org/apps/adopt-hydrant" target="_blank">Adopta</a>.</p>
    <h3 class="impact">Save Tax-Dollars and Resources</h3>
    <p>Open governments save money by streamlining data access. Open governments
        save money by using open software and systems, which gives them the ability
        to share technology and reuse apps. Access like
        <a href="http://civiccommons.org/civic-function/citizen-services-311"
        target="_blank">Open311</a>, and share with
        <a href="http://civiccommons.org/" target="_blank">The CfA Commons</a>.</p>
</div>
<div>
    <div>
        <h1 class="content-header" data-toggle="collapse" data-target="#spread">
            <span class="orange">&bull;</span>Spread the word</h1>
        <div id="spread" class="collapse in drop-content">
            <p>We need more people and more voices to support open government. Help us
                rally the troops by spreading the Open Impact message through social and
                traditional media. We've even drafted samples to make it easy.</p>
            <h2>Contact Your Local Paper</h2>
            <p>It's time to start a conversation about open government in your community.
                Write to your local newspaper -- get the word out and let the public know
                why open government matters.</p>
            <p>Click the link below to send an opinion piece with ease. Just type in
                your zip code and a list of publications from your area will appear, along
                with the sample opinion piece for you to edit. Modify the content as you
                wish to better reflect your city, then choose the publications you want
                to send to (the more the merrier).</p>
            <p>Now, get on your soapbox:
                <a href="http://action.codeforamerica.org/page/speakout/open-impact-oped"
                target="_blank">http://action.<WBR>codeforamerica.org/page/<WBR>speakout/open-impact-oped</a>
            </p>
            <h2>Broadcast on Social Media</h2>
            <p>Help us educate and recruit as many open government advocates as possible.
                Here are some sample tweets and facebook posts:</p>
            <h3 class="impact">Sample Tweets</h3>
            <p>Let's make an #OpenImpact. Open public data and empower citizen action.
                Join the movement:
                <a href="http://OpenImpact.us" target="_blank">http://OpenImpact.us</a>#opengov</p>
            <p>Its time we made an #OpenImpact. Bring #opengov to your town
                <a href="http://OpenImpact.us"
                target="_blank">http://OpenImpact.us</a>#opengov</p>
            <p>We the people have the power to change government. Step up and make an
                #OpenImpact:
                <a href="http://OpenImpact.us" target="_blank">http://OpenImpact.us</a>#opengov</p>
            <p>Ask not what your city can do for you, but what you can do for your city.
                Step up &amp; make an #OpenImpact. OpenImpact.us #opengov</p>
            <h3 class="impact">Sample Facebook Posts</h3>
            <p>Together we can make an Open Impact! Show your love for the OpenGov movement,
                and learn how to take action at a local leve herel:
                <a href="http://openimpact.us"
                target="_blank">http://openimpact.us</a>
            </p>
            <p>Make an Open Impact today, Take a step in the right direction and bring
                government into the 21st century. Learn how
                <a href="http://openimpact.us"
                target="_blank">http://openimpact.us</a>.</p>
            <p>Public data for public use just makes sense! Together we can make an Open
                Impact. Learn about the future of gov here:
                <a href="http://openimpact.us"
                target="_blank">http://openimpact.us</a>
            </p>
            <h3 class="impact">Open gov quotes</h3>
            <p>It's public data. It's reasonable to think this should be available to
                the public. Nick Doiron, 2012 CfA Fellow &quot;The only thing new in the
                world is the history you don&#39;t know.&quot; Pres. Harry Truman &quot;Government
                ought to be all outside and not inside.&quot; Pres. Woodrow Wilson &quot;We
                must never forget that the free flow of information is essential to a democratic
                society.&quot; President Clinton, veto of Intelligence Re-Authorization
                Bill, 2000 &quot;The principle struggle of the 21st Century is not left
                or right, but open vs closed.&quot; - Alec Ross</p>
        </div>
    </div>
    <div>
        <div>
            <h1 class="content-header" data-toggle="collapse" data-target="#recruit">
                <span class="orange">&bull;</span>Recruit Allies</h1>
            <div id="recruit" class="collapse in drop-content">
                <p>We need more voices. Who'd make natural open government allies in your
                    city? Tell your friends and local community groups to join the Open Impact
                    campaign. As more people and organizations advocate for open government
                    in your city, change is sure to follow.</p>
                <p>You'll likely be able to find allies in existing organizations within
                    your city. Many student groups, tech gatherings, nonprofit organizations,
                    and other civic associations have missions or interests that align with
                    the principles of open government. Follow the steps below to reach out
                    and gain their support for an open government campaign now!</p>
                <p>Find a potential local partners at your local high school or university,
                    on Meetup or Eventbrite, or in your local paper.</p>
                <p>Research to see whether they have a tech or civic focus; note any particularly
                    relevant actions they have taken and their contact information. Reach out
                    to them.</p>
                <p>Here's what we usually say:</p>
                <blockquote>
                    <p>Dear X,</p>
                    <p>I am reaching out to [name of organization] because I want your
                        <br />support for a campaign that seeks to bring open government principles
                        to
                        <br />our city. The campaign is asking for our city officials to
                        <br />institutionalize an open government [choose initiative: directive,
                        <br
                        />resolution, bill] because our community could really benefit from
                        <br />[insert a city relevant example, see below]</p>
                    <p>A government that makes public data accessible to developers,
                        <br />journalists, researchers and community groups to create civic tools
                        <br
                        />(i.e. websites, apps) that address civic challenges</p>
                    <p>Saving tax-payers money by sharing data and using civic tools to
                        <br />improve government services</p>
                    <p>A government that engages citizens in decisions and seeks their
                        <br />feedback using the web and social media</p>
                    <p>I'd love to talk with you about open government (maybe add that your
                        <br
                        />would like to partner with them on an event i.e. hackathon or citycamp-
                        <br
                        />refer to Host an Event). I think that [name of organization] would be
                        a
                        <br />natural ally of an open government campaign in [city name] because
                        <br
                        />[list reasons here]</p>
                    <p>Through the Open Impact Campaign (
                        <a href="http://openimpact.us" target="_blank">openimpact.us</a>), we can make our city
                        <br />better.</p>
                    <p>Please let me know if you'd like to speak sometime.</p>
                    <p>Thanks for your time.</p>
                    <p>Sincerely,</p>
                    <p>[First, Last name]</p>
                </blockquote>
                <p>Follow up! If you don't get a response, try another email. If you
                    <br />still don't get a response, try a phone call or attend the next
                    <br />event/meeting to establish contact.</p>
                <p>Don't forget to make use of Open Impacts' flyers to educate
                    <br />potential allies about the benefits of open government. Here's a
                    <br />handout for community members, and here's one for government
                    <br />officials.</p>
                <p>(Just don't attach them in your initial email, as that may cause your
                    <br
                    />message to be blocked by spam filters).</p>
            </div>
        </div>
        <div>
            <h1 class="content-header" data-toggle="collapse" data-target="#contact">
                <span class="orange">&bull;</span>Contact City Leadership</h1>
            <div id="contact" class="collapse in drop-content">
                <p>Educating our city officials on civic issues can be the difference between
                    a problem being ignored and acted upon. If we don't tell our representative
                    what we want, or explain what Open Government means, how are they to know
                    or fully understand? Speak up.</p>
                <div>
                    <h2>Send a Letter to your City Representative</h2>
                    <ol>
                        <li>Visit your city's website</li>
                        <li>Find your representatives under the section commonly labeled City Council
                            or Government. Your mayor will also likely have his or her own section.</li>
                        <li>To Note: Your city might have a different names for the its main legislative
                            body. Some other terms to look for include Board of Selectmen or Board
                            of Supervisors.</li>
                        <li>Each city representative will have the option to send them a letter/request
                            either by post or email. Gather all of the relevant email addresses.</li>
                        <li>Email your city officials. You can use
                            <a href="https://secure.codeforamerica.org/page/share/open-impact-city-official-email"
                            target="_blank">this draft letter</a>we made as a start. Since you've gathered the email address of your representatives,
                            you can even send your emails directly from the link!</li>
                    </ol>
                </div>
                <div>
                    <h2>Set-up a Meeting with Your Local Representative</h2>
                    <ol>
                        <li>Visit your city council website</li>
                        <li>Find your city councilor(s)' email under the section commonly labeled
                            city councilor or government.</li>
                        <li>Request a time to meet via email (either draft your own or refer to the
                            sample below)</li>
                        <ul>
                            <li>State the reasons why you are contacting them.</li>
                            <li>State your objective of the meeting</li>
                            <li>Be sure to mention that you are a constituent of the legislator.</li>
                            <li>If applicable, refer the legislator to the relevant bill and let him or
                                her know the specific bill number.</li>
                            <li>Now, here&#39;s what we&#39;d say:</li>
                        </ul>
                        <blockquote>
                            <p>Dear Councilor [Last name],</p>
                            <p>I am a constituent in your district representing a group of residents
                                dedicated to open government. Open government is part of a global initiative
                                to use the web as a platform to solve civic problems, create new opportunities
                                for civic engagement and build trust between city leaders and city dwellers.
                                Open government can help our [City name] work better for citizens by [Insert
                                relevant example].</p>
                            <p>We would like to arrange a time to meet in your office to discuss open
                                government. Constituents are asking you to take a leadership role in making
                                government more open. Could we arrange a time to meet in your office on
                                [insert date]?</p>
                            <p>Linked to this email is a pledge you can take to show your commitment
                                to open government.</p>
                            <p>Thanks for your time.</p>
                            <p>Sincerely,</p>
                            <p>[First, Last name, District]</p>
                        </blockquote>
                        <li>Follow-up on your email. Call your city councilor's office confirming
                            a time to meet.</li>
                        <p>Tip: Call way in advance to the date you want!</p>
                        <li>At the meeting use the slideshow deck (link) and give your city councilmember
                            or leader the open government handout (link).</li>
                        <li>Ask your city official to sign the Open Impact Pledge (link).</li>
                    </ol>
                </div>
            </div>
        </div>
        <div>
            <h1 class="content-header" data-toggle="collapse" data-target="#speak">
                <span class="orange">&bull;</span>Speak to City Leaders</h1>
            <div id="speak" class="collapse in drop-content">
                <p>City council or committee meetings often allow constituents to provide
                    feedback to government officials - the perfect chance to educate your elected
                    officials on the value of open government.</p>
                <h2>Request to Speak at a City Meeting</h2>
                <ol>
                    <li>Visit your city's official website and look at their weekly meeting calender
                        for when and where the next city council meeting takes place</li>
                    <li>Look at the meeting agenda and familiarize yourself with its structure</li>
                    <li>Consult your city's website to get informed on the details to participating
                        in a city council meeting or hearing.</li>
                    <li>Fill out a city council meeting or hearing request form online before
                        the submission deadline.</li>
                </ol>
                <p>Important to Remember:</p>
                <ul>
                    <li>Citizen speeches on topics not on the agenda are reserved for the public
                        comment portion of the meeting.</li>
                    <li>If there is an agenda item regarding open government, you will be allotted
                        time to speak on that issue before discussion begins.</li>
                    <li>Allotted time can range from 1-5 minutes.</li>
                    <li>Deadlines to submit speaking requests vary</li>
                </ul>
                <h2>Prepping For Your Speech</h2>
                <ul>
                    <li>Time to brainstorm and write. Here&#39;s a sample speech if you need some
                        inspiration.</li>
                    <li>A good speech is one that combines well researched facts with effective
                        storytelling.</li>
                    <li>Be direct and concise.</li>
                    <li>Start by explaining open government and its benefit to citizens and government
                        using strong examples from other cities.</li>
                    <li>Emphasize the benefits of open government that will most appeal to your
                        city officials. For example, if your city is facing budget cuts, make sure
                        to talk about the fiscal benefits of increasing the efficiency of government
                        services through technology.</li>
                    <li>End your speech with steps for direct action (refer to pledge/Open Government
                        Resolution)</li>
                </ul>
                <p>Tips:</p>
                <ul>
                    <li>Fill city hall with your supporters. The more people you arrive with,
                        the bigger the statement to your elected officials.</li>
                    <li>Make sure to look over the rules and regulations of what you can and can't
                        do while attending city hall. This includes everything from attire (e.g.
                        no logos) and overall decorum (e.g. no applause). They can be strict!</li>
                    <li>Wait to be called up for comments.</li>
                </ul>
                <h2>Say Your Piece (But keep it to 1-5 minutes)</h2>
                <ul>
                    <li>Go up to the podium confidently and thank the person who introduced you
                        by their title and last name.</li>
                    <li>Introduce yourself, starting with your first name, last name and organization
                        (if applicable).</li>
                    <li>If you are arriving with a group of people, let them know you're acting
                        as the spokesperson for that larger group of X people.</li>
                    <li>Thank your audience.</li>
                </ul>
            </div>
        </div>
        <h1 class="content-header" data-toggle="collapse" data-target="#show">
            <span class="orange">&bull;</span>Show Your Government What's Possible</h1>
        <div id="show" class="collapse in drop-content">
            <p>As you can see, there are loads of ways to advocate for an Open Impact,
                but you can also show the power of open government yourself by opening
                data and creating civic software yourself.</p>
            <h2>Open Civic Data</h2>
            <p>Want to collect and curate data so you and others can make useful things
                with it?
                <a>Learn how to liberate data.</a>
            </p>
            <h2>Deploy and Maintain Civic Software</h2>
            <p>Have you ever come across a killer civic app that another city is using
                and think to yourself, I want my city to have that app!? Make it happen!</p>
            <h2>Commit to an Open Source Civic App</h2>
            <p>Is coding what you like to do more than anything and is coding with purpose
                important to you?
                <a>Fork, commit, push!</a>
            </p>
        </div>
        <h1 class="content-header" data-toggle="collapse" data-target="#host">
            <span class="orange">&bull;</span>Host an Event</h1>
        <div id="host" class="collapse in drop-content">
            <p>Host an open government event to educate the community about the benefits
                of open gov and mobilize support for open government policies.</p>
            <p>Meetups</p>
            <p>Do something. Learn something. Share something. Change something. Start
                a meetup!</p>
            <p>Meetup.com is the world&#39;s largest network of local groups. Help start
                a dialogue around open government on civic issues, general topics, or just
                as an introductory meet-up for those interested in learning more. For topic
                ideas, see the Suggested Event Topics section. You can also start a meetup
                to organize an event or hackathon in the future.</p>
            <p>Hackathons</p>
            <p>Hackathons are a great way to promote collaboration and discuss solutions
                to civic issues. They're also a lot fun! They can take place over a weekend
                or maybe even a few weekends.</p>
            <p>Invite friends, allied organizations and government officials to your
                event and have them hack away at a civic issue. Successful hackathons are
                those who strive to bring together a diverse field of specialties and interests
                from designers and developers to government officials and social advocates.</p>
            <p>You can hack away at code (i.e make an app or api) or a policy (i.e. drafting
                an open data policy). Follow these steps and launch your own hackathon.</p>
            <ol>
                <li>Secure a Venue - Adequate table space, chairs, and internet access are
                    vital.</li>
                <li>Define the Scope - Identify a compelling local problem or need (i.e. public
                    transit, crime mapping, finding city real estate etc).</li>
                <li>Partner: Invite speakers to the event and partner with community organizations
                    involved in the field you'll be hacking on. They will provide useful knowledge
                    to the hackers on the community need and have a strong network to bring
                    to the event.</li>
                <li>Create an agenda: A lot of time will be spent hacking away at the problem
                    definition, but it is good to create time to break, eat and discuss progress
                    on each project or maybe even hand out prizes at the end! Check out
                    <a>creative currency&#39;s schedule</a>. Our friends at Mozilla also has created a
                    <a>very useful schedule guide</a>.</li>
                <li>Promotion - Start pushing the event through all available social media
                    channels, i.e. twitter and facebook. Ask your city and community contacts
                    for relevant email lists that you can use to publicize. Post the event
                    on eventbrite (link), facebook, meetup (link) and your local newspaper.</li>
                <li>Day of the event - Remember the following:
                    <ul>
                        <li>Name badges, sticky notes, pens, registration sheets. Extra points always
                            go to those that can come up with creative low cost prizes.</li>
                        <li>Hackers need fuel - Have food and beverages as participants hack away</li>
                    </ul>
                </li>
            </ol>
            <p>City Camp</p>
            <p>CityCamp is an unconference focused on innovation for municipal governments
                and community organizations. They have become widely popular as a way to
                bring different stakeholders together (i.e. designers, developers and city
                leaders) to discuss new ways of solving civic problems using the web as
                a platform. Unconferences are not your typical conference, they are interactive,
                engaging and the participants play a huge role in directing the conference.
                Here is a breakdown of how to get started.</p>
            <p>Lightning Talks</p>
            <p></p>
            <p>These talks are to-the-point presentations given at a conference or similar
                forum. Unlike other presentations, lightning talks last only a few minutes.
                This event method is great due to its short and sweet style that can effectively
                communicate a message to its audience. It may be a challenge to make a
                point in only a few minutes, but when done well a few minutes is all you
                need to catch people's interest.</p>
            <p>Speaker Panel</p>
            <p>Bring together a panel (3-4 people ) to talk about open government. A
                panel opens with the chair introducing the panelists and the topic. Some
                panels are highly structured with a set time for each panelist to speak.
                Others employ a more discussion-oriented format with the panelists responding
                to each other and to audience inquiries throughout the session.</p>
            <p>Suggested Event Topics</p>
            <p>When running your first event, it helps to have a few predetermined topics
                or themes to guide the direction of the event. It can also be beneficial
                to open the floor for suggestions or topics of interest. Topics can include
                broad, big-picture ideas or can have a particular focus. Here are some
                ideas:</p>
            <ul>
                <li>What is open government?</li>
                <li>Discuss how an open government benefit its citizens</li>
                <li>Discuss ways open government can improve daily life</li>
                <li>How can we use open government to increase civic engagement?</li>
                <li>How does open government solve inefficiencies in city government?</li>
                <li>Which city datasets should be prioritized for liberation?</li>
                <li>Critique of existing government websites/portals</li>
            </ul>
            <p>Social Media, Documentation, and Follow up.</p>
            <ul>
                <li>Have sign-in sheets</li>
                <li>Designate a twitter hashtag for your event . (i.e. #OpenImpact)</li>
                <li>Document the experience and collect feedback from participants. (i.e.
                    Use wikis to describe what happens.
                    <a>Idea platforms</a>are another option for collecting input from your community.)</li>
                <li>Google Hangout</li>
                <li>Google Hangout is a good resource for collaborative video exchange. If
                    you have attendees who want to participate remotely, a Google Hangout is
                    a free and reliable choice.</li>
                <li>Screen Shares</li>
                <p>Use screen shares to show your app while it's under development. Google
                    Hangout has synchronous, real time screen sharing.
                    <a>Jing is</a>one such tool that has a free version for recording a screencast.</p>
                <li>Media Sharing</li>
                <li>In this day and age there is no reason why we can't all capture and share
                    these events in multiple media outle. Capture video. Interview people.
                    Take pictures. Put it all on the web in your favorite platform(s) and tag
                    the heck out of it.</li>
                <p>(Don't forget to check out Code for America's handy event guide for further
                    help planning an awesome event!)</p>
            </ul>
        </div>
    </div>
</div>