%h1 Commit Code
%p Open source communities build better code together.
%p Here’s how you can join us in building better civic software together:
%ol
  %li Visit one of the open source GitHub organizations below and check out their code. We'll also feature open source apps from time to time on this site an in our monthly newsletter.
  %li When you find the app to which you are ready to contribute, send us a quick note to <a title="email brigade-info, subject: I'm Committing Civic Code" href="mailto:brigade-info@codeforamerica.org?subject=I'm Committing Civic Code!">brigade-info@codeforamerica.org</a> to let us know which one. We'll use that information to report back to the community which apps people care about maintaining.
  %li <a title="cfa coder sounds github" href="https://github.com/codeforamerica/cfa_coder_sounds">Create a coder sound</a>. Your <a title="flychicken app on heroku" href="http://flyingchicken.herokuapp.com/">coder sound will play here </a> every time your pull requests are merged.
  %li Code alone or host a hack-a-thon. Use <a title="our meetup everywhere page" href="http://meetup.com/cfabrigade">our MeetUp Everywhere</a>.

%h2 Resources & Help

%h3 GitHubs we like:
%ul
  %li
    %a{:title => "cfa github", :href => "https://github.com/codeforamerica"} https://github.com/codeforamerica
  %li
    %a{:title => "open city github", :href => "https://github.com/open-city"} https://github.com/open-city
  %li
    %a{:title => "azavea github", :href =>"https://github.com/azavea/"} https://github.com/azavea/
  %li
    %a{:title => "okfn github", :href => "https://github.com/okfn"} https://github.com/okfn
%h3 Event Planning
%ul
  %li
    %a{:title => "Learn about meetups, unconferences, skillshares, hackathons, and contests", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit"} Code for America Event Guide
