<% @page_title='Open Impact | Citizen' %>
<!-- TOP HEADER TITLE / OPENIMPACT LOGO -->
<div class="row">
    <div class="span6">
        <h1>OPEN <span class="orange">GOVERNMENT</span> TO<br /> TRANSFORM YOUR CITY</h1>
    </div>
    <div class="span6" style="text-align: right;">
        <a href="/pages/openimpact"><img width=400 src="/assets/openimpact/page_banner.jpg"></a>
    </div>
</div>

<!-- TOP CONTENT (left) / PLEDGE (right) -->
<div class="row" style="margin-top:40px;">
    <div class="span12">
        <div class="pledge">
            <div class="pledge-form">
                <!-- MAIN PLEDGE CONTENT -->
                <div class="pledge-form-inner primary" style="height: 450px;">
                    <div class="pledge-form-content" style="margin-bottom: 30px;">
                        <h2>Join the Open Impact Community!</h2>
                        <p>Stay informed about Open Impact by joining the Code for America brigade. Enter your name and email address below to join a growing group of civic minded volunteers. Then start a movement in your city by following the steps below.</p>
                        <!-- <a href="#" id="pledge-form-learn-more-primary">Learn more.</a> -->
                    </div>

                    <!-- BRIGADE SIGNUP FORM -->
                    <div class="signup-form">
                        <%= form_for @user, url: registration_path(@user, :source => 'open_impact'), :html => { :class => "form-horizontal" } do |form| %>
                          <fieldset>
                            <div class="control-group">
                              <label class="control-label" for="full_name">Name</label>
                              <div class="controls">
                                <%= form.text_field :full_name, :placeholder => 'Name', :class => "input-xlarge" %>
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="email">Email</label>
                              <div class="controls">
                                <%= form.text_field :email, :placeholder => 'Email', :class => "input-xlarge" %>
                              </div>
                            </div>
                            <div class="form-actions impact-submit" style="border-top:0;">
                                <%= form.submit 'Sign up', :class => 'btn btn-large btn-osubmit' %>
                            </div>
                          </fieldset>
                        <% end %>
                    </div>

                    <!-- SOCIAL BUTTONS -->
                    <div style="margin-top:30px;">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Check out #OpenImpact. Tools for residents & local leaders to bring #opengov to their cities." data-size="large" data-url="http://OpenImpact.us">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        <br /><br />
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbrigade.codeforamerica.org%2Fpages%2Fopenimpact&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=119332528172230" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
                    </div>
                </div>
                <!-- PLEDGE FORM "LEARN MORE" CONTENT -->
                <div class="pledge-form-inner secondary hide">
                    <div class="pledge-form-content">
                        <a href="#" id="pledge-form-learn-more-secondary">&larr; Back to the signup form</a>
                        <br /><br />
                        Open government is a global movement to bring government into the digital age by making public data open by default and creating new opportunities for civic engagement using the web as a platform.

                        I pledge to support the following principles of open government:

                        <h3>Transparency:</h3> Open governments ensure accountability and informed civic participation by conducting their operations and making decisions more openly, and publishing their information for the public to see.

                        <h3>Participation:</h3> Open governments leverage technology to make public information accessible and create innovative tools to engage citizens in government decision-making. Open governments promote collaboration by encouraging city departments to share information and engage citizens.

                        <h3>Accessibility:</h3> Open governments not only make sure public information is shared, but that anyone can find, access and use it.

                        <h3>Efficiency:</h3> Open governments enable programmers, journalists, non-profits, and community activists to develop valuable civic tools powered by public data which help government better serve the public.
                    </div>
                </div>
            </div>
        </div>

        <!-- TOP-LEFT CONTENT -->
        <div class="pledge-menu">
            <h2>It's time to redefine citizenship.</h2>

            <p class="ocall">Our local governments are struggling to serve us all. Budget cuts and bureaucracy aren't helping. With the combined power of the web, technology, and our voices, the tools for change are in our hands.</p>

            <p class="ocall">Open Impact is calling on you to lead the charge for revolutionizing the way our city governments deliver services and interact with residents.</p>

            <p class="ocall">Transform your city today: Learn about why open government is important, sign up to join the Open Impact community, and advocate to bring open government to your city.</p>

            <h2>
                Take action now:
            </h2>

            <ul class="nav nav-pills nav-stacked">
                <li><a href="#section-learn">1. Learn About Open Government <span style="float:right;">&darr;</span></a></li>
                <li><a id="flash-join-form" href="#wufoo-m7x3r3">2. Join the Open Impact Community <span style="float:right;">&rarr;</span></a></li>
                <li><a href="#section-build-your-movement">3. Steps for Action <span style="float:right;">&darr;</span></a></li>
            </ul>
        </div>
    </div>
</div>

<!-- START OF MAIN BODY CONTENT -->
<div class="content-wrap">
    <h1 class="section-header" id="section-learn">
        Learn About Open Government
        <a href="#" class="back-to-top">&uarr; Back to top</a>
    </h1>

    <section class="rounded">
        <img src="/assets/openimpact/icon_dialog.png" class="key-point-icon" />
        <div class="section-inner">
            <h3>Be Heard</h3>
            <p>Open governments use innovative tools to engage citizens in decision-making and city planning. Tools like these <a href="http://civiccommons.org/stories/engaging-omaha" target="_blank">MindMixer</a> and <a href="http://civiccommons.org/apps/textizen" target="_blank">Textizen</a>.</p>
        </div>
    </section>

    <section class="rounded">
        <img src="/assets/openimpact/icon_community.png" class="key-point-icon" />
        <div class="section-inner">
            <h3>Make Life Easier</h3>
            <p>Open governments encourage developers to create simple, beautiful apps
                that help citizens in their day-to-day lives. Apps like these:
                <a href="http://civiccommons.org/apps/onebusaway"
                target="_blank">One Bus Away</a> and
                <a href="http://civiccommons.org/apps/oakland-crimespotting" target="_blank">Crimespotting</a>.</p>
        </div>
    </section>

    <section class="rounded">
        <img src="/assets/openimpact/icon_construction.png" class="key-point-icon" />
        <div class="section-inner">
            <h3>Improve Your Community</h3>
            <p>Open governments embrace creative and cooperative problem-solving among
                agencies, citizens, non-profits, and the private sector. Problem-solving
                like this:
                <a href="http://civiccommons.org/apps/seeclickfix" target="_blank">SeeClickFix</a> and
                <a href="http://civiccommons.org/apps/adopt-hydrant" target="_blank">Adopta</a>.</p>
        </div>
    </section>

    <section class="rounded">
        <img src="/assets/openimpact/icon_money.png" class="key-point-icon" />
        <div class="section-inner">
            <h3>Save Tax-Dollars and Resources</h3>
            <p>Open governments save money by streamlining data access. Open governments
                save money by using open software and systems, which gives them the ability
                to share technology and reuse apps. Access like:
                <a href="http://civiccommons.org/civic-function/citizen-services-311"
                target="_blank">Open311</a>, and share with
                <a href="http://civiccommons.org/" target="_blank">The CfA Commons</a>.</p>
        </div>
    </section>

    <!-- START OF ACTION ITEMS -->
    <h1 class="section-header" id="section-build-your-movement">
        Steps for Action
        <a href="#" class="back-to-top">&uarr; Back to top</a>
    </h1>

    <h2 class="subsection-header">Energize Your Community</h2>

    <div class="content-header" data-toggle="collapse" data-target="#section-spread-the-word">
        <h2>Spread the Word <span class="content-header-down-arrow">&darr;</span></h2>
        <div class="content-subheader">
            <p>Spread the Open Impact message: Write an op-ed, reach out to your community, or rally the troops through social media.</p>
        </div>
    </div>
    <section id="section-spread-the-word" class="collapse in drop-content">
        <div class="section-inner below-subheader">
        <h2>Broadcast on Social Media</h2>
        <p>Educate and recruit as many open government advocates as possible. Tell your friends and local community groups to join the Open Impact campaign.</p>

        <ul class="social-links">
            <li>
                <a href="https://twitter.com/intent/tweet?button_hashtag=OpenImpact" class="twitter-hashtag-button" data-text="We the people have the power to change government." data-size="large" data-url="http://OpenImpact.us">Tweet #OpenImpact</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </li>
            <li>
                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbrigade.codeforamerica.org%2Fpages%2Fopenimpact&amp;send=true&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=119332528172230" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px;" allowTransparency="true"></iframe>
            </li>
        </ul>

        <div class="clear"></div>

        <h2>Contact Your Local Paper</h2>

        <p>Write to your local newspaper -- get the word out and let the public know why open government matters.</p>

        <p><a href="http://action.codeforamerica.org/page/speakout/open-impact-oped" target="_blank">Fill out this form</a>, type in your zip code, and voila! A list of publications from your area will appear, along with the sample opinion piece for you to edit. Modify the content to reflect your city’s needs, then choose the publications you want to send to (the more the merrier).</p>
        </div>
    </section>


    <div class="content-header" data-toggle="collapse" data-target="#section-recruit-allies">
        <h2>Recruit Allies <span class="content-header-down-arrow">&darr;</span></h2>
        <div class="content-subheader">
            <p>As more people and organizations advocate for open government in your city, change is sure to follow. Who'd make natural open government allies in your city?</p>
        </div>
    </div>
    <section id="section-recruit-allies" class="collapse in drop-content">
        <div class="section-inner below-subheader">
        <p>Reach out to student groups, meetups, nonprofit organizations, and other civic associations with a tech or civic focus.. Try searching sites such as Meetup and Eventbrite, as well as your local paper.</p>
        <p>Here's what we’d usually say: <p><a href="https://secure.codeforamerica.org/page/share/recruit-open-government-allies" target="_blank">Fill out this form to directly send an email to your potential allies</a>.</p>
        <p>Follow up! If you don't get a response, try another email. If you still don't get a response, try a phone call or attend the next event/meeting to establish contact.</p>
        </div>
    </section>

    <div class="content-header" data-toggle="collapse" data-target="#section-show-your-gov">
        <h2>Show Your Government What's Possible <span class="content-header-down-arrow">&darr;</span></h2>
        <div class="content-subheader">
            <p>Open data and create civic software yourself. Show city residents and city officials what open government can do for your city.</p>
        </div>
    </div>
    <section id="section-show-your-gov" class="collapse in drop-content">
        <div class="section-inner below-subheader">
        <h2>Open Civic Data</h2>
        <p>Want to collect and curate data-- so you and others can make useful things
            with it? <a href="http://brigade-staging.codeforamerica.org/pages/opendata" target="_blank">Learn how to liberate data</a>.</p>

        <h2>Deploy and Maintain Civic Software</h2>
        <p>Have you ever come across a killer civic app in another city, and think to yourself “I wish my city had this app?” <a href="http://brigade-staging.codeforamerica.org/pages/apps"target="_blank">You can make it happen</a>.</p>
        <h2>Commit to an Open Source Civic App</h2>
        <p>Are you a developer who wants to do good, and lend a hand to your community? <a href="http://brigade-staging.codeforamerica.org/pages/opensource"target="_blank">Fork, commit, push.</a> one of these open source apps</p>
        </p>
        </div>
    </section>

    <div class="content-header" data-toggle="collapse" data-target="#section-host-an-event">
        <h2>Host an Event <span class="content-header-down-arrow">&darr;</span></h2>
        <div class="content-subheader">
            <p>Host an open government event, and educate your neighbors about the benefits of open government.</p>
        </div>
    </div>
    <section id="section-host-an-event" class="collapse in drop-content">
        <div class="section-inner below-subheader">
        <p>Use the list of events below to get inspired, and don’t forget to check out the CfA Brigade’s <a href="http://brigade.codeforamerica.org/pages/events"target="_blank">list of open government events</a> across the country.</p>
        <p> As you go to plan your event, look at our handy editable <a href="https://docs.google.com/a/codeforamerica.org/document/d/1mgA6Rv5JmUslx45HT1vGvNuqPINaE8mB6nuRI9T-8lc/edit"target="_blank">event guide and list of discussion topics </a>.
        <h2>Meetups</h2>
        <p>Start talking about open gov in your city. Use  <a href="https://meetup.com"target="_blank">meetup.com</a> and similar services like Google Groups to bring together interested community members. Don’t forget - you can also start a meetup to organize an event or hackathon in the future!</p>
        <h2>Hackathons</h2>
        <p>Host a Hackathon. Hackathons promote collaboration between community members as well as city staff and city residents. They allows for discussion of civic issues, and are loads of fun.</p>
        <p>Invite friends, allied organizations, and government officials to your event and have them hack away at a civic issue. Successful hackathons are those who strive to bring together a diverse field of specialties and interests.</p>
        <p>You can hack away at code (i.e make an app or API) or a policy (i.e. drafting an open data policy). <a href="http://codeforamerica.org/wp-content/uploads/2012/07/hackathon_steps_citizens.pdf">Follow these steps and launch your own hackathon</a>.</p>
        <h2>City Camp</h2>
        <p>Organize a CityCamp. CityCamp is an unconference focused on innovation for municipal governments and community organizations. They have become widely popular as a way to bring different stakeholders together (i.e. designers, developers and city leaders) to discuss new ways of solving civic problems. Unconferences are not your typical conference, they are interactive and engaging. The participants play a huge role in directing the conference. Here is a <a href="http://citycamp.govfresh.com/start-a-camp/" target="_blank">breakdown</a> of how to get started.</p>
        <h2>Speaker Panel</h2>
        <p>Bring together a panel (3-4 people) to talk about open government. Whatever the structure of discussion, use the panel as an opportunity to turn audience members into open government advocates. Collect contact information and make sure to mention your plans for bringing open government to your city both before and after the panel discussion.</p>
    </section>

    <h2 class="subsection-header">Engage City Officials</h2>


    <div class="content-header" data-toggle="collapse" data-target="#section-contact-city-leadership">
        <h2>Contact Individual City Leaders <span class="content-header-down-arrow">&darr;</span></h2>
        <div class="content-subheader">
            <p>Speak up and educate your city officials. Tell your representatives why open government matters to you and your community; you can be the difference between a problem being ignored and acted upon.</p>
        </div>
    </div>
    <section id="section-contact-city-leadership" class="collapse in drop-content">
        <div class="section-inner below-subheader">
        <div>
            <h2>Send a <a href="http://action.codeforamerica.org/page/share/open-impact-city-official-email"target="_blank">letter</a> to your city council and mayor</h2>
            <ol>
                <li>Visit your city's website</li>
                <li>Find your representatives under the section commonly labeled City Council
                    or Government. Your mayor will also likely have his or her own section.</li>
                <p>Quick Tip: Your city might have a different names for the its main legislative body. Some other terms to look for include Board of Selectmen or Board of Supervisors.</p>
                <li>Each city representative will have the option to send them a letter/request
                    either by post or email. Gather all of the relevant email addresses.</li>
                <li>Email your city officials. Use
                    <a href="https://secure.codeforamerica.org/page/share/open-impact-city-official-email"
                    target="_blank">this form</a> to send your emails directly to your representatives.</li>
            </ol>
        </div>
        <div>
            <h2>Set-up a Meeting with Your Local Representative</h2>
            <ol>
                <li>Visit your city council website</li>
                <li>Find your city councilor(s)' email under the section commonly labeled
                    city councilor or government.</li>
                <li>Request a time to meet by email using this <a href="http://action.codeforamerica.org/page/share/city-official-meeting" target="_blank">link</a>.</li>
                <ul>
                    <li>State the reasons why you are contacting them.</li>
                    <li>State your objective of the meeting</li>
                    <li>Be sure to mention that you are a constituent of the legislator.</li>
                    <li>If applicable, refer the legislator to the relevant bill and let him or her know the specific bill number.</li>
                </ul>
                <li>Follow-up on your email. Call your city councilor's office confirming
                    a time to meet.</li>
                <p>Quick Tip: Call way in advance to the date you want!</p>
                <li>At the meeting use the <a href="http://codeforamerica.org/wp-content/uploads/2012/07/pptdeck.pdf">slideshow deck</a> (with the <a href="http://codeforamerica.org/wp-content/uploads/2012/07/deckscript.pdf">slideshow script</a>) and give your city council member the <a href="http://codeforamerica.org/wp-content/uploads/2012/07/handout_for_gov.pdf">open government handout</a>. Ask your city official to sign the <a href="http://brigade.codeforamerica.org/pages/openimpact-government" target="_blank">open government pledge</a>.</li>
            </ol>
        </div>
        </div>
    </section>

    <div class="content-header" data-toggle="collapse" data-target="#section-speak-to-city-leaders">
        <h2>Speak at City Council and Committee Meetings <span class="content-header-down-arrow">&darr;</span></h2>
        <div class="content-subheader">
            <p>City council or committee meetings allow constituents to provide feedback to government – the perfect chance to educate your elected officials on the value of open government.</p>
        </div>
    </div>
    <section id="section-speak-to-city-leaders" class="collapse in drop-content">
        <div class="section-inner below-subheader">
        <h2>Request to Speak at a City Meeting</h2>
        <ol>
            <li>Visit your city's official website and look at their weekly meeting calender
                for when and where the next city council meeting takes place</li>
            <li>Look at the meeting agenda and familiarize yourself with its structure</li>
            <li>Consult your city's website to get informed on the details to participating
                in a city council meeting or hearing.</li>
            <li>Fill out a city council meeting or hearing request form online before
                the submission deadline.</li>
        </ol>
        <p>Quick Tips:</p>
        <ul>
            <li>Citizen speeches on topics not on the agenda are reserved for the public
                comment portion of the meeting.</li>
            <li>If there is an agenda item regarding open government, you will be allotted
                time to speak on that issue before discussion begins.</li>
            <li>Allotted time can range from 1-5 minutes.</li>
            <li>Deadlines to submit speaking requests vary</li>
            <li>Fill city hall with your supporters. The more people you arrive with, the bigger the statement to your elected officials.</li>
        </ul>
        <p><a href="http://codeforamerica.org/wp-content/uploads/2012/07/speech_to_city_council.pdf">Click here for a sample speech and speaking tips!</a></p>
        </div>
    </section>

    <h1 class="section-header" id="section-resources">
        Resources
        <a href="#" class="back-to-top">&uarr; Back to top</a>
    </h1>
    <section class="rounded resources">
        <div class="section-inner">
            <p><a href="http://codeforamerica.org/wp-content/uploads/2012/07/handout_general.pdf">General Handout</a></p>
            <p><a href="http://codeforamerica.org/wp-content/uploads/2012/07/handout_for_gov.pdf">Government Handout</a></p>
            <p><a href="http://codeforamerica.org/wp-content/uploads/2012/07/speech_to_city_council.pdf">Speech to City Councils</a></p>
            <p><a href="http://codeforamerica.org/wp-content/uploads/2012/07/pptdeck.pdf">Open Government Slideshow Deck</a></p>
            <p><a href="http://codeforamerica.org/wp-content/uploads/2012/07/deckscript.pdf">Slideshow Deck Script</a></p>
            <p><a href="http://codeforamerica.org/wp-content/uploads/2012/07/hackathon_steps_citizens.pdf">Hackathon Guide</a></p>
        </div>
    </section>

</div>