<div class="row">
    <div class="span12">
        <h1>WHAT OPEN
            <span class="orange">.GOVERNMENT</span> CAN DO FOR YOUR CITY</h1>
        <p class="ocall">Cities are facing hard times. With shrinking budgets and increased demand
            for government services, cities need to do more with less. Open Impact
            can help cities leverage open government practices and policies to accomplish
            their goals and better serve their constituents.</p>
        <div class="open-li">
            <h4>Deliver Better Government Services</h4>
            <ul>
                <li>Increase effectiveness of constituent service delivery through civic tech</li>
                <li>Raise service outcomes with better data tracking</li>
                <li>Ensure program success by gathering feedback from community stakeholders</li>
            </ul>
        </div>
        <div class="open-li">
            <h4>Make Your City Work Smarter</h4>
            <ul>
                <li>Engage and collaborate with innovators, governments, to build valuable
                    tools at little to no cost.</li>
                <li>Maintain interoperability of all government systems with open standards</li>
                <li>Reduce spending through innovative tech solutions and open source procurement
                    policies</li>
            </ul>
        </div>
        <div class="open-li">
            <h4>Build a Stronger Community</h4>
            <ul>
                <li>Increase government transparency and accessibility</li>
                <li>Build greater trust with the public and show constituents how government
                    is working for them</li>
                <li>Increase the opportunities for collaboration between city and citizens</li>
            </ul>
        </div>
    </div>
</div>
<div>
    <h1 class="content-header" data-toggle="collapse"  data-target="#pledge"><span class="orange">&bull;</span> Take the Open Government Pledge</h1>
    <div id="pledge" class="collapse in">
        <p>Demonstrate you're commitment to making your city more open. Take the
            <a
            class="content-header" data-toggle="collapse"  data-target="#wufoo-z7x3x5">open government pledge</a>.</p>
        <div id="wufoo-z7x3x5" class="wufoo">Fill out my
            <a href="http://arielcharney.wufoo.com/forms/z7x3x5">online form</a>.</div>
        <script type="text/javascript">
            var z7x3x5;
            (function (d, t) {
                var s = d.createElement(t),
                    options = {
                        'userName': 'arielcharney',
                        'formHash': 'z7x3x5',
                        'autoResize': true,
                        'height': '1292',
                        'async': true,
                        'header': 'show'
                    };
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function () {
                    var rs = this.readyState;
                    if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try {
                        z7x3x5 = new WufooForm();
                        z7x3x5.initialize(options);
                        z7x3x5.display();
                    } catch (e) {}
                };
                var scr = d.getElementsByTagName(t)[0],
                    par = scr.parentNode;
                par.insertBefore(s, scr);
            })(document, 'script');
        </script>
    </div>
    <div>
        <h1 class="content-header" data-toggle="collapse"  data-target="#interact"><span class="orange">&bull;</span> Facilitate an Open Culture</h1>
        <div id="interact" class="collapse in">
            <h2>Interact Through Social Media</h2>
			<p>Cities across the country are using
            social media tools to interact with their community -- and citizens are
            responding with enthusiasm. Why? It’s fast, it’s viral, it can spark civic
            engagement, it’s widely accessible, and it’s free. Help break down the
            barriers between city hall and city dwellers. What better way to give constituents
            the information they want -- and gain the feedback you need?</p>
            <h3>Hold a Twitter "Townhall”</h3><p>
			<p>The city of
            <a href="http://storify.com/CityofPaloAlto/city-of-palo-alto-hosts-3rd-twitter-q-and-a"> Palo Alto used Twitter </a>to host Q&amp;A sessions featuring Mayor Yiaway Yeh and City Manager James
            Keenewith.</p>
            <h3>Hangout on Google+</h3>
			<p>President Obama
            <a href="http://www.whitehouse.gov/photos-and-video/video/2012/01/30/president-obama-s-google-hangout"> answered questions in a Google+ Hangout </a>immediately after his 2012 State of the Union address to get feedback
            from citizens on his agenda.</p>
            <h3>Use Facebook to Solicit Constituent Input</h3><p>Mayor Emanuel of Chicago
            hosted the first
            <a href="http://www.facebook.com/media/set/?set=a.239117709498825.56217.128894850521112&amp;type=3">#AskChicago Facebook Town Hall</a>, making him the first in-office mayor of a major city to hold a live
            online forum in which questions and concerns were submitted and voted on
            by the public.</p>
            <h3>Conduct a Contest on Pinterest</h3><p>Maryland governor Martin O’Malley used
            <a
            href="http://pinterest.com/martinomalley/maryland-pinterest-business-pitch-contest/">Pinterest to connect with Maryland entrepreneurs </a>by inviting constituents
                to submit 10 images to sell their idea for a business. Existing small businesses
                were also eligible to compete.</p>
                <h3>Live Stream City Meetings</h3><p>Chicago City Council meetings have been
                streamed over the Internet since 2007.
                <a href="http://www.ustream.tv/"> Ustream</a>, one of the most popular streaming providers, is already used by several
                cities including Panama City, Hoboken, and Portland to broadcast and archive
                meetings.</p>
                <h2>Use Wikis and Apps to Solicit Feedback</h2>
				<p>Constituent feedback provides
                vital insights for your city. But busy citizens often don’t have the time
                to attend public forums; traditional feedback techniques gather opinions
                that don’t represent the whole community. Technology changes this reality.
                Check out these three engagement tools you can use in your city:</p>
                <h3>Use Shareabouts’ Map Tool for Zoning Feedback</h3><p>New York’s Department
                of Technology used
                <a href="http://openplans.org/2011/12/08/hello-shareabouts/"> Shareabouts</a>, a simple mapping tool for gathering input online, to aggregate suggestions
                for locations of bike share stations. Utilizing this open source tool,
                constituent recommendations can be collected and referenced during decision
                making to come to a decision in a much more democratic way.</p>
                <h3>Create a Wiki for Input on Policies</h3>
				<p>New York’s Department of Information
                Technology and Telecommunications used a wiki to collaborate with the public
                on its policy for open data tech standards and guidelines. The
                <a href="http://nycopendata.pediacities.com/wiki/index.php/NYC_Open_Data">wiki </a>allowed the public to see the proposed policy and offer edits and tips.
                It was used in tandem with a policy unconference to ensure the city got
                citizen feedback before adopting the standards and guidelines.</p>
                <h3>Use Textizen for a Feedback Campaign</h3><p>The city of Philadelphia is using
                <a
                href="http://civiccommons.org/apps/textizen">Textizen </a>to run feedback campaigns. Textizen asks questions on posters
                    in public places and collects citizen feedback via text message. Philadelphia
                    can use the feedback to make more data-driven decisions.</p>
                    <h2>Host a Hack Event</h2>
					<p>Hack events bring together citizens to craft solutions
                    to civic issues. From designers and developers to government officials
                    and social advocates, participants can “hack away” and use technology to
                    improve government.</p>
                    <h3>Civic App Hackathon</h3><p>Hackathons promote collaboration and help develop
                    technical apps and solutions to civic challenges. These events pump fresh
                    ideas and innovation into government, help resource-constrained cities
                    address challenges, and connect cities with designers, developers, and
                    the generally curious. Get started planning your hackathon with our
                    <a href="https://docs.google.com/a/codeforamerica.org/document/d/1GY5qWb2M7sKNuYBNMckzjxxoyV0KdsIVLoFsN6RKO-k/edit">tips on how to host a hackathon</a>, or learn from previously held events in
                    <a href="http://www.prweb.com/releases/2012/3/prweb9263240.htm">Joplin</a>,
                    <a href="http://www.tampagov.net/information_resources/HACKATHON/">Tampa</a>, or
                    <a href="http://storify.com/cindyroyal/code-for-america-hackathon-austin">Austin</a>.</p>
                    <h3>Policy Hack</h3><p>When drafting policy or creating standards for recently
                    passed legislation, host an event where community members and government
                    officials can come together to discuss and collaboratively improve draft
                    policy.
                    <a href="https://nycopendatapolicyhack.eventbrite.com/">New York City</a>hosted the NYC Open Data Policy Hack Day to get feedback when creating
                    technical standards for its open data law.</p></div>
    </div>
    <div>
        <h1 class="content-header" data-toggle="collapse"  data-target="#open"><span class="orange">&bull;</span> Open Data</h1>
        <div id="open" class="collapse in">
            <h3>The Benefits of Open Data</h3><p>Governments collect data on taxes, health
            services, education, and much more. While government officials and employees
            have access to this information, the general public often does not. Opening
            this data to public use by publishing it online in a standardized format
            brings benefits to public servants and constituents alike. Benefits such
            as:
            <ul>
                <li>Government departments avoid wasting time and resources handling requests
                    for information on an individual basis.</li>
                <li>Opening data allows other city departments to make use of previously unshared
                    information -- and creates new opportunities for collaboration.</li>
                <li>Open data improves government transparency and increases public trust;
                    a survey by the open data company Socrata found that 56% of citizens report
                    that they would
                    <a href="https://benchmarkstudy.socrata.com/Public-Survey/How-Citizens-Feel-About-Open-Gov-Simple-Summary-/sj6u-6rrz">trust their government more</a>if they put the majority of government data online.</li>
                <li>Civic hackers, journalists, non-profits, and even businesses can use the
                    data to build websites and applications for public use, such as:
                    <a href="http://pubadvocate.nyc.gov/landlord-watchlist">The Landlord Watchlist</a>(New York),
                    <a href="http://civiccommons.org/apps/sweeparoundus">SweepAround.us</a>(Chicago)
                    <a href="https://neighborland.com/" target="_blank">Neighborland</a>(National).</li>
            </ul>Don't forget to spread the word about the benefits of open data and open
            government to your colleagues. To get the conversation started, the Open
            Impact campaign created a handout that you can share with fellow public
            servants. Download it.
            <h2>Liberate Department Data</h2>
            <p>Opening data takes four basic steps:</p>
            <ol>
                <li>Select the data you want to release</li>
                <li>Apply an open license</li>
                <li>Making the data available</li>
                <li>Publicize it</li>
            </ol>The Open Knowledge Foundation has created a
            <a href="http://opendatahandbook.org/en/">comprehensive guide</a>to the process -- and it’s in plain English so that anyone (techie or
            not) can understand.
            <h2>Create an Open Data Portal</h2>
            <p>If you’re the head of a department, or can get your department leader
                onboard, consider making an open data portal for your department (or, even
                better, your city!). An open data portal brings all the datasets for a
                department together in one centralized place that is easy to find accessible
                by all. This makes it easy for constituents, developers, and other departments
                to search for the information they need. Data portals are already in use
                across the United States by 34 states and 15 cities from large (New York:
                <a
                href="https://nycopendata.socrata.com/">nycopendata.socrata.com</a>) to small (Arvada, Colo.:
                    <a href="http://arvada.org/opendata/">arvada.org/opendata</a>). See the full list at
                    <a href="http://www.data.gov/statedatasites">data.gov/statedatasites.</a>When you’re ready to create your open data portal, follow
                    <a href="https://docs.google.com/a/codeforamerica.org/document/d/1RlaOnM2XsaMKR1I6j21VY9JtVypKs9kgX_MtHUXrJN0/edit">our six tips for creating an open data portal</a>.</p>
        </div>
        <h1 class="content-header" data-toggle="collapse"  data-target="#procurement"><span class="orange">&bull;</span> Improve Your Procurement Process</h1>
        <div id="procurement" class="collapse in">
            <p>City governments across the United States spend billions of dollars each
                year procuring products and services for their cities. Systems for attracting
                vendors and accepting proposals, however, are often confusing, cumbersome,
                and slow. This can deter new vendors and companies from competing for government
                business, which causes the city and its citizens to lose out.</p>
            <p>To ensure those with the best-fit solutions vie for a city’s business,
                we’ve identified six ways you can leverage technology to improve your procurement
                process:</p>
            <p>
                <strong>Create a centralized website listing all RFP, RFQ, RFI opportunities</strong>
                <em>CHALLENGE:</em>When procurement requests are dispersed across departments
                and websites, it is difficult for new vendors to find out what opportunities
                are available.
                <em>ACTION:</em>Centralize RFP, RFQ, and RFIs on a website that is easy to
                find and linked through the city website’s homepage. The website should
                allow the user the ability to search opportunities by keyword, as well
                as sort by relevant category.
                <em>WHY:</em>By creating a central, easy-to-navigate website where vendors
                can find information, you’ll help those who want and need information,
                find it.</p>
            <p>
                <strong>Provide data feed or well-formed HTML versions of RFP, RFQ, and RFI opportunities</strong>
                <em>CHALLENGE:</em>When officials scan RFP, RFQ, or RFIs and upload them as
                PDFs, it's almost impossible for developers to work with the information.
                <em>ACTION:</em>Provide proposals in well-formed HTML or create a data feed
                listing all RFP, RFQ, and RFI opportunities.
                <em>WHY:</em>By making it easier for developers to work with RFP, RFQ, and
                RFI data, you open the door for the creation of apps and software platforms
                that can improve the procurement process for the city or the vendors.</p>
            <p>
                <strong>Create an online portal for vendors to submit RFP, RFQ, and RFI materials</strong>
                <em>CHALLENGE:</em>To submit a RFP, RFQ, or RFI, a vendor typically has to
                complete multiple steps and fill out numerous, lengthy forms.
                <em>ACTION:</em>Create a vendor portal to provide a centralized hub for all
                completed submission documents.
                <em>WHY:</em>Allowing vendors to submit materials online cuts down on the
                time the city spends processing proposals. This frees up your department
                to spend more time on other things, like marketing and outreach. The portal
                also helps the vendor track progress and makes it easier for them to identify
                missing materials.</p>
            <p>
                <strong>Create a content management system to track and review submissions</strong>
                <em>CHALLENGE:</em>Multiple parties must review RFP, RFQ, and RFI submissions.
                When submissions aren’t centralized or consistently tracked, it can be
                difficult to understand what stage each submission is in the review process.
                This can significantly increase the time it takes to decide on a vendor.
                <em>ACTION:</em>Create a content management system to track and review submissions.
                <em>WHY:</em>Having a content management system to help you track proposals
                allows you to streamline the review process. This allows you to more quickly
                come to a decision on a vendor.</p>
            <p>
                <strong>Use technology and social media to get the word out to bidders</strong>
                <em>CHALLENGE:</em>It can be difficult for vendors who haven’t sold services
                and products to the city before to identify when opportunities they are
                qualified for become available.
                <em>ACTION:</em>Use social media, online forums, and targeted internet ads
                to get the word out to interested parties about active requests. For example,
                use social media like Facebook and Twitter to blast out the word when the
                request is active. Use YouTube or Vimeo to make a video that describes
                the request and what an ideal product or service would offer.
                <em>WHY:</em>By using a variety of channels to advertise, you can reach a
                broader audience. This can diversify and increase the products and services
                to choose from.</p>
            <p>
                <strong>Develop an intranet with template proposals and a catalogue of past proposals</strong>
                <em>CHALLENGE:</em>Drafting RFP, RFQ, and RFIs requires a lot of resources.
                Employees writing requests could benefit from up-to-date boilerplate templates,
                as well as from access to similar past requests.
                <em>ACTION:</em>Create a central intranet for RFP, RFQ, RFI templates and
                update regularly as procurement policies change. Include a catalogue of
                past proposals.
                <em>WHY:</em>Employees writing request documents should be armed with an up-to-date
                template that gives them a starting point to create a proposal, as well
                as access to similar proposals written in the past. This will allow them
                to focus on defining the nuances of each request to make sure it elicits
                the most effective responses.</p>
        </div>
        <div>
            <h1 class="content-header" data-toggle="collapse"  data-target="#policies"><span class="orange">&bull;</span> Implement Open Government Policies</h1>
            <div id="policies" class="collapse in">
                <p>Open government policies lay the framework for building a culture of innovation
                    and openness from the ground up.</p>
                <h2>The Benefits of Open Government Policies</h2>
                <p>
                    <strong>They catalyze civic innovation and increase transparency</strong>Open
                    data policies give civic hackers reassurance that they can rely on city
                    data and allow them to build service organizations, businesses, and product
                    models around this data. Open data policies also provide transparency and
                    give citizens, city departments, and city officials equal access to data.</p>
                <p>
                    <strong>They offer economic and security benefits</strong>Open source solutions
                    can save cities money on licensing and redistribution costs. Open source
                    solutions can also offer a greater level of security to cities because
                    they are patrolled by a variety of users. The Department of Defense, Google,
                    Facebook, and the White House (to name a few) all have open source policies.</p>
                <p>
                    <strong>They ensure greater interoperability, and the ability of systems to work
                        together</strong>When you can plug in new software or systems to existing
                    ones, it cuts down on costs, inefficiency, and headaches!</p>
                <h2>Sample Policies</h2>
                <p>Use these templates and guides to get started drafting open policies for
                    your city. The open government directive is a good place to begin. If you’re
                    city is looking to be more ambitious, Open Impact has provided editable,
                    working documents for an open government resolution and bill. We are excited
                    to collaborate with governments and the public on these model pieces of
                    legislation, so feel free to give feedback.</p>
                <ul>
                    <li>
                        <a href="http://opengovernmentinitiative.org/directive/v1/">Open Government Directive</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/a/codeforamerica.org/file/d/0ByGqj7FSYvTkY3h0TldMRHdESVk/edit">Open Government Resolution Template</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/a/codeforamerica.org/document/d/1g6gkj83qsObzPZTCwVaLd2UIpRQR8RcCVAhHJ7NWlVg/edit">Open Government Bill Template </a>
                    </li>
                </ul>
                <h4>Open government policies include:</h4>
                <p>
                    <strong>Open Data and Open Standards Language</strong>The open data policy requires
                    departments to publish their data in machine-readable formats and make
                    it available to the public-at-large through a single web portal. It also
                    requires the city to develop open data technical standards, a compliance
                    plan detailing qualifying data, and a timeline to make the data publicly
                    available. This policy also outlines open standards regulations for data.
                    <strong>Public Records Act</strong>The Public Records Act requires city agencies
                    to publish their records publicly online through a single web portal maintained
                    by the city.
                    <strong>Open Source Procurement Policy</strong>The open source procurement policy
                    requires agencies to consider open source software when acquiring software.
                    It also requires them to catalogue and share software source code that
                    facilitates the code’s reuse and meets set definitions.</p>
            </div>
            <h1 class="content-header" data-toggle="collapse"  data-target="#mechanics"><span class="orange">&bull;</span> Establish an Office of New Urban Mechanics</h1>
            <div class="collapse in"
            id="mechanics">
                <p>The Mayor’s Office of New Urban Mechanics — initially conceived in
                    <a href="http://newurbanmechanics.org/"> Boston </a>and now being replicated in cities across the country — is an organizational
                    model that helps cities innovate by aggregating risk, building partnerships,
                    and encouraging experimentation in government. Projects have ranged from
                    crowdsourcing development of sensor-driven apps to government-to-government
                    resource sharing. This process for civic innovation is one that can adapted
                    by any city. By creating an Office of New Urban Mechanics in your city
                    you can institutionalize a commitment to innovation.
                    <a href="http://codeforamerica.org/monum/">Learn more </a>about starting an office of New Urban Mechanics program in your city.</p>
            </div>
			</div>
        </div>
    </div>