%h1 Commit Code
%p Open source communities build better code together. 
%p Here’s how you can join us in opening civic data where you live:
%ol
  %li Visit one of the open source GitHub organizations below and check out their code. We'll also feature open source apps from time to time on this site an in our monthly newsletter.
  %li When you find the app to which you are ready to contribute, click the “Open Civic Data” on the Activities page [LINK] and follow the steps. You’ll be asked to assign the activity to a Brigade or to start a new Brigade.
  %li Use the social media buttons to let everyone know right away about your deployment. We’ll also get an alert through <a href="mailto:brigade-info@codeforamerica.org">brigade-info@codeforamerica.org</a> so that each month we can share all the new activities with the Brigade community and through our newsletter.
  %li Get your friends to join your Brigade to show their support for your activity. Be sure to ask them to also using the social media buttons.
  %li Plan an event for your activity. Use our MeetUp or whichever service you prefer. Just be sure to let us know about it so we can spread the word.
%h2 GitHubs we like:
%ul
  %li <a href="https://github.com/codeforamerica">https://github.com/codeforamerica</a>
  %li <a href="https://github.com/open-city">https://github.com/open-city</a>
  %li <a href="https://github.com/azavea/">https://github.com/azavea/</a>