<% @page_title='Race 2 Reuse' %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Code for America Brigade: Race to Reuse</title>
    <meta name="description" content="Code for America Brigade's fall and winter campaign for civic tech reuse">
    <meta name="author" content="Code for Ameria">
    <!-- Le styles -->
     <link href="/assets/r2r/style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300italic,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/ico" href="/assets/r2r/favicon.ico"/>
  </head>

  <body class="race" data-spy="scroll" data-target=".subnav" data-offset="100">

      <!-- Masthead ================================================== -->
			  <div id="banner_cont">
				  <div id="banner_bg">
				    <div id="banner_txt"> <span class="top_cufon">Build on <br />what works </span> </span><br/>
				      <span class="banner_des">Let’s pick up where most hackathons leave off.</span><br/>
				      <div class="Apply">
				        <a href="#sign-up" title="go to form" class="button">I'm interested</a>
				      </div>
				    </div>
				  </div>
				</div>
			  <div id="information">
          <div id="main_nav_cont" class="subnav">
			    	<div id="nav_cont">
              <ul class="nav nav-pills">
                <li><a class="race" href="#competition">The Competition</a></li>
			          <li><a class="race" href="#how">How it Works</a></li>
			          <li><a class="race" href="#rewards">Rewards</a></li>
			          <li><a class="race" href="#rules">Rules</a></li>
                <li><a class="race" href="#apps">Apps</a></li>
              </ul>
			    	</div>
          </div>
			    <div id="wrapper">
			      <div id="main_container" class="info">
			        <!-- COMPETITION -->
			        <div class="main_cont" id="competition">
			          <h1 class="race">The Competition</h1>
			          <div class="top_art_cont">
			            <h2 class="race">Build Locally, Spread Nationally: A New Kind of Apps Contest</h2>
			             <p class="race">Across the county, civic hackers have been building <a title="Brigade apps page" href="http://brigade.codeforamerica.org/applications">amazing applications</a> to address real needs in their communities -- and because they are good people like you, they’ve made it freely available for anyone else to reuse.</p>
			             <p class="race">So now we’re challenging you to step up.</p>
			             <p class="race">Choose an application from our growing catalog and get a team together to deploy it in your city — and then the real competition starts: you’ll be racing against teams across the country to drive adoption, build a user base, and create real impact in your community.</p>
			          </div>
			          <div id="finish_line_cont"></div>
			        </div>
			        <!-- HOW -->
			        <div class="main_cont" id="how">
			          <h1 class="race">How it Works</h1>
			          <div class="top_art_cont"></div>
			         	<div class="program_cont row">
			    				 <div class="span5">
			    				 	<img src="/assets/r2r/networking.png">
			    				 	<p class="race"><b>Gather a team, and <a href="" title="go to form" value="sign up">sign up</a>.</b> ...</p>
			    				 </div>
			    				 <div class="span5">
			    				 	<img src="/assets/r2r/pig.png">
			    				 	<p class="race"><b>Redeploy one or more of the featured apps to your city or any city. </b> ...</p>
			    				 </div>
			    				 <div class="span5">
			    				 	<img src="/assets/r2r/bullhorn.png">
			    				 	<p class="race"><b>Create engagement.</b><br/>Deploying an app is just the first milestone. This competition is about engaging citizens to participate in activities that apps support.</p>
			    				 </div>
			    				 <div class="span5">
			    				 	<img src="/assets/r2r/pig.png">
			    				 	<p class="race"><b>Unlock achievements </b><br/> There are multiple rewards along the way. You'll send us proof of reaching milestones and we'll send you the rewards.</p>
			    				 </div>
			    				 <div class="span5">
			    				 	<img src="/assets/r2r/institution.png">
			    				 	<p class="race"><b>Achieve the highest level of adoption by November 6, and win.</b>...</p>
			    				 </div>
			    			</div>
			          <div id="finish_line_cont"></div>
			        </div>
			        <!-- REWARDS -->
			    		<div class="main_cont" id="rewards">
			    		      <h1 class="race">Rewards</h1>
			    		      <h2 class="race">A prize is something you win for showing up. A reward is something you earn for what you do.</h2>
			    		      <h2>Achievements</h2>
			    		      <table>
			    		        <tr>
			    		         <td><img alt="launch icon" src="/assets/launch.png"></td>
			    		         <td><p class="race">Launch your app and earn an advertising budget to promote it.</p></td>
			    		        </tr>
			    		        <tr>
			    		         <td><img alt="community icon" src="/assets/community.png"></td>
			    		         <td> <p class="race">Fulfill you app challenge for adoption and earn a year of hosting.</p></td>
			    		        </tr>
			    		        <tr>
			    		         <td><img alt="launch icon" src="/assets/launch.png"></td>
			    		         <td><p class="race">Launch more than one app or deploy in more than one city and we'll host your next 3 Brigade Meetups (or comparable event).</p></td>
			    		        </tr>
			    		      </table>
			    				  <div id="finish_line_cont"></div>
			    		</div>
			    		<!-- RULES -->
			    		<div class="main_cont" id="rules">
			          <h1 class="race">Rules</h1>
			          <div class="top_art_cont">
			            <p class="race">
			              <ol class="race">
			                <li><strong>Registration.</strong> Registration is required to be eligible for prizes. Online registration ends at 10:00 pm Pacific Time on October 24, 2012. We encourage you to register early to get maximum exposure for your effort.</li>
			                <li> <strong>Cost.</strong> There is no cost for entering the competition.</li>
			                <li><strong>Start &amp; End Times.</strong> Teams may begin racing toward milestones immediately upon verification of entry. Verification will be delivered by email to the address provided upon registrations. The competition ends at 10 pm Pacific Time on November 6, 2012.</li>
                      <li><strong>Press Release.</strong> By participating in Hacks for Democracy, participants grant organizers and participating members of the media rights to publicly disclose competition event information, review and describe applications developed and presented during the event, and rights to display event-related photos, screen shots, and links to publicly available demonstrations of contest entries.</li>
                      <li><strong>Verification.</strong> Competitors are required to submit proof for each milestones reached, ex., the URL of an app site for reaching the deploy milestone, a screen or other verification showing the number of adoptions, and the like. We apply the honor code to all verification. Any misconduct around inflating your analytics AKA “juking the stats” is grounds for expulsion from the competition.</li>
                      <li><strong>Rules Changes.</strong> Code for America reserves the right to make rules modifications prior to the start of the event.</li>
                    </ol>
                  </p>
                <div id="finish_line_cont"></div>
			    	  </div>
			    		<!-- APPS -->
              <div class="main_cont" id="apps">
			              <h1 class="race">Apps</h1>
			              <h2 class="race">Textizen</h2>
			    	        <p class="race">
                          A simple, powerful citizen feedback tool for the digital age, with SMS.
                          This might be a good app for you if:
                          You are a city official or have contacts in your local government.
                          You don’t have a technical background .
                          You have a specific question(s) or project you want to get feedback on from your community.
                    </p>
                    <p class="race"><a title="Textizen start page" href="http://www.textizen.com/getstarted">Get started with Textizen</a></p>
                    <p class="race"><i>You’ll be competing to get the greatest number of survey respondents.</i></p>
                    <h2 class="race">LocalWiki</h2>
                    <p class="race">
                      A platform for building collaborative community information hubs.
                      This might be a good app for you if:
                      You have a local group who wants to be involved to help seed content.
                      You like community organizing.
                    </p>
                    <p class="race"><a title="LocalWiki start page" href="https://guide.localwiki.org/Starting_a_LocalWiki">Get started with LocalWiki</a></p>
                    <p class="race"><i>You’ll be competing to get the greatest number of unique contributors to your wiki.</i></p>
                    <h2 class="race">Adopta</h2>
                    <p class="race">
                      A Ruby on Rails application that allows citizens to "adopt" civic infrastructure, such as fire hydrants, storm drains, or emergency sirens..
                      This might be a good app for you if:
                      You have Ruby on Rails expertise.
                      You have a dataset you want to use.
                    </p>
                    <p class="race">Get started with Adopta</p>
                    <p class="race"><i>You’ll be competing to get the highest percentage of your adoptable items adopted.</i></p>
                    <h2 class="race">Answers</a>
                    <p class="race"></p>
                    <p class="race">Get started with Adopta</p>
                    <p class="race"><i>You’ll be competing to answer the most questions.</i></p>
              </div>
			        <!-- BRIGADE SIGNUP FORM -->
  			      <div class="main_cont" id="sign-up">
  			      <h1 class="race">REGISTER NOW</h1>
  			      <div class="signup-form">
                  <%= form_for @user, url: registration_path(@user, :source => 'open_impact'), :html => { :class => "form-horizontal" } do |form| %>
                    <fieldset>
                      <div class="control-group">
                        <label class="control-label" for="full_name">Name</label>
                        <div class="controls">
                          <%= form.text_field :full_name, :placeholder => 'Name', :class => "input-xlarge" %>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                          <%= form.text_field :email, :placeholder => 'Email', :class => "input-xlarge" %>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="email">Location</label>
                        <div class="controls">
                          <%= form.text_field :location, :placeholder => 'Location', :class => "input-xlarge" %>
                        </div>
                      </div>
                      <div class="form-actions impact-submit" style="border-top:0;">
                          <%= form.submit 'Sign up', :class => 'btn btn-large btn-osubmit' %>
                      </div>
                    </fieldset>
                  <% end %>
              </div>
            </div>
              <!-- SOCIAL BUTTONS -->
              <div style="margin-top:30px;">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="I entered @codeforamerica's competition to redeploy civic apps to cities across the country" data-size="large" data-url="http://brigade.codeforamerica.org/pages/r2r/index.html">Tweet</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  <br /><br />
                  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fbrigade.codeforamerica.org%2Fpages%2Fr2r%2Findex.html&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=119332528172230" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
              </div>
			      </div>
			    </div>
		    </div>
     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <div id="footer_cont">
	        <img src="/assets/r2r/flag_tag.png"/>
	      </div>
      </footer>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	  <script src="/assets/bootstrap-transition.js"></script>
	  <script src="/assets/bootstrap-modal.js"></script>
	  <script src="/assets/bootstrap-scrollspy.js"></script>
	  <script src="/assets/r2r/application.js"></script>
	  <script src="/assets/bootstrap-tooltip.js"></script>
	  <script src="/assets/bootstrap-popover.js"></script>
		<script type="text/javascript" src="/assets/jquery.easing.1.2.js"></script>
		<script type='text/javascript' src='/assets/jquery.scrollTo-1.4.2-min.js'></script>
		<script type='text/javascript' src='/assets/jquery.localscroll-1.2.7-min.js'></script>
		<script type='text/javascript' src='/assets/jquery.ba-hashchange.min.js'></script>
		<script type='text/javascript' src='/assets/r2r-app.js'></script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20825280-1']);
		  _gaq.push(['_setDomainName', 'none']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<script type="text/javascript">
		var _sf_async_config={uid:20661,domain:"codeforamerica.org"};
		(function(){
		  function loadChartbeat() {
		    window._sf_endpt=(new Date()).getTime();
		    var e = document.createElement('script');
		    e.setAttribute('language', 'javascript');
		    e.setAttribute('type', 'text/javascript');
		    e.setAttribute('src',
		       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
		       "/assets/r2r/chartbeat.js");
		    document.body.appendChild(e);
		  }
		  var oldonload = window.onload;
		  window.onload = (typeof window.onload != 'function') ?
		     loadChartbeat : function() { oldonload(); loadChartbeat(); };
		})();

		</script>
  </body>
</html>
