%table
  %tr
    %td{:width => "100px;"}
      %img{:alt => "advocate icon", :src => "/assets/noun_tools_400.png", :style => "width: 80px; height: 80px;"}
    %td{:width => "400px;"}
      %h1 Tools for Your Campaign
%h2 Templates
%p
  %a{:title => "Local press release", :href => "https://docs.google.com/document/d/1mWev81DQkSnXVMQfT9Gz0RFe7oVJI4Suhat6evWDUHE/edit"} Local Press Release
%p
  %a{:title => "Adopt-a letter", :href => "https://docs.google.com/document/d/1jE-VJ86ndLIU-SUEfyjGqxHsWAhIQaV9o0Cw7IYOz6c/edit"} Adopt-a letter to local program manager
%p
  %a{:title => "Sticker templates", :href => "https://www.dropbox.com/s/8670lqzctwp3v0f/stickers.pdf"} R4R Stickers
%p
  %a{:title => "Letter footer", :href => "https://www.dropbox.com/s/5hv6zdgsnn7avfd/RFR-template.pdf"} R4R Letter Footer
%p
  %a{:title => "2.5 in sticker template", :href => "https://www.dropbox.com/s/okmvcda7zu0h6jx/2.5inch_round_template_5294-brigadestickers.pdf"} Made by Brigade 2.5" Sticker
%p
  %a{:title => "Event sign", :href => "https://www.dropbox.com/s/es2ngv88bb595kp/brigade-eventsign.pdf"} Event Sign
%h2 Materials
%p
  %a{:title => "Write-a-thon Neighborhow", :href => "http://neighborhow.org/guides/host-a-writeathon-in-your-city"} How to Host a Write-a-thon
%p
  %a{:title => "Adopt-a Neighborhow", :href => "http://neighborhow.org/guides/how-to-organize-using-adopt-a"} How to Organize Using Adopt-a
%p
  %a{:title => "Shareabouts Neighborhow", :href => "http://neighborhow.org/guides/how-to-organize-using-shareabouts"} How to Organize Using Shareabouts
%p
  %a{:title => "Civic App Marketing Guide", :href => "https://docs.google.com/document/d/1T5Zj4OifMxKL9VBj10sTAmk9_e78EX1PiE3p1PjNHEM/edit"} Civic App Marketing Guide
%p
  %a{:title => "Civic App Marketing Webinar slides", :href => "https://www.dropbox.com/s/yerviubky6drhge/11-12-2012%20app%20marketing%20webinar.key"} Civic App Marketing Slides (Keynote format)

%h2 Brigade Graphics
%p
  %img{:title => "png version", :src => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png", :style => "width: 270px; height: 102px;"}
%p
  %a{:title => "png version", :href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png"} CfA_Brigade_logo.png
%p
  %a{:title => "jpg version", :href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.jpg"} CfA_Brigade_logo.png
%p
  %a{:title => "Code for America logos", :href => "http://codeforamerica.org/logos/"} Code for America logos