- @page_title='Race 4 Reuse'
%LINK{:HREF => "/assets/campaigns.css", :REL => "StyleSheet", :TYPE => "text/css"}
  %html{:lang => "en"}
    / BANNER
    .row
      %a{:href => "/pages/codeacross"}
        %img{:align => "center", :src => "http://gallery.mailchimp.com/d9acf2a4c694efbd76a48936f/images/race_for_reuse_banner_wrap_V2.png", :width => "1000px"}/
    / TOP CONTENT (left) / MAP (right)
    .row{:style => "margin-top:20px;"}
      / HEADLINE
      %h2 Feb 22-24: Code for America Where You Live
      .span12
        / LEGACY STYLES
        .top-section
          .top-section-form
            / MAP (right)
            / EMBED GOES HERE
            .top-section-form-inner.primary{:style => "height: 350px;"}
              .pledge-form-content{:style => "margin-bottom: 30px;"}
                %div
                  %br/
        / TOP-LEFT CONTENT
        %p.medium
          Code Across America is a distributed event when everyone in the national Code for America network contributes to the "Code for America Effect" at (roughly) the same time.
        %p.medium
          It's a tradition that started after the first Fellowship class (2011) hosted hackathons and other community events
        %p.medium
          Events will be hosted in Fellowship and Brigade cities across the U.S. between 22-24 February. February 23rd is also
          %a{:title => "International Open Data Day", :href => "http://opendataday.org"} International Open Data Day.
          Join Code Across America and International Open Data Day by connecting to or hosting an event where you.
      / START OF MAIN BODY CONTENT
    .content-wrap
      %h1#section-cities.section-header
        Connect in these places:
        %a.back-to-top{:href => "#"} &uarr; Back to top
      <iframe src="http://www.meetup.com/everywhere/widget3/cfabrigade?width=800&amp;bg=light" width="800" height="475" frameborder="0" border="0" allowtransparency="true" scrolling="no"></iframe>
      %h2
        %a{:title => "Open Data Day Wiki", :href => "http://wiki.opendataday.org/2013/City_Events#United_States"} Click here for Open Data Day U.S. Locations
      %p
        Don't see your city in the list?
        %a{:href => "mailto:brigade-info@codeforamerica.org?subject=Race for Reuse City", :title => "email Brigade Concierge"} Let us know.
      %p.medium
        Code Across 2012
        %a{:title => "last year", :href => "http://codeforamerica.org/code-across-america"} #codeacross