%table
  %tr
    %td{:width => "100px;"}
      %img{:alt => "advocate icon", :src => "/assets/noun_tools_400.png", :style => "width: 80px; height: 80px;"}
    %td{:width => "400px;"}
      %h1 Organizer's Toolkit
%br
%table{:width => "100%"}
  %tr
    %td{:valign => "top"}
      %h2 Getting Started
      %ul
        %li
          %a{:href => "https://docs.google.com/document/d/1usHMpLu4FBdMTpfmQeQYz4Y4hfW-LXbGtTNpnMw20R4/edit?usp=sharing"} Introduction
        %li
          %a{:href => "https://docs.google.com/document/d/1OH-rmKsuMoSj6FCR8H89TlR08co0WwAv28ISUT277nY/edit?usp=sharing"} How To: Get Started
        %li
          %a{:href => "https://docs.google.com/document/d/1oEB1CuzCHldxP_bzcvmcrmK0yAE1BzV2AGhtwtYKZVY/edit?usp=sharing"} Roles within a Local Brigade
        %li
          %a{:href => "https://docs.google.com/document/d/1ukivPQNeIH2GcJHcZ50yjzh1uQj70FlilFQcUKOH49k/edit?usp=sharing"} How To: Host a Hack Night
        %li
          %a{:href => "https://docs.google.com/document/d/1WtoE_Kfqcu73MCUOIXujrzTfqrQAW3DGt0sC8iKJ6Rw/edit?usp=sharing"} How To: Collaborate with Government
        %li
          %a{:href => "https://docs.google.com/document/d/1LIUcCLwmn-SR6_X93TOMIoIJOhNXd0t_27TAIOofdIo/edit?usp=sharing"} How To: Brand and Market Your Brigade
        %li
          %a{:href => "https://docs.google.com/document/d/1AuMsUqCZ1Em99NvQje1dCI2cD1C54dD711sbm6FgYhE/edit?usp=sharing"} How To: Welcome New Members
        %li
          %a{:href => "https://docs.google.com/document/d/1fR-uImfI3zbH__BhEzlsTgsKxgs21FK4C6zIwgeuWGw/edit?usp=sharing"} Websites, Meetups, and Social Media
        %li
          %a{:href => "https://docs.google.com/document/d/1r0aEcMwpMSwo4P-x6PJ5WV5y1ouciOkvRTiGATFJAmU/edit?usp=sharing"} Template: City Profile / City Assessment Document
        %li
          %a{:href => "https://docs.google.com/document/d/1qhL_xz06RT7SUnG0fQ7YCY-4f2cjE_t6MZ8lGNc5_As/edit?usp=sharing"} Template: One Year Plan
          
    %td{:valign => "top"}
      %h2 Events
      %ul
        %li
          %a{:title => "Code for America Events Guide", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit?usp=sharing"}Events Guide
        %li
          %a{:href => "http://dl.dropbox.com/u/85457263/brigade_name_tag.indd"} Name Tag Template
          %a{:href => "http://dl.dropbox.com/u/85457263/brigade_name_tag.pdf"} [PDF version]
        %li
          %a{:href => "https://docs.google.com/open?id=0B_WC8QOgiwjzT05IdVdwSk5TX0E"} Meetup Sign
    %td{:valign => "top"}
      %h2 Marketing
      %ul
        %li
          %a{:href => "https://docs.google.com/document/d/1OY0s8BJR9A2aW1ivlNACTbi0dWOh9njYpHp53G1shFs/edit"} One Page Flyer
          %a{:href => "https://www.dropbox.com/s/d8omlxmg8g0gd1h/TemplateOnePager.pdf"} [PDF version]
        %li
          %a{:href => "https://docs.google.com/presentation/d/1MSyVMauTv4HcPcgXmF2l-Afzjw35UfieCj5mKDK7fvY/edit?usp=sharing"} Slide Deck
          %a{:href => "https://www.dropbox.com/s/t0ipq3okluv6p8l/Code%20for%20America%20Brigade%20-%20General%20Edition.pdf"} [PDF Version]
        %li
          %a{:title => "2.5 in sticker template", :href => "https://www.dropbox.com/s/pkj0y9wt6fc4c6p/stickers.pdf"} Stickers
        %li
          %a{:href => "https://docs.google.com/document/d/1LIUcCLwmn-SR6_X93TOMIoIJOhNXd0t_27TAIOofdIo/edit?usp=sharing"} Style Guide
        %p
          %a{:href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png"}
            %img{:src => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png", :style => "width: 270px; height: 102px;"}
        %p
          %a{:href => "/assets/BrigadeIcon.png"}
            %img{:src => "/assets/BrigadeIcon.png", :width => "100", :height => "100"}
        %p
          %a{:href => "http://codeforamerica.org/wp-content/uploads/2013/04/tumblr_glasses.png"}
            %img{:src => "http://codeforamerica.org/wp-content/uploads/2013/04/tumblr_glasses.png",  :width => "100", :height => "100"}
        %p
          %a{:href => "http://www.codeforamerica.org/wp-content/uploads/2013/02/the_brigade.png"}
            %img{:src => "http://www.codeforamerica.org/wp-content/uploads/2013/02/the_brigade.png", :width => "300", :height => "100"}
        %p
          %a{:href => "http://codeforamerica.org/logos/"} More Code for America logos
