%table
  %tr
    %td{:width => "100px;"}
      %img{:alt => "advocate icon", :src => "/assets/noun_tools_400.png", :style => "width: 80px; height: 80px;"}
    %td{:width => "400px;"}
      %h1 Tools for Organizers
%h2 Templates
%p
  %a{:href => "https://docs.google.com/document/d/1OY0s8BJR9A2aW1ivlNACTbi0dWOh9njYpHp53G1shFs/edit"} One Pager
  %a{:href => "https://www.dropbox.com/s/d8omlxmg8g0gd1h/TemplateOnePager.pdf"} [PDF version]
%p
  %a{:href => "https://docs.google.com/document/d/1Ns-p_SgxDkniWocbQ8RjPj992gCkzJlB0zeDURkvqU4/edit"} Project Plan
%p
  %a{:href => "https://docs.google.com/spreadsheet/ccc?key=0AvWC8QOgiwjzdFowU082LWJBZ0s2TUdVNGVrUG1CZmc"} Expense Plan
%p
  %a{:href => "https://docs.google.com/open?id=0B_WC8QOgiwjzT05IdVdwSk5TX0E"} Meetup Sign
%p
  %a{:href => "https://docs.google.com/presentation/d/1MSyVMauTv4HcPcgXmF2l-Afzjw35UfieCj5mKDK7fvY/edit?usp=sharing"} Pitch Deck
  %a{:href => "https://www.dropbox.com/s/t0ipq3okluv6p8l/Code%20for%20America%20Brigade%20-%20General%20Edition.pdf"} [PDF Version]
%p
  %a{:href => "http://dl.dropbox.com/u/85457263/brigade_name_tag.indd"} Name Tag Template
  %a{:href => "http://dl.dropbox.com/u/85457263/brigade_name_tag.pdf"} [PDF version]
%p
  %a{:href => "http://dl.dropbox.com/u/85457263/brigade_sign.png"} Brigade Sign
%h2 Materials
%p
  %a{:href => "https://docs.google.com/document/d/1LIUcCLwmn-SR6_X93TOMIoIJOhNXd0t_27TAIOofdIo/edit?usp=sharing"} Style Guide
%p
  %a{:title => "Code for America Events Guide", :href => "https://docs.google.com/document/d/16CSiN809nNUksFYiQIpxzxHEhPZRAa_WpGA4DZ9upmc/edit"}Events Guide
%p
  %a{:href => "https://docs.google.com/document/d/1RKkjW0YZfysBZ6JiJgV8j7o61H_Sh9y9pUl9fZzI2Bw/edit?usp=sharing"} Expensify Process
%p
  %a{:title => "Civic App Marketing Guide", :href => "https://docs.google.com/document/d/1T5Zj4OifMxKL9VBj10sTAmk9_e78EX1PiE3p1PjNHEM/edit"} Civic App Marketing Guide
%p
  %a{:title => "Open Source Way", :href => "http://www.theopensourceway.org/book/The_Open_Source_Way-How_to_loosely_organize_a_community.html"} Open Source Way: How to loosely organize a community
%p
  %a{:title => "2.5 in sticker template", :href => "https://www.dropbox.com/s/pkj0y9wt6fc4c6p/stickers.pdf"} Stickers
%h2 Graphics
%p
  %img{:src => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png", :style => "width: 270px; height: 102px;"}
%p
  %a{:href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png"} CfA_Brigade_logo.png
%p
  %a{:href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.jpg"} CfA_Brigade_logo.jpg
%p
  %a{:href => "/assets/BrigadeIcon.png"}
    %img{:src => "/assets/BrigadeIcon.png", :width => "100", :height => "100"}
%p
  %a{:href => "http://codeforamerica.org/logos/"} Code for America logos
%p
  %a{:href => "http://media.tumblr.com/d61bcd6fd0562ba1cdcaa81c16a76067/tumblr_inline_mkbz1oP8IY1qz4rgp.png"}
    %img{:src => "http://media.tumblr.com/d61bcd6fd0562ba1cdcaa81c16a76067/tumblr_inline_mkbz1oP8IY1qz4rgp.png", :style => "width: 140px;"}
%p
  %a{:href => "http://thenounproject.com/Iconathon1/"} Civic Hacking Icons
