%table
  %tr
    %td
      %img{:alt => "advocate icon", :src => "/assets/noun_tools_400.png", :style => "width: 80px; height: 80px;"}
    %td
      %h1 Tools for organizers
%h2 Templates
%p
  %a{:title => "document templates", :href => "https://docs.google.com/document/d/1qhL_xz06RT7SUnG0fQ7YCY-4f2cjE_t6MZ8lGNc5_As/edit"} One Year Strategic Plan
%p
  %a{:title => "document templates", :href => "https://docs.google.com/spreadsheet/ccc?key=0AvWC8QOgiwjzdFowU082LWJBZ0s2TUdVNGVrUG1CZmc"} Expense Plan
%p
  %a{:title => "document templates", :href => "https://docs.google.com/open?id=0B_WC8QOgiwjzT05IdVdwSk5TX0E"} Meetup Sign
%p
  %a{:title => "document templates", :href => "https://docs.google.com/document/d/1hsbpTU30xC23v4edDSQUuIZo2Cw_Wnjk7od4pg44PEo/edit"} Meeting Minutes
%p
  %a{:title => "document templates", :href => "https://docs.google.com/presentation/d/1JVSjs1BdladMlAKTcCIs0Wa4BXSuXh-Kfr4HXNz1M8Y/edit"} Pitch Deck

%h2 Graphics
%p
  %img{:title => "png version", :src => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png", :style => "width: 270px; height: 102px;"}
%p
  %a{:title => "png version", :href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.png"} CfA_Brigade_logo.png
%p
  %a{:title => "jpg version", :href => "http://codeforamerica.org/wp-content/uploads/2012/01/CfA_Brigade_logo.jpg"} CfA_Brigade_logo.png
%p
  %a{:title => "Code for America logos", :href => "http://codeforamerica.org/logos/"} Code for America logos