{% extends "base.html" %}

{% block content %}

<section class="layout-breve"> 

		  		<!-- body title -->
		  		<div class="layout-semibreve">
		  		<h2><center><font color="black">2014 Brigade Case Study: BetaNYC</font></center></h2>
				<h3><center><font color="gray"><b>"Building a connected NYC by the people, for the people, for the 21st Century."</b></font></center></h3>
		  		</div>
				<!-- start toc block -->
				<div class="layout-minor">
					<nav role="navigation" class="toc" id="toc">
						<h3>Contents</h3>
						
						<div class="toc">
						
						    <ul>
<li class="how-it-all-began"><a href="#how-it-all-began">1. How it all Began</a></li>
<li class="online"><a href="#online">2. Collaborating Online</a></li>
<li class="elected"><a href="#elected">3. Working with Elected Officials </a></li>
<li class="crash-mapper"><a href="#crash-mapper">4. NYPD Crash Mapper</a></li>
<li class="how-to"><a href="#how-to">5. How to get Involved</a></li>
						    </ul>

	
	<div>
	<center><img src="http://www.codeforamerica.org/brigade/static/images/casestudies/betanyc logo.png" height="300" width="300"/></center>
	</div>	
	<section class="layout-breve slab-gray">
		<p><b>BetaNYC Captain, <a href="https://twitter.com/spjika" target="_blank"><a href="https://twitter.com/noneck" target=_blank">Noel Hidalgo</a>.</a></b></p>
		<p>"Developing an effective strategy and partners is a long game. Be agile, plan, under promise, and execute within your safety zone."</p>
		<div class="highlight highlight-with-avatar">
			<center>
			<img class="highlight-avatar" src="http://www.codeforamerica.org/brigade/static/images/casestudies/Open Oakland  steve spiker.jpeg"/>
			</center>
		</div>
	</section>
						    
						</div>
	
					</nav>
				</div>
				<!-- end toc block -->
	
				<main id="content" class="layout-major">
	
				<div class="layout-minim">
     <dl>
     	<font color="black">
        <dt><b>City, State:</b> X</dt> <br>
        <dt><b>Population:</b> X</dt> <br>
        <dt><b>Mission Statement:</b> X</dt>
	</font>
     </dl>
   
  </div> 

  <div class="layout-minim">
    <img src="http://www.codeforamerica.org/brigade/static/images/casestudies/Oakland Map.png" height="350" width="350"/>
    <h3 class="heading-contrast"></h3>
  </div>


<h2 id="how-it-all-began">1. How it all Began</h2>

<p>The New York City civic technology community has been building and growing for over 10 years now. In 2004, the Howard Dean presidential campaign sparked a new movement of political technology to bring people together by pairing the latest digital tools with grassroots community organizing.The New York City civic technology community has been building and growing for over 10 years now. In 2004, the Howard Dean presidential campaign sparked a new movement of political technology to bring people together by pairing the latest digital tools with grassroots community organizing.</p>

<p>In the few years that followed, the artistic, maker, technology, and political communities began to join together. With the emergence of easy to use technical platforms like Meetup.com, and events like BarCamp, RootsCamp, and the New Organizing Institute, the civic tech communities began to collaborate on more projects.  </p>

<p>Combined with the 2009 Memorandum on Transparency and Open Government upheld by the Obama administration, all these activities helped build the energy towards the 2009 NYC Open Gov Meetup, founded by Hailey Cooperrider. This went on to become Open New York Forum led by Hailey Cooperrider, Phil Ashlock, and Noel Hidalgo, and has since evolved into BetaNYC.</p>

<div class="layout-breve">
    <center><img src="http://www.codeforamerica.org/brigade/static/images/casestudies/Oakland Map.png" height="350" width="350"/>
    <p><center></center></p>
  </div>
  
<p>Today, as BetaNYC, the community hosts weekly hack nights and bi-annual events, and as needed smaller, sometimes private “hack days.” The hack nights establish a regularity, but can be consuming to organize to make them productive and compete in the saturated NYC meetup market. The biggest successes of hack nights come through the community building. BetaNYC invites 2-3 lightning talk speakers for “BetaTalks” every week to share their latest work and get feedback from the group. At the bi-annual events, including CodeAcross and City Camp / National Day of Civic Hacking, the community gets the opportunity to come together and work on existing projects and establish new ones. </p>

<p>Noel has been a lead organizer ever since the Brigades inception, and has extensive experience as a community organizer and manager, having held positions as the Director of Technology Innovation at the New York State Senate,  and Associate Director for Engagement Technologies at the World Economic Forum. Another long standing Co-Orgaizer has been, Chris Whong, who self describes as an "urbanist, map maker, and data junkie," who works as a Data Solutions Architect at Socrata.  Together, they have built BetaNYC into an incredibly active group meeting weekly, but collaborating daily through virtual channels.<br>

<p>“The best stuff happens online!  In-person meetups are great and have their place, but BetaNYC’s email list is where the best engagement happens — discussions on data, tools, and policy, sharing of work and code, and best of all, tech help!</p>
- Chris, Whong</p>

<h2 id="online">2. Collaborating Online</h2>

<h2 id="elected">3. Working with Elected Officials</h2>

<h2 id="crash-mapper">4. NYPD Crash Mapper</h2>



<h2 id="how-to">5. How to Get Involved</h2>
	<p><b><a href="http://www.meetup.com/betaNYC/" target="_blank">BetaNYC Meetup Page</b></p></a>
	<p><b><a href="https://secure.codeforamerica.org/page/contribute/default" target="_blank">Donate to the BetaNYC Brigade</b></p></a>
	<br>
	<p><b><a href="http://projects.betanyc.us/#!/" target="_blank">Check Out More BetaNYC Projects</b></p></a>
	<p><b><a href="http://blog.betanyc.org/" target="_blank">Read BetaNYC's Blog</b></p></a>
	<p><b><a href="https://twitter.com/betanyc" target="_blank">Follow BetaNYCE on Twitter</b></p></a>
	<p><b><a href="http://betanyc.us/" target="_blank">Visit the BetaNYC Webpage</b></p></a>
	</div>
</section>
	
					<hr/>
				
					
									
				</main>


	  		</div>
	  	</section>

		<!-- start github feedback section -->
	    <div class="layout-breve slab-gray">
			<p>Help make our documentation better:</p>
			<ul>
				<li><a title="View this page history on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/commits/master/governments/principles/design/index.md">View this page's history on GitHub.</a>
				<li><a title="View and suggest changes to this page source on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/blob/master/governments/principles/design/index.md">View and suggest changes to this page on GitHub.</a>
			</ul>
	    </div>
	    <!-- end github feedback section -->



{% endblock %}
