{% extends "base.html" %}

{% block content %}
<section>
<section class="slab-teal">
  <div class="layout-semibreve">

    <h1>Brigade Organizer's Calendar</h1>

    <p>This calendar highlights days of action, workshops, and monthly themes to help Brigades focus their activities throughout the year.</p> 
  </div>
  
  </section>
  <div class="layout-semibreve">

    <p><b>NOVEMBER 2015</b>: Work with your core team to ID partners, strategy, and fundraising opportunities for 2016.</p> 
    <li class="icon-calendar"><a href="#">Nov 10: Strategic Planning Workshop</a>
    <li class="icon-calendar"><a href="#">Nov 17: Fundraising Workshop</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>DECEMBER 2015</b>: Continue to revise your strategic plan and start fundraising.</p>
    <li class="icon-calendar"><a href="#">Dec 3: Fundraising Workshop</a>
    <li class="icon-calendar"><a href="#">Dec 12: CodeAcross Organizer's Workshop</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>JANUARY 2016:</b> Cultivate government and community partnerships and invite them to a user needs workshop in February.</p>
    <li class="icon-calendar"><a href="#">Jan X: Fundraising Workshop</a>
    <li class="icon-calendar"><a href="#">Jan X: CodeAcross Organizer's Workshop</a>
    <li class="icon-calendar"><a href="#">Jan X: Gov 101 Workshop</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>FEBRUARY 2016:</b> Host a workshop to help government and community partners ID user needs for your Brigade to protype at CodeAcross.</p>
    <li class="icon-calendar"><a href="#">Feb X: UX 101 Workshop</a>
    <li class="icon-calendar"><a href="#">Feb X: CodeAcross Organizer's Workshop</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>MARCH 2016:</b> At CodeAcross 2016, prototype the problem statements you and your partners identified.</p>
    <li class="icon-calendar"><a href="#">Mar 5: CODEACROSS 2016</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>APRIL 2016:</b> Continue to work with partners and build and test your protypes.</p>
    <li class="icon-calendar"><a href="#">Apr X: National Day of Civic Hacking Organizer's Workshop</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>MAY 2016:</b> Continue to work with partners and build and test your protypes.</p>
    <li class="icon-calendar"><a href="#">May X: National Day of Civic Hacking Organizer's Workshop</a>
    <li class="icon-calendar"><a href="#">Tuesday Office Hours</a>
    <p><b>JUNE 2016:</b> National Day of Civic Hacking</p>
    <li class="icon-calendar"><a href="#">Jun 4: National Day of Civic Hacking</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>JULY 2016:</b> Continue to work with partners and build and test your protypes.</p>
    <li class="icon-calendar"><a href="#">Workshop TBD</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>AUGUST 2016:</b> Continue to work with partners and build and test your protypes.</p>
    <li class="icon-calendar"><a href="#">Workshop TBD</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>SEPTEMBER 2016:</b> Launching and Marketing</p>
    <li class="icon-calendar"><a href="#">Workshop TBD</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>OCTOBER 2016:</b> CityCamp</p>
    <li class="icon-calendar"><a href="#">Workshop TBD</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>NOVEMBER 2016:</b> Code for America Summit. Work with your core team to ID partners, strategy, and fundraising opportunities for 2016.</p>
    <li class="icon-calendar"><a href="#">Workshop TBD</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
    <p><b>DECEMBER 2016:</b> Continue to revise your strategic plan and start fundraising.</p>
    <li class="icon-calendar"><a href="#">Workshop TBD</a>
    <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H">Tuesday Office Hours</a>
   


  </div>

</section>


{% endblock %}
