{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

    <h1>Brigade Calendar</h1>

    <p>Over the past four years, we’ve learned a lot about what works when organizing a Brigade. We’ve compiled a playbook to highlight some of the best practices Brigades can use to help build <a href="http://www.codeforamerica.org/practices/" target="_blank">21st century government</a> in their city. We’ve also put together a calendar of suggested plays for Brigades to use as a resource.
    
  </div>

</section>

<section class="slab-red">

  <div class="layout-semibreve">

    <h2>Calendar</h2>
    <p>This calendar is intended to highlight our recommendations for when Brigades should focus on certain plays. Brigades will run many plays at once and often plays will continue throughout the course of a year. Some plays like days of action or civic user testing group will also require prep ahead of when they’re run.</p>
    <p>November 2015: Fundraise, Strategic Planning </p>
    <p>December 2015: Fundraise, Strategic Planning</p>
    <p>January 2016: Cultivate Government and Community Partnerships</p>
    <p>February 2016: Identify User Needs</p>
    <p>March 2016: CodeAcross 2016</p>
    <p>April 2016: Agile Development, Civic User Testing</p>
    <p>May 2016: Agile Development, Civic User Testing</p>
    <p>June 2016: National Day of Civic Hacking</p>
    <p>July 2016: Agile Development, Civic User Testing</p>
    <p>August 2016: Agile Development, Civic User Testing</p>
    <p>September 2016: Launching and Marketing</p>
    <p>October 2016: CityCamp</p>
    <p>November 2016: Code for America Summit,Fundraise, Strategic Plannin </p>
    <p>December 2016: Fundraise, Strategic Plannin</p>

  </div>

<section class="slab-blue">

  <div class="layout-semibreve">
    <h2>Resources</h2>
    <p>Code for America offers online workshops and SWAG to support the activities on the calendar. Here's what is on tap in the upcoming months:</p>
    <p>November Workshops</p>
    <p>December Workshops</p>
  </div>

</section>

<section class="slab-teal">

    <div class="layout-semibreve layout-centered">
        <h2>Download the Playbook</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>

    </div>

</section>

{% endblock %}
