{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

    <h1>Calendar</h1>

    <p>This calendar highlights our recommendations for when Brigades should focus on certain activities from the <a href="http://www.codeforamerica.org/practices/" target="_blank">playbook</a>. Often Brigades will be participating in multiple activities at once and many activities continue throughout the course of a year. Some activities like days of action or civic user testing will also require prep ahead of when they’re scheduled. Code for America offers online workshops and SWAG to support the activities on the calendar. Here's what is on tap in the upcoming months:</p>
    
  </div>
  
  </section>

<section class="slab-teal">

  <div class="layout-semibreve">

    <h2>Calendar</h2>
    <p><b>November 2015:</b> Fundraise, Strategic Planning </p>
    <p><b>December 2015:</b> Fundraise, Strategic Planning</p>
    <p><b>January 2016:</b> Cultivate Government and Community Partnerships</p>
    <p><b>February 2016:</b> Identify User Needs</p>
    <p><b>March 2016:</b> CodeAcross 2016</p>
    <p><b>April 2016:</b> Agile Development, Civic User Testing</p>
    <p><b>May 2016:</b> Agile Development, Civic User Testing</p>
    <p><b>June 2016:</b> National Day of Civic Hacking</p>
    <p><b>July 2016:</b> Agile Development, Civic User Testing</p>
    <p><b>August 2016:</b> Agile Development, Civic User Testing</p>
    <p><b>September 2016:</b> Launching and Marketing</p>
    <p><b>October 2016:</b> CityCamp</p>
    <p><b>November 2016:</b> Code for America Summit,Fundraise, Strategic Planning</p>
    <p><b>December 2016:</b> Fundraise, Strategic Planning</p>

  </div>

</section>

<section class="slab-blue">

  <div class="layout-semibreve">

    <h2>Workshops</h2>
    <p><b>November 2015:</b> Fundraise, Strategic Planning </p>
    <p><b>December 2015:</b> Fundraise, Strategic Planning</p>


  </div>

</section>

{% endblock %}
