{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

<section class="layout-semibreve layout-centered intro">
  <h2>Meet [BRIGADE]</h2>
   <img src="https://camo.githubusercontent.com/88f56d646f58cd9cb7f15283a39cf227d4cb3c21/687474703a2f2f692e67697068792e636f6d2f53495633696a41776b4e7439432e676966" />
   <p> [insert Brigade logo]</p>
  <div class="layout-minim">
    <h3 class="heading-contrast"><strong>Brigade Profile</strong></h3>
     <dl>
        <dt><a href="https://github.com/codeforamerica/brigade/blob/master/templates/tools/template.html" target="_blank">[WEBPAGE]</a></li>
        <dt>City and State:</li>
        <dt>Population:</li>
        <dt>Mission Statement:</a></li>
     </dl>
   
  </div> 

  <div class="layout-minim">
    <img src="/media/images/talent/badge-fellowship.svg" width="100px" alt="">
    <h3 class="heading-contrast">[POINT TO THIS BRIGADE ON A MAP]</h3>
  </div>
  
</section>

</section>  

<section class="slab-blue">
	<div class="layout-semibreve">
		<div class="highlight highlight-with-avatar">
			<img class="highlight-avatar" src="/../media/images/people/scott-smith.jpg"/>
			<blockquote>
				<p>Meet [Captain 1 Name]</p>
			</blockquote>
			<p class="attribute">	[QUOTE]</p>
		</div>
	</div>
</section>


<section class="slab-red">

  <div class="layout-semibreve layout-centered intro">

    <h2><center>TITLE FOR ORIGIN STORY</center></h2>

    <p>[talk about this Brigade's origin story]</p>
    <P>[insert info graphic of their timeline]</P>
    <P>[insert picture of their team]</P>
    <img src="https://camo.githubusercontent.com/88f56d646f58cd9cb7f15283a39cf227d4cb3c21/687474703a2f2f692e67697068792e636f6d2f53495633696a41776b4e7439432e676966" />

  </div>

</section>

<section class="slab-blue">
	<div class="layout-semibreve">
		<div class="highlight highlight-with-avatar">
			<img class="highlight-avatar" src="/../media/images/people/scott-smith.jpg"/>
			<blockquote>
				<p>Meet [City Partner Name]</p>
			</blockquote>
			<p class="attribute">	[QUOTE]</p>
		</div>
	</div>
</section>

<section class="slab-teal">

    <div class="layout-semibreve layout-centered">
	<h2><center>[COOL FOCUS AREA PROJECT NAME]</center></h2>
	<P> [talk about cool focus area project]</P>
	<P> [screen shot of cool focus area project]</P>
        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>

    </div>

</section>

<section class="layout-semibreve layout-centered intro">
  <h2>[STATEMENT OF IMPACT</h2>
   <p> [What is this Brigade passionate about?  How are they organized? Etc.]</p>
</section>   
   

<section class="slab-blue">
	<div class="layout-semibreve">
		<div class="highlight highlight-with-avatar">
			<img class="highlight-avatar" src="/../media/images/people/scott-smith.jpg"/>
			<blockquote>
				<p>Meet [Captian 2 Name]</p>
			</blockquote>
			<p class="attribute">	[QUOTE]</p>
		</div>
	</div>
</section>

<section class="slab-teal">

    <div class="layout-semibreve layout-centered">
	<h2><center>[ANOTHER COOL PROJECT NAME]</center></h2>
	<P> [talk about cool project]</P>
	<P> [screen shot of cool project]</P>
        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>

    </div>

</section>

<section>
	<section class="layout-semibreve">	

<div class="layout-crotchet" style="text-align:center;">
	
    <h5 class="heading">Social Media</h5>
    <p>[add links to twitter, FB, etc.]</p>
</div>
<div class="layout-crotchet" style="text-align:center;">
    <h5 class="heading">Hack with Us</h5>
    <p><a href="/our-work/focus-areas/economic-development/" class="button button-bold button-l">[link their civictechissuefinder]</a></p>
 </div>
 <div class="layout-crotchet" style="text-align:center;">
    <h5 class="heading">Learn More</h5>
    <p>[url to webape]</p>
 </div>

</section>



{% endblock %}
