{% extends "base.html" %}

{% block content %}

<section class="layout-breve"> 

		  		<!-- body title -->
		  		<div class="layout-semibreve">
		  		<h2><center><font color="black">Local Fundraising Guide</font></center></h2>
		  		
				<h3><center><font color="gray"><b>Thinking about raising money for your local Brigade? We’ve put together this module to help. </b></font></center></h3>
		  		</div>
				<!-- start toc block -->
				<div class="layout-minor">
					<nav role="navigation" class="toc" id="toc">
						<h3>Contents</h3>
						
						<div class="toc">
						
						    <ul>
<li class="Donations-Sponsorships"><a href="#Donations-Sponsorships">1. Donations vs. Sponsorships</a></li>
<li class="donations"><a href="#donations">2. Collecting Donations</a></li>
<li class="fiscal"><a href="#open-disclosure">3. Setting up Fiscal Sponsorship</a></li>
<li class="501"><a href="#501">4. Becoming a 501(c)3</a></li>
<li class="resources"><a href="#resources">5. More Fund Related Resources</a></li>
						    </ul>
						    
						</div>
	
					</nav>
				</div>
				<!-- end toc block -->
	
				<main id="content" class="layout-major">


<h2 id="Donations-Sponsorships">1. Donations vs. Sponsorships</h2>
 	
 	<p><i>I’ve heard that Code for America can help intake donations for my local Brigade. Are donations the same as sponsorships?</i></p>
	 <p><b>Short Answer:</b> No, sponsorships and donations are not the same thing. Code for America can help Captains and Stage 2 leaders intake donations for their Brigade.</p>
	 <p><b>Long Answer:</b> Donations are tax-deductible and cannot have business benefits for the donor (giving) company. Sponsorships are not tax-deductible, require a signed agreement, and include specific deliverables. Code for America can help Captains and Stage 2 leaders intake donations for their Brigade. Your local fundraising will be through donations, not sponsorships. Please clarify this with anyone who wants to provide resources for your Brigade.</p>
	 
	 <p>Code for America’s TAX ID number is 27-1067272. All Official and Network Member Brigade’s may use this number to intake donations. </p>
	 <div>
	 <center>	
	 <iframe width="560" height="315" src="https://www.youtube.com/embed/ror2CJdIBBU" frameborder="0" allowfullscreen></iframe>
	 </center>
	 </div>
 
<h2 id="donations">2. Collecting Donations</h2>
	<p><i>What are the steps for securing a donation for my Brigade?</i></p>
	<ol>
	<li>Donor writes check // donor uses the online Code for America donation form and indicates your Brigade name under “What inspired your donation?”</li>
	a. Checks should be made payable to “Code for America Labs.”  Please include “for X City Brigade” in the memo.<br>
	b. The mailing address for Code for America is:<br>
	155 9th Street, San Francisco, CA 94103<br>
	<li>Code for America receives check</li>
	a. The Code for America finance team will receive the check.<br>
	- If under $1,000, the full amount will be available for you to spend. <br>
	- If over $1,000, please first reach out to the Brigade staff (brigade-info@codefoamerica.org)to confirm how this will be spent and receive approval in advance.<br>
	<li>Funds will be added to your Brigade account to spend against. Note: these funds will be spent down before drawing against any of your Code for America HQ-approved budget.</li>
	<li>You can access funds by submitting expenses against the funds in Expensify using ths <a href="https://docs.google.com/document/d/1RKkjW0YZfysBZ6JiJgV8j7o61H_Sh9y9pUl9fZzI2Bw/edit#heading=h.lfbjsp7i33tk" target=_blank>Support Reinbursement Process.</a></li>
	</ol>

<h2 id="fiscal">3. Setting up Fiscal Sponsorships</h2>

	<p><i> I want to raising funds to expand my Brigade activities.  I am also planning to work on outside projects through the Brigade, beyond a volunteer capacity (ie compensating people). </i></p>
	<p>This requires three things:</p>
		<ol>
		<li>Confirmation that CfA is able to support this additional work. Email brigade-info@codeforamerica.org to start this conversation.</li>
		<li>Formal Fiscal Sponsorship agreement with Code for America</li>
		<li>Bank account for your local Brigade</li>
		</ol>
		
	<p>Code for America will then accept these funds on your behalf and write a check directly to your local Brigade, which you can use to pay for those expenses directly.</p>	

<h2 id="501">4. Becoming a 501(c)3</h2>
	<p>Code for America is planning to pilot this with a few Brigades who are already on this path by scoping out what will be required to support this including financial and legal support. If this is key interest to you, please email hannah@codeforamerica.org</p>

<h2 id="resources">5. More Fund Related Resources</h2>

	<p>Visit the <a href="codeforamerica.org/brigade/tools" target=_blank>Brigade Toolkit</a> for more resoures, and check out our upcoming programming opportunities in our <a href="http://forum.codeforamerica.org/" taget=_blank>Forum </a> to catch the next financial related webinar.</p>

			
				</main>
	  		</div>
	  	</section>

		<!-- start github feedback section -->
	    <div class="layout-breve slab-gray">
			<p>Help make our documentation better:</p>
			<ul>
				<li><a title="View this page history on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/commits/master/governments/principles/design/index.md">View this page's history on GitHub.</a>
				<li><a title="View and suggest changes to this page source on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/blob/master/governments/principles/design/index.md">View and suggest changes to this page on GitHub.</a>
			</ul>
	    </div>
	    <!-- end github feedback section -->



{% endblock %}
