{% extends "base.html" %}

{% block content %}
<section>

  <div class="layout-semibreve">

    <h1>Code for America Brigade: Local Fundraising Toolkit</h1>

    <h2>
      <ol>
        <li>This doc is for Brigade Organizers who are managing money for the Brigade, or hoping to find some. </a></li>
        <li>Both Official Brigade Chapters and Brigade Network Members should find this document helpful. </a></li>
        <li>If we left anything out, please email brielle@codeoforamerica.org</li>
      </ol>
    </h2>

  </div>

</section>

<section class="slab-red">

  <div class="layout-semibreve">

    <h2>Donations & Sponsorships </h2>

    <h2>
      <ul style="list-style-type:disc">
        <li>Code for America can help Brigades intake donations for their Brigade. Donations are tax deductible and cannot have business benefits for the donor (giving) company. <li>Sponsorships are not tax-deductible, require a signed agreement, and include specific deliverables. Code for America can help Captains and Stage 2 leaders intake donations for their Brigade. Your local fundraising will be through donations, <b>not sponsorships</b>. Please clarify this with anyone who wants to provide resources for your Brigade.</li></a></li>
            <u> Here is the process you will follow: </u>
            <ol>
            <li>Donor writes check // donor uses the <a href="https://secure.codeforamerica.org/page/contribute/default?source_codes=footer-donate-link/">online Code for America donation form </a> and indicates your Brigade name under “What inspired your donation?”</li>
                <ul style="list-style-type:disc">
                <li> Checks should be made payable to “Code for America Labs.”  Please include “for X City Brigade” in the memo.</li>
                <li> The mailing address for Code for America is:<br>
                      155 9th Street, San Francisco, CA 94103  </li>
               </ul>
            <li>Code for America receives check</li>
                <ul style="list-style-type:disc">
                <li> If under $1,000, full amount will be available for you to spend</li>
                <li> If over $1,000, please first reach out to the Brigade staff (brigade-info@codefoamerica.org) Code for America to confirm how this will be spent and receive approval in advance.</li>
               </ul>
            <li>Funds will be added to your Brigade account to spend against. Note: these funds will be spent down before drawing against any of your Code for America HQ-approved budget.</li>
            <li>You can access funds by submitting expenses against the funds in Expensify using the <a href= "https://docs.google.com/a/codeforamerica.org/document/d/1RKkjW0YZfysBZ6JiJgV8j7o61H_Sh9y9pUl9fZzI2Bw/edit">Code for America Brigade Support Reimbursement Process.</a> </li>
               </ul>
            </ol>
        <li>Code for America can help you process <b>Fiscal Sponsorships</b></li>
        <ol>
            <li>Raising funds to expand your Brigade activities? Planning to work on outside projects through the Brigade? Working on projects beyond a volunteer capacity (ie compensating people)? </li>
                <u> This requires three things </u>
                <ul style="list-style-type:disc">
                <li> Confirmation that CfA is able to support this additional work. Email <a href=mailto:"brigade-info@codeforamerica.org">brigade-info@codeforamerica.org </a> to start this conversation.</li>
                <li> Based on the nature of your Sponsorship, Code for America will help you coordinate a Formal Fiscal Sponsorship agreement</li>
                <li> Based on the nature of your Sponsorship, Code for America will help you set up a bank account for your local Brigade </li>
               </ul>
            <li>Code for America will then accept the Sponsorship funds on your behalf and write a check directly to your local Brigade's bank account, which you can use to pay for expenses directly.</li>
      </ul>
    </h2>

  </div>

</section>

<section class="slab-teal">

    <div class="layout-semibreve layout-centered">
        <h2>Watch our Fundraising Hangout! </h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>

    </div>

</section>

<section class="slab-blue">

  <div class="layout-semibreve">
    <h2>Another great point</h2>
    <p>Drinking vinegar kogi tattooed food truck. Thundercats heirloom irony tousled kitsch Blue Bottle. Blog ugh you probably haven't heard of them chambray, distillery typewriter Marfa 3 wolf moon swag shabby chic cronut narwhal. Aesthetic pug cliche, McSweeney's irony four loko four dollar toast Helvetica next level selfies seitan street art pork belly gentrify listicle. Kogi roof party leggings, Shoreditch cardigan four dollar toast Etsy tousled butcher actually American Apparel selfies occupy food truck pickled. Ennui chambray occupy organic aesthetic art party. Crucifix irony keytar, XOXO dreamcatcher direct trade iPhone swag Odd Future Banksy.</p>
  </div>

</section>

{% endblock %}
