{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

<section class="layout-semibreve layout-centered intro">
  <h2>Join the Code for America Brigade + Girl Develop It <br> <b> Mentorship Program </b></h2>
  	<div class="layout-minim">
		<a href="https://www.codeforamerica.org/brigade"><img src="http://www.codeforamerica.org/brigade/static/images/casestudies/brigadelogo.jpg" height="200" width="400"/></a> 
  	</div> 
  	<div class="layout-minim">
   		<a href="https://www.girldevelopit.com/"><img src="http://www.codeforamerica.org/brigade/static/images/casestudies/gdi_logo_badge.png" height="250" width="250"/></a>
   	</div>
</section>

</section>  

<section class="slab-gray">

  <div class="layout-semibreve layout-centered intro">

    <h2><center>The Opportunity</center></h2>

<P>The goal of the Mentorship Program is for women who have intro-intermediate developer skills to level up by hacking on <br> Code for America Brigade projects. </P>

    	<p>Are you interested in software development, and have some introductory HTML and CSS skills but no where to code?</p>

<section> 
		   	
    	<ul class="list-no-bullets layout-grid">
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            <b>"YES!"</b> <br><br>
		Keep reading! You should join the mentorship program!</a>
    </li>
    
    <li class="layout-crotchet">
        <a href="#" class="billboard">
            	<b>"YES! </b>... but ... "<br><br>
  		...perhaps you feel like your HTML & CSS could still use some support -  <br>
  		keep reading anyway! <br> 
  		Then sign up for some classes at your local GDI Chapter and<br>
  		let us know when you are ready! </a>
    </li>
    
     <li class="layout-crotchet">
        <a href="#" class="billboard">
            	YES! I want to <b>ORGANIZE</b> ... "<br><br>
  		If you are a GDI Chapter Leader <br>
  		or a Brigade Captain,<br>
  		keep reading!<br>
  		See "Organzier Resources" below.</a> <br>
    </li>
</section>

</section>

<section>
<section class="slab-dark-gray">
<div class="layout-semibreve layout-centered intro">			
	<br>
    <h2><center>How it Works</center></h2>
    
    	<p>In truth, anyone anytime can join their local Code for America Brigade and hack on projects. 

<br>
<a href="https://www.codeforamerica.org/brigade" target=_blank> JOIN A BRIGADE NEAR YOU!</a></p>
    
    	<p>But this year several Brigade Captains are organizing partnerships with their local GDI Chapters to offer women with basic tech skills <br>a chance to hack and learn alongside a specified mentor.  Mentors are all volunteers who already hack on data at their Brigade meetups <br>and want to help YOU apply your knowledge while coding on <br> <a href="https://www.codeforamerica.org/geeks/civicissues" target="_blank">projects that impact your local community.</a></p>
    	</P>
    	
    	<p> This brilliant idea of merging Brigades with GDI came from Philly, where the Brigade <a href="https://codeforphilly.org/" target=_blank>Code for Philly </a> and their local GDI Chapter piloted this mentorship program during 2014, the <a href="http://www.meetup.com/Girl-Develop-It-Philadelphia/events/182875742/" tagret=_blank>"Summer of Open Source."</a>  You can read about the details on the <a href="http://www.codeforamerica.org/blog/2014/10/13/want-to-take-your-brigade-to-the-next-level-develop-it/" target=_blank>Code for America blog</a>, among many other places like <a href="http://technical.ly/philly/2014/05/30/girl-develop-it-open-source-fellowship/" target=_blank> Technical.ly </a> that picked up on the story.<br> <br>
    	Or, you can sing up below and have your own great tale to tell! 
    	<br>Like LeeAnn, and the 10 women below, all part of the Summer of Open Source 2014.</p>
    	
    <section class="layout-semibreve layout-centered intro">	
    <img src="http://www.codeforamerica.org/brigade/static/images/casestudies/gdi-codeforphilly-2.jpeg" height="172" width="400" />
    </section>
</div>
</section>

<section>
<section class="slab-gray">
	<div class="layout-semibreve layout-centered intro>
			<blockquote>
				<p>"GDI and Code for Philly have helped me so much with keeping up and being paired with a dedicated mentor in the fellowship has been an invaluable experience." </p>
			</blockquote>
			<p class="attribute"> <a href="https://twitter.com/_leekinney" target=_blank>LeeAnn Kinney </a> 
			<br>GDI + Brigade Mentorship Program participant (2014)
			<br>Now GDI teacher!</p>
	</div>
</section>
</section>

<section class="slab-teal">
    <div class="layout-semibreve layout-centered">
	<h2><center>Where else is this happening?</center></h2>
	<P> [talk about cool focus area project]</P>
	<P> [screen shot of cool focus area project]</P>
        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>
    </div>
</section>

<section class="layout-semibreve layout-centered intro">
  <h2>Sign up!</h2>
   <p> Sign up link for each site
</section>   

<section class="slab-gray">

    <div class="layout-semibreve layout-centered">
	<h2><center>Organizer Resources</center></h2>
	<dl>
        <dt><a href="https://github.com/codeforamerica/brigade/blob/master/templates/tools/template.html" target="_blank">[WEBPAGE]</a></li>
        <dt>City and State:</li>
        <dt>Population:</li>
        <dt>Mission Statement:</a></li>
     </dl>

</section>

{% endblock %}
