{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

<section class="layout-semibreve layout-centered intro">
  <h2>Join the Code for America Brigade + Girl Develop It <br> <b> Mentorship Program </b></h2>
   
  <div class="layout-minim">

     <a href="https://www.codeforamerica.org/brigade" <img src="http://www.codeforamerica.org/brigade/static/images/casestudies/brigadelogo.jpg" height="200" width="350" 
/> </a> 
  </div> 
  <div class="layout-minim">
   
   <a href="https://www.girldevelopit.com/" <img src="<img src="http://www.codeforamerica.org/brigade/static/images/casestudies/gdi_logo_badge.png" height="250" width="250"/> 
</a>
   
  </div>

</section>

</section>  

<section class="slab-gray">

  <div class="layout-semibreve layout-centered intro">

    <h2><center>It started in Philly...</center></h2>

    	<p>[talk about this Brigade's origin story]</p>
    <P>[insert info graphic of their timeline]</P>
    <P>[insert picture of their team]</P>
    <img src="https://camo.githubusercontent.com/88f56d646f58cd9cb7f15283a39cf227d4cb3c21/687474703a2f2f692e67697068792e636f6d2f53495633696a41776b4e7439432e676966" />

  </div>

</section>

<section class="layout-semibreve" >
	<div class="layout-semibreve">
		<div class="highlight highlight-with-avatar">
			<img class="highlight-avatar" src="/../media/images/people/scott-smith.jpg"/>
			<blockquote>
				<p>Meet LeAnn</p>
			</blockquote>
			<p class="attribute">	GDI participant quote</p>
		</div>
	</div>
</section>

<section class="slab-teal">

    <div class="layout-semibreve layout-centered">
	<h2><center>Where else is this happening?</center></h2>
	<P> [talk about cool focus area project]</P>
	<P> [screen shot of cool focus area project]</P>
        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>

    </div>

</section>

<section class="layout-semibreve layout-centered intro">
  <h2>Sign up!</h2>
   <p> Sign up link for each site
</section>   

<section class="slab-gray">

    <div class="layout-semibreve layout-centered">
	<h2><center>Organizer Resources</center></h2>
	<dl>
        <dt><a href="https://github.com/codeforamerica/brigade/blob/master/templates/tools/template.html" target="_blank">[WEBPAGE]</a></li>
        <dt>City and State:</li>
        <dt>Population:</li>
        <dt>Mission Statement:</a></li>
     </dl>

</section>

{% endblock %}
