{% extends "base.html" %}

{% block content %}

<section class="layout-breve"> 

		  		<!-- body title -->
		  		<div class="layout-semibreve">
		  		<h2><center><font color="black">Brigade + Government Partner Handbook</font></center></h2>
		  		
				<h3><center><font color="gray"><b>"...government can work for the people, by the people..."</b></font></center></h3>
		  		</div>
				<!-- start toc block -->
				<div class="layout-minor">
					<nav role="navigation" class="toc" id="toc">
						<h3>Contents</h3>
						
						<div class="toc">
						
						    <ul>
<li class="what-brigades-do"><a href="#what-brigades-do">1. What Brigades Do</a></li>
<li class="what-partners-do"><a href="#what-partners-do">2. What Municipal Partners Do</a></li>
<li class="how-to-partner"><a href="#how-to-partner">3. How to Partner with Your Brigade</a></li>
<li class="faq"><a href="#faq">4. Frequently Asked Questions</a></li>
<li class="resources"><a href="#resources">5. Resources</a></li>
						    </ul>
						    
						</div>
	
					</nav>
				</div>
				<!-- end toc block -->
	
				<main id="content" class="layout-major">


<h2 id="what-brigades-do">1. What Brigades Do</h2>

	<h3>What is a Brigade</h3>
	<p>A Brigade is a local chapter of the Code for America Brigade network. The Code for America Brigade network is an international citizen volunteer program that creates new ways for residents to participate in building stronger local communities, in collaboration with government. </p>
	<p>A group can join the Code for America Brigade network as a Brigade Network Member or an Official Brigade Chapter.</p>
	<p><b>Brigade Network Member</b></p>
		<ul>
		<li>A Brigade Network Member is a local Brigade chapter committed to organizing people and participating in the Code for America Brigade network. </li>
		<li>Brigade Network Members have a leadership teams and hold consistent meetings (or “hack nights”).</li>
		<li>Brigade Network members have access to Code for America trainings and communication channels, allowing them learn and ask question alongside other leaders throughout the network. </li>
		<li>If interested, a Brigade Network Member can become an Official Brigade Chapter by working with municipal and community partners to draft and execute on a strategic plan that aligns with the Code for America Digital Government Principles.</li>
		</ul>
	<p><b>Official Brigade Chapter</b></p>
		<ul>
		<li>An Official Brigade Chapter is a local group committed to organizing people, participating in the Code for America Brigade network, and working with municipal and community partners to execute on a strategic plan that aligns with the <a href="http://www.codeforamerica.org/governments/principles/" target=_blank>Code for America Digital Government Principles</a> and <a href="http://www.codeforamerica.org/governments/principles/engagement/" target=_blank>Citizen Engagement Standards.</a> </li>
		<li>Official Brigade Chapters have a leadership teams, a consistent hack night, a strategic plan, municipal partners, and community partners.</li>
		<li>Strategic plans allow Brigades to set yearly goals that align with the <a href="http://www.codeforamerica.org/our-work/focus-areas/" target=_blank>Code for America Focus Areas</a>, and ensure their activities map to the improvement of their city offices.</li>
		<li>Community partners are other local non-profit organizations that align with Brigades in their mission, members, and activities.  Through strategic collaboration on events and projects, these partners can help expand the reach of Brigade activities and diversify their membership.</li>
		</ul>
	<p>As of October 2014, there are 50 Official Brigade Chapters and 92 Brigade Network Members. We are adding new chapters and members every week.</p>
	<p>For more on what it means to be a Code for America Brigade, check out the <a href="http://www.codeforamerica.org/brigade/about" target=_blank>Brigade Website.<a/></p>
	
	<h3>How do Brigades work?</h3>
	<p>A Brigade is an all-volunteer group that meets on a consistent basis (weekly, biweekly, or monthly) to work on projects and organize events to make their communities stronger using technology. A Brigade creates safe spaces where local government officials, residents, and representatives from community-based organizations build digital tools, advocate for open government policies, and create capacity for innovation in the community.</p>
	<p>Because Brigade members are volunteers, the projects a Brigade works on are subject to its members’ bandwidth and interest.</p>
	
	<h3>Who leads a Brigade?</h3>
	<p>Brigades are organized by a team of volunteer leaders that are responsible for core functions of the group. All of these local leaders are tied into a network of other leaders from around the world, with whom they share stories and lessons and draw on best practices from other chapters. </p>
	<p>The leadership team usually consists of: </p>
		<ul>
		<li><b>Executive leadership:</b> All Brigades are led by Captains. The Captain(s) serves as the primary point of contact for city officials. In most cases, Brigades have two Captains and some have more. This redundancy reduces the risk that institutional knowledge will be lost if a Captain has to leave the Brigade.</li>
		<li><b>Storyteller:</b> The Brigade’s Storyteller is responsible for getting the word out about the Brigade, and documenting the work of their chapter. They oversee a group of volunteers who maintain the Brigade’s social media channels and web presence, write blog posts and other articles about Brigade activity, interface with local press, create marketing plans for projects and tools undertaken by the Brigade, and keep Code for America up to date about their activities. </li>
		<li><b>Delivery Lead:</b> The Brigade’s Delivery Lead is usually a technical person who is responsible for deploying the Brigade’s products. The Delivery Lead also plugs the Brigade into Code for America’s national tech infrastructure, keeps track of work that needs to be done on existing projects in order for them to be complete, and can assign new members to projects where their skillsets will be most useful.</li>
		<li><b>Community Organizer:</b> The Community Organizer is responsible for recruiting and onboarding new members, and for building relationships between the Brigade and other community organizations. </li>
		<li><b>Municipal Partners:</b> Official Brigade Chapters are required to have a Municipal Partner (maybe that’s you!) who serves as a full and equal member of the Brigade but also can serve as the conduit between the Brigade and the local government entities with which it works.</li>
		</ul>
	<p>Brigade leadership roles are often filled by a team of people who distribute the responsibility amongst themselves. Some Brigades also have created custom leadership roles like Policy or Data Lead. Be sure to ask your local Brigade Captain(s) about their leadership structure.</p>	
	
<h2 id="what-partners-do">2. What Municipal Partners Do</h2>

	<p>A Municipal Partner is a member of a Brigade’s Leadership Team. They are the conduit between the Brigade and the local government entities they work with on projects and events. A Brigade can have more than one Municipal Partner.</p>
	<p>A Municipal Partner is responsible for:</p>
	<ul>
	<li>Championing the Brigade within local government</li>
	<li>Collaborating on Brigade projects</li>
	<li>Providing expertise on government processes and the feasibility of projects</li>
	<li>Helping source project ideas for the Brigade</li>	
	</ul>
	
	<p>Municipal Partners participate as leaders and stay connected to their Brigade in different ways. Some attend hack nights while others meet regularly with the Brigade Captains and leadership team outside of hack night. Before you take on the Municipal Partner role, it’s a good idea to have an open conversation with the Brigade leadership about their expectations, your bandwidth, and how you all prefer to communicate.</p>
	
	<h3>Can I participate in a Brigade if I’m not a Municipal Partner? </h3>
	<p>Yes! All government officials, regardless of whether they take on the formal role of the Municipal Partner, are encouraged to attend Brigade meetings and participate in projects</p>
	
	
	<h3>How important is a Municipal Partner to a Brigade’s success?</h3>
	<p>A dedicated Municipal Partner is so integral to the success of a Brigade that a group cannot become an Official Brigade Chapter until they have one. </p>
	<p>Municipal Partners are important because they have subject matter expertise about how local government works and can help Brigades with questions about city processes, department jurisdictions, and more. Municipal Partners also help ensure that the right folks from government are at the table when a Brigade starts a new project. This is key to the adoption and sustainability of a project.</p>
	
	<h3>What are the benefits of working with my local Brigade?</h3>
	<p>NEED TO ADD TEXT</p>
	
	
	
<h2 id="how-to-partner">3. How to Partner with Your Brigade</h2>

<h2 id="faq">4. Frequently Asked Questions</h2>

<h2 id="resources">5. Resources</h2>

			
				</main>
	  		</div>
	  	</section>

		<!-- start github feedback section -->
	    <div class="layout-breve slab-gray">
			<p>Help make our documentation better:</p>
			<ul>
				<li><a title="View this page history on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/commits/master/governments/principles/design/index.md">View this page's history on GitHub.</a>
				<li><a title="View and suggest changes to this page source on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/blob/master/governments/principles/design/index.md">View and suggest changes to this page on GitHub.</a>
			</ul>
	    </div>
	    <!-- end github feedback section -->



{% endblock %}
