{% extends "base.html" %}

{% block content %}

<section class="layout-breve"> 

		  		<!-- body title -->
		  		<div class="layout-semibreve">
		  		<h2><center><font color="black">Brigade + Government Partner Handbook</font></center></h2>
		  		
				<h3><center><font color="gray"><b>"...government can work for the people, by the people..."</b></font></center></h3>
		  		</div>
				<!-- start toc block -->
				<div class="layout-minor">
					<nav role="navigation" class="toc" id="toc">
						<h3>Contents</h3>
						
						<div class="toc">
						
						    <ul>
<li class="what-brigades-do"><a href="#what-brigades-do">1. What Brigades Do</a></li>
<li class="what-partners-do"><a href="#what-partners-do">2. What Municipal Partners Do</a></li>
<li class="how-to-partner"><a href="#how-to-partner">3. How to Partner with Your Brigade</a></li>
<li class="faq"><a href="#faq">4. Frequently Asked Questions</a></li>
<li class="resources"><a href="#resources">5. Resources</a></li>
						    </ul>
						    
						</div>
	
					</nav>
				</div>
				<!-- end toc block -->
	
				<main id="content" class="layout-major">


<h2 id="what-brigades-do">1. What Brigades Do</h2>

	<h3>What is a Brigade</h3>
	<p>A Brigade is a local chapter of the Code for America Brigade network. The Code for America Brigade network is an international citizen volunteer program that creates new ways for residents to participate in building stronger local communities, in collaboration with government. </p>
	<p>A group can join the Code for America Brigade network as a Brigade Network Member or an Official Brigade Chapter.</p>
	<p><b>Brigade Network Member</b></p>
		<ul>
		<li>A Brigade Network Member is a local Brigade chapter committed to organizing people and participating in the Code for America Brigade network. </li>
		<li>Brigade Network Members have a leadership teams and hold consistent meetings (or “hack nights”).</li>
		<li>Brigade Network members have access to Code for America trainings and communication channels, allowing them learn and ask question alongside other leaders throughout the network. </li>
		<li>If interested, a Brigade Network Member can become an Official Brigade Chapter by working with municipal and community partners to draft and execute on a strategic plan that aligns with the Code for America Digital Government Principles.</li>
		</ul>
	<p><b>Official Brigade Chapter</b></p>
		<ul>
		<li>An Official Brigade Chapter is a local group committed to organizing people, participating in the Code for America Brigade network, and working with municipal and community partners to execute on a strategic plan that aligns with the <a href="http://www.codeforamerica.org/governments/principles/" target=_blank>Code for America Digital Government Principles</a> and <a href="http://www.codeforamerica.org/governments/principles/engagement/" target=_blank>Citizen Engagement Standards.</a> </li>
		<li>Official Brigade Chapters have a leadership teams, a consistent hack night, a strategic plan, municipal partners, and community partners.</li>
		<li>Strategic plans allow Brigades to set yearly goals that align with the <a href="http://www.codeforamerica.org/our-work/focus-areas/" target=_blank>Code for America Focus Areas</a>, and ensure their activities map to the improvement of their city offices.</li>
		<li>Community partners are other local non-profit organizations that align with Brigades in their mission, members, and activities.  Through strategic collaboration on events and projects, these partners can help expand the reach of Brigade activities and diversify their membership.</li>
		</ul>
	<p>As of October 2014, there are 50 Official Brigade Chapters and 92 Brigade Network Members. We are adding new chapters and members every week.</p>
	<p>For more on what it means to be a Code for America Brigade, check out the <a href="http://www.codeforamerica.org/brigade/about" target=_blank>Brigade Website.<a/></p>

<h2 id="what-partners-do">2. What Municipal Partners Do</h2>

<h2 id="how-to-partner">3. How to Partner with Your Brigade</h2>

<h2 id="faq">4. Frequently Asked Questions</h2>

<h2 id="resources">5. Resources</h2>

			
				</main>
	  		</div>
	  	</section>

		<!-- start github feedback section -->
	    <div class="layout-breve slab-gray">
			<p>Help make our documentation better:</p>
			<ul>
				<li><a title="View this page history on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/commits/master/governments/principles/design/index.md">View this page's history on GitHub.</a>
				<li><a title="View and suggest changes to this page source on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/blob/master/governments/principles/design/index.md">View and suggest changes to this page on GitHub.</a>
			</ul>
	    </div>
	    <!-- end github feedback section -->



{% endblock %}
