{% extends "base.html" %}

{% block content %}

<section>
  <div class="layout-semibreve">
    <h1>Tools</h1>
    <p>Building civic technology is <i>tough</i>, epecially with volunteers. Code for America has built some tools and gotten a bunch of donated services for your Brigade to use.</p>

    <h2>Donated Services</h2>
    <p>For all of these, contact andrewh at codeforamerica.org or @hackyourcity.</p>

    <ul>
      <h3>Hosting</h3>
      <li><a href="https://azure.microsoft.com">Microsoft Azure Credits</a> - <a href="http://forum.codeforamerica.org/t/free-microsoft-azure-for-your-brigade/254">Instructions</a></li>
      <li><a href="http://aws.amazon.com/">AWS Credits</a></li>
      <li><a href="https://cloud.google.com/developers/starterpack/">Google Cloud Platform</a></li>
    </ul>

    <ul>
      <h3>Developer Resources</h3>
      <li><a href="https://www.mybalsamiq.com/">myBalsamiq</a></li>
      <li><a href="https://www.twilio.com/">Twilio</a> - <a href="https://docs.google.com/document/d/1nPM9mAFMnhH7dozX51W9aPkKbANJczkseoQLNhmSBoU/edit?usp=sharing">How to use</a></li>
      <li><a href="https://www.usertesting.com/">UserTesting.com</a> - <a href="http://forum.codeforamerica.org/t/free-usertesting-com-videos-for-brigades/161">Forum post</a>
      <li><a href="https://cartodb.com/">CartoDB</a> - <a href="http://forum.codeforamerica.org/t/free-cartodb-for-your-brigades/243">Forum post</a></li>
      <li><a href="https://readme.io/">README.io</a> - <a href="http://forum.codeforamerica.org/t/free-readme-io-donation-for-brigade-projects">Forum post</a></li>
      <li><a href="http://waffle.io/">Waffle.io</a></li>
    </ul>

    <ul>
      <h3>Email</h3>
      <li><a href="https://office.com/">Microsoft Office 365</a> - <a href="http://forum.codeforamerica.org/t/free-email-for-your-brigade-google-apps-and-office-365/172">Forum post</a></li>
      <li><a href="http://www.google.com/nonprofits/">Google Apps for Nonprofits</a> - <a href="http://forum.codeforamerica.org/t/free-email-for-your-brigade-google-apps-and-office-365/172">Forum post</a></li>
    </ul>

    <ul>
      <h3>Open Data Portals</h3>
      <li><a href="https://www.opendatasoft.com/code-for-america-a-free-brigade-open-data-portal/">OpenDataSoft Open Data Portal</a> - <a href="http://forum.codeforamerica.org/t/free-opendatasoft-open-data-portal-for-your-brigade/">Forum post</a></li>
      <li><a href="https://brigades.opendatanetwork.com/">Socrata Open Data Portals</a></li>
      <li><a href="http://www.civicdata.com/">CivicData.com</a></li>
    </ul>

    <ul>
      <h3>Chat</h3>
      <li><a href="https://slack.com/">Slack</a> with <a href="https://github.com/rauchg/slackin">Slackin</a> or <a href="https://slackinvite.me/">Slackinvite.me</a> for autoinvites.</li>
      <li><a href="https://www.flowdock.com/">Flowdock</a></li>
    </ul>



    <h3>Participate</h3>
    <ul class="list-ruled">
      <li><a href="https://www.codeforamerica.org/geeks/civicissues">Civic Issue Finder</a></li>
      <li><a href="https://www.codeforamerica.org/brigade/attendance">Attendance</a></li>
      <li><a href="https://www.codeforamerica.org/brigade/checkin">Check In</a></li>
      <li><a href="http://forum.codeforamerica.org/">Brigade Forum</a></li>
      <li><a href="/brigade/infrastructure">Infrastructure</a></li>
    </ul>


    <h3>Projects</h3>
    <ul class="list-ruled">
      <li><a href='https://github.com/codeforamerica/project-ideas'>Health Project Ideas</a></li>
      <li><a href="https://docs.google.com/spreadsheets/d/1_HfM2dLBZY0e8qEVzETDttiTGGrgkgF5dg6PdHEHTuk/edit#gid=0">Open Health Data Spreadsheet</a></li>
      <li><a href='https://docs.google.com/a/codeforamerica.org/document/d/1wo_skwazuom_Zkp7AmCSjy5JD8Z5WYSbhr2IUmqWdQ0/edit'>Projects for new Brigade members</a></li>
       <li><a href='https://cfa.typeform.com/to/xyMsdQ'>Share A Brigade Win from a Recent Project or Tool!</a></li>
    </ul>

  </div>
</section>


<script>
function _gaLt(event){
    var el = event.srcElement || event.target;

    /* Loop up the DOM tree through parent elements if clicked element is not a link (eg: an image inside a link) */
    while(el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)){
        el = el.parentNode;
    }

    if(el && el.href){
        /* link */
        var link = el.href;
        if(link.indexOf(location.host) == -1 && !link.match(/^javascript\:/i)){ /* external link */
            /* HitCallback function to either open link in either same or new window */
            var hitBack = function(link, target){
                target ? window.open(link, target) : window.location.href = link;
            };
            /* Is target set and not _(self|parent|top)? */
            var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
            /* send event with callback */
            ga(
                "send", "event", "Outgoing Links", link,
                document.location.pathname + document.location.search,
                {"hitCallback": hitBack(link, target)}
            );

            /* Prevent standard click */
            event.preventDefault ? event.preventDefault() : event.returnValue = !1;
        }

    }
}

/* Attach the event to all clicks in the document after page has loaded */
var w = window;
w.addEventListener ? w.addEventListener("load",function(){document.body.addEventListener("click",_gaLt,!1)},!1)
 : w.attachEvent && w.attachEvent("onload",function(){document.body.attachEvent("onclick",_gaLt)});
 </script>

{% endblock %}
