{% extends "base.html" %}

{% block content %}

<section>
  <div class="layout-breve">
    <div class="layout-crotchet-staccato">
      <h3><strong>Organizing Resources</strong></h3>

      <h3>People</h3>
      <ul class="list-ruled">
        <li><a href='https://docs.google.com/a/codeforamerica.org/document/d/1NqkE3ExbhZFqWhW8_BiMsQO6bY15boYXMnhm3eIw8Hs/edit#heading=h.5fn7t8hs90cv'>How to Organize a Brigade (Checklist)</a></li>
        <li><a href='https://docs.google.com/document/d/1oEB1CuzCHldxP_bzcvmcrmK0yAE1BzV2AGhtwtYKZVY/edit?usp=sharing'>Roles within a Local Brigade</a></li>
        <li><a href='https://github.com/codeforamerica/codeofconduct'>Code for America's Code of Conduct</a></li>
        <li><a href='https://docs.google.com/a/codeforamerica.org/document/d/1Zg2FDt7awgfCmdcbzMwKHMb1A7KDOhs_z7ibCb3TLLQ/edit'>Code of Conduct and Anti-Harassment Policy Guide</a></li>
        <li><a href='https://docs.google.com/document/d/1LIUcCLwmn-SR6_X93TOMIoIJOhNXd0t_27TAIOofdIo/edit?usp=sharing'>Branding Guidelines</a></li>
        <li><a href='https://docs.google.com/document/d/1OY0s8BJR9A2aW1ivlNACTbi0dWOh9njYpHp53G1shFs/edit'>Brigade Overview</a></li>
        <li><a href='https://docs.google.com/a/codeforamerica.org/presentation/d/13lU9uk7X3jjRwM9qG0J_btC24kVV3SyCulhPW-rAqtY/edit#slide=id.g6081483c1_019'>Sample Intro Slide Deck</a></li>
        <li><a href="https://www.codeforamerica.org/brigade/tools/recruiting-diverse-leadership/">Recruiting for Diverse Leadership</a></li>
     </ul>

      <h3>Plans</h3>
      <ul class="list-ruled">
        <li><a href='https://docs.google.com/a/codeforamerica.org/document/d/16GO5lnwEBKMFhhvewhKiNUcvVbTw5NtunVxhmCS6vw0/edit#heading=h.yqfbsdykacwf'>Template: 2015 Strategic Plan</a></li>
        <li><a href='https://docs.google.com/document/d/1r0aEcMwpMSwo4P-x6PJ5WV5y1ouciOkvRTiGATFJAmU/edit?usp=sharing'>Template: City Profile </a></li>
      </ul>

      <h3>Partnerships</h3>
      <ul class="list-ruled">
        <li><a href='https://docs.google.com/document/d/1WtoE_Kfqcu73MCUOIXujrzTfqrQAW3DGt0sC8iKJ6Rw/edit?usp=sharing'>10 Ways to  Collaborate with Government</a></li>
        <li><a href= https://drive.google.com/drive/#folders/0B263j4q7SRYOflhRU1lLMjNyVTdNcW45ZmJURG9nWTltZndlZGFUVm9DazkzWjdUMXltdjA>Build Community Partnerships <br/> (Template: Girl Develop It - but you can hack to fit any partnership!) </a></li>
      </ul>

      <h3>Participation</h3>
      <ul class="list-ruled">
        <li><a href="http://forum.codeforamerica.org/">Brigade Forum</a></li>
        <li><a href="https://www.codeforamerica.org/geeks/civicissues">Civic Issue Finder</a></li>
        <li><a href="/brigade/infrastructure">Infrastructure</a></li>
      </ul>

    </div>
    <div class="layout-crotchet-staccato">
      <h3><strong>Other Resources</strong></h3>
      <h3>Financial Resources</h3>
      <ul class="list-ruled">
        <li><a href='https://docs.google.com/a/codeforamerica.org/document/d/1Uc8cmQt9-c4DaMD0hvamQwG6cOxNtjFO5Mq6dcdQ9_o/edit'> Local Fundraising Guide</a></li>
        <li><a href='https://docs.google.com/a/codeforamerica.org/spreadsheets/d/1ANUIfVr0M3kAFr5F6M-EnJt8dK4fMNRzBELlCfIiyUg/edit#gid=975530202'>Template: Budget Tracking Spreadsheet</a></li>
        <li><a href='https://docs.google.com/a/codeforamerica.org/forms/d/1smbubzz4J-L_KuRt4CTbVIzxf9vvG7ts7gNAbM01Lqw/viewform'>Brigade Support Request Form</a></li>
        <li><a href='https://docs.google.com/a/codeforamerica.org/document/d/1RKkjW0YZfysBZ6JiJgV8j7o61H_Sh9y9pUl9fZzI2Bw/edit#heading=h.lfbjsp7i33tk'>Support Reimbursement Process</a></li>
      </ul>

      <h3>Projects</h3>
      <ul class="list-ruled">
        <li><a href='https://github.com/codeforamerica/project-ideas'>Health Project Ideas</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1_HfM2dLBZY0e8qEVzETDttiTGGrgkgF5dg6PdHEHTuk/edit#gid=0">Open Health Data Spreadsheet</a></li>
        <li><a href='https://docs.google.com/a/codeforamerica.org/document/d/1wo_skwazuom_Zkp7AmCSjy5JD8Z5WYSbhr2IUmqWdQ0/edit'>Projects for new Brigade members</a></li>
         <li><a href='https://cfa.typeform.com/to/xyMsdQ'>Share A Brigade Win from a Recent Project or Tool!</a></li>
      </ul>

      <h3>Programming</h3>
      <ul class="list-ruled">
        <li><a href='http://forum.codeforamerica.org/c/brigade/programming'>Upcoming and Recorded 2015 workshops</a></li>
        <li><a href="https://docs.google.com/a/codeforamerica.org/spreadsheets/d/16oNuy3uCMrktSUKHH0HCyo7YFbbPp4sqzz1FfWLIgu8/edit#gid=0">Archived Workshops</a></li>
      </ul>

      <h3>Logos</h3>
      <ul class="list-ruled">
        <li><a href="{{ url_for('static', filename='images/new_logo.png') }}"><img src="{{ url_for('static', filename='images/new_logo.png') }}" /></a></li>
        <li><a href='http://codeforamerica.org/logos/'>More Code for America logos</a></li>
      </ul>
    </div>
    <div class="layout-crotchet-staccato">
      <h3><strong>Free Tools</strong></h3>
      <h3>For Official Brigade Chapters</h3>
      <ul>
        <li><a href="http://aws.amazon.com/">AWS Credits</a></li>
        <li><a href="http://digitalocean.com/">Digital Ocean Credits</a></li>
        <li><a href="http://www.justinmind.com/">JustInMind</a></li>
        <li><a href="https://www.mybalsamiq.com/">myBalsamiq</a></li>
        <li><a href="https://www.twilio.com/">Twilio</a> - <a href="https://docs.google.com/document/d/1nPM9mAFMnhH7dozX51W9aPkKbANJczkseoQLNhmSBoU/edit?usp=sharing">How to use</a></li>
        <li><a href="https://www.usertesting.com/">UserTesting.com</a> - <a href="http://forum.codeforamerica.org/t/free-usertesting-com-videos-for-brigades/161">Forum post</a>
        <li><a href="https://office.com/">Microsoft Office 365</a> - <a href="http://forum.codeforamerica.org/t/free-email-for-your-brigade-google-apps-and-office-365/172">Forum post</a></li>
        <li><a href="http://www.google.com/nonprofits/">Google Apps for Nonprofits</a> - <a href="http://forum.codeforamerica.org/t/free-email-for-your-brigade-google-apps-and-office-365/172">Forum post</a></li>
        <li>
          <a href="https://cartodb.com/">CartoDB</a> - <a href="http://forum.codeforamerica.org/t/free-cartodb-for-your-brigades/243">Forum post</a>
        </li>
      </ul>

      <h3>For all Brigades</h3>
      <ul>
        <li><a href="https://brigades.opendatanetwork.com/">Socrata Open Data Portals</a></li>
        <li><a href="https://cloud.google.com/developers/starterpack/">Google Cloud Platform</a></li>
        <li><a href="http://www.civicdata.com/">CivicData.com</a></li>
        <li><a href="https://readme.io/">README.io</a> - <a href="http://forum.codeforamerica.org/t/free-readme-io-donation-for-brigade-projects">Forum post</a></li>
        <li><a href="https://www.flowdock.com/">Flowdock</a></li>
        <!-- <li><a href="#">OpenShift</a></li> -->
      </ul>

      <h3>Funders</h3>
      <p><a href="https://www.rallydev.com/about/rally-for-impact"><img src="{{ url_for('static', filename='images/rally.jpg') }}" height="100px"></a></p>
    </div>
  </div>
</section>


<script>
function _gaLt(event){
    var el = event.srcElement || event.target;

    /* Loop up the DOM tree through parent elements if clicked element is not a link (eg: an image inside a link) */
    while(el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)){
        el = el.parentNode;
    }

    if(el && el.href){
        /* link */
        var link = el.href;
        if(link.indexOf(location.host) == -1 && !link.match(/^javascript\:/i)){ /* external link */
            /* HitCallback function to either open link in either same or new window */
            var hitBack = function(link, target){
                target ? window.open(link, target) : window.location.href = link;
            };
            /* Is target set and not _(self|parent|top)? */
            var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
            /* send event with callback */
            ga(
                "send", "event", "Outgoing Links", link,
                document.location.pathname + document.location.search,
                {"hitCallback": hitBack(link, target)}
            );

            /* Prevent standard click */
            event.preventDefault ? event.preventDefault() : event.returnValue = !1;
        }

    }
}

/* Attach the event to all clicks in the document after page has loaded */
var w = window;
w.addEventListener ? w.addEventListener("load",function(){document.body.addEventListener("click",_gaLt,!1)},!1)
 : w.attachEvent && w.attachEvent("onload",function(){document.body.attachEvent("onclick",_gaLt)});
 </script>

<? include('../bottom.php') ?>
</section>

<script>
function _gaLt(event){
    var el = event.srcElement || event.target;

    /* Loop up the DOM tree through parent elements if clicked element is not a link (eg: an image inside a link) */
    while(el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)){
        el = el.parentNode;
    }

    if(el && el.href){
        /* link */
        var link = el.href;
        if(link.indexOf(location.host) == -1 && !link.match(/^javascript\:/i)){ /* external link */
            /* HitCallback function to either open link in either same or new window */
            var hitBack = function(link, target){
                target ? window.open(link, target) : window.location.href = link;
            };
            /* Is target set and not _(self|parent|top)? */
            var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
            /* send event with callback */
            ga(
                "send", "event", "Outgoing Links", link,
                document.location.pathname + document.location.search,
                {"hitCallback": hitBack(link, target)}
            );

            /* Prevent standard click */
            event.preventDefault ? event.preventDefault() : event.returnValue = !1;
        }

    }
}

/* Attach the event to all clicks in the document after page has loaded */
var w = window;
w.addEventListener ? w.addEventListener("load",function(){document.body.addEventListener("click",_gaLt,!1)},!1)
 : w.attachEvent && w.attachEvent("onload",function(){document.body.attachEvent("onclick",_gaLt)});
 </script>

{% endblock %}
