{% extends "base.html" %}

{% block content %}

<section>
  <div class="layout-semibreve">
    <h1>Tools</h1>

    <h2>Donated and Free Services</h2>

    <p>Building civic technology is <i>tough</i>, epecially with volunteers. Code for America has gotten a bunch of donated services for your Brigade to use. Have your Brigade leadership contact us at HQ to get access.</p>

    <ul>
      <h3>Hosting</h3>
      <li><a href="https://azure.microsoft.com">Microsoft Azure</a> - $150 a month for three years in donated credits - <a href="http://forum.codeforamerica.org/t/free-microsoft-azure-for-your-brigade/254">Instructions</a></li>
      <li><a href="http://aws.amazon.com/">Amazon AWS</a> - $15000 in donated credits for one year.</li>
      <li><a href="https://cloud.google.com/developers/starterpack/">Google Cloud</a> - $100000 in donated credits for one year.</li>
      <li><a href="https://www.heroku.com/pricing">Heroku</a> - Has a great free tier perfect for experiments.</li>
      <li><a href="https://pages.github.com/">Github Pages</a> - Free and easy for static sites.</li>
    </ul>

    <ul>
      <h3>Developer Resources</h3>
      <li><a href="https://www.mybalsamiq.com/">myBalsamiq</a> - Donated access to this easy prototyping tool.</li>
      <li><a href="https://www.twilio.com/">Twilio</a> - SMS and phone calls made easy. A big pile of donated credits for us all to share. - <a href="https://docs.google.com/document/d/1nPM9mAFMnhH7dozX51W9aPkKbANJczkseoQLNhmSBoU/edit?usp=sharing">How to use</a></li>
      <li><a href="https://www.usertesting.com/">UserTesting.com</a> - Donated credits to this great user testing service - <a href="http://forum.codeforamerica.org/t/free-usertesting-com-videos-for-brigades/161">Forum post</a></li>
      <li><a href="https://cartodb.com/">CartoDB</a> - Free upgraded accounts for this mapping service - <a href="http://forum.codeforamerica.org/t/free-cartodb-for-your-brigades/243">Forum post</a></li>
      <li><a href="https://readme.io/">README.io</a> - Great looking documentation for your projects - <a href="http://forum.codeforamerica.org/t/free-readme-io-donation-for-brigade-projects">Forum post</a></li>
    </ul>

    <ul>
      <h3>Project Management</h3>
      <li><a href="https://github.com/codeforamerica/project-ideas/issues">GitHub Issues</a> - The most popular way to manage open source software projects. <a href="https://www.youtube.com/watch?v=KlrJVSJRUN4">How To</a>.</li>
      <li><a href="http://waffle.io/">Waffle.io</a> - A free project management tool based on GitHub Issues.</li>
      <li><a href="https://trello.com/">Trello</a></li>
    </ul>

    <ul>
      <h3>Brigade Email</h3>
      <li><a href="https://office.com/">Microsoft Office 365</a> - <a href="http://forum.codeforamerica.org/t/free-email-for-your-brigade-google-apps-and-office-365/172">Forum post</a></li>
      <li><a href="http://www.google.com/nonprofits/">Google Apps for Nonprofits</a> - <a href="http://forum.codeforamerica.org/t/free-email-for-your-brigade-google-apps-and-office-365/172">Forum post</a></li>
    </ul>

    <ul>
      <h3>Brigade Website Template</h3>
      <li><a href="https://github.com/sfbrigade/sfbrigade.github.io">Classic Brigade Site</a> - A Github Pages hosted simple site originally by <a href="http://code4hr.org/">Code for Hampton Roads</a>.</li>
      <li><a href="https://github.com/CfABrigadePhiladelphia/laddr">Laddr</a> - A really powerful Brigade management platform. Built by <a href="https://codeforphilly.org/">Code for Philly</a>.</li>
    </ul>

    <ul>
      <h3>Event Organizing</h3>
      <li><a href="http://www.meetup.com/">Meetup</a> - Donated Meetup group for your Brigade. Nearly every Brigade uses this.</li>
      <li><a href="https://www.eventbrite.com/">Eventbrite</a> - Free event service.</li>
    </ul>

    <ul>
      <h3>Open Data Portals</h3>
      <li><a href="https://www.opendatasoft.com/code-for-america-a-free-brigade-open-data-portal/">OpenDataSoft Open Data Portal</a> - <a href="http://forum.codeforamerica.org/t/free-opendatasoft-open-data-portal-for-your-brigade/">Forum post</a></li>
      <li><a href="https://brigades.opendatanetwork.com/">Socrata Open Data Portals</a></li>
      <li><a href="http://www.civicdata.com/">CivicData.com</a></li>
    </ul>

    <ul>
      <h3>Chat</h3>
      <li><a href="https://slack.com/">Slack</a> with <a href="https://github.com/rauchg/slackin">Slackin</a> or <a href="https://slackinvite.me/">Slackinvite.me</a> for autoinvites. There is a form at https://<yourteam>.slack.com/nonprofit to apply for a free upgrade. Contact us for a copy of our nonprofit certification letter.</li>
      <li><a href="https://www.flowdock.com/">Flowdock</a></li>
    </ul>

    <ul>
      <h3>More</h3>
      <li><a href="https://github.com/codeforamerica/awesome-civic">Awesome Civic</a> - A crowdsourced list of civic tools.</li>
      <li><a href="infrastructure">Infrastructure</a> - The tools Code for America has built to support the civic tech movement.</li>
    </ul>

    <h2>Requests</h2>
    <p><a href="https://docs.google.com/forms/d/1BFKTCxxdn-PAnFyP6GcNlUopwSDJJLNCuwRf7brkkek/viewform">Let us know</a> if there are other tools and services we should try and get donated.</p>

  </div>



</section>

{% endblock %}
