{% extends "base.html" %}

{% block content %}


<body>
		<div class="js-container">
			<div class="layout-semibreve">
				{% include nav-breadcrumbs.html %}

				<header class="heading">
		    	<h1>{{ page.title }}</h1>
		    	<h2>{{ page.subtitle }}</h2>
		    </header>

				{% comment %}
					If this is an index page, don't show the contents.
				{% endcomment %}

				{% unless page.resource_index %}
					<!-- start toc block -->
					<div class="layout-minor">
						<nav role="navigation" class="toc" id="toc">
							<h3>Contents</h3>
							<div class="toc">
							    {{ page.content | toc_list }}
							</div>
						</nav>
					</div>
					<!-- end toc block -->
				{% endunless %}

				<main id="content" {% unless page.resource_index %}class="layout-major"{% endunless %}>
					{{ content }}

					{% if page.resource_index %}
						<hr/>
					{% else %}
						<!-- content team survey banner -->
						<div class="alert-info">
							<a href="https://www.surveymonkey.com/s/codeforamerica-content">Tell us what you think</a> (opens a 3 minute survey on another website)
						</div>
						<!-- end content team survey banner -->
						<hr/>
						<p><a href="#toc">Skip to contents</a></p>
					{% endif %}
				</main>

			</div><!-- end .layout-semibreve -->

			<!-- start detailed guidance specific footer section -->
	    <div class="slab-gray">
	    	<div class="layout-breve">
			    <!-- start community cta -->
			    {% if page.community-url %}
						<p>{{ page.community-cta }}</p>
						<a href="{{ page.community-url }}" class="button-s">Join this community</a>
			    {% endif %}
			    <!-- end community cta -->

					<!-- start github feedback -->
					<p>Help make our documentation better:</p>
					<ul>
						<li><a title="View this page history on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/commits/master{{ page.url | replace:'.html','.md' }}">View this page's history on GitHub.</a></li>
						<li><a title="View and suggest changes to this page source on GitHub" href="https://github.com/codeforamerica/codeforamerica.org/blob/master{{ page.url | replace:'.html','.md' }}">View and suggest changes to this page on GitHub.</a></li>
					</ul>
					<!-- end github feedback -->
				</div>
	    </div>
	    <!-- end detailed guidance specific footer section -->
		
      <!-- Email signup form -->
      <div class="slab-medium-red">
        <div class="layout-breve layout-tight">
          {% include email-signup-form.html context="footer" %}
        </div><!-- end .layout-breve -->
      </div><!-- end .slab-dark-blue -->

	    {% include global-footer.html %}
	  </div><!-- end .js-container -->
	  {% include email-signup-modal.html %}
		{% include footer-scripts.html %}
 	</body>
 	
 	{% endblock %}
