{% extends "base.html" %}

{% block content %}
<section>
  <div class="layout-semibreve">
    <h2>Brigade Organizer's Playbook</h2>
    <p>Over the past four years, we’ve learned a lot about how Brigades can contribute in building 21st century government in their cities.We’ve compiled the Brigade Organizer’s Playbook along with a <a href="http://www.codeforamerica.org/brigade/tools/calendar/">suggested calendar</a> for Brigades to use to frame out their organizing activities for the year. The playbook focuses the three areas key to running sustainable Brigade: infrastructure, organizing, and building. </p> 
    <p>This playbook is an MVP. We will continue to iterate on it throughout 2016. Please ping us on Slack or via email with feedback and new plays you’d like to see added.</p>
    <p><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#">Download the Brigade Organizer’s Playbook ></a></p>  
  </div>

</section>

{% endblock %}
