{% extends "base.html" %}

{% block content %}
<section>
  <div class="layout-semibreve">
    <h2>Organizer's Playbook</h2>
    <p>We created the playbook to help get your Brigade up and running, as well as to execute on the Brigade calendar for the year.</p>  
  </div>

</section>
<section>
<section class="slab-red">

  <div class="layout-semibreve">
    <h2>Download the Playbook</h2>
    <p>Use the <a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#">Brigade Organizer’s Playbook</a> to help get your Brigade up and running, as well as to execute on the Brigade calendar for the year.</p>  
  </div>

</section>

{% endblock %}
