{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

    <h1>Learn and share with civic hackers around the world.</h1>
    <p>Join the Code for America Brigade in online discussions with industry experts, local government employees, and Brigade members around the world to talk about topics including user research for Brigade projects, local government 101, and building basic civic tech apps.   </p>

  </div>

</section>

<section class="slab-teal">

  <div class="layout-semibreve">

    <h2>Upcoming Online Discussions</h2>

    <p>June 10, 2015: <a href="http://beta.codeforamerica.org/">Code for America BETA</a></li></p>
    <p>June 17, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-june-17-2015-9am-pst-brigade-captains-orientation/220">Brigade Captain's Orientation</a></li></p>
    <p>June 18, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-2015-june-18-code-for-america-metrics-discussion/229">Code for America Metrics</a></li></p>
    <p>June 25, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-brigade-safety-and-justice-webinar/232">Safety and Justice + Code for America</a></li></p>

  </div>

</section>
<section class="slab-red">

    <div class="layout-semibreve layout-centered">

        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>

    </div>

</section>


<section class="slab-blue">

  <div class="layout-semibreve">
    <h2>Recordings from Past Discussions</h2>
    <p>May 28, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-2015-may-28-what-is-the-digital-front-door/225">What is the Digital Front Door?</a></li></p>
    <p>March 11, 2015: <a href="https://www.codeforamerica.org/brigade/tools/recruiting-diverse-leadership/">Recruiting for Diverse Leadership with Open Oakland</a></li></p>
  </div>

</section>

{% endblock %}
