{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

    <h1>Brigade Programming</h1>

    <h2>
      <ol>
        <li>Copy the code from this <a href="https://github.com/codeforamerica/brigade/blob/master/templates/tools/template.html" target="_blank">template</a></li>
        <li>Make a new <a href="https://github.com/codeforamerica/brigade/blob/master/templates/tools/" target="_blank">toolkit</a>.</li>
        <li>Paste in the template code, then edit to your liking.</li>
        <li>Refer to Code for America <a href="http://style.codeforamerica.org/">Style Guide</a></li>
      </ol>
    </h2>

  </div>

</section>

<section class="slab-red">

  <div class="layout-semibreve">

    <h2>Upcoming Online Discussions</h2>

    <p>May 28, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-2015-may-28-what-is-the-digital-front-door/225">What is the Digital Front Door?</a></li></p>
    <p>June 17, 2015<a href="http://forum.codeforamerica.org/t/upcoming-june-17-2015-9am-pst-brigade-captains-orientation/220">Brigade Captain's Orientation</a></li></p>
    <p>June 18, 2015<a href="http://forum.codeforamerica.org/t/upcoming-2015-june-18-code-for-america-metrics-discussion/229">Code for America Metrics</a></li></p>
  </div>

</section>

<section class="slab-teal">
  
   <h2>Featured Video</h2>

    <div class="layout-semibreve layout-centered">

        <iframe width="560" height="315" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>

    </div>

</section>

<section class="slab-blue">

  <div class="layout-semibreve">
    <h2>Past Programming</h2>
    <p>Drinking vinegar kogi tattooed food truck. Thundercats heirloom irony tousled kitsch Blue Bottle. Blog ugh you probably haven't heard of them chambray, distillery typewriter Marfa 3 wolf moon swag shabby chic cronut narwhal. Aesthetic pug cliche, McSweeney's irony four loko four dollar toast Helvetica next level selfies seitan street art pork belly gentrify listicle. Kogi roof party leggings, Shoreditch cardigan four dollar toast Etsy tousled butcher actually American Apparel selfies occupy food truck pickled. Ennui chambray occupy organic aesthetic art party. Crucifix irony keytar, XOXO dreamcatcher direct trade iPhone swag Odd Future Banksy.</p>
  </div>

</section>

{% endblock %}
