{% extends "base.html" %}

{% block content %}

<section>

  <div class="layout-semibreve">

    <h1>Join in with Brigade members around the world to learn new skills and share best practices.</h1>
    <p> Code for America Brigade network </p>

  </div>

</section>

<section class="slab-teal">

  <div class="layout-semibreve">

    <h2>Upcoming Online Discussions</h2>

    <p>May 28, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-2015-may-28-what-is-the-digital-front-door/225">What is the Digital Front Door?</a></li></p>
    <p>June 17, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-june-17-2015-9am-pst-brigade-captains-orientation/220">Brigade Captain's Orientation</a></li></p>
    <p>June 18, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-2015-june-18-code-for-america-metrics-discussion/229">Code for America Metrics</a></li></p>
  </div>

</section>

<section class="slab-blue">

  <div class="layout-semibreve">
    <h2>Past Programming</h2>
    <p>March 11, 2015: <a href="https://www.codeforamerica.org/brigade/tools/recruiting-diverse-leadership/">Recruiting for Diverse Leadership with Open Oakland</a></li></p>
  </div>

</section>

{% endblock %}
