{% extends "base.html" %}

{% block content %}
<section>

  <div class="layout-semibreve">

    <h1>Recruiting for Diverse Leadership</h1>

 <iframe width="560" height="315" src="https://www.youtube.com/embed/cVY0L4_BPrE" frameborder="0" allowfullscreen></iframe>

<p>Check out the conversation we had with <a href="https://twitter.com/spjika">Spike</a>, <a href="https://twitter.com/ellietumbuan">Ellie</a>, and <a href="https://twitter.com/eddietejeda">Eddie</a> to learn how they recruited for diverse leadership when building the <a href="https://www.openoakland.org/">OpenOakland</a> executive team.</p>

  </div>

</section>

<section class="slab-red">

  <div class="layout-semibreve">

    <h2>Training Notes and Summary</h2>

    <p>Check out the live notes for the training <a href="http://forum.codeforamerica.org/t/12-march-2015-brigade-training-recruiting-for-diverse-leadership-with-open-oakland/177">here.</a> This training also had a longer series of crowdsourced notes which you can find <a href="https://docs.google.com/a/codeforamerica.org/document/d/1G12KAH4lXrc6dwuq3hK7t2RFoRLfZ1gLYEdmFQCVqVg/edit">here.</a></p>

    <p>A few key points from the 47-minute discussion:</p>
      <ol>
        <li>Oakland is <a href="http://priceonomics.com/the-most-and-least-diverse-cities-in-america/">by many measures the most diverse city in the United States</a>, but Open Oakland found that they did not represent that standard. Open Oakland tried to build an organization that could build trust and change the city.</li>
        <li>Open Oakland's leadership picked 17 people in total to discuss the future of the organization. Their recommended process for a leadership change:
          <ol>
            <li>Curate a few folks who are regularly attending and see whether they are interested in being a leader or helping to craft a leadership structure.</li>
            <li>Get a facilitator and have leadership meetings outside of hack nights.</li>
            <li>Put in place an action plan.</li>
            <li>Note that leadership roles aren't about recognition - they are about hard work and an opportunity to do more, think bigger, and work harder for the organization.</li>
          </ol>
        </li>
        <li>Open Oakland developed a "SWAT" team to identify roles and people to fill them that would represent Oakland's community. They first identified functional areas, then added roles to cover that work, like partnerships, outreach, development. <a href="http://openoakland.org/jobs/">Visit Open Oakland's website</a> for position descriptions.</li>
        <li>Open Oakland used seed funding from the Kapor Foundation to get <a href="https://twitter.com/nmsanchez">Nicole Sanchez</a> from Vaya Consulting to help them develop a process to recruit leaders.</li>
        <li>They did a lot of broad outreach to find new voices. The existing leadership did not want the process to only engage their close associations as this would not help them reach more of Oakland. They used anonymous applications as much as possible, and couldn’t see each other’s hand-written notes or analysis. Nicole explained that this controlled the process, keeping the selection based on gut reaction catalyzed by people’s observations which was a fair assessment. Selectors didn’t know demographic info until they had ranked the roles by applicant. Thus, the leadership team only analyzed diversity after they had picked the best qualified folks [on paper] for the job. This process resulted in 11 new leaders, a majority of them people of color, several of them LGBTQ. However, Open Oakland contends they could have done better with gender diversity.</li>
        <li>The big takeaway:
          <blockquote>
    <p>ELLIE: We were really thoughtful about it and learned a lot.</br>
      EDDIE: It takes time, and you have to want to put the effort into doing this kind of work to reach out and bring in different perspectives. It’s much easier to select people who are just like you.</br>
      SPIKE: Diversity isn’t an idea, it’s an action. It was necessary to do a lot of things to work on this. It was a hard thing to do, but it’s important for us to build a strong base as we get more serious about Open Oakland.</p>
</blockquote>
        </li>
      </ol>

  </div>

</section>

<section class="slab-teal">

    <div class="layout-semibreve">

       <h2>More resources</h2>
       <p>Here are some resources that Open Oakland shared with us.</p>
        <h3>
      <ul>
        <li><a href="https://docs.google.com/document/d/1mXJAno1oIF_chfr9I0C8wyNSF5_A8naQgBiS_gWr49g/edit?usp=sharing">Email for public recruitment</a></li>
        <li><a href="https://docs.google.com/document/d/1HXZhLbOk6peqyMFAufI0q0YX2F9JDFTCKq7u54pSGdM/edit?usp=sharing">Job descriptions</li>
        <li><a href="https://docs.google.com/document/d/1cQpZb7VBwHE7MlxGtIugjOoDm5m5Gs3wNNt3sph0eu8/edit?usp=sharing">Welcome email to the new team</a></li>
      </ul>
        </h3>

    </div>

</section>

{% endblock %}
