{% extends "base.html" %}

{% block content %}
<section>
  <div class="layout-semibreve">

    <h1>Brigade Workshops</h1>

    <p>Code for America offers online workshops for Brigade organizers and members to learn new skills, connect with experts, and meet one another. These workshops fit in with the Brigade Calendar and Brigade Playbook.</p>
  </div>
  
  </section>
<section>
  <section class="slab-teal">

  <div class="layout-semibreve">

    <h2>Upcoming Online Workshops</h2>

    <p>November XX, 2015: <a href="http://beta.codeforamerica.org/">Code for America BETA</a></li></p>
    <p>November XX, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-june-17-2015-9am-pst-brigade-captains-orientation/220">Brigade Captain's Orientation</a></li></p>
    <p>December XX, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-2015-june-18-code-for-america-metrics-discussion/229">Code for America Metrics</a></li></p>
    <p>December XX: <a href="http://forum.codeforamerica.org/t/upcoming-brigade-safety-and-justice-webinar/232">Safety and Justice + Code for America</a></li></p>

  </div>

</section>
<section>
  <section class="slab-blue">

  <div class="layout-semibreve">

    <h2>Past Workshops</h2>

    <p>June 10, 2015: <a href="http://beta.codeforamerica.org/">Code for America BETA</a></li></p>
    <p>June 17, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-june-17-2015-9am-pst-brigade-captains-orientation/220">Brigade Captain's Orientation</a></li></p>
    <p>June 18, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-2015-june-18-code-for-america-metrics-discussion/229">Code for America Metrics</a></li></p>
    <p>June 25, 2015: <a href="http://forum.codeforamerica.org/t/upcoming-brigade-safety-and-justice-webinar/232">Safety and Justice + Code for America</a></li></p>

  </div>

</section>

{% endblock %}
