#checklist a {
  text-decoration: underline;
}

.calendar-item {
  /*border-bottom: 1px #5a5a5a solid;*/
  padding: 5px;
  min-height: 450px;
}

body {
  color: #5a5a5a;
}

#banner {
  text-align: center;
  padding-top:5px;
}

.data {
  padding-top: 51px;
}

.global-header {
  margin-bottom : 0px;
}

#intro {
  float: left;
  background-color: rgba(204,39,62,0.85);
  width: 30%;
  overflow: auto;
  height: 691px;
  padding: 20px;
  /* Prevent element padding from adding to its width */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

#map {
  float: left;
  width: 70%;
  height: 691px;
}

#map .leaflet-marker-icon
{
  cursor: pointer !important;
}

#map input {
  min-height: 0;
}

#map .leaflet-popup-close-button {
  display: none;
}

#brigadeList a {
  margin-left: 20px;
}

#brigadeList h4 {
  margin-top: 200px;
  font-size: 25px;
  font-weight: 400;
  margin-left: 14px;
}

h2 {
  font-weight: bold;
}

#current-projects {
  padding-bottom: 25px;
}

/* SIGN UP FORM*/
#signup {
  margin: 30px 0;
}

#signup-response {
  margin: 30px 0;
  display: none;
}

.inline {
  display: inline-block;
}

.center {
  text-align: center;
}

/* MOBILE VIEW*/
@media (max-width: 40em) {

  .global-header {
    position: static;
  }

  main {
    margin-top: 50px;
  }

  #intro {
    float: none;
    width: auto;
    height: initial;
  }

  #map {
    float: none;
    width: initial;
    height: 400px;
  }

}

@media screen and (min-width: 640px) {
  #brigadeListButton {
    display: none;
  }
}

input[type="text"],input[type="email"],input[type="password"],input[type="search"] {
  width: 85%;
}

/* Brigade page*/

.no-padding {
  padding: 0px;
}

#title {
  color: white;
  margin: 0px;
}

.Official, .official {
  background-color: #00a175 !important;
  color: white;
}

.Beta, .beta {
  background-color: #004b6a !important;
  color: white;
}

.Alpha, .alpha {
  background-color: #7ab5d6 !important;
  color: white;
}

.Experiment, .experiment {
  background-color: #69579C !important;
  color: white
}

/* Project Monitor */
#monitor {
  min-height: 700px;
}

#monitor h1 {
  margin-top: 0px;
}

#monitor a:link, #monitor a:visited, #monitor a:hover, #monitor a:focus, #monitor a:active {
  color: #5a5a5a;
}

.row {
  display: table;
  border-spacing: 15px 5px;
  width: 100%;
  display: none;
}

.project {
  display: table-cell;
  float: none;
  padding-bottom: 8px;
}

.project h2 {
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
}

.alert-success, .alert-failure, .alert-pending, .alert-None {
  border: 0px;
}

.alert-pending, .alert-None {
  background-color: #e5e5e5;
  margin: 0 0 16px 0;
}

/* PROJECT SEARCH */

#project-search-h1 {
  margin-bottom: 0px;
}

#project-search-section .layout-semibreve {
  padding-top: 0px;
}

#project-search-bar {
  width: calc(100% - 100px);
}

#project-search {
  margin-left: 5px;
}

#project-search-section .card {
  height: auto !important;
  padding: 0px !important;
  margin: 25px 5px 5px 5px !important;

  width: calc(50% - 20px);
}

.banner {
  margin: 0;
}

/* Phones */
@media (max-width: 768px) {
  .card {
    width: 95% !important;
    margin: 0px !important;
  }
  .banner {
    padding-top: 15px;
    margin: 0;
  }
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-head {
  color: white;
  background-color: #999595;
  min-height: 29px;
}

.card-body h3 {
  padding: 10px 0;
  border-bottom: 1px solid #999595;
}

.card-head, .card-body {
  padding: 0 10px;
}

#more-projects {
  margin : 30px 0;
}

.red {
  color: #cf1b41;
}

table {
  margin-top: 25px;
}

table .grey {
  background-color: #e5e5e5;
  border: 2px solid #e5e5e5;
}

thead th {
  border-bottom: 2px solid #e5e5e5;
}

td {
  text-align:center;
  vertical-align:middle;
}

table .icon-checkmark {
  color: #cf1b41;
}

tbody th {
  padding-left: 15px;
}

@media (max-width: 40em) {

  table, thead th {
    font-size: small;
  }

}
