<div class='form-wrapper span6 offset3'>
  <%= content_tag :h2, "Deploy a new application in #{@location}" %>

  <%= render 'deployed_applications/form', url: location_deployed_application_path(@location), deployed_application: @deployed_application %>
</div>
