{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_aws.png') }}" width="200px" />
{% endblock %}

{% block software %}
<h2>AWS (Amazon Web Services)</h2>

<h3>What is Amazon Web Services?</h3>
<p>AWS offers server hosting and high-powered tools to deploy and scale a successful project. AWS has donated credits to CfA which we are happy to share with your Brigade to get your projects hosted.</p>
<p>Please note: AWS credits is a pilot program for Brigades, and we might have to end this program at the end of 2018 depending on the continued availability of donated credits.</p>

<h3>What do you get?</h3>
<p>If approved, CfA will give your brigade a $100 budget to spend on whatever it needs. We know this doesn’t go very far, so, above this threshold, we are happy to support promising projects on a case-by-case basis. To request a higher budget, reach out as described in "Any project-specific requests" below.</p>

<h3>How do you get access?</h3>
<p>Create an account on <a href="https://aws.amazon.com/" target="_blank">the AWS site</a> named after your brigade. (To simplify record-keeping on our end, we require that your Brigade only have a single AWS account.)</p>

<p>If you have an existing account, make sure the Account Name is the name of your brigade.</p>

<img src="{{ asset_url_for('images/software_aws_account.png') }}" />

<p>This is what the account details should look like. Finally, send the Account ID number to <a href="mailto:inkinds@codeforamerica.org">inkinds@codeforamerica.org</a> along with the following information:</p>

<ul>
  <li>Your role within the Brigade</li>
  <li>Your monthly budget request (omit if requesting $100 or less)</li>
  <li>
    Any project-specific requests (omit if requesting $100 or less)
    <ul>
      <li>What is the project!? Tell us about who the project will help, and what it needs to be successful.</li>
      <li>The name and email address of the project’s lead developer</li>
      <li>Estimated release date of the project (It can be a very rough estimate.)</li>
      <li>Estimated budget of the project</li>
    </ul>
  </li>
</ul>

<h3>What’s the catch?</h3>
<p>No catches! But there are a couple things to be aware of.</p>

<p>AWS payments are in a pilot stage of CfA. We will update you with information about the duration of the pilot when you send your request to inkinds@codeforamerica.org.</p>

<p>Your AWS account will be added as a sub-account of Code for America’s main account, which means that CfA will be on the hook for any bills that you create. To make sure we are able to distribute the credits fairly across all the brigades and prevent accidental billing issues, we will require the ability to audit your AWS account and set up billing alerts.</p>

<p>If your account goes over its agreed budget, we reserve the right to request that you pay back the difference, or to deduct it from your brigade account at CfA.</p>
{% endblock %}
