{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_bizspark.jpg') }}" width="209px" />
{% endblock %}

{% block software %}
<div class="message">
  <div class="message__content">
    <strong>Note: </strong>
    As of February 2018, Microsoft no longer provides Bizspark access or Azure credits to Code for America Brigades.
  </div>
</div>

<h2>Microsoft Bizspark / Azure</h2>
<h3>What is Bizspark / Azure?</h3>
<p>BizSpark is a program that Microsoft offers to small organizations which includes many common Microsoft products and free Azure credits for hosting.</p>

<h3>What do you get?</h3>
<p>Through Bizspark, your Brigade will get 12 months of many Microsoft products including Microsoft Office, Microsoft Developer Network (including Visual Studio and SQL Server), and Microsoft Windows.</p>

<p>In addition, up to five of your developers will receive a $150 monthly credit for Microsoft Azure that they can apply to their project.</p>

<h3>How do you get access?</h3>
<p>Request a code from inkinds@codeforamerica.org and <a href="https://drive.google.com/file/d/0B3PbZqwhK6atRnBLMUJCWDBkb1hKVVVmOFJibXZ6VzJ0alk0/view">follow these instructions!</a></p>
{% endblock %}
