{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_carto.png') }}" width="200px" />
{% endblock %}

{% block software %}
<h4>CARTO</h4>
<h5>What is CARTO?</h5>
<p>Carto helps you visualize and easily work with GIS data. Find projects using CARTO.</p>

<h5>What do you get?</h5>
<p>When you sign up, you get an upgraded account with 250MB of space. With an upgraded account, your data is also private.</p>

<h5>How do I get access?</h5>
<p>Send an email to <a href="mailto:inkinds@codeforamerica.org">inkinds@codeforamerica.org</a> including the following information:</p>

<ul>
  <li>Which CfA brigade you belong to</li>
  <li>A description of the project(s) you’re working on and how CARTO will help.</li>
  <li>How much your brigade spends on technology annually</li>
  <li>"How will your work with CARTO impact the world in a positive way (500 words)"</li>
</ul>
{% endblock %}
