{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_github.png') }}" width="140px" />
{% endblock %}

{% block software %}
<h2>GitHub</h2>
<h3>What do you get?</h3>
<p>GitHub offers free hosting of public code, and most Brigade code should be open source anyway! If you need a private repository, but can’t pay for GitHub, we can create you one under the <a href="https://github.com/codeforamerica" target="_blank">Code for America GitHub organization</a>.</p>

<h3>How to access?</h3>
<p>Email us at <a href="mailto:inkinds@codeforamerica.org">inkinds@codeforamerica.org</a></p>
{% endblock %}
