{% extends "free_software.html" %}

{% block logo %}
<img src="/brigade/static/images/software_gsuite.svg" width="200px" />
{% endblock %}

{% block software %}
<h4>G Suite (Google Apps for your domain)</h4>

<h5>What is G Suite?</h5>
<p>G Suite is Google’s hosted product featuring all the Google Apps you’ve come to love: Gmail, Google Drive, Google Groups, and many more.</p>

<h5>What do you get?</h5>
<p>Users of G Suite for Nonprofits receive access to all Google Apps like Gmail, Drive, and Groups (up to 30 GB of file storage). The email service can be tied to a custom domain for your Brigade.</p>

<h5>How to get access?</h5>
<p>We can set you up as an organization underneath CfA’s G Suite for free. Email <a href="mailto:inkinds@codeforamerica.org">inkinds@codeforamerica.org</a> and we will get you set up. In order for this to work, we will need to transfer your domain name to CfA’s registrar, and we will walk you through that process by email.</p>
{% endblock %}
