{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_heroku.png') }}" width="192px" />
{% endblock %}

{% block software %}
<h2>Heroku</h2>

<h3>What is Heroku?</h3>
<p>Heroku is a simple, easy-to-use cloud hosting service!</p>

<h3>What do you get?</h3>
<p>We’re delighted to be able to offer access to our Brigades on a per-project basis. If we sponsor your project, Code for America will pay all costs assosciated with your project's Heroku application.</p>

<h3>How do you get access?</h3>
<p>Email us at <a href="mailto:inkinds@codeforamerica.org">inkinds@codeforamerica.org</a> with the subject "Heroku request".</p>

<p>Please include the following details about your project:</p>
<ul>
  <li>
    Project name and a short description
    <ul>
      <li>Who is your target user?</li>
      <li>When do you hope to release your project? (This can be a very rough estimate.)</li>
    </ul>
  </li>
  <li>The contact information for the lead developer on the project</li>
  <li>What is the estimated monthly cost for hosting your project?</li>
</ul>
{% endblock %}
