{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_newrelic.png') }}" height="65" />
{% endblock %}

{% block software %}
<h3>What is NewRelic</h3>
<p>NewRelic is an observability platform built to help engineering teams understand the behavior of their software. It can help you analyze your application's performance and errors, and help you troubleshoot.</p>

<h3>What do you get?</h3>
<p>NewRelic has generously donated their product for use by Brigades, so you will be able to instrument your projects with ease.</p>

<h3>How do you get access?</h3>
<p>Stay tuned! We're figuring this out with NewRelic right now and will update this page by the end of November with details.</p>

<p>Email <a href="mailto:brigade-info@codeforamerica.org">brigade-info@codeforamerica.org</a> if you would like to be added to the waitlist.</p>
{% endblock %}
