{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_slack.png') }}" width="192px" />
{% endblock %}

{% block software %}
<h2>Slack</h2>
<h3>What is Slack?</h3>
<p>Slack is a group communication platform built around chat channels. (You can join Code for America's Slack at <a href="http://slack.codeforamerica.org" target="_blank">slack.codeforamerica.org</a> if you want to learn more!) Slack typically only offers one nonprofit plan per organization, but some brigades have had success <a href="https://get.slack.help/hc/en-us/articles/204368833-Slack-for-Nonprofits" target="_blank">applying for their own nonprofit plan</a>. Your mileage may vary.</p>

<h3>What can I get for free?</h3>
<p>Slack offers a generous free tier to anyone that includes support for unlimited users with a fixed quota of storage space for messages and files. When you hit the limit, old messages and files are automatically deleted.</p>

{% endblock %}
