{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_stae.svg') }}" height="120" />
{% endblock %}

{% block software %}
<h3>What is Stae?</h3>
<p>Stae is a universal tool for data management and collaboration. Cites can integrate data from any source, map different data types, and create real-time data feeds.</p>

<p>Brigade projects can use Stae to publish community data or to consume it. Many common types of data (311 data, traffic data, 911 calls, etc.) are standardized across many jurisdictions, which enables more scalable projects.</p>

<a href="https://discourse.codeforamerica.org/t/stae-the-world-s-open-data-in-real-time/357" target="_blank">Read more about Stae on the Code for America Discourse</a>


<h3>What do you get?</h3>
<p>Currently, Stae is open to the public and is free.</p>


<h3>How do you get access?</h3>
<p>Simply click the "Sign Up" button on <a href="https://municipal.systems/explore" target="_blank">the Stae product homepage</a>.</p>

<p>If you find Stae useful in a project, <a href="mailto:inkinds@codeforamerica.org" target="_blank">let us know!</a></p>
{% endblock %}
