{% extends "free_software.html" %}

{% block logo %}
<img src="{{ asset_url_for('images/software_twilio.png') }}" width="200px" />
{% endblock %}

{% block software %}
<h2>Twilio</h2>

<h3>What is Twilio?</h3>
<p>Twilio is the easiest way to send SMS messages and/or interact with phones from your application.</p>

<h3>What do you get?</h3>
<p>Twilio has a program for social good organizations (like you!) which provides $500 in credit and a permanent 25% discount.</p>

<h3>How to get access?</h3>
<p>You will have to sign up for a normal account, and then <a href="https://www.twilio.org/application/" target="_blank">fill out the application form</a>. Send us an email at inkinds@codeforamerica.org if you end up applying, we’d like to know if you find Twilio useful, and we can help make sure you get approved!</p>
{% endblock %}
