@import '../core/variables';

//
// List
//

.list--inline {
  list-style-type: none;
}

.list--inline li {
  /* The current bullet is a background image. Remove it for inline lists. */
  background-image: none;        
  display: inline;
  }

.list--with-icons {
  list-style: none;

  li {
    background-image: none;
    padding-left: 60px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &::before {
      font-size: 30px;
      left: 0;
      opacity: .7;
      position: absolute;
      top: 0;
    }
  }
}

.list--no-bullets {
  list-style-type: none;
  li {
    background-image: none;
    padding: 0;
  }
}
