{% extends "base.html" %}

{% block content %}
<section class="slab-teal">

  <div class="layout-semibreve">

    <h1>Brigade Organizer's Calendar</h1>

    <p>This calendar highlights days of action, workshops, and monthly themes to help Brigades focus their activities throughout the year.</p> 
  </div>

</section>

<section>

  <div class="layout-semibreve">

    <ul class="list-no-bullets">

      <li>
        <p><b>NOVEMBER 2015</b>: Work with your core team to identify partners, strategy, and fundraising opportunities for 2016. Check out our <a href="http://forum.codeforamerica.org/">forum</a> to view notes and videos from our past workshops.</p>
      </li>

      <li>
        <p><b>DECEMBER 2015</b>: Continue to revise your strategic plan and start fundraising. Check out our <a href="http://forum.codeforamerica.org/">forum</a> to view notes and videos from our past workshops.</p>
      </li>

      <li>
        <p><b>JANUARY 2016:</b> Cultivate government and community partners and invite them to a user needs workshop in February. Check out our <a href="http://forum.codeforamerica.org/">forum</a> to view notes and videos from our past workshops.</p>
      </li>

      <li>
        <p><b>FEBRUARY 2016:</b> Host a workshop to help government and community partners identify user needs for your Brigade to prototype at CodeAcross. Check out our <a href="http://forum.codeforamerica.org/">forum</a> to view notes and videos from our past workshops.</p>
      </li>

      <li>
        <p><b>MARCH 2016:</b> At CodeAcross 2016, prototype solutions to the problem statements you and your partners identified. Check out our <a href="http://forum.codeforamerica.org/">forum</a> to view notes and videos from our past workshops.</p>
      </li>

      <li>
        <p><b>APRIL 2016:</b> Continue to work with partners and build and test your protypes.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2016-april-tbd-regional-data-portal/382"  target="_blank">TBD: Regional Portal Data</a></li>
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2016-april-12-first-ndoch-planning-webinar/383/1"  target="_blank">April 12: First National Day of Civic Hacking Planning Webinar</a></li>
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2016-april-20-waffle-io-for-ndoch/384"  target="_blank">April 20: Waffle.io for NDoCH</a></li>
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2016-april-26-program-research-and-co-designing-update/385"  target="_blank">April 26: Program Research and Co-Design Update</a></li>
          <li class="icon-calendar"><a href="http://forum.codeforamerica.org/t/upcoming-2016-april-28-meet-cfas-economic-development-team/386"  target="_blank">April 28: Meet CfA's Economic Development Team</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>MAY 2016:</b> Continue to work with partners and build and test your protypes.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar">TBD: National Day of Civic Hacking Organizer's Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a>
          <p><b>JUNE 2016:</b> National Day of Civic Hacking</p></li>
          <li class="icon-calendar"><a href="http://hackforchange.org/" target="_blank">Jun 4: National Day of Civic Hacking</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>JULY 2016:</b> Continue to work with partners and build and test your projects.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar">TBD: Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>AUGUST 2016:</b> Continue to work with partners and build and test your projects.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar">TBD: Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>SEPTEMBER 2016:</b> Host a party for the Brigade projects you have launched.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar">TBD: Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>OCTOBER 2016:</b> Host a CityCamp with government and community partners to inform your Brigade strategy for 2017.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar">TBD: Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>NOVEMBER 2016:</b> Attend Code for America Summit! Work with your core team to identify partners, strategy, and fundraising opportunities for 2017.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar">TBD: Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

      <li>
        <p><b>DECEMBER 2016:</b> Continue to fundraise and revise your strategic plan for 2017.</p>
        <ul class="list-no-bullets">
          <li class="icon-calendar">TBD: Workshop</a></li>
          <li class="icon-calendar"><a href="https://cfa.typeform.com/to/XcfQ8H" target="_blank">Tuesday Office Hours</a></li>
        </ul>
      </li>

    </ul>

  </div>

</section>


{% endblock %}
