{% extends "base.html" %}
{% block title %}Organize a Brigade{% endblock %}

{% block content %}
<section>
  <div class="layout-semibreve">

    <h2>Organizing a Brigade? We've got you covered.</h2>

    <p>Over the past four years, we’ve learned a lot about what works when organizing a Brigade. We’re excited to help you build a sustainable, civic hacking group in your community.</p>

    <p>Here are some resources to help you get started:</p>
    <p><a href="checklist/">Brigade Organizer's Checklist</a>: Learn how Code for America supports civic hack nights and Official Brigades.</p>
    <p><a href="playbook/">Brigade Organizer’s Playbook</a>: Deep dive into three areas key to running a sustainable Brigade.</p>
    <p><a href="/brigade/free-software/">Free Software Available to Brigades</a>: Learn about the software that vendors have donated for Brigades to use.</p>

    <p><a href="https://cfa.typeform.com/to/uxPQH6" class="button button-l" target="_blank"  title="New-to-organizing form">New to organizing?</a> Tell us a little bit about yourself so we can help you get started.</p>
  </div>
</section>

{% endblock %}
