{% extends "base.html" %}

{% block content %}
<section>
  <div class="layout-semibreve">
    <h2>Brigade Organizer's Playbook</h2>
    <p>The Brigade Organizer's Playbook focuses on the three areas key to running a sustainable Brigade: infrastructure, organizing, and building.</p>
    <p>The playbook is a work in progress. We will continue to build on its content, design, and format.</p>
    <p><a href="{{ url_for('static', filename='Playbook_PDF_2_2016.pdf') }}" target="_blank">Download</a> the playbook or <a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#" target="_blank">view the Google doc</a>.</p>
  </div>

</section>

{% endblock %}
