<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Code for America | Brigade</title>
    <!-- Check the CfA Style Guide at https://style.codeforamerica.org/ -->
    <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/main.css">
    <link rel="stylesheet" href="http://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" media="all and (min-width: 40em)"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="https://style.codeforamerica.org/1/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

    <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/turf.min.js') }}"></script>

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  </head>

  <body>

    <div class="js-container">

      <nav class="nav-global-primary">
      </nav>

      <div class="global-header">
        <a href="http://www.codeforamerica.org/brigade" class="global-header-logo">
            <img src="{{ url_for('static', filename='images/new_logo.png') }}" />
        </a>
        <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

        <nav class="nav-global-secondary">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/organize">Organize</a></li>
            <li><a href="/tools">Tools</a></li>
            <li><a href="http://codeforamerica.tumblr.com">Tumblr</a></li>
            <li><a href="https://secure.codeforamerica.org/page/contribute/default?source_codes=Brigade-page" class="button">Donate</a></li>
            <li>TESTING HEROKU DEPLOY</li>
          </ul>
        </nav>
      </div>

      <main role="main">

        {% block content %}{% endblock %}

      </main>

      <div>{{ signup | safe }}</div>

      <div>{{ footer | safe }}</div>

    </div>

  </body>

  {% block js %}{% endblock %}

</html>
