<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Code for America | Brigade</title>
    <!-- Check the CfA Style Guide at https://style.codeforamerica.org/ -->
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/main.css">
    <link rel="stylesheet" href="https://style.codeforamerica.org/style/css/layout.css" media="all and (min-width: 40em)">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" media="all and (min-width: 40em)"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="https://style.codeforamerica.org/1/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="https://style.codeforamerica.org/1/style/favicons/60x60/flag-red.png"/>

    <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
  </head>

  <body>

    <div class="js-container">

      <nav class="nav-global-primary">
      </nav>

      <div class="global-header">
        <a href="/brigade" class="global-header-logo">
            <img src="{{ url_for('static', filename='images/new_logo.png') }}" />
        </a>
        <p class="skip-to-nav"><a href="#global-footer">Menu</a></p>

        <nav class="nav-global-secondary">
          <ul>
            <li><a href="/brigade/about">About</a></li>
            <li><a href="/brigade/organize">Organize</a></li>
            <li><a href="/brigade/tools">Tools</a></li>
            <li><a href="http://forum.codeforamerica.org">Forum</a></li>
            <li><a href="https://secure.codeforamerica.org/page/contribute/default?source_codes=Brigade-page" class="button">Donate</a></li>
          </ul>
        </nav>
      </div>

      <main role="main">

        <div id="banner">
          <h2><a href="http://hackforchange.org/">National Day of Civic Hacking - <span style="color:#399fd3">June 6th 2015</span> !</a></h2>
        </div>

        {% block content %}{% endblock %}

      </main>

      <div id="signupformdiv">{{ signup | safe }}</div>

      <div>{{ footer | safe }}</div>

    </div>

  </body>

  {% block js %}{% endblock %}
  <script src="https://www.codeforamerica.org/script/global.js"></script>

</html>
