{% extends "base.html" %}

{% block content %}

  <section>

    <div class="slab-dark-blue">
      <div class="layout-semibreve">
        <h1>{{brigade.name}}</h1>
        <p><a href="{{brigade.website}}">{{brigade.website}}</a> :: {{brigade.city}}</p>

        {% if brigade.current_projects %}
          <a href="./projects" class="button">Projects</a>
        {% endif %}
        <!-- <a href="./people" class="button">People</a> -->
        {% if brigade.current_events %}
          <a href=".#events" class="button">Events</a>
        {% endif %}
        {% if brigade.current_stories %}
          <a href=".#stories" class="button">Stories</a>
        {% endif %}
          <a href=".#issues" class="button">Open Issues</a>
      </div>
    </div>

    <div id="current-projects" class="slab-white">
      <div class='layout-semibreve'>
        <div class="layout-major-invert">

          {% if brigade.current_projects %}
            <h2 name="projects">Current Projects</h2>
            {% for project in brigade.current_projects %}

              <h3>{{project.name}}</h3>
              {% if project.link_url %}
                <p><a href="{{project.link_url}}" class="icon-rocket">{{project.link_url}}</a></p>
              {% endif %}

              {% if project.code_url %}
                <p><a href="{{project.code_url}}" class="icon-github2">{{project.code_url}}</a></p>
              {% endif %}

              <p>{{project.description}}</p>

              <!-- {% for contributor in project.github_details.contributors %}
                <img height="40" width="40" src="{{ contributor.avatar_url }}&s=40" style="border-radius: 5px;"/>
              {% endfor %} -->

              <p><small>Last Updated: {{project.last_updated | timesince}}</small></p>

            {% endfor %}
            <a href="./projects" class="button">More Projects</a>
          {% endif %}

        </div>

      </div>
    </div>

    <div class="slab-red">
      <div class="layout-semibreve">

        {% if brigade.current_events %}
        <div class="layout-minim">
            <h2>Current Events</h2>
            <a id="events"></a>
            <ul class="list-no-bullets list-icons">
              {% for event in brigade.current_events %}
                <li class="icon-calendar">
                  <a href="{{event.event_url}}">{{event.name}}</a>
                  {% if brigade.location %}
                    <p>{{event.location}}</p>
                  {% endif %}
                  <p>{{event.start_time | timesince}}</p>
                </li>
              {% endfor %}
            </ul>

            <a href="{{brigade.events_url}}" class="button">More Events</a>
        </div>
        {% endif %}

        {% if brigade.current_stories %}
        <div class="layout-minim">
            <h2>Current Stories</h2>
            <a id="stories"></a>
            <ul class="list-no-bullets list-icons">
              {% for story in brigade.current_stories %}
                <li class="icon-bullhorn">
                  <a href="{{story.link}}">{{story.title}}</a>
                  <p><br/></p>
                </li>
              {% endfor %}
              <a href="{{brigade.rss}}" class="button">More Stories</a>
            </ul>
        </div>
        {% endif %}

      </div>
    </div>

    <div class="layout-breve">
      <a id="issues"></a>
      <h2>Open Github Issues</h2>
      <iframe src="https://www.codeforamerica.org/geeks/civicissues/widget?organization_name={{brigadeid}}&number=3" width="100%" height="600px" frameBorder="0"></iframe>
    </div>

    <!-- <div class="layout-minor-invert">
          <h2>People</h2>
          <h3>Captain</h3>
          <ul>
            <li>Persons Name</li>
          </ul>
          <h3>Core Team</h3>
          <ul>
            <li>Community Organizer</li>
            <li>Story Teller</li>
            <li>Delivery Lead</li>
          </ul>
        </div> -->

  </section>
{% endblock %}

{% block js %}
<script>

  $(document).ready(function(){

    // Resize iframe to fit content
    function resize(){
      var widget_iframe = document.getElementById('widget');
      issues_document = widget_iframe.contentWindow.document;
      if(issues_document){
        widget_iframe.height = issues_document.body.scrollHeight + "px";
      }
    }

    // SIGN UP FORM
    $('input[name="group[10273][8192]"]').prop('checked',true);
    $('input[name=REFERRAL]').val(location.path);
    $("#email-signup-data-form").on( "submit", function( event ) {
      event.preventDefault();
      $.post("/signup/", $( this ).serialize(), function(response){
        console.log(response);
      }, "json");
    });

  });

</script>
{% endblock %}
