{% extends "base.html" %}

{% block content %}

  <div id="map"></div>

  <div id="overlay" class="slab-red">

    <img id="logo" src="{{ url_for('static', filename='images/the_brigade.png') }}" />
    <p>Code for America Brigades are local volunteer groups that bring together community members to help make government work better. Brigades use technology to build new tools to help with local civic issues. Code for America supports Brigade chapters with resources, tools, and access to the wider civic technology movement. </p>

    <center><button id='geolocate'>Find your local Brigade</button></center>

  </div>

  <div id="sponsors" class="layout-semibreve">
    <h4>Funders</h4>
    <p><a href="https://www.rallydev.com/about/rally-for-impact"><img src="{{ url_for('static', filename='images/rally.png') }}" height="100px"></a></p>
  </div>

{% endblock %}

{% block js %}
<script>
  $('#map').css("height", $(window).height() - $(".global-header").height() - 1);
  $('#overlay').css("height", ($(window).height() - $(".global-header").height()));

  // Provide your access token
  L.mapbox.accessToken = 'pk.eyJ1IjoiY29kZWZvcmFtZXJpY2EiLCJhIjoiSTZlTTZTcyJ9.3aSlHLNzvsTwK-CYfZsG_Q';

  // Create a map in the div #map
  var map = L.mapbox.map('map', 'codeforamerica.map-hhckoiuj');

  map.legendControl.setPosition('topright');
  map.legendControl.addLegend('<img src="http://codeforamerica.org/brigade/images/red-marker.png" style="vertical-align: middle;"><strong>Official Brigade</strong>');
  map.zoomControl.setPosition('topright');

  var latlon = [27, -85], zoom = 2;

  map.setView(latlon, zoom);
  map.featureLayer.setGeoJSON({{ brigades | safe }});

  map.featureLayer.on('click', function(e) {
    var brigadeId = e.layer.feature.properties.name.replace(/\s+/g, '-');
    window.open(brigadeId, "_self");
  });


  // This uses the HTML5 geolocation API, which is available on
  // most mobile browsers and modern browsers, but not in Internet Explorer
  //
  // See this chart of compatibility for details:
  // http://caniuse.com/#feat=geolocation
  if (!navigator.geolocation) {
      geolocate.innerHTML = 'Geolocation is not available';
  } else {
      geolocate.onclick = function (e) {
          $("#geolocate").addClass("button-progress").text("Finding your local Brigade");
          e.preventDefault();
          e.stopPropagation();
          map.locate();
      };
  }

  // Once we've got a position, zoom and center the map
  // on it, and add a single marker.
  map.on('locationfound', function(e) {
    var my_lnglat = [e.latlng.lng, e.latlng.lat]
    var point = turf.point(my_lnglat);
    var against = turf.featurecollection(brigade_points);
    var nearest = turf.nearest(point,against);
    var brigadeId = nearest.properties.name.replace(/\s+/g, '-');
    window.open(brigadeId, "_self");
  });

  // If the user chooses not to allow their location
  // to be shared, display an error message.
  map.on('locationerror', function() {
      geolocate.innerHTML = 'Position could not be found';
  });

  var brigades = {{ brigades | safe }};
  var brigade_points = []
  $.each(brigades, function(i,brigade){
    brigade_point = turf.point(brigade.geometry.coordinates, brigade.properties);
    brigade_points.push(brigade_point);
  });

  // SIGN UP FORM
  $('input[name="group[10273][8192]"]').prop('checked',true);
  $('input[name=REFERRAL]').val("/brigade");
  $("#email-signup-data-form").on( "submit", function( event ) {
    event.preventDefault();
    $.post("/signup/", $( this ).serialize(), function(response){
      console.log(response);
    }, "json");
  });

</script>
{% endblock %}
