{% extends "base.html" %}

{% block content %}

    <div class="slab-dark-blue">
      <div class="layout-semibreve">

        <h1>Civic Tech Movement Infrastructure</h1>
        <h3>To increase the quantity, quality, and diversity of participation</h3>

      </div>
    </div>

    <div class='layout-semibreve'>

      <h1>Launched Projects</h1>
      <ol>

        <li>
          <h3>The Code for America API</h3>
          <p>Tracks and motivates activity and participation across the civic technology movement.</p>
          <p><a href="http://codeforamerica.org/api/" class="icon-rocket">http://codeforamerica.org/api/</a></p>
          <p><a href="https://github.com/codeforamerica/cfapi" class="icon-github2">https://github.com/codeforamerica/cfapi</a></p>
        </li>

        <li>
          <h3>The Code for America Brigade Website</h3>
          <p>Showing off the breadth and depth of the civic tech movement.</p>
          <p><a href="http://www.codeforamerica.org/brigade" class="icon-rocket">http://www.codeforamerica.org/brigade</a></p>
          <p><a href="https://github.com/codeforamerica/brigade" class="icon-github2">https://github.com/codeforamerica/brigade</a></p>
        </li>

        <li>
          <h3>The Civic Tech Issue Finder</h3>
          <p>Making it easy to Code for America right now.</p>
          <p><a href="http://www.codeforamerica.org/geeks/civicissues" class="icon-rocket">http://www.codeforamerica.org/geeks/civicissues</a></p>
          <p><a href="https://github.com/codeforamerica/civic-issue-finder" class="icon-github2">https://github.com/codeforamerica/civic-issue-finder</a></p>
        </li>

      </ol>

      <h1>Beta Projects</h1>
      <ol>

        <li>
          <h3>Civic Issue Finder Analytics</h3>
          <p>Does the Civic Issue Finder actually work? Lets look at the data to find out.</p>
          <p><a href="https://got-issues.herokuapp.com/" class="icon-rocket">https://got-issues.herokuapp.com/</a></p>
          <p><a href="https://github.com/codeforamerica/gotissues" class="icon-github2">https://github.com/codeforamerica/gotissues</a></p>
        </li>

        <li>
          <h3>Civic Issue Gardener Bot</h3>
          <p>An open source bot that prunes old civic tech issues.</p>
          <p><a href="https://got-issues.herokuapp.com/analytics" class="icon-rocket">https://got-issues.herokuapp.com/analytics</a></p>
          <p><a href="https://github.com/codeforamerica/gotissues" class="icon-github2">https://github.com/codeforamerica/gotissues</a></p>
        </li>

        <li>
          <h3>Attendance Tools</h3>
          <p>Tools for tracking attendance across the civic tech movement</p>
          <p><a href="https://www.codeforamerica.org/brigade/attendance" class="icon-rocket">https://www.codeforamerica.org/brigade/attendance</a></p>
          <p><a href="https://www.codeforamerica.org/brigade/Code-for-San-Francisco/attendance" class="icon-rocket">https://www.codeforamerica.org/brigade/Code-for-San-Francisco/attendance</a></p>
          <p><a href="https://www.codeforamerica.org/brigade/Code-for-San-Francisco/checkin?event=Hack+Night&question=What+do+you+want+to+hack+on+tonight?" class="icon-rocket">https://www.codeforamerica.org/brigade/Code-for-San-Francisco/checkin</a></p>
          <p><a href="https://github.com/codeforamerica/brigade#build-your-own-brigade-attendance-tools" class="icon-github2">https://github.com/codeforamerica/brigade#build-your-own-brigade-attendance-tools</a></p>
        </li>

        <li>
          <h3>Civic Tech Projects Search</h3>
          <p>Search across the whole civic tech movement or individual Brigades</p>
          <p><a href="http://www.codeforamerica.org/brigade/projects" class="icon-rocket">http://www.codeforamerica.org/brigade/projects</a></p>
          <p><a href="https://github.com/codeforamerica/brigade" class="icon-github2">https://github.com/codeforamerica/brigade</a></p>
          <p><a href="https://github.com/codeforamerica/brigade-alpha/issues/89" class="icon-github2">https://github.com/codeforamerica/brigade-alpha/issues/89</a></p>
        </li>

      </ol>

      <h1>Alpha Projects</h1>
      <ol>

        <li>
          <h3>Brigade Sign Up Form</h3>
          <p>Make it easy for people to sign up for a Brigade</p>
          <p><a href="http://www.codeforamerica.org/brigade/signup/" class="icon-rocket">http://www.codeforamerica.org/brigade/signup/</a></p>
          <p><a href="https://github.com/codeforamerica/brigade" class="icon-github2">https://github.com/codeforamerica/brigade</a></p>
        </li>

        <li>
          <h3>Civic Tech Project Monitor</h3>
          <p>Quickly see the status of a Brigade's civic tech projects</p>
          <p><a href="http://brigade-projectmonitor.herokuapp.com/" class="icon-rocket">http://brigade-projectmonitor.herokuapp.com/</a></p>
          <p><a href="https://github.com/codeforamerica/projectmonitor/tree/javascript" class="icon-github2">https://github.com/codeforamerica/projectmonitor/tree/javascript</a></p>
        </li>

        <li>
          <h3>Civic Tech Numbers</h3>
          <p>A summary of the civic tech movement</p>
          <p><a href="http://www.codeforamerica.org/brigade/numbers/" class="icon-rocket">http://www.codeforamerica.org/brigade/numbers/</a></p>
          <p><a href="https://github.com/codeforamerica/brigade" class="icon-github2">https://github.com/codeforamerica/brigade</a></p>
        </li>

        <li>
          <h3>Meetup RSVPs</h3>
          <p>Show off the trends in the Brigade's Meetup RSVPs</p>
          <p><a href="https://www.codeforamerica.org/brigade/rsvps" class="icon-rocket">https://www.codeforamerica.org/brigade/rsvps</a></p>
          <p><a href="https://www.codeforamerica.org/brigade/Beta-NYC/rsvps" class="icon-rocket">https://www.codeforamerica.org/brigade/Beta-NYC/rsvps</a></p>
        </li>

      </ol>

      <h1>Project Ideas</h1>
      <ol>
        <li>
          <h3>Civic Tech Badges</h3>
          <p>Celebrate all the different ways to participate</p>
          <p><a href="https://github.com/codeforamerica/brigade/issues/341" class="icon-github2">https://github.com/codeforamerica/brigade/issues/341</a>           </p>
        </li>

       <li>
          <h3>Civic Tech Movement Analytics</h3>
          <p>An accessible collection of the civic tech movements analytics</p>
          <p><a href="https://github.com/codeforamerica/brigade/issues/345" class="icon-github2">https://github.com/codeforamerica/brigade/issues/345</a></p>
        </li>

       <li>
          <h3>Use the CfAPI for another organization</h3>
          <p>Here are some Public Media examples</p>
          <p><a href="http://publicmedia-website.herokuapp.com/brigade/" class="icon-rocket">http://publicmedia-website.herokuapp.com/brigade/</a></p>
          <p><a href="https://publicmedia-issues.herokuapp.com/geeks/civicissues/widget" class="icon-rocket">https://publicmedia-issues.herokuapp.com/geeks/civicissues/widget</a></p>
          <p><a href="http://publicmedia-cfapi.herokuapp.com/api/organizations" class="icon-rocket">http://publicmedia-cfapi.herokuapp.com/api/organizations</a></p>
        </li>

     </ol>

    </div>

{% endblock %}
