{% extends "base.html" %}

{% block content %}

  <section>

    <div class="slab-dark-blue">
      <div class="layout-semibreve">

        <h1>Civic Tech Movement Numbers</h1>

        <div class="layout-minim">
          <h2>Organizations</h2>

          <h3>Total Brigades: {{ brigades_total }}</h3>
          <h3>Official Brigades: {{ official_brigades_total }}</h3>
          <a href="https://codeforamerica.org/brigade">https://codeforamerica.org/brigade</a>

          <h3>Code for All Organizations: {{ cfall_total }}</h3>
          <a href="https://codeforall.org">https://codeforall.org</a>
          <h3>Governments: {{ government_total }}</h3>
        </div>

        <div class="layout-minim">
          <h2>People</h2>

          <h3>Total RSVPs: {{ rsvps }}</h3>
          <a href="https://codeforamerica.org/brigade/rsvps">https://codeforamerica.org/brigade/rsvps</a>
          <h3>Total Attendance: {{ attendance }}</h3>
          <a href="https://codeforamerica.org/brigade/attendance">https://codeforamerica.org/brigade/attendance</a>

        </div>

      </div>

      <div class="layout-semibreve">

        <div class="layout-minim">
          <h2>Projects</h2>

          <h3>Total Projects: {{ projects_total }}</h3>
          <a href="https://codeforamerica.org/brigade/projects">https://codeforamerica.org/brigade/projects</a>
          <h3>Total Brigade Projects: {{ brigade_projects_total }}</h3>
          <h3>Total Code for All Projects: {{ cfall_projects_total }}</h3>
          <h3>Total Government Projects: {{ gov_projects_total }}</h3>
          
        </div>

        <div class="layout-minim">
          <h2>Issues</h2>

          <h3>Total Issues: {{ issues_total }}</h3>
          <h3>Total Help Wanted Issues: {{ help_wanted_total }}</h3>
          <a href="https://codeforamerica.org/geeks/civicissues">https://codeforamerica.org/geeks/civicissues</a>
          <h3>Total Bug Issues: {{ bug_total }}</h3>
          <h3>Total Enhancement Issues: {{ enhancement_total }}</h3>
        </div>
      </div>
    </div>

  </section>
{% endblock %}

{% block js %}
{% endblock %}
