{% extends "base.html" %}

{% block organizemenu %}
<ul class="nav-tier2">
  <li><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.tk4qjbvnz4za">Playbook</a></li>
  <li><a href="http://www.codeforamerica.org/brigade/tools/calendar/">Calendar</a></li>
</ul>
{% endblock %}

{% block content %}
  <div class="layout-semibreve">
    <h2>Want to organize a Brigade? We've got you covered.</h2>
    <p>Over the past four years, we’ve learned a lot about what works when organizing a Brigade. We’re excited to help you build a sustainable, civic hacking group in your community.</p>
    <p>Code for America has a few requirements for groups that want to join the Brigade network, either as a civic hack night or official Brigade. Learn more here.
    <p>Once you have all these pieces in place, <a href="ADDLINK">apply to be a Brigade</a>. You'll then have access to the range of support Code for America offers it's Brigades.</p>  


  </div>

</section>
<section class="slab-teal" style="margin-top: 50px;">

  <div class="layout-semibreve">
    <h2>Organizing Resources.</h2>
    <p><a href="http://www.codeforamerica.org/brigade/tools/calendar/">Brigade Organizer’s Calendar</a></p>
    <p><a href="https://docs.google.com/document/d/19bN5RWK5nQTpz0mHUViHrzHiommBUAMSztwNRzUcxYo/edit#heading=h.tk4qjbvnz4za">Brigade Organizer’s Playbook</a></p> 
  </div>

</section>
<section>

  <div class="layout-semibreve">
    <h2>Organizer's Checklist</h2>
    <p>Code for America has a few requirements for groups that want to join the Brigade network, either as a civic hack night or official Brigade.</p>

    <table>
      <thead>
        <tr>
          <td></td>
          <th>Civic Hack Night</th>
          <th>Official Brigade</th>
        </tr>
      </thead>
      <tbody>
        <tr class="grey">
          <th>Requirements</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/1oEB1CuzCHldxP_bzcvmcrmK0yAE1BzV2AGhtwtYKZVY/edit">Core Team</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Strategic Plan</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://github.com/codeforamerica/codeofconduct">Code of Conduct</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Community Partner</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Municipal Partner</th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>

        <tr class="grey">
          <th>CfA Provides</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>MOU</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Slack Network</th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Weekly Network Updates</th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Meetup.com</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Curriculum</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Days of Action</th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Office Hours</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://docs.google.com/document/d/1Uc8cmQt9-c4DaMD0hvamQwG6cOxNtjFO5Mq6dcdQ9_o/edit">Financial Infrastructure</a></th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://www.codeforamerica.org/brigade/attendance">Attendance Tool</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://www.codeforamerica.org/geeks/civicissues">Civic Issue Finder</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://www.codeforamerica.org/brigade/projects">Project Search</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th><a href="https://github.com/codeforamerica/cfapi">CfAPI</a></th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Branding and Media Guidelines</th>
          <td class="icon-checkmark"></td>
          <td class="icon-checkmark"></td>
        </tr>
        <tr>
          <th>Inkind Donations</th>
          <td></td>
          <td class="icon-checkmark"></td>
        </tr>

      </tbody>
    </table>

  </div>

</section>
<section>
<section class="slab-black" id="organize-video">
    <div class="layout-semibreve layout-centered">
      <figure>
        <iframe width="560" height="315" style="padding:1px;border:1px solid black;" src="//www.youtube.com/embed/_9-E7CLQX48?list=PL65XgbSILalW_PV2Cgmz7gOWY3YLwC87M" frameborder="0" allowfullscreen></iframe>
      </figure>
    </div>
</section>

{% endblock %}

{% block js %}
{% endblock %}
