{% extends "base.html" %}

{% block content %}

  <section>

    <div class="layout-breve">

      {% if brigade %}
        <h1>{{brigade.name}}'s Projects</h1>
      {% else %}
        <h1>All Civic Tech Projects</h1>
      {% endif %} 

      <div class="layout-minor">
        <form id="project-search" action="{{ request.path }}" method="get">
          <p class="field">
            <input type="search" name="q" {% if request.args.get('q') %} value="{{ request.args.get('q') }}" {% endif %} role="search" /><button type="submit" class="button"><i class="icon-search"></i></button
          </p>
        </form>

        <br />

        <h2>Project Stages</h2>
        <ul id="project-stage-buttons" class="list-no-bullets">
          <li><a href="?q=featured" id="Featured" class="button">Featured</a></li>
          <li><a href="?q=Official" id="Official" class="button">Official</a></li>
          <li><a href="?q=Beta" id="Beta" class="button">Beta</a></li>
          <li><a href="?q=Alpha" id="Alpha" class="button">Alpha</a></li>
          <li><a href="?q=Experiment" id="Experiment" class="button">Experiment</a></li>
        </ul>

      </div>

      <div id="projects" class="layout-major">

        {% for project in projects %}
          <div>
            <h3 style="display:inline;">{{project.name}}</h3>
            {% if project.tags and "featured" in project.tags %}
              <a href="?=featured" class="featured button-s icon-star">Featured</a>
            {% endif %}
            {% if project.link_url %}
              <p><a href="{{project.link_url}}" class="icon-rocket">{{project.link_url}}</a></p>
            {% endif %}

            {% if project.code_url %}
              <p><a href="{{project.code_url}}" class="icon-github2">{{project.code_url}}</a></p>
            {% endif %}

            {% if project.description %}
              <p>{{project.description}}</p>
            {% endif %}

            {% if project.status %}
              <p>Status: <a href="?={{ project.status }}" class="{{ project.status }} button-s">{{ project.status }}</a></p>
            {% endif %}

            {% if not brigade %}
              <p>Used By: <a href="/brigade/{{ project.organization.id }}/projects">{{ project.organization.name }}</a></p>
            {% endif %}

            {% if project.github_details %}
              {% if project.github_details.contributors %}
              <p>Built by: </p>
                {% for contributor in project.github_details.contributors %}
                  <a href="{{ contributor.html_url }}">
                    <img height="40" width="40" src="{{ contributor.avatar_url }}&s=40" style="border-radius: 5px;"/>
                  </a>
                {% endfor %}
              {% endif %}
            {% endif %}

            {% if project.languages %}
            <ul class="list-inline list-no-bullets">
              Written in:
              {% for lang in project.languages %}
                <li><a href="projects?q={{ lang }}">{{ lang }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}

            <p>
              <small>Last Updated: {{project.last_updated | timesince}}</small>
              {% if project.code_url %}
                {% if not project.status or project.tags %}

                <a href="{{request.url}}{{project.id}}/add_civic_json" class="button button-s button-subtle">Add civic.json</a>

                {% endif %}
              {% endif %}
            </p>

            <hr />
          </div>
          {% endfor %}

        {% if not projects %}
          <h2>Nothing here yet ... </h2>
        {% else %}
          <a id="more-projects" href="{{next}}{% if request.args.get('q') %}&q={{ request.args.get('q') }}{% endif %}" class="button">More Projects</a>
        {% endif %}

      </div>

    </div>


  </section>
{% endblock %}

{% block js %}

{% endblock %}
