{% extends "base.html" %}

{% block content %}

  <section>

    <div class="layout-breve">

      {% if brigade %}
        <h1>{{brigade.name}}'s Projects</h1>
      {% else %}
        <h1>All Civic Tech Projects</h1>
      {% endif %} 

      <div class="layout-minor">
        <form action="{{ request.path }}" method="get">
          <p class="field">
            <input id="project-search" type="search" name="q" {% if request.args.get('q') %} value="{{ request.args.get('q') }}" {% endif %} role="search" /><button type="submit" class="button"><i class="icon-search"></i></button
          </p>
        </form>

        <br />

        <h2>Project Stages</h2>
        <ul id="project-stage-buttons" class="list-no-bullets">
          <li><button id="Featured">Featured</button></li>
          <li><button id="Official">Official</button></li>
          <li><button id="Beta">Beta</button></li>
          <li><button id="Alpha">Alpha</button></li>
          <li><button id="Experiment">Experiment</button></li>
        </ul>
        <!-- <a href="{{next}}" class="button-inactive">More Projects</a> -->
      </div>

      <div id="projects" class="layout-major grid">

        {% for project in projects %}
          <div class="grid-item {{ project.status }} {{ project.tags }}">
            <h3>{{project.name}}</h3>
            {% if project.link_url %}
              <p><a href="{{project.link_url}}" class="icon-rocket">{{project.link_url}}</a></p>
            {% endif %}

            {% if project.code_url %}
              <p><a href="{{project.code_url}}" class="icon-github2">{{project.code_url}}</a></p>
            {% endif %}

            <p>{{project.description}}</p>

            <!-- {% for contributor in project.github_details.contributors %}
              <img height="40" width="40" src="{{ contributor.avatar_url }}&s=40" style="border-radius: 5px;"/>
            {% endfor %} -->

            <p><small>Last Updated: {{project.last_updated | timesince}}</small></p>
          </div>

        {% endfor %}

      </div>

    </div>


  </section>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>

<script>
  var $grid = $('.grid').isotope({
    // options
    itemSelector: '.grid-item',
    layoutMode: 'fitRows'
  });

  // filters
  $("#Featured").click(function(e){
    $grid.isotope({ filter: '.featured' });
  })

  $("#Official").click(function(e){
    $grid.isotope({ filter: '.Official' });
  })

  $("#Beta").click(function(e){
    $grid.isotope({ filter: '.Beta' });
  })

  $("#Alpha").click(function(e){
    $grid.isotope({ filter: '.Alpha' });
  })

  $("#Experiment").click(function(e){
    $grid.isotope({ filter: '.Experiment' });
  })

  </script>
{% endblock %}
