{% extends "base.html" %}

{% block content %}
<section id="signup-form-builder">
  <div class="layout-semibreve">

    <h1>Brigade Signup Form Builder</h1>

    <form id="signup-form-builder" class="spotlight">

      <ol class="list-form">
        <li class="form-field">
          <label for="brigadeid">Choose Your Brigade</label>
          <select id="brigadeid">
            <option>Choose your Brigade</option>
            {% for brigade in brigades %}
            <option value="{{brigade}}">{{brigade}}</option>
            {% endfor %}
          </select>
        </li>

        <li id="mc_li" class="form-field">
          <label for="mailchimp_url">Optional Mailchimp URL</label>
          <input id="mailchimp_url" type="text" />
        </li>

      </ol>
    </form>

    <textarea id="signupform-code">

      <form method="POST" action="https://www.codeforamerica.org/brigade/signup">

        <label for="first_name"> First Name </label>
        <input id="first_name" placeholder="Ben" type="text">

        <label for="last_name"> Last Name </label>
        <input id="last_name" placeholder="Franklinn" type="text">

        <labe for="email"> Email </label>
        <input id="email" placeholder="benfranklin@codeforamerica.org" type="email">

        <input type="submit" value="Sign Up">

      </form>

  </textarea>

  </div>
</section>
  {% endblock %}

  {% block js %}
  <script>

    $( document ).ready( function(){

      // Start of the signupform-code
      signupform_code_start = `
      <form method="POST" action="https://www.codeforamerica.org/brigade/signup">

        <label for="first_name"> First Name </label>
        <input id="first_name" placeholder="Ben" type="text">

        <label for="last_name"> Last Name </label>
        <input id="last_name" placeholder="Franklinn" type="text">

        <labe for="email"> Email </label>
        <input id="email" placeholder="benfranklin@codeforamerica.org" type="email">
    `

      signupform_code_end = `
        <input type="submit" value="Sign Up">

      </form>
    `

      // When values change, edit the code
      $("#brigadeid").change(function(e){

        brigadeid = $("#brigadeid").val();
        brigadeid = brigadeid.replace(/\s/g,"-");


        brigadeid_code = `
        <!-- Your Brigade's CfAPI id -->
        <input name="brigade_id" type="hidden" value="` + brigadeid + `">
      `

        signupform_code = signupform_code_start + brigadeid_code + signupform_code_end
        $("#signupform-code").text(signupform_code);

      });

      // When values change, edit the code
      $("#mailchimp_url").change(function(e){

        $("#cleanli").show();

        mailchimp_url = $("#mailchimp_url").val();

        clean_mailchimp_url = mailchimp_url.replace("post?", "post-json?");
        $("#mailchimp_url").val(clean_mailchimp_url);
        $("#mc_li").append('<small>We added "post-json" to make it work right.</small>');

        mailchimp_url_code = `
        <!-- Your Optional Mailchimp Url -->
        <input name="mailchimp_url" type="hidden" value="` + clean_mailchimp_url + `">
      `

        signupform_code = signupform_code_start + mailchimp_url_code + signupform_code_end
        $("#signupform-code").text(signupform_code);

      });

      $("#signup-form-builder").submit(event, function(){
        event.preventDefault();
        console.log("WHAT");
      })


// codeforamerica.us2.list-manage.com/subscribe/post?u=d9acf2a4c694efbd76a48936f&amp;id=3ac3aef1a5


    });

  </script>

  {% endblock %}
