{% extends "base.html" %}

{% block content %}

<div class="layout-semibreve">

  <h2>Project stages for volunteer built civic technology</h2>

  <ol>
    <li><a href="#experiment">Experiment</a></li>
    <li><a href="#alpha">Alpha</a></li>
    <li><a href="#beta">Beta</a></li>
    <li><a href="#official">Official</a></li>
  </ol>

</div>

<div class="stage layout-semibreve" id="experiment">
  <h1>Experiment</h1>
  <p>Experiments are explorations into a civic problem. They involve lots of research, lots of listening to local experts, and lots of throw-away code. Almost every project should start out as an experiment and most projects should stay as experiments.</p>

  <div class="layout-minim">

    <ul>
      <h4>Experiment Stage Theme:</h4>
      <li>
        <a href="http://i.imgur.com/92CmgYB.jpg">Make many things!!1!</a>
      </li> 
    </ul>

    <ul class="list-no-bullets">
      <h4>Your project is an experiment if:</h4>
      <li class="icon-checkmark">You haven't talked to users yet</li>
      <li class="icon-checkmark">Your Brigade hasn't endorsed it yet</li> 
    </ul>

    <ul>
      <h4>Requirements</h4>
      <li>All Brigade projects should be respectful and be cool under the <a href="https://github.com/codeforamerica/codeofconduct">code of conduct</a>.</li>
    </ul>

  </div>

  <div class="layout-minim">

    <ul>
      <h4>What the project team should be doing:</h4>
      <li>Listening to the community about civic problems</li>
      <li>Researching those problems</li>
      <li>Lots of experiments</li>
    </ul>

    <ul>
      <h4>What the Brigade should be doing:</h4>
      <li>Organizing hack nights</li>
      <li>Inviting community and government experts in</li>
      <li>Make infrastructure and resources easily accessible</li>
      <li>Show off the other experiments</li>
    </ul>

    <ul>
      <h4>What Code for America should be doing:</h4>
      <li>Getting <a href="http://www.codeforamerica.org/brigade/tools/">donated resources</a></li>
      <li><a href="http://www.codeforamerica.org/blog/tag/civictech/">Show off experiments</a></li>
    </ul>

  </div>

</div>

<div class="stage layout-semibreve" id="alpha">

  <h1>Alpha</h1>

  <p>Alpha projects have shown that with a little bit of work, they may be able to actually solve one persons problem. We've also got some recommendations that we've seen as helpful for volunteer built projects.</p>

  <div class="layout-minim">

    <ul>
      <h4>Alpha Stage Theme:</h4>
      <li>Solve one person's problem</li> 
    </ul>

    <ul class="list-no-bullets">
      <h4>Your project is an Alpha if:</h4>
      <li class="icon-checkmark">Your Brigade has approved the project</li>
      <li class="icon-checkmark">You've got a project owner</li>
      <li class="icon-checkmark">You've got something online to share</li>
    </ul>

    <ul>
      <h4>Requirements</h4>
      <li>A project owner</li>
      <li>The project is listed on the <a href="https://github.com/codeforamerica/cfapi#the-code-for-america-api">Code for America API</a></li>
    </ul>

  </div>

  <div class="layout-minim">

    <ul>
      <h4>What the project team should be doing:</h4>
      <li>Choose a project owner</li>
      <li>Write a clear <a href="https://github.com/codeforamerica/howto/blob/master/Good-READMEs.md">README</a></li>
      <li>Make the project accessible for others who <a href="http://www.codeforamerica.org/geeks/civicissues">want to help</a></li>
      <li>Start with agile development</li>
      <li>Start <a href="http://forum.codeforamerica.org/t/free-usertesting-com-videos-for-brigades/161">user testing</a></li>
    </ul>

    <ul>
      <h4>What the Brigade should be doing:</h4>
      <li><a href="">Approve</a> the project</li>
      <li>Add to their <a href="https://github.com/codeforamerica/cfapi#how-to-add-your-brigade-to-the-api">project list</a></li>
      <li>Help with <a href="http://forum.codeforamerica.org/t/2015-august-12-how-to-start-a-civic-user-testing-group-cutgroup/248">user testing</a></li>
    </ul>

    <ul>
      <h4>What Code for America should be doing:</h4>
      <li>Promote with the <a href="http://www.codeforamerica.org/brigade/projects">Project Search</a> page</li>
      <li>Get help for the project with the <a href="https://www.codeforamerica.org/geeks/civicissues">Civic Issue Finder</a></li>
      <li>Produce examples and guides for how to write good issues</li>
      <li>Produce agile and project management content</li>
      <li>User testing resources and support</li>
      <li>Project planning office hours</li>
    </ul>

  </div>

</div>

<div class="stage layout-semibreve" id="beta">

  <h1>Beta</h1>

  <p>Beta projects blah blah blah</p>

  <div class="layout-minim">

    <ul>
      <h4>Beta Stage Theme:</h4>
      <li>Moaaar users</li> 
    </ul>

    <ul class="list-no-bullets">
      <h4>Your project is an beta if:</h4>
      <li class="icon-checkmark">You've done user testing</li>
      <li class="icon-checkmark">You've got a partner</li>
    </ul>

    <ul>
      <h4>Requirements</h4>
      <li>A government or community partner</li>
    </ul>

  </div>

  <div class="layout-minim">

    <ul>
      <h4>What the project team should be doing:</h4>
      <li>Talking to users</li>
      <li>Agile development</li>
      <li>Get more users</li>
      <li>Writing tests</li>
    </ul>

    <ul>
      <h4>What the Brigade should be doing:</h4>
      <li>Formalize government or community partner</li>
      <li>Help decide on metrics to measure for impact</li>

    </ul>

    <ul>
      <h4>What Code for America should be doing:</h4>
      <li><a href="http://www.codeforamerica.org/brigade/projects/monitor"Civic Tech Project Monitor</a></li>
      <li>Engineering office hours</li>
    </ul>

  </div>

</div>

<div class="stage layout-semibreve" id="official">

  <h1>Official</h1>

  <p>Official projects  blah blabb bblah</p>

  <div class="layout-minim">

    <ul>
      <h4>Experiment Stage Theme:</h4>
      <li>Impact</li> 
    </ul>

    <ul class="list-no-bullets">
      <h4>Your project is official if:</h4>
      <li class="icon-checkmark">You can prove the impact</li>
    </ul>

    <ul>
      <h4>Requirements</h4>
      <li>A launch party</li>
      <li>Published analytics and metrics</li>
    </ul>

  </div>

  <div class="layout-minim">

    <ul>
      <h4>What the project team should be doing:</h4>
      <li>Talking to users</li>
      <li><a href="https://github.com/datamade/site-launch-checklist">Polish for launch</a></li>
      <li>Analytics</li>
    </ul>

    <ul>
      <h4>What the Brigade should be doing:</h4>
      <li>Launch party</li>
      <li>Help spread project</li>
      <li>Metrics to measure impact</li>

    </ul>

    <ul>
      <h4>What Code for America should be doing:</h4>
      <li>Celebrate launched projects</li>
      <li>Marketing office hours</li>
      <li>Analytics support</li>
      <li>Metrics office hours</li>
    </ul>

  </div>

</div>

{% endblock %}