<header class="page-id">
  <h1>
    Challenges
  </h1>
</header>

<% if @challenges.empty? %>
  <h3> There aren't any publicly visible challenges at this time. </h3>
<% else %>

  <table class="all-cities" cellpadding="4" id="sortable">
    <thead>
      <tr>
        <th>Challenge</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @challenges.each do |challenge| %>
        <tr class="<%= cycle "odd", "even" %>">
          <td><%= challenge.i_statement %></td>
          <td><%= challenge.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
