@import 'styling-dependencies';

.deployed-application-card{
  width: 150px;

  .application-name{
    font-weight: bold;
  }
}

#flipper-outer-shell {
    clear: both;
    margin: 18px auto 20px auto;
    width: 1000px;
    position: relative;

    &:before {
      width: 40px;
      height: 290px;
      content: "";
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      background: url('/assets/fade-left.png') top left no-repeat;
    }
    &:after {
      width: 40px;
      height: 290px;
      content: "";
      position: absolute;
      z-index: 999;
      top: 0;
      right: 0;
      background: url('/assets/fade-right.png') top left no-repeat;
    }

  #app-flipper {
    height: 290px;
    overflow: auto;
    position: relative;

    .shell {
      width: 1725px;
      height: 200px;
      margin-left: 40px;
    }

    .application-card,
    .deployed-application-card {
      font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
      @include box-shadow(
        0 1px 0 #fff,
        0 2px 6px darken($oatmeal, 25%) inset,
        0 0 10px #d7d7d7
      );
      float: left;
      padding: 20px 10px;
      background: $oatmeal;
      margin: 20px 20px 0 0;
      @include border-radius(5px);
      text-align: center;
      min-height: 215px;
      position: relative;
      width: 150px;

      &.active {
        cursor: wait;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          background: transparentize(#111, 0.3);
          @include border-radius(5px);
          @include box-shadow(0 0 8px #000 inset);
          width: 170px;
          height: 100%;
          z-index: 999;
          content: "{";
          font-family: 'ModernPictogramsNormal';
          color: #ebebeb;
          text-shadow: 0 1px 0 #000;
          font-size: 90px;
          line-height: 240px;
        }
      }

      .deploy-button {
        @include border-radius(5px);
        @include linear-gradient(lighten(#0072ac, 10%), #0072ac);
        @include box-shadow(
          0 1px 0 lighten(#0072ac, 20%) inset,
          0 1px 3px darken($oatmeal, 40%),
          0 4px 6px darken($oatmeal, 25%)
        );
        text-shadow: 0 1px 0 lighten(#0072ac, 13%);
        border: 1px solid darken(#0072ac, 10%);
        padding: 6px 3px;
        width: 82%;
        font-family: 'Avenir Heavy', Helvetica, Arial, sans-serif;
        font-weight: 500;
        position: absolute;
        bottom: 10px;
        cursor: pointer;

        &:active {
          @include box-shadow(
            0 2px 4px darken(#0072ac, 20%) inset,
            0 2px 20px darken(#0072ac, 5%) inset,
            0 1px 0 #fff
          );
        }
      }

      dd {
        .location-count,
        .commit-count {
          width: 75px;
          float: left;
          margin-top: 10px;
          font-family: 'Avenir Heavy', Helvetica, Arial, sans-serif;
          color: darken($oatmeal, 50%);
          text-shadow: 0 1px 0 #fff;

        .location-count {
          text-align: left;
        }
        .commit-count {
          text-align: right;
        }

          .count {
            font-size: 36px;
          }
          .label {
            font-size: 8px;
            text-transform: uppercase;
          }
        }
      }

      a {
        color: black;
        text-decoration: none;
      }

      dt {
        strong {
          font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
          font-weight: 500;
          font-size: 120%;
          color: darken($oatmeal, 55%);
        }
      }

      dt.icon {
        font-family: 'ModernPictogramsNormal';
        color: darken($oatmeal, 25%);
        font-size: 72px;
        text-shadow: 0 1px 0 #fff;
      }
    }
  }
}

.button {
  background: #f7941d;
  @include border-radius(3px);
  @include linear-gradient(lighten(#f7941d, 20%) 30%, #f7941d);
  padding: 6px 3px;
  margin: 10px 0 -10px 0;
  font-family: 'Avenir Heavy', Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: 1px solid darken(#f7941d, 30%);
  @include box-shadow(0 1px 0 lighten(#f7941d, 90%) inset, 0 2px 8px darken($orange, 25%));
}

.hidden{
  display: none;
}

table.small-stats {
  td.deploy-count {
    height: 18px;
  }
}
