@charset "utf-8";
/* CSS Document */

.campaign-header {
    font-weight:500;
}

.cities {
    height:25px;
}

.menu {
    font-family:'Avenir Light', Helvetica, Arial, sans-serif;
    font-size:30px;
    color:#444444;
    padding-left:20px;
    padding-right:20px;
}

.menu:hover {
    text-decoration:underline;
    color:#cf1b41;
}

h1#join-section {
    margin-top:6px;
    margin-left:30px;
    margin-bottom:10px;
}


.map {
    width: 460px;
    float: left;
    margin-left:25px;
}

.map-box {
    width: 460px;
}

.map-box-inner {
    background-color: #f5f5f5;
    border: 5px solid white;
    margin-top: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px #aaa;
}

.rShim {
    align:center;
}
