@import 'styling-dependencies';

#challenge-form{
  padding: 0;
  margin: 20px auto 0 auto;

  form {
    padding: 0;
    margin: 0;
  }

  .wordbox {
    width: 500px;
    margin: 10px auto 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 0;
    display: block;
  }

  h1 {
    font-size: 525%;
    color: $truered;
    text-align: center;
  }

  h3 {
    font-size: 150%;
    color: #0072ac;
    text-transform: none;
    text-align: center;
  }

  .amp {
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
  }

  input[type="text"]{
    font-family: 'RockSaltRegular';
    color: $mud;
    @include box-shadow(none);
    border: 0;
    border-bottom: 1px dashed $mud;
    @include border-radius(0);
    padding: 19px;
    font-size: 24px;
    text-align: center;
    position: relative;
    width: 95%;

    &:focus {
      outline: none;
    }
  }

  input[type='button']{
    margin: 0;
  }
}
