/* Colors
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
$navy: #142949;
$lime: #598527;
$mdblue: #124080;
$orange: #da3c11;
$cornflower: #8299c3;
$umber: #9e1c0b;
$mud: #362f2d;
$oatmeal: #dedbd7;
$truered: #cd263f;