@font-face {
    font-family: 'Avenir Heavy';
    src: url('/assets/avenirltstd-heavy-webfont.eot');
    src: url('/assets/avenirltstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/avenirltstd-heavy-webfont.woff') format('woff'),
         url('/assets/avenirltstd-heavy-webfont.ttf') format('truetype'),
         url('/assets/avenirltstd-heavy-webfont.svg#AvenirLTStd85Heavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('/assets/avenirltstd-light-webfont.eot');
    src: url('/assets/avenirltstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/avenirltstd-light-webfont.woff') format('woff'),
         url('/assets/avenirltstd-light-webfont.ttf') format('truetype'),
         url('/assets/avenirltstd-light-webfont.svg#AvenirLTStd35Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('/assets/avenirltstd-medium-webfont.eot');
    src: url('/assets/avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/avenirltstd-medium-webfont.woff') format('woff'),
         url('/assets/avenirltstd-medium-webfont.ttf') format('truetype'),
         url('/assets/avenirltstd-medium-webfont.svg#AvenirLTStd65Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ModernPictogramsNormal';
    src: url('/assets/modernpics-webfont.eot');
    src: url('/assets/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/modernpics-webfont.woff') format('woff'),
         url('/assets/modernpics-webfont.ttf') format('truetype'),
         url('/assets/modernpics-webfont.svg#ModernPictogramsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RockSaltRegular';
    src: url('/assets/RockSalt-webfont.eot');
    src: url('/assets/RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/RockSalt-webfont.woff') format('woff'),
         url('/assets/RockSalt-webfont.ttf') format('truetype'),
         url('/assets/RockSalt-webfont.svg#RockSaltRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1 {
  font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
  font-size: 280%;
  letter-spacing: -0.06em;
  color: $truered;
  font-weight: lighter;
}
.sidebar {
  h1 {
    font-size: 200%;
  }
}
h2 {
  font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
  font-size: 180%;
  color: #444;
  letter-spacing: -0.06em;
  //color: transparentize($mdblue, 0.6);
  color: darken($oatmeal, 60%);
  text-shadow: 0 1px 0 #fff;
  padding: 20px 0;
}
h3 {
  font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
  font-size: 90%;
  color: #444;
  letter-spacing: -0.06em;
  color: $truered;
  text-transform: uppercase;
}
h6 {
  line-height: 30px;
  //color: darken($oatmeal, 40%);
  color: $orange;
}
p {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size: 120%;
  line-height: 1.6em;
  color: #555;
  margin-top: 10px;
}
.icon {
  font-family: 'ModernPictogramsNormal';
  font-size: 14px;
  text-align: center;
  text-transform: none;
}

.capitalized-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 110%;
}
.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: lighter;
}
