@import 'styling-dependencies';

footer {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid $oatmeal;
  clear: both;

  .content {
    padding: 0;
    width: 940px;
    position: relative;

    #challenge_content {
      position: absolute;
      right: 5px;
      top: -10px;
    } 
  }

  p {
    font-size: 90%;
  }

  a {
    text-decoration: none;
    color: #0072ac;
  }
}
