input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size: 120%;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #d7d7d7;
  padding: 10px;
  @include border-radius(4px);
  @include box-shadow(0 1px 0 #fff);
}

input[type="submit"] {
  background: $lime;
  @include linear-gradient(lighten($lime, 20%) 30%, $lime);
  padding: 10px;
  margin: 10px 0 -10px 0;
  font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 110%;
  text-shadow: 0 1px 0 lighten($lime, 20%);
  color: darken($lime, 20%);
  border: 1px solid darken($lime, 15%);
  @include box-shadow(0 1px 0 lighten($lime, 40%) inset, 0 2px 3px darken($lime, 10%));
  float: right;
}
label {
  font-family: 'Avenir Heavy', Helvetica, Arial, sans-serif;
  font-size: 100%;
  display: block;
  color: #555;
  margin-bottom: 10px;
}