<style type='text/css'>
  .graph-legend {
    float: right;
  }
  .graph-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
    }
  .graph-legend .legend-scale ul {
    margin: 0;
    margin-left: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .graph-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    display: block;
    }
  .graph-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .graph-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .graph-legend a {
    color: #777;
    }
  .repo_chart_list {
    padding: 0px;
    margin: 0px;
  }
  .chartList {
    margin: 0;
    padding: 0;
    float: left;
  }
  .chartList li {
    list-style-type: none;
  }
</style>