@import 'styling-dependencies';

#three-up {
  width: 980px;
  margin: 0 auto 0 auto;

  .column {
    float: left;
    padding: 20px;
    width: 280px;
  }
}

#hacking-form{
  padding: 0;
  margin: 0 auto 0 auto;

  .wordbox {
    background: url('/assets/homepage-input-label.png') bottom center no-repeat;
    padding-bottom: 18px;
  }

  h1 {
    font-size: 525%;
    color: $truered;
  }

  h3 {
    font-size: 150%;
    color: #0072ac;
    text-transform: none;
    text-align: center;
  }

  .stars {
    width: 120px;
    margin: 0 auto 20px auto;
    font-family: 'ModernPictogramsNormal';
    //color: #d7d7d7;
    color: $truered;
    font-size: 24px;
    letter-spacing: 0.7em;
    line-height: 20px;
  }

  .amp {
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
  }

  input[type="text"]{
    font-family: 'RockSaltRegular';
    color: $mud;
    border: 0;
    border-bottom: 1px dashed $mud;
    @include border-radius(0);
    padding: 0;
    width: 200px;
    font-size: 24px;
    text-align: center;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  input[type='submit']{
    margin: 0;
  }
}

ul.ui-autocomplete {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;

  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}
