@import 'styling-dependencies';

#map {
  float: left;
  width: 540px;
  padding-right: 40px;
}
form {
  margin-top: 20px;
  background: transparentize($lime, 0.5);
  padding: 20px 20px 35px;
  @include border-radius(10px);

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 92%;
    border: 0;
    @include box-shadow(none);
  }
  label {
    color: darken($lime, 10%);
  }
}

section#app-spinner {
  .content {
    padding-right: 0;
    width: 940px;

  }
}
