#map {
  float: left;
  width: 540px;
  padding-right: 40px;
}
form {
  margin-top: 20px;
  background: transparentize($lime, 0.5);
  padding: 20px 20px 35px;
  @include border-radius(10px);

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 92%;
    border: 0;
    @include box-shadow(none);
  }
  label {
    color: darken($lime, 10%);
  }
}

section#app-spinner {
  .content {
    padding-right: 0;
    width: 940px;

    dl {
      font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
      float: left;
      border: 1px solid darken($orange, 25%);
      padding: 20px 10px;
      background: $orange;
      margin: 20px 20px 0 0;
      width: 110px;
      @include border-radius(5px);
      @include box-shadow(0 0 5px darken($orange, 25%) inset, 0 1px 0 #fff);
      @include linear-gradient($orange, darken($orange, 20%));
      color: darken($orange, 40%);
      text-align: center;

      dt {
        strong {
          font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
          font-weight: 500;
        }
      }

      dt.icon {
        font-family: 'Pictos';
        color: darken($orange, 15%);
        font-size: 500%;
        margin-top: -60px;
        padding: 0;
        text-shadow: 0 1px 0 lighten($orange, 10%);
      }
    }
  }
}

.button {
  background: #f7941d;
  @include border-radius(3px);
  @include linear-gradient(lighten(#f7941d, 20%) 30%, #f7941d);
  padding: 6px 3px;
  margin: 10px 0 -10px 0;
  font-family: 'Avenir Heavy', Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: 1px solid darken(#f7941d, 30%);
  @include box-shadow(0 1px 0 lighten(#f7941d, 90%) inset, 0 2px 8px darken($orange, 25%));
}

footer {
  background: darken($oatmeal, 10%);
  width: 100%;
}
