@import 'styling-dependencies';

#two-up {
  width: 980px;
  margin: 0px auto 0 auto;

  .left-column {
    float: left;
    padding: 20px;
    width: 220px;

    h3 {
      color: $cfa-red;
    }

    a {
      color: #0072AC;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $cfa-red;
      }

    }
  }

  .right-column {
    float: left;
    padding: 20px;
    width: 440px;
  }
}

#three-up {
  width: 980px;
  margin: 0px auto 0 auto;

  .left-column {
    float: left;
    width: 220px;
    padding: 10px 20px 10px 20px;

    h3 {
      color: $cfa-red;
    }

    a {
      color: #0072AC;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $cfa-red;
      }

    }
  }

  .center-column {
    float: left;
    width: 360px;
    padding: 10px 20px 10px 20px;
  }

  .right-column {
    float: left;
    padding: 10px 20px 10px 20px;
    width: 260px;
  }
}

#how {
  tr {

  }

  td {
    padding: 6px;
    font-family: 'Gudea';
    color: $cfa-gray;
    font-size: 120%;
  }
}

#hacking-form{
  padding: 0;
  margin: 0px auto 0 auto;

  .wordbox {
  }

  h1 {
    font-size: 325%;
    color: $cfa-blue;
  }

  h3 {
    font-size: 145%;
    color: $cfa-blue;
    text-transform: none;
    text-align: center;
    margin-top: 10px;
    font-family: 'Avenir Light', 'Avenir Medium', Helvetica;
  }

  .amp {
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
  }

  input[type="text"]{
    font-family: 'Gudea', san-serif;
    color: $mud;
    border: 0;
    border-bottom: 1px dashed $mud;
    @include border-radius(0);
    width: 220px;
    font-size: 18px;
    text-align: center;
    position: relative;

    &:focus {
      outline: none;
    }
  }

  input[type='submit']{
    margin: 0;
  }
}
.complete-list-link {
  width: 500px;
  margin: auto;
  padding-top: 20px;
  text-align: center;

  a.see-more {
    font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
    color: #0072ac;
    text-decoration: none;
    font-size: 18px;
  }
}

ul.ui-autocomplete {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;

  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

img.home_three {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

