@import 'styling-dependencies';

#map {
  float: left;
  width: 540px;
  padding-right: 40px;
}
form {
  margin-top: 20px;
  background: transparentize($lime, 0.5);
  padding: 20px 20px 35px;
  @include border-radius(10px);

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 92%;
    border: 0;
    @include box-shadow(none);
  }
  label {
    color: darken($lime, 10%);
  }
}

#hacking_form{
  margin: -10px 0 30px 0;
  padding: 20px;

  input[type="text"]{
    width: 85%;
    border: 0;
    margin-bottom: 0;
    @include box-shadow(none);
  }

  input[type='submit']{
    margin: 0;
  }
}

ul.ui-autocomplete {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

section#app-spinner {
  .content {
    padding-right: 0;
    width: 940px;

  }
}
