@import "colors";

/* Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header#top-deck {
  width: 100%;
  background: $mud;
  font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;

  a.logo {
    display: block;
    width: 200px;
    height: 100px;
    float: left;
    position: relative;
    top: -12px;
    left: -10px;
    background: url('/assets/logo.png') center center no-repeat;
    margin-right: 20px;
  }

  nav {
    overflow: auto;
    color: transparentize(#fff, 0.4);

    ul {
      list-style: none;
      margin-top: 20px;

      li {
        float: left;
        padding: 10px;

        a {
          color: transparentize(#fff, 0.4);
          text-decoration: none;
        }

        &.active a { 
          color: #0072ac; 
        }
      }
    }
    &.primary {
      float: left;
    }
    &.admin {
      float: right;
    }
  }
}

