@import "bourbon";
@import "colors";
@import "styling-dependencies";

/* Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header#top-deck {
  width: 100%;
  height: 100px;
  font-family: 'Gudea', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  overflow:hidden;
  position:relative;

  a.logo {
    display: block;
    width: 200px;
    height: 100px;
    float: left;
    position: relative;
    top: -32px;
    left: -10px;
    background: url('/assets/logo.png') center center no-repeat;
    margin-right: 20px;
    clear: both;
  }

  nav {
    color: transparentize(#fff, 0.4);
    margin: 0 0 -40px -10px;

    .talker {
      width: 390px;
      padding: 10px;
      @include border-radius(0 0 5px 5px);
      position: relative;
      left: 20px;
      display: none;
      font-style: italic;
      color: $mud;
      font-family: $georgia;
      line-height: 10px;
    }

    ul {
      position:relative;
      list-style: none;
      margin: 0;

      li {
        float: left;
        padding: 10px 10px 14px;
        cursor: pointer;

        a {
          color: transparentize(#333, 0.4);
          text-decoration: none;
        }

        &.active a {
          color: #0072ac;
          background: rgba(255, 255, 255, 0);
          padding: 10px 10px 14px;
          @include border-radius(5px 5px 5px 5px);
        }

        &:hover {
          a {
            color: #ce263f;
          }
        }
      }
    }

    &.primary {
      float: left;
      clear: both;
      position: absolute;
      left: 240px;

      li {
        font-size: 18px;
      }
    }

    &.admin {
      background: transparent;
      position: absolute;
      top: 30px;
      right: 30px;
      a{
        cursor: pointer;
      }
      a.btn{
        color: $lime;
      }

      a.btn-info{
        color: black;
        text-decoration: none;
        text-shadow: 0 1px 0 #009EEE;
      }
    }
  }
}

footer#top-deck {
  width: 100%;
  height: 100px;
  background: lighten($cfa-gray, 75%);
  font-family: 'Gudea', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;

  a.logo {
    display: block;
    width: 200px;
    height: 100px;
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
    background: url('/assets/logo.png') center center no-repeat;
    margin-right: 20px;
    clear: both;
  }

  ul {
    list-style: none;
    margin: 0;

    li {
     scursor: pointer;

      a {
        color: transparentize(#333, 0.4);
        text-decoration: none;
      }

      &.active a {
        color: #0072ac;
      }

      &:hover {
        a {
          color: #ce263f;
        }
      }
    }
  }
}

