@import "bourbon";
@import "colors";

/* Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header#top-deck {
  width: 100%;
  background: $mud;
  font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;

  a.logo {
    display: block;
    width: 200px;
    height: 100px;
    float: left;
    position: relative;
    top: -12px;
    left: -10px;
    background: url('/assets/logo.png') center center no-repeat;
    margin-right: 20px;
    clear: both;
  }

  nav {
    color: transparentize(#fff, 0.4);
    margin: 0 0 -40px -10px;

    .talker {
      width: 390px;
      padding: 10px;
      @include border-radius(0 0 5px 5px);
      position: absolute;
      top: 190px;
      left: 20px;
      display: none;
      font-style: italic;
      color: $mud;
      font-family: $georgia;
      line-height: 10px;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        float: left;
        padding: 10px 10px 14px;
        cursor: pointer;

        a {
          color: transparentize(#fff, 0.4);
          text-decoration: none;
        }

        &.active a {
          color: #0072ac;
          background: #fff;
          padding: 10px 10px 14px;
          @include border-radius(5px 5px 0 0);
        }

        &:hover {
          a {
            color: #0072ac;
          }
        }
      }
    }

    &.primary {
      float: left;
      clear: both;

      li {
        font-size: 120%;
      }
    }

    &.admin {
      color: #222;
      position: absolute;
      top: 30px;
      right: 30px;
      a{
        cursor: pointer;
      }
      a.btn{
        color: $lime;
      }

      a.btn-info{
        color: #333;
      }
    }
  }
}

