@import "bourbon";
@import "colors";

/* Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header#top-deck {
  width: 100%;
  background: $mud;
  font-family: 'Avenir Medium', Helvetica, Arial, sans-serif;
  margin-bottom: 10px;

  a.logo {
    display: block;
    width: 200px;
    height: 100px;
    float: left;
    position: relative;
    top: -12px;
    left: -10px;
    background: url('/assets/logo.png') center center no-repeat;
    margin-right: 20px;
  }

  nav {
    overflow: hidden;
    color: transparentize(#fff, 0.4);
    padding-bottom: 30px;
    position: relative;
    margin-top: -18px;

    .talker {
      width: 94%;
      background: darken($mud, 5%);
      @include linear-gradient(darken($mud, 5%), $mud);
      padding: 10px;
      @include border-radius(5px);
      position: absolute;
      bottom: 0;
      display: none;
      font-style: italic;
      color: transparentize($oatmeal, 0.5);
      font-family: $georgia;
    }

    ul {
      list-style: none;
      margin: 20px 0 10px 0;

      li {
        float: left;
        padding: 10px;
        cursor: pointer;

        a {
          color: transparentize(#fff, 0.4);
          text-decoration: none;
        }

        &.active a {
          color: #0072ac;
        }

        &:hover {
          background: darken($mud, 5%);
          @include border-radius(5px);
        }
      }
    }
    &.primary {
      float: left;
    }
    &.admin {
      float: right;
    }
  }
}

