/*
 *= require campaigns
 */
p.ndoch-big {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size:28px;
  color:#6D6E71;
}

p.ndoch-medium {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size:22px;
  color:#6D6E71;
}

p.ndoch-small {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size:18px;
  color:#6D6E71;
}

ul.ndoch-medium li {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size:22px;
  color:#6D6E71;
  padding:4px;
}