.btn.massive {
    font-size: 22px;
  background-color: #EAEAEA;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(35%, #ffffff), to(#CCC));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 35%, #CCC);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 35%, #CCC);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 35%, #CCC);
  background-image: -o-linear-gradient(#ffffff, #ffffff 35%, #CCC);
  background-image: linear-gradient(#ffffff, #ffffff 35%, #CCC);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#CCC', GradientType=0);
}

.massive {
    height: 150px;
    width: 100%;
    padding: 0px;
}

.btn.massive:hover {
    background-color: #CCC;
    background-position: 0 -25px;
}

div.form-actions.impact-submit {
    padding: 0px;
}

span.orange {
    color: #FFC700;
    text-decoration: none;
}

div.open-li {
    padding: 0px 0px;
    margin-bottom: 10px;
}

div.open-li ul {
    padding-left: 25px;
}

.caps {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.ocall {
    margin-bottom: 10px;
}

img.gov {
    margin-top: 8px;
    margin-bottom: 10px;
    height: 100px;
/*width: 150px;*/
}

.stepup {
    text-align: center;
    margin:0;
    padding:0;
}

.form-horizontal .control-group > label {
    width: 30px;
}

.form-horizontal .controls {
    margin-left: 60px;
}

div.form-actions.impact-submit {
    margin-bottom: 0px;
}

div.drop-content {
    margin-top: 30px;
}

.btn-osubmit {
    background-color: hsl(0, 0%, 24%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#707070", endColorstr="#3d3d3d");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#707070), to(#3d3d3d));
    background-image: -moz-linear-gradient(top, #707070, #3d3d3d);
    background-image: -ms-linear-gradient(top, #707070, #3d3d3d);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #707070), color-stop(100%, #3d3d3d));
    background-image: -webkit-linear-gradient(top, #707070, #3d3d3d);
    background-image: -o-linear-gradient(top, #707070, #3d3d3d);
    background-image: linear-gradient(#707070, #3d3d3d);
    border-color: #3d3d3d #3d3d3d hsl(0, 0%, 19%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
    margin-left: 260px;
    margin-top: 10px;
}

.collapse {
    margin-bottom: 30px;
}

.hero {
    padding: 30px 60px;
    margin: 30px 0;
    background-color: whiteSmoke;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

blockquote p {
    font-size: 14px;
    line-height: 20px;
}

li {
    line-height: 27px;
}

h3.impact {
    color: #FFC700;
}

/*h2 {
    padding: 20px 0 0 0;
}*/

/* Open Impact Page headers */

.pledge {
    width: 500px;
    float: right;
    margin-left:50px;
}

.pledge-form {
    width: 500px;
}

.pledge-form-inner {
    background-color: #f5f5f5;
    border: 5px solid white;
    margin-top: 5px;
    padding: 15px;
    box-shadow: 0px 0px 10px #aaa;
}

.pledge-form-content h2 {
    padding:0;
    margin-bottom:15px;
}

.pledge-form-content h3 {
    margin-top:10px;
}

.pledge-form-content ul {
    margin-top:10px;
}

.pledge-form-content ul li {
    font-size: 14px;
    line-height:24px;
}

.pledge-form-learn-more {
    color: #CE263F;
    cursor:pointer;
}

.pledge-menu {
    width:400px;
}

.pledge-menu .ocall {
    text-align:justify;
}

.pledge-menu ul.nav {
    display:inline;
}

.pledge-menu ul.nav li {
    margin: 10px 0 5px 0;
}

/* Pill Nav yellow styling */

ul.nav li a {
    background-color: #FDB63E;
    color: #FFF;
    font-weight: bold;
}

ul.nav li a:hover {
    color: #FDB63E;
}

/* Wufoo forms */

.wufoo {
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    padding: 10px;
}

.wufoo .info {display:none}
.wufoo header {display:none;}


/* Page content styles */

.content-wrap {
    margin-top:40px;
}

h1.section-header {
    margin:40px 0 20px 0;
}

h2.subsection-header {

}

.content-header {
    cursor: pointer;
    margin: 10px 0 0 0;
    background-color: #FEB73E;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.content-header h2 {
    padding: 5px 0 5px 20px;
}

.content-wrap section {
    margin: 20px 0 20px 0;
    background-color: #EAEAEA;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    -ms-border-radius: 0 0 6px 6px;
    -o-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.content-wrap section.rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.content-wrap section.drop-content.collapse {
    margin: 0;
}

.content-wrap section .section-inner {
    padding:20px 30px;
}


.key-point-icon {
    float: left;
    width: 100px;
    margin: 30px 50px 0 40px;
}

.social-links {
    position : relative;
    list-style-type : none;
    height:45px;
}
.social-links li {
    float : left;
    padding : 6px;
    margin : 2px;
}