// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size: 120%;
  line-height: 1.6em;
  color: #555;
  margin-top: 10px;
}

p.large {
  font-family: 'Avenir Light', Helvetica, Arial, sans-serif;
  font-size:24px;
}

section:not(:target) {
  display:none;
}

section:target {
  display:block;
}