@import 'colors';
@import 'bourbon';

.form-wrapper {
  margin-top: 100px;
  background: transparentize($lime, 0.5);
  padding: 20px;
  @include border-radius(10px);

  h2{
    color: #333;
    margin: 10px 0;
  }

  input[type='email'], input[type='text'], input[type='password'], .checkbox{
    padding: 7px;
    font-size: 14px;
    line-height: 19px;
    color: #333;
  }

  #remember_me_checkbox{
    position: relative;
    bottom: 43px;
    left: 100px;
  }

  label{
    color: #333;
  }
}
