<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Apply Now: The CfA Accelerator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Code for America is launching a new civic startup accelerator.">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
		
		<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300italic,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/ico" href="/images/favicon.ico"/>



  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="550">

      <!-- Masthead
      ================================================== -->
				<div id="header">
				  <div id="header_logo_cont"> <img src="images/logo.jpg" width="327" height="141" alt="Code for America" /> </div>
				</div>
				<div id="banner_cont">
				  <div id="banner_bg">
				    <div id="banner_txt"> <span class="top_cufon">NOW RECRUITING: CIVIC STARTUPS</span> </span><br/>
				      <span class="banner_des">Code for America is launching a seed accelerator.</span><br/>
				      <div class="Apply">
				        <button name="" class="button" type="submit" value="Apply  Now" href="#myModal" />Apply Now</button>
				      </div>
				    </div>
				  </div>
				</div>
			<div id="application">
			  <div id="main_nav_cont" class="subnav2">
					<div id="nav_cont">
          <ul class="nav nav-pills">
			      <li>Apply Now</li>
						<span><a class="back close" href="index.html" style-"float: right">< Go Back Home </a></span>
          </ul>
					</div>
        </div>
			<div id="wrapper">
			  <div id="main_container" class="app">				
				  <div id="wufoo-q7x0w7">
	        Fill out my <a name="application" href="http://codeforamerica.wufoo.com/forms/q7x0w7">online form</a>.
	        </div>
	        <script type="text/javascript">var q7x0w7;(function(d, t) {
	        var s = d.createElement(t), options = {
	        'userName':'codeforamerica', 
	        'formHash':'q7x0w7', 
	        'autoResize':true,
	        'height':'1000',
	        'async':true,
	        'header':'show', 
	        'ssl':true};
	        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
	        s.onload = s.onreadystatechange = function() {
	        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	        try { q7x0w7 = new WufooForm();q7x0w7.initialize(options);q7x0w7.display(); } catch (e) {}};
	        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	        })(document, 'script');</script>
		  </div>
		</div>
		</div>

     <!-- Footer
      ================================================== -->
      <footer class="footer">
  <div id="footer_cont">
	<img src="images/flag_tag.png"/><img
	</div>    
      </footer>

    </div><!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	  <script src="js/bootstrap-transition.js"></script>
	  <script src="js/bootstrap-modal.js"></script>
	  <script src="js/bootstrap-scrollspy.js"></script>
	  <script src="js/application.js"></script>
	  <script src="js/bootstrap-tooltip.js"></script>
	  <script src="js/bootstrap-popover.js"></script>
	  <script src="js/bootstrap-carousel.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.2.js"></script>
		<script type="text/javascript" src="js/scrollTo-min.js"></script>
		<script type='text/javascript' src='js/jquery.scrollTo-1.4.2-min.js'></script>
		<script type='text/javascript' src='js/jquery.localscroll-1.2.7-min.js'></script>

		<script type="text/javascript">


		$("#application").scrollTop();
		
		$(document).ready(function(){
			$("#application").scrollTop(300);
		});
		</script>
		<script type="text/javascript">

	 $(document).ready(function(){
		window.scrollTo(0,500);

	 });

		</script>

  </body>
</html>
