<div class="bottom_art_cont">
  <h2>We see three areas for entrepreneurs to tackle:</h2>
  <ul>
    <li class="redli liImg1">Helping government change from the inside
      <p>by fostering a new generation of government vendors that use the best practices from the modern technology industry.</p>
    </li>
    <li class="redli liImg2">Building on top of government as a platform
      <p>as Turbotax or SeeClickFix does, to provide better interfaces to government processes.</p>
    </li>
    <li class="redli liImg3">Compete with government
      <p>to replace or provide an alternative to existing services,as a better Freecycle might help reduce the municipal waste burden.</p>
    </li>
  </ul>
</div>