<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Code for America Brigade: Race to Reuse</title>
    <meta name="description" content="Code for America Brigade's fall and winter campaign for civic tech reuse">
    <meta name="author" content="Code for Ameria">

    <!-- Le styles -->
     <link href="/assets/r2r/style.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

		<link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300italic,300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="icon" type="image/ico" href="/assets/r2r/favicon.ico"/>

  </head>

  <body class="race" data-spy="scroll" data-target=".subnav" data-offset="100">

      <!-- Masthead ================================================== -->
			  <div id="banner_cont">
				  <div id="banner_bg">
				    <div id="banner_txt"> <span class="top_cufon">Build on <br />what works </span> </span><br/>
				      <span class="banner_des">Let’s pick up where most hackathons leave off.</span><br/>
				      <div class="Apply">
				        <button name="" class="button" type="submit" value="Apply Now" />I'm interested</button>
				      </div>
				    </div>
				  </div>
				</div>
				<div id="information">
          <div id="main_nav_cont" class="subnav">
			    	<div id="nav_cont">
              <ul class="nav nav-pills">
                <li><a class="race" href="#competition">The Competition</a></li>
			          <li><a class="race" href="#how">How it Works</a></li>
			          <li><a class="race" href="#rules">Rules</a></li>
			          <li><a class="race" href="#rewards">Rewards</a></li>
			          <li><a class="race" href="#apps">Apps</a></li>
              </ul>
			    	</div>
          </div>
			    <div id="wrapper">
			      <div id="main_container" class="info">
			            <div class="main_cont" id="competition">
			          <h1 class="race">The Competition</h1>
			          <div class="top_art_cont">
			            <h2 class="race">Build Locally, Spread Nationally: A New Kind of Apps Contest</h2>
			             <p class="race">Across the county, civic hackers have been building <a title="Brigade apps page" href="http://brigade.codeforamerica.org/applications">amazing applications</a> to address real needs in their communities -- and because they are good people like you, they’ve made it freely available for anyone else to reuse.</p>
			             <p class="race">So now we’re challenging you to step up.</p>
			             <p class="race">Choose an application from our growing catalog and get a team together to deploy it in your city — and then the real competition starts: you’ll be racing against teams across the country to drive adoption, build a user base, and create real impact in your community.</p>
			          </div>
			          <div id="finish_line_cont"></div>
			        </div>
			            <div class="main_cont" id="how">
			          <h1 class="race">How it Works</h1>
			          <div class="top_art_cont">
			    			</div>
			         				<div class="program_cont row">
			    												<div class="span5">
			    													<img src="/assets/r2r/networking.png">
			    													<p class="race"><b>Gather a team, and sign up.</b> ...</p>
			    												</div>
			    												<div class="span5">
			    													<img src="/assets/r2r/pig.png">
			    													<p class="race"><b>Redeploy one of the three/four apps, for your city. </b> ...</p>
			    												</div>
			    												<div class="span5">
			    													<img src="/assets/r2r/bullhorn.png">
			    													<p class="race"><b>Get users.</b> ...</p>
			    												</div>															
			    												<div class="span5">
			    													<img src="/assets/r2r/pig.png">
			    													<p class="race"><b>Unlock achievements </b> ...</p>
			    												</div>
			    												<div class="span5">
			    													<img src="/assets/r2r/institution.png">
			    													<p class="race"><b>Achieve the highest level of adoption by November 6, and win.</b>...</p>
			    												</div>
			    						</div>
			          <div id="finish_line_cont"></div>
			        </div>
			            <div class="main_cont" id="rules">
			          <h1 class="race">Rules</h1>
			          <div class="top_art_cont">
			            <p class="race">
			              <ol class="race">
			                <li>The Race for Reuse will run from October 3rd to November 6 (?), 2012.</li>
			                <li>You can stand up your app before the October 3rd start date if you want to hit the ground running, but only user metrics achieved during the time period from October 3rd to November 6th will be counted.</li>
                      <li>We will ask you to submit progress updates (in the form of screenshots) every two weeks.</li>
                      <li>We apply the honor code to reporting of stats. Any misconduct around inflating your analytics AKA “juking the stats” is grounds for expulsion from the competition and shunning within the civic hacker community.</li>
                    </ol>
                  </p>
                <div id="finish_line_cont"></div>
			    	  </div>
			    		    <div class="main_cont" id="rewards">
			    		      <h1 class="race">Rewards</h1>
			    		      <h2 class="race">A prize is something you win for showing up. A reward is something you earn for what you do.</h2>
			    		      <h2>Achievements</h2>
			    		      <p class="race">Stand up your app and earn an advertising budget.</p>
			    		      <p class="race">Fulfill you app challenge for adoption and earn a year of hosting.</p>
			    		      <p class="race">Launch more than one app or deploy in more than one city and we'll host your next 3 Brigade Meetups (or comparable event).</p>
			    				  <div id="finish_line_cont"></div>
			    		</div>
                  <div class="main_cont" id="apps">
			              <h1 class="race">Apps</h1>
			              <h2 class="race">Textizen</h2>
			    	        <p class="race">
                          A simple, powerful citizen feedback tool for the digital age, with SMS.
                          This might be a good app for you if:
                          You are a city official or have contacts in your local government.
                          You don’t have a technical background .
                          You have a specific question(s) or project you want to get feedback on from your community.
                    </p>
                    <p class="race"><a title="Textizen start page" href="http://www.textizen.com/getstarted">Get started with Textizen</a></p>
                    <p class="race"><i>You’ll be competing to get the greatest number of survey respondents.</i></p>
                    <h2 class="race">LocalWiki</h2>
                    <p class="race">
                      A platform for building collaborative community information hubs.
                      This might be a good app for you if:
                      You have a local group who wants to be involved to help seed content.
                      You like community organizing.
                    </p>
                    <p class="race"><a title="LocalWiki start page" href="https://guide.localwiki.org/Starting_a_LocalWiki">Get started with LocalWiki</a></p>
                    <p class="race"><i>You’ll be competing to get the greatest number of unique contributors to your wiki.</i></p>
                    <h2 class="race">Adopta</h2>
                    <p class="race">
                      A Ruby on Rails application that allows citizens to "adopt" civic infrastructure, such as fire hydrants, storm drains, or emergency sirens..
                      This might be a good app for you if:
                      You have Ruby on Rails expertise.
                      You have a dataset you want to use.
                    </p>
                    <p class="race">Get started with Adopta</p>
                    <p class="race"><i>You’ll be competing to get the highest percentage of your adoptable items adopted.</i></p>
                    <h2 class="race">Answers</a>
                    <p class="race"></p>
                    <p class="race">Get started with Adopta</p>
                    <p class="race"><i>You’ll be competing to answer the most questions.</i></p>
                  </div>
			      </div>
			    </div>
			    </div>
			    </div>
			    <div id="application">
			      <div id="main_nav_cont" class="subnav2">
			    		<div id="nav_cont">
              <ul class="nav nav-pills">
			          <li>The Application</li>
			    			<span><a class="back close" style-"float: right">&#8592; Go Back Home </a></span>
              </ul>
			    		</div>
            </div>
			    <div id="wrapper">
			      <div id="main_container" class="app">
			      <div id="wufoo-q7x0w7">
	            Fill out my <a name="application" href="http://codeforamerica.wufoo.com/forms/q7x0w7">online form</a>.
	            </div>
	            <script type="text/javascript">var q7x0w7;(function(d, t) {
	            var s = d.createElement(t), options = {
	            'userName':'codeforamerica',
	            'formHash':'q7x0w7',
	            'autoResize':true,
	            'height':'1000',
	            'async':true,
	            'header':'show',
	            'ssl':true};
	            s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
	            s.onload = s.onreadystatechange = function() {
	            var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
	            try { q7x0w7 = new WufooForm();q7x0w7.initialize(options);q7x0w7.display(); } catch (e) {}};
	            var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
	            })(document, 'script');</script>
		          </script>
		        </div>
		      </div>
		    </div>

     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <div id="footer_cont">
	        <img src="/assets/r2r/flag_tag.png"/>
	      </div>
      </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	  <script src="js/bootstrap-transition.js"></script>
	  <script src="js/bootstrap-modal.js"></script>
	  <script src="js/bootstrap-scrollspy.js"></script>
	  <script src="js/application.js"></script>
	  <script src="js/bootstrap-tooltip.js"></script>
	  <script src="js/bootstrap-popover.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.2.js"></script>
		<script type='text/javascript' src='js/jquery.scrollTo-1.4.2-min.js'></script>
		<script type='text/javascript' src='js/jquery.localscroll-1.2.7-min.js'></script>
		<script type='text/javascript' src='js/jquery.ba-hashchange.min.js'></script>


		<script type='text/javascript' src='app.js'></script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-20825280-1']);
		  _gaq.push(['_setDomainName', 'none']);
		  _gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<script type="text/javascript">
		var _sf_async_config={uid:20661,domain:"codeforamerica.org"};
		(function(){
		  function loadChartbeat() {
		    window._sf_endpt=(new Date()).getTime();
		    var e = document.createElement('script');
		    e.setAttribute('language', 'javascript');
		    e.setAttribute('type', 'text/javascript');
		    e.setAttribute('src',
		       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
		       "js/chartbeat.js");
		    document.body.appendChild(e);
		  }
		  var oldonload = window.onload;
		  window.onload = (typeof window.onload != 'function') ?
		     loadChartbeat : function() { oldonload(); loadChartbeat(); };
		})();

		</script>
  </body>
</html>
