= render partial: 'shared/flash', locals: { message: flash[:alert], flash_class: 'warning'} if flash[:alert]
= render partial: 'shared/flash', locals: { message: flash[:notice], flash_class: 'success'} if flash[:notice]
= render partial: 'shared/flash', locals: { message: flash[:error], flash_class: 'error'} if flash[:error]
